<template>
  <div>
    <div
      v-b-tooltip.hover
      class="d-flex align-items-center applications-count pl-2"
      :title="$t('tasks.applied_freelancers')"
    >
      <user-icon size="16" class="mr-1" />
      {{ count }}
    </div>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import { UserIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationsCounter',
  components: {
    UserIcon
  },
  props: {
    count: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style scoped>

</style>
