<template>
  <div class="position-relative">
    <b-overlay :show="loadingApplication">
      <div v-if="application && task">
        <div class="row pt-4">
          <div class="col-12 col-lg-7">
            <single-task-title :task="task" :client="application.client" class="mb-3 mb-lg-5">
              <template #title>
                <application-status-badge :application="application" class="ml-3" />
              </template>
            </single-task-title>
          </div>
        </div>
        <div class="row">
          <div class="d-none d-lg-block col-lg-3 offset-lg-1 order-lg-2 pb-4">
            <application-details class="mb-3" :application="application" :task="task">
              <template #bottom>
                <freelancer-task-buttons :application="application" @feedback="openFeedbackModal" />
              </template>
            </application-details>
            <task-details :task="task" />
            <required-skills class="skills p-4 m-2" :skills="skills" />
            <winglio-button />
          </div>
          <div class="col-12 col-lg-7 order-lg-1">
            <b-tabs
              :value="selectedTab"
              class="application-freelancer-tabs"
              nav-class="align-items-center"
              @input="selectTab"
            >
              <application-chat-tab :task="task" :application="application" />
              <application-description-tab :task="task" />
              <application-feedback-tab :application="application" />
              <application-escrow-tab v-if="escrowVisible" :application="application" :task="task" />
              <template v-if="showActionsDropdown" #tabs-end>
                <freelancer-application-dropdown :application="application" @feedback="openFeedbackModal" />
              </template>
            </b-tabs>
          </div>
        </div>
        <feedback-modal ref="feedbackModal" @save="saveFeedback" />
      </div>
    </b-overlay>
  </div>
</template>

<script>
import FreelancerApplicationDropdown from '@/components/tasks/FreelancerApplicationDropdown.vue'
import FreelancerTaskButtons from '@/components/tasks/FreelancerTaskButtons'
import ApplicationStatusBadge from '@/components/tasks/ApplicationStatusBadge'
import SingleTaskTitle from '@/components/tasks/SingleTaskTitle'
import RequiredSkills from '@/components/tasks/RequiredSkills'
import TaskDetails from '@/components/tasks/TaskDetails'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import { applicationStatuses, escrowStatuses } from 'ct-constants'
import FeedbackModal from '@/components/feedback/FeedbackModal'
import ApplicationDescriptionTab from '@/components/tasks/freelancerTabs/ApplicationDescriptionTab'
import ApplicationEscrowTab from '@/components/tasks/freelancerTabs/ApplicationEscrowTab'
import ApplicationFeedbackTab from '@/components/tasks/freelancerTabs/ApplicationFeedbackTab'
import ApplicationChatTab from '@/components/tasks/freelancerTabs/ApplicationChatTab'
import ApplicationDetails from '@/components/applications/ApplicationDetails'
import { invert } from 'lodash'
import WinglioButton from '@/components/tasks/WinglioButton'

export default {
  name: 'ApplicationFreelancer',
  components: {
    WinglioButton,
    ApplicationDetails,
    ApplicationChatTab,
    ApplicationFeedbackTab,
    ApplicationEscrowTab,
    ApplicationDescriptionTab,
    FeedbackModal,
    FreelancerApplicationDropdown,
    FreelancerTaskButtons,
    ApplicationStatusBadge,
    SingleTaskTitle,
    RequiredSkills,
    TaskDetails
  },
  mixins: [AxiosErrorHandler],
  data () {
    return {
      loadingApplication: false,
      tabMap: {
        messages: 0,
        description: 1,
        feedback: 2,
        escrow: 3
      }
    }
  },
  async fetch () {
    await this.getData(this.$route.params.id)
  },
  head () {
    return {
      title: this.task?.title || ''
    }
  },
  computed: {
    /**
     * Selected application data
     * @returns {null}
     */
    application () {
      return this.$store.getters['freelancerApplications/selectedApplication']
    },

    /**
     * Application task data
     * @returns {*}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    },

    /**
     * Show actions dropdown or not
     * @returns {boolean}
     */
    showActionsDropdown () {
      const {
        status,
        feedback
      } = this.application
      if (status === applicationStatuses.ACCEPTED) {
        return true
      }
      if (status === applicationStatuses.FINISHED || status === applicationStatuses.REJECTED) {
        return !feedback?.freelancerFeedback
      }
      return false
    },

    /**
     * Is escrow visible
     * @returns {boolean}
     */
    escrowVisible () {
      return this.task?.escrowStatus >= escrowStatuses.ESCROW_SET
    },

    /**
     * Extract skills
     * @returns {*}
     */
    skills () {
      return this.task?.skills
    },

    /**
     * Get selected tab index from tab ID
     * @returns {*|number}
     */
    selectedTab () {
      return this.$route.query.tab ? this.tabMap[this.$route.query.tab] : 0
    }
  },
  /**
   * Watch for $route.params.id change and get data for new id
   */
  watch: {
    '$route.params.id' (n) {
      // get data for new id
      this.getData(n)
    }
  },
  destroyed () {
    this.$store.commit('freelancerApplications/deselectApplication')
    this.$store.commit('tasks/deselectTask')
    this.$store.commit('chat/setOpenedThread', null)
  },
  methods: {
    /**
     * Get application data for id
     * @param {String} applicationId
     */
    async getData (applicationId) {
      try {
        this.loadingApplication = true
        const appId = parseInt(applicationId, 10)
        // get application data
        await this.$store.dispatch('freelancerApplications/loadApplication', appId)
        await this.$store.dispatch('tasks/loadTask', this.application.taskId)
        this.$store.commit('tasks/setSelectedTask', this.application.taskId)
        this.$store.commit('chat/setOpenedThread', appId)
        await this.$store.dispatch('tasks/loadTaskApplicationsCount', this.application.taskId)
        this.loadingApplication = false
      } catch (err) {
        this.loadingApplication = false
      }
    },

    /**
     * Open feedback modal
     * @param {Number} status
     */
    openFeedbackModal (status) {
      this.$refs.feedbackModal.openModal(this.task, this.application, status)
    },

    /**
     * Save feedback data
     */
    async saveFeedback (formData) {
      try {
        const feedbackRes = await this.$store.dispatch('freelancerApplications/createFeedback', formData)

        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('freelancers.application_completed_message')
        })

        this.$refs.feedbackModal.closeModal()

        const taskBcId = this.task.bcId

        // bc code
        if ([applicationStatuses.FINISHED, applicationStatuses.REJECTED].includes(this.application.status)) {
          console.log('formData rate and message:')
          console.log(formData.rate)
          console.log(formData.message)
          console.log(`Application status: ${this.application.status}`)
          this.$smartContract
            .setLeaveFeedbackFlancerProperties(
              feedbackRes.id,
              taskBcId,
              formData.rate,
              formData.message
            )
            .then(async (r) => {
              console.log(r)
              try {
                const resBc = await this.$axios.put('/feedbacks/regBcLeaveFeedbackFlancer', r)
                console.log(resBc.data)
              } catch (err) {
                console.error(err.response ? err.response.data : err)
              }
            })
        }
      } catch (err) {
        console.error(err)
        await this.handleError(err)
      }
    },

    /**
     * Handle tab select
     * @param {Number} tabIndex
     */
    selectTab (tabIndex) {
      const tabId = invert(this.tabMap)[tabIndex]
      const pathParts = this.$route.path.split('/')
      this.$router.push(this.localePath(`/${pathParts[2]}/${this.application.id}?tab=${tabId}`))
    }
  }
}
</script>
