<template>
  <div>
    <div class="mb-4">
      <b-alert variant="info" :show="showBalance">
        <div class="d-flex align-items-center">
          {{ $t('tasks.escrowBalance') }}:
          <escrow-balance class="ml-1" :task="task" />
        </div>
      </b-alert>
    </div>
    <div>
      <b-form v-if="showBalance" @submit.prevent="savePayoutAddress">
        <input-group v-model="cryptoPayoutAddress" :label="$t('freelancers.cryptoPayoutAddress')" class="mb-3" />

        <div class="d-flex align-items-center justify-content-end">
          <loading-button
            type="submit"
            variant="primary"
            class="btn-round"
            :loading="saving"
            :disabled="!cryptoPayoutAddress"
            :label="$t('common.save')"
            :loading-label="$t('common.saving')"
          />
        </div>
      </b-form>
      <template v-else>
        {{ $t('freelancers.cryptoPayoutAddress') }}: {{ cryptoPayoutAddress }}
      </template>
    </div>
  </div>
</template>

<script>
import { escrowStatuses } from 'ct-constants'
import InputGroup from '~/components/form/InputGroup'
import LoadingButton from '~/components/ui/LoadingButton'
import EscrowBalance from '~/components/escrow/EscrowBalance'
import AxiosErrorHandler from '~/mixins/AxiosErrorHandler'

export default {
  name: 'ApplicationEscrow',
  components: {
    EscrowBalance,
    InputGroup,
    LoadingButton
  },
  mixins: [AxiosErrorHandler],
  props: {
    application: {
      type: Object,
      required: true
    },
    task: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      cryptoPayoutAddress: '',
      saving: false
    }
  },
  computed: {
    showBalance () {
      return this.task?.escrowStatus === escrowStatuses.ESCROW_SET
    },
    escrowBalance () {
      return this.task?.escrowBalanceFormatted
    }
  },
  mounted () {
    this.cryptoPayoutAddress = this.application.cryptoPayoutAddress
  },
  methods: {
    async savePayoutAddress () {
      if (this.cryptoPayoutAddress) {
        this.saving = true
        try {
          await this.$store.dispatch('freelancerApplications/updatePayoutAddress', this.cryptoPayoutAddress)
          this.saving = false
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('freelancers.payoutAddressSaved')
          })
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      }
    }
  }
}
</script>
