<template>
  <div class="d-flex align-items-center">
    <b-badge v-if="application.status === 1" variant="success">
      {{ $t('applications.hired') }}
    </b-badge>
    <b-badge v-if="application.status === 2" variant="success">
      {{ $t('applications.completed') }}
    </b-badge>
    <b-badge v-if="application.status === 3" variant="danger">
      {{ $t('applications.canceled') }}
    </b-badge>
    <b-badge v-if="application.status === 4" variant="danger">
      {{ $t('applications.rejected') }}
    </b-badge>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ApplicationStatusBadge',
  props: {
    application: {
      type: Object,
      required: true
    }
  }
}
</script>
