<template>
  <div v-if="freelancer" class="applied-freelancer" :class="applicationStyle">
    <client-item-header :task="task" :application="application" />
    <p class="pt-3 pr-3">
      {{ truncatedLetter }}
    </p>

    <slot />
  </div>
</template>

<script>
import ClientItemHeader from '@/components/applications/ClientItemHeader'
import { truncate } from 'lodash'

export default {
  name: 'AppliedFreelancer',
  components: {
    ClientItemHeader
  },
  props: {
    application: {
      type: Object,
      default: null
    },
    task: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 90,
          height: 90
        }
      }
    }
  },
  computed: {
    freelancer () {
      return this.application.freelancer
    },

    /**
     * Cut letter to limit number of words displayed
     * @returns {String}
     */
    truncatedLetter () {
      return truncate(this.application.letter, {
        separator: ' ',
        length: 300
      })
    },

    /**
     * Set style class for application
     * @returns {string[]}
     */
    applicationStyle () {
      const classes = []
      if (this.freelancer.visibility > 0) {
        classes.push('visibility-boosted')
      }
      if (this.application.recommended) {
        classes.push('recommended')
      }
      return classes
    }
  }
}
</script>
