<template>
  <div>
    <b-dropdown
      v-if="showDropdown"
      boundary="window"
      variant="link"
      right
      class="client-buttons"
      toggle-class="p-0"
      no-caret
    >
      <template #button-content>
        <menu-icon />
      </template>
      <b-dropdown-item-button v-if="hireVisible" class="text-center" :disabled="hireDisabled" @click="hire">
        {{ $t('applications.hire') }}
      </b-dropdown-item-button>
      <b-dropdown-item-button
        v-if="completeEnabled"
        class="text-center"
        @click="leaveFeedback(2)"
      >
        {{ $t('applications.complete') }}
      </b-dropdown-item-button>
      <b-dropdown-divider />
      <b-dropdown-item-button
        v-if="completeEnabled"
        class="text-center"
        @click="leaveFeedback(3)"
      >
        {{ $t('applications.cancel') }}
      </b-dropdown-item-button>
      <b-dropdown-item-button
        v-if="leaveFeedbackEnabled"
        class="text-center"
        @click="leaveFeedback(null)"
      >
        {{ $t('applications.leave_feedback') }}
      </b-dropdown-item-button>
    </b-dropdown>
  </div>
</template>

<script>
import ClientButtons from '@/mixins/ClientButtons'
import { MenuIcon } from 'vue-feather-icons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientFreelancerDropdown',
  components: {
    MenuIcon
  },
  mixins: [ClientButtons],
  props: {
    task: {
      type: Object,
      required: true
    },
    application: {
      type: Object,
      required: true
    }
  },
  computed: {
    freelancer () {
      return this.application.freelancer
    },

    fullName () {
      return this.freelancer.name
    },

    showDropdown () {
      return ![2, 3, 4].includes(this.application.status)
    }
  }
}
</script>

<style scoped>

</style>
