<template>
  <div class="position-relative">
    <div class="d-flex align-items-center justify-content-end mb-3">
      <client-application-flags />
    </div>
    <template v-if="hiredApplications.length">
      <applied-freelancer
        v-for="a in hiredApplications"
        :key="a.id"
        :application="a"
        :task="task"
        class="mb-3 pb-3"
        @select="$emit('select', $event)"
      >
        <client-application-buttons :task="task" :application="a" />
      </applied-freelancer>
    </template>
    <template v-if="nonHiredApplications.length">
      <applied-freelancer
        v-for="a in nonHiredApplications"
        :key="a.id"
        :application="a"
        :task="task"
        class="mb-3 pb-3"
        @select="$emit('select', $event)"
      >
        <client-application-buttons :task="task" :application="a" />
      </applied-freelancer>
    </template>
    <template v-if="!hiredApplications.length && !nonHiredApplications.length">
      <no-results :text="$t('applications.no_applications')">
        <nuxt-link :to="localePath('/freelancers')" class="text-muted">
          <u>{{ $t('tasks.details.browse_freelancers') }}</u>
        </nuxt-link>
      </no-results>
    </template>
  </div>
</template>

<script>
import AppliedFreelancer from '@/components/tasks/AppliedFreelancer'
import NoResults from '@/components/client/NoResults'
import ClientApplicationFlags from '@/components/tasks/ClientApplicationFlags'
import ClientApplicationButtons from '@/components/tasks/ClientApplicationButtons'

export default {
  name: 'ClientApplications',
  components: {
    ClientApplicationButtons,
    ClientApplicationFlags,
    NoResults,
    AppliedFreelancer
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Get only hired applications
     * @returns {Object[]}
     */
    hiredApplications () {
      return this.$store.getters['clientApplications/hiredApplications']
    },

    /**
     * Get all applications except hired ones
     * @returns {Object[]}
     */
    nonHiredApplications () {
      return this.$store.getters['clientApplications/notHiredApplications']
    }
  }
}
</script>
