<template>
  <div class="d-flex align-items-center">
    <b-form-checkbox
      id="showStarred"
      :checked="starredOnly"
      name="showStarred"
      class="mr-3"
      @input="handleShowStarredOnly"
    >
      {{ $t('applications.starredOnly') }}
    </b-form-checkbox>
    <b-form-checkbox
      id="showHidden"
      :checked="showHidden"
      name="showHidden"
      @input="handleShowHidden"
    >
      {{ $t('applications.showHidden') }}
    </b-form-checkbox>
  </div>
</template>

<script>
import { applicationClientFlag } from 'ct-constants'

export default {
  name: 'ClientApplicationFlags',
  computed: {
    /**
     * List of enabled flags
     * @returns {[number,number]}
     */
    flags () {
      return this.$store.state.clientApplications.flags
    },

    starredOnly () {
      return this.flags?.length === 1 && this.flags[0] === applicationClientFlag.STARRED
    },

    showHidden () {
      return this.flags?.includes(applicationClientFlag.HIDDEN)
    }
  },
  methods: {
    handleShowStarredOnly (val) {
      if (val) {
        this.$store.commit('clientApplications/setFlags', [applicationClientFlag.STARRED])
      } else {
        this.$store.commit('clientApplications/setFlags', [applicationClientFlag.STARRED, applicationClientFlag.DEFAULT])
      }

      this.$emit('change')
    },

    handleShowHidden (val) {
      if (val) {
        this.$store.commit('clientApplications/setFlags', [applicationClientFlag.STARRED, applicationClientFlag.DEFAULT, applicationClientFlag.HIDDEN])
      } else {
        this.$store.commit('clientApplications/setFlags', [...this.flags.filter(f => f !== applicationClientFlag.HIDDEN)])
      }

      this.$emit('change')
    }
  }
}
</script>

<style scoped>

</style>
