<template>
  <div v-if="freelancerActive" class="buttons d-flex align-items-center">
    <b-button
      variant="primary"
      class="btn-round mr-3"
      :to="applicationUrl"
    >
      {{ $t('freelancers.goToApplication') }}
    </b-button>

    <application-flag-buttons
      :application="application"
      :task="task"
      :setting-flag="settingFlag"
      @toggleFlag="setApplicationFlag"
    />
  </div>
</template>

<script>
import ApplicationFlagButtons from '@/components/applications/ApplicationFlagButtons'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientApplicationButtons',
  components: { ApplicationFlagButtons },
  mixins: [AxiosErrorHandler],
  props: {
    task: {
      type: Object,
      required: true
    },
    application: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      settingFlag: false
    }
  },
  computed: {
    freelancer () {
      return this.application.freelancer
    },

    /**
     * Is freelancer deleted or unpublished or unconfirmed
     */
    freelancerActive () {
      return !this.freelancer.deletedAt && this.freelancer.published && this.freelancer.confirmed
    },

    /**
     * Build application URL
     * @returns {string}
     */
    applicationUrl () {
      return this.localePath(`/my-tasks/${this.task?.id}/application/${this.application?.id}`)
    }
  },
  methods: {
    /**
     * Set flag on application
     * @param {Number} flag
     * @returns {Promise<void>}
     */
    async setApplicationFlag (flag) {
      try {
        this.settingFlag = true
        await this.$store.dispatch('clientApplications/updateFlag', {
          applicationId: this.application.id,
          flag
        })
        this.settingFlag = false
      } catch (err) {
        this.settingFlag = false
        await this.handleError(err)
      }
    }
  }
}
</script>
