<template>
  <div class="d-lg-none">
    <b-dropdown
      boundary="window"
      variant="link"
      right
      class="client-buttons"
      toggle-class="py-0 px-1"
      no-caret
    >
      <template #button-content>
        <menu-icon />
      </template>
      <b-dropdown-item-button
        v-if="cancelVisible"
        variant="danger"
        class="text-center"
        @click="startCancel"
      >
        {{ $t('freelancers.cancel_job') }}
      </b-dropdown-item-button>

      <b-dropdown-item-button
        v-if="leaveFeedbackVisible"
        variant="danger"
        class="text-center"
        @click="startFeedback"
      >
        {{ $t('freelancers.leave_feedback') }}
      </b-dropdown-item-button>
    </b-dropdown>
  </div>
</template>

<script>
import { MenuIcon } from 'vue-feather-icons'
import { applicationStatuses } from 'ct-constants'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerApplicationDropdown',
  components: {
    MenuIcon
  },
  props: {
    application: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    /**
     * Is current user freelancer
     */
    isFreelancer () {
      return this.$store.getters['user/isFreelancer']
    },

    /**
     * Is cancel button visible
     * @return {boolean}
     */
    cancelVisible () {
      return !this.basic && this.isFreelancer && this.application?.status === applicationStatuses.ACCEPTED
    },

    /**
     * Is leave feedback button visible
     * @return {boolean}
     */
    leaveFeedbackVisible () {
      return !this.basic && this.isFreelancer &&
        [applicationStatuses.REJECTED, applicationStatuses.FINISHED].includes(this.application?.status) &&
        this.application?.feedback &&
        !this.application?.feedback?.freelancerCreatedAt
    }
  },
  methods: {
    startCancel () {
      this.$emit('feedback', applicationStatuses.CANCELED)
    },

    /**
     * Leave feedback
     */
    startFeedback () {
      this.$emit('feedback', null)
    }
  }
}
</script>
