<template>
  <div>
    <b-button
      v-if="cancelVisible"
      variant="secondary"
      block
      class="btn-round"
      @click.prevent="startCancel"
    >
      {{ $t('freelancers.cancel_job') }}
    </b-button>

    <div id="feedback-button">
      <b-button
        v-if="leaveFeedbackVisible"
        variant="success"
        block
        class="btn-round"
        :disabled="feedbackDeadlinePassed"
        @click.prevent="startFeedback"
      >
        {{ $t('freelancers.leave_feedback') }}
      </b-button>
    </div>

    <b-tooltip :disabled="feedbackTooltipDisabled" target="feedback-button" placement="top">
      {{ $t('feedback.cantSetFeedback') }}
    </b-tooltip>
  </div>
</template>

<script>
import { applicationStatuses } from 'ct-constants'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerTaskButtons',
  props: {
    application: {
      type: Object,
      required: true
    },
    basic: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    /**
     * Is current user freelancer
     */
    isFreelancer () {
      return this.$store.getters['user/isFreelancer']
    },

    /**
     * Is cancel button visible
     * @return {boolean}
     */
    cancelVisible () {
      return !this.basic && this.isFreelancer && this.application?.status === applicationStatuses.ACCEPTED
    },

    /**
     * Is leave feedback button visible
     * @return {boolean}
     */
    leaveFeedbackVisible () {
      return !this.basic && this.isFreelancer &&
        [applicationStatuses.REJECTED, applicationStatuses.FINISHED].includes(this.application?.status) &&
        this.application?.feedback &&
        !this.application?.feedback?.freelancerCreatedAt
    },

    /**
     * Check if feedback deadline passed
     * If client added feedback 3 days ago client can not set feedback anymore
     * @returns {boolean}
     */
    feedbackDeadlinePassed () {
      if (!this.application?.feedback?.freelancerCreatedAt && this.application?.feedback?.clientCreatedAt) {
        const createdAt = this.$moment(this.application?.feedback?.clientCreatedAt)
        const visibleDate = this.$moment().subtract(3, 'days')
        return createdAt.isBefore(visibleDate)
      }
      return false
    },

    /**
     * Is feedback deadline tooltip disabled
     * @returns {boolean}
     */
    feedbackTooltipDisabled () {
      return !this.feedbackDeadlinePassed
    }
  },
  methods: {
    startCancel () {
      this.$emit('feedback', applicationStatuses.CANCELED)
    },

    /**
     * Leave feedback
     */
    startFeedback () {
      this.$emit('feedback', null)
    }
  }
}
</script>
