<template>
  <div class="row">
    <div class="col-12 col-lg-7 pt-lg-5">
      <b-overlay :show="loading">
        <short-application-item v-for="(a, i) in applications" :key="i" :application="a" />

        <b-pagination
          v-if="applications.length && !loading"
          :value="page"
          :total-rows="total"
          :per-page="10"
          align="center"
          @change="changePage"
        />
      </b-overlay>

      <div v-if="!applications.length && !loading">
        <div class="h1 mb-4">
          {{ $t('freelancers.no_active_jobs') }}
        </div>
        <nuxt-link :to="localePath('/tasks')">
          <u>{{ $t('common.browse') }}</u>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import ShortApplicationItem from '@/components/tasks/ShortApplicationItem'

export default {
  name: 'FreelancerApplicationsList',
  components: {
    ShortApplicationItem
  },
  props: {
    status: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      loading: false,
      applications: [],
      page: 1,
      total: 0
    }
  },
  async fetch () {
    await this.loadApplications()
  },
  methods: {
    async changePage (page) {
      this.page = page
      await this.loadApplications()
    },
    async loadApplications () {
      try {
        this.loading = true
        const { data } = await this.$axios.get('/applications', {
          params: {
            status: this.status,
            page: this.page
          }
        })
        this.applications = data.data
        this.total = data.meta.total
        this.loading = false
      } catch (err) {
        this.loading = false
      }
    }
  }
}
</script>
