<template>
  <div class="short-job-item">
    <div class="d-flex align-items-center mb-2">
      <div v-if="task.published" class="active-since">
        {{ $t('tasks.published') }} {{ createdAt }}
      </div>
      <b-badge v-if="!task.published" variant="danger">
        {{ $t('tasks.unpublished') }}
      </b-badge>
    </div>
    <h2>
      <nuxt-link class="font-18-sm" :to="localePath(`/my-tasks/${task.id}`)">
        {{ task.title }}
      </nuxt-link>
    </h2>
    <div class="d-flex align-items-center mb-3">
      <task-duration class="pr-2" :task="task" />
      <task-price :task="task" class="pl-2" />
    </div>

    <task-tags :tag-ids="skillIds" class="mb-4" />

    <hr class="mb-4">
  </div>
</template>

<script>
import TaskDuration from '@/components/tasks/TaskDuration'
import TaskPrice from '@/components/tasks/TaskPrice'
import TaskTags from '@/components/tasks/TaskTags'

// TODO add number of views and applications like in design and edit link if applicable

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'MyShortTaskItem',
  components: {
    TaskDuration,
    TaskPrice,
    TaskTags
  },
  props: {
    task: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    skillIds () {
      return this.task.skills.map(s => s.id)
    },

    createdAt () {
      return this.$moment(this.task.createdAt).format('MMM Do, yyyy')
    }
  }
}
</script>
