<template>
  <div>
    <div class="small-heading mb-4">
      {{ $t('tasks.details.copyUrl') }}
    </div>
    <div>
      <copy-url :url="fullUrl" @copied="handleCopy" />
    </div>
  </div>
</template>

<script>
import CopyUrl from '@/components/ui/CopyUrl'

export default {
  name: 'MyTaskShareLink',
  components: {
    CopyUrl
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    fullUrl () {
      const lang = this.$store.getters['util/getCurrentLanguage']
      return process.client && lang
        ? `${window.location.protocol}//${window.location.host}/${lang.code}/tasks/${this.task.slug}/${this.task.id}`
        : ''
    }
  },
  methods: {
    async handleCopy () {
      await this.$store.dispatch('ui/showNotification', {
        type: 'success',
        text: this.$t('common.copy_success')
      })
    }
  }
}
</script>

<style scoped>

</style>
