<template>
  <b-modal
    id="applicationModal"
    ref="applicationModal"
    :title="$t(`freelancers.${okButtonLabel}`)"
    :ok-title="$t(`freelancers.${okButtonLabel}`)"
    @ok.prevent="handleModalApplyButton"
    @hidden="handleModalHidden"
  >
    <b-alert :show="showAlert" variant="info">
      {{ $t('freelancers.agentAlert') }}
    </b-alert>
    <b-form v-if="!newApplication">
      <textarea-group
        v-model="form.letter"
        name="letter"
        :label="$t('freelancers.message')"
        :rows="10"
        class="mb-3"
        :validation="$v.form.letter"
      />
      <input-group
        v-if="payoutEnabled"
        v-model="form.cryptoPayoutAddress"
        name="cryptoPayoutAddress"
        class="mb-3"
        :label="$t('freelancers.cryptoPayoutAddress')"
        :validation="$v.form.cryptoPayoutAddress"
      />
      <template v-if="task.requireResume">
        <input-group
          v-model="form.resumeId"
          class="mb-3"
          name="resumeId"
          :disabled="!resumes.length"
          :options="selectionResumes"
          :label="$t('freelancers.resume')"
          :validation="$v.form.resumeId"
        />
        <b-card no-body>
          <b-card-header class="p-0">
            <b-button v-b-toggle.newResumeAccordion block variant="link">
              {{ $t('freelancers.uploadResume') }}
            </b-button>
          </b-card-header>
          <b-collapse id="newResumeAccordion" :visible="!resumes.length">
            <b-card-body class="p-1 d-flex flex-column align-items-end">
              <resume-form :resume="resume" :validation="$v.resume" :stacked="true" @change="handleResumeChange" />
              <b-button variant="primary" @click.prevent="handleResumeSubmit">
                {{ $t('freelancers.uploadResume') }}
              </b-button>
            </b-card-body>
          </b-collapse>
        </b-card>
      </template>
    </b-form>
    <div v-else>
      {{ $t('subscriptions.freelancerBasicText') }}
    </div>
  </b-modal>
</template>

<script>
import { maxLength, required, requiredIf } from 'vuelidate/lib/validators'
import { escrowStatuses } from 'ct-constants'
import TextareaGroup from '~/components/form/TextareaGroup'
import InputGroup from '~/components/form/InputGroup'
import AxiosErrorHandler from '~/mixins/AxiosErrorHandler'
import ResumeForm from '~/components/profile/ResumeForm'

const resumeInitialForm = {
  fileId: null,
  name: null,
  public: true
}

export default {
  name: 'NewApplicationModal',
  components: {
    ResumeForm,
    InputGroup,
    TextareaGroup
  },
  mixins: [AxiosErrorHandler],
  props: {
    task: {
      type: Object,
      required: true
    },
    invitationId: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      form: {
        letter: null,
        cryptoPayoutAddress: null,
        resumeId: null
      },
      resume: { ...resumeInitialForm },
      newApplication: null,
      loadingResumes: false,
      resumes: [],
      uploadingResume: false
    }
  },
  validations: {
    form: {
      letter: {
        required
      },
      resumeId: {
        required: requiredIf(function () {
          return this.task.requireResume
        })
      }
    },
    resume: {
      fileId: {
        required
      },
      name: {
        required,
        maxLength: maxLength(255)
      }
    }
  },
  computed: {
    /**
     * Get OK button label depending on new application
     * @returns {string}
     */
    okButtonLabel () {
      return this.newApplication ? 'boostVisibility' : 'apply_for_job'
    },

    /**
     * Is payout address input field enabled
     */
    payoutEnabled () {
      return !!this.task?.escrowPublic && this.task?.escrowBalance > 0 && this.task?.escrowStatus === escrowStatuses.ESCROW_SET
    },

    /**
     * Remap resumes to fit select input
     * @returns {{text: *, value: *}[]}
     */
    selectionResumes () {
      return this.resumes.map(r => ({
        value: r.id,
        text: r.name
      }))
    },

    /**
     * Show alert if task has agent
     * @return {boolean}
     */
    showAlert () {
      return !!(this.task?.escrowStatus === escrowStatuses.ESCROW_SET && this.task?.agentId)
    }
  },
  mounted () {
    this.loadResumes()
  },
  methods: {
    show () {
      this.$refs.applicationModal.show()
    },
    async handleModalApplyButton () {
      if (!this.newApplication) {
        this.$v.form.$touch()
        if (!this.$v.form.$invalid) {
          try {
            this.newApplication = await this.$store.dispatch('freelancerApplications/apply', {
              taskId: this.task.id,
              taskBcId: this.task.bcId,
              invitationId: this.invitationId,
              ...this.form
            })
            // fetch threads
            await this.$store.dispatch('chat/getThreads')

            // emit to socket that freelancer applied to task
            // this.$socket.emit('applied', this.newApplication)

            // register application on bc
            this.$smartContract.setApplicationProperties(this.task.bcId)
              .then(async (res) => {
                console.log(res)
                try {
                  const resBc = await this.$axios.put('/applications/regBcApplication', res)
                  console.log(resBc.data)
                } catch (err) {
                  console.error(err.response ? err.response.data : err)
                }
              })
              .catch(err => console.error(err))

            // show toast
            await this.$store.dispatch('ui/showNotification', {
              type: 'success',
              text: this.$t('freelancers.apply_success')
            })

            this.$gtag.event('new_application', {
              task: this.task.id
            })

            // reset input fields on modal
            this.letter = null
            this.cryptoPayoutAddress = null
          } catch (err) {
            await this.handleError(err)
          }
        }
      } else {
        await this.$router.push(this.localePath('/subscriptions/subscribe'))
      }
    },

    /**
     * Handle closing apply modal window
     */
    async handleModalHidden () {
      if (this.newApplication) {
        await this.$router.push(this.localePath(`/applications/${this.newApplication.id}`))
      }

      // reset application property
      this.newApplication = null
    },

    /**
     * Load freelancers resumes if resume is required on application
     * @returns {Promise<void>}
     */
    async loadResumes () {
      if (this.task?.requireResume && this.$auth.loggedIn && this.$store.getters['user/isFreelancer']) {
        this.loadingResumes = true
        const { data } = await this.$axios.get('/resumes')
        this.resumes = data.data
        this.loadingResumes = false
      }
    },

    /**
     * Handle change event from resume form
     * @param e
     */
    handleResumeChange (e) {
      this.resume = { ...e }
    },

    /**
     * Handle new resume form submit
     * When resume is created also add it to resumes list and preselect it
     * @returns {Promise<void>}
     */
    async handleResumeSubmit () {
      this.$v.resume.$touch()
      if (!this.$v.resume.$invalid) {
        try {
          this.uploadingResume = true
          const { data } = await this.$axios.post('/resumes', this.resume)

          // add resume to list
          this.resumes.push(data.data)

          // select it
          this.form.resumeId = data.data.id

          // close accordion
          this.$root.$emit('bv::toggle::collapse', 'newResumeAccordion')

          // reset form
          this.resume = { ...resumeInitialForm }

          this.uploadingResume = false
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('freelancers.resumeUploadSuccess')
          })
        } catch (err) {
          this.uploadingResume = false
          await this.handleError(err)
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
