<template>
  <div class="post-job-link">
    <hr>
    {{ $t('tasks.areYouEmployer') }}
    <post-job-menu-item class="ml-1">
      <u>{{ $t('tasks.postSimilarJob') }}</u>
    </post-job-menu-item>
  </div>
</template>

<script>
import PostJobMenuItem from '@/components/layout/PostJobMenuItem'

export default {
  name: 'PostJobLink',
  components: { PostJobMenuItem }
}
</script>

<style scoped>

</style>
