<template>
  <div class="required-skills">
    <div class="small-heading mb-4">
      {{ $t('tasks.details.required_skills') }}
    </div>

    <ul class="list-unstyled d-flex align-items-center flex-wrap">
      <li v-for="s in skills" :key="s.id" class="mb-1 mr-1">
        <skill-name :skill="s" />
      </li>
    </ul>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import SkillName from '@/components/tasks/SkillName'
export default {
  name: 'RequiredSkills',
  components: { SkillName },
  props: {
    skills: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>
