<template>
  <div>
    <div class="short-task-item p-2 pb-0" :class="taskClasses">
      <div class="d-flex align-items-start">
        <avatar-display
          :avatar="avatar"
          :options="avatarOptions"
          :user-name="taskData.postedBy"
          :color="taskData.postedByColor"
          class="mr-2 mr-md-4"
        />
        <div class="flex-grow-1">
          <div class="d-flex align-items-center justify-content-between mb-2">
            <div class="d-flex align-items-center">
              <nuxt-link
                :to="clientUrl"
                class="client-name font-14-sm"
              >
                {{ taskData.postedBy }}
              </nuxt-link>
              <client-trusted v-if="taskData.postedByTrusted" class="ml-2" />
            </div>
            <div class="published-date pr-2">
              {{ timePostedDate }}
            </div>
          </div>
          <h4 class="d-flex align-items-center">
            <nuxt-link class="font-18-sm" :to="localePath(`/tasks/${taskData.slug}/${task._id}`)">
              {{ taskData.title }}
            </nuxt-link>
          </h4>
          <div class="d-flex align-items-center mb-3 task-info">
            <task-duration class="mr-2" :task="taskData" />
            <task-price class="mr-2 pl-2" :task="taskData" />
            <applications-counter class="mr-2" :count="taskData.applications" />
            <task-escrow v-if="escrowVisible" :task="taskData" class="mr-2" />
            <task-likes-small :task="taskData" />
          </div>
        </div>
      </div>

      <task-tags :tag-ids="taskData.skills" class="mb-0 px-2" />
    </div>
    <hr class="mb-4">
  </div>
</template>

<script>
import ApplicationsCounter from '@/components/tasks/ApplicationsCounter.vue'
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import TaskDuration from '@/components/tasks/TaskDuration'
import TaskPrice from '@/components/tasks/TaskPrice'
import TaskTags from '@/components/tasks/TaskTags'
import TaskEscrow from '@/components/tasks/TaskEscrow'
import TaskLikesSmall from '@/components/tasks/TaskLikesSmall'
import { escrowStatuses } from 'ct-constants'
import ClientTrusted from '@/components/client/ClientTrusted'

// noinspection JSUnusedGlobalSymbols
export default {
  components: {
    ClientTrusted,
    TaskLikesSmall,
    TaskEscrow,
    ApplicationsCounter,
    TaskDuration,
    TaskPrice,
    TaskTags,
    AvatarDisplay
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 100,
          height: 100
        }
      }
    }
  },
  computed: {
    taskData () {
      return this.task._source
    },
    timePostedDate () {
      return this.$moment(this.taskData.timePosted).format('MMM Do')
    },
    clientUrl () {
      return this.localePath(`/clients/${this.taskData.postedBySlug}/${this.taskData.postedById}`)
    },
    avatar () {
      return {
        fileName: this.taskData.postedByAvatar
      }
    },
    taskClasses () {
      const classes = []
      if (this.taskData.visibility > 0) {
        classes.push('visibility-boosted')
      }
      if (this.taskData.escrowShowcase) {
        classes.push('escrow-set')
      }
      return classes
    },
    /**
     * Is escrow set and visible
     * @returns {boolean}
     */
    escrowVisible () {
      return this.taskData?.escrowStatus === escrowStatuses.ESCROW_SET && this.taskData?.escrowBalance > 0
    }
  }
}
</script>
