<template>
  <div class="short-task-item">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <div class="client-name">
        {{ application.client.name }}
      </div>
      <div class="published-date">
        <strong>{{ $t('freelancers.published') }}</strong> {{ publishedDate }} |
        <strong>{{ $t('freelancers.applied') }}</strong> {{ createdDate }}
      </div>
    </div>
    <div class="d-flex align-items-center mb-2">
      <h4 class="m-0 mr-2">
        <nuxt-link class="font-18-sm" :to="localePath(url)">
          {{ application.task.title }}
        </nuxt-link>
      </h4>
      <application-status-badge :application="application" />
    </div>
    <div class="d-flex align-items-center mb-3">
      <task-duration class="pr-3" :task="application.task" />
      <task-price class="pl-3" :task="application.task" />
    </div>

    <task-tags :tag-ids="skillIds" class="mb-4" />

    <hr class="mb-4">
  </div>
</template>

<script>
import TaskDuration from '@/components/tasks/TaskDuration'
import TaskPrice from '@/components/tasks/TaskPrice'
import ApplicationStatusBadge from '@/components/tasks/ApplicationStatusBadge'
import TaskTags from '@/components/tasks/TaskTags'
import { applicationUrl } from '@/components/mixins/applicationUrl'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ShortApplicationItem',
  components: {
    TaskDuration,
    TaskPrice,
    ApplicationStatusBadge,
    TaskTags
  },
  mixins: [applicationUrl],
  props: {
    application: {
      type: Object,
      required: true
    }
  },
  computed: {
    url () {
      return this.generateApplicationUrl(this.application)
    },
    publishedDate () {
      return this.$moment(this.application.task.createdAt).format('MMM Do')
    },
    createdDate () {
      return this.$moment(this.application.createdAt).format('MMM Do')
    },
    skillIds () {
      return this.application.task.skills.map(s => s.id)
    }
  }
}
</script>
