<template>
  <div v-if="task" class="task-title">
    <h2 v-if="subtitle" class="m-0">
      {{ subtitle }}
    </h2>
    <div class="d-flex align-items-center mb-3">
      <div class="d-flex align-items-center">
        <h1 class="mb-0">
          {{ task.title }}
        </h1>
        <bc-check-status check-type="task" :task="task" class="ml-3" />
      </div>
      <slot name="title" />
    </div>
    <small-employer v-if="clientData" :employer="clientData" class="mb-5" />
  </div>
</template>

<script>
import BcCheckStatus from '../common/BcCheckStatus.vue'
import SmallEmployer from './SmallEmployer.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SingleTaskTitle',
  components: {
    BcCheckStatus,
    SmallEmployer
  },
  props: {
    task: {
      type: Object,
      default () {
        return null
      }
    },
    client: {
      type: Object,
      default: null
    },
    subtitle: {
      type: String,
      default: null
    }
  },
  computed: {
    clientData () {
      return this.client ? this.client : this.task.client
    }
  }
}
</script>
