<template>
  <div class="pt-4 h-100">
    <b-overlay :show="$fetchState.pending">
      <div v-if="task">
        <div class="row">
          <div class="col-12 col-lg-7">
            <single-task-title :task="task" :client="task.owner" />
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-3 offset-lg-1 order-lg-2">
            <task-details v-if="task.id" :task="task" class="mb-5">
              <template #buttons>
                <apply-for-task-button
                  :task="task"
                  :loading="$fetchState.pending || loadingApplication"
                  :invitation-id="invitationId"
                />
              </template>
            </task-details>
            <required-skills v-if="task.skills" class="px-4 mx-2 mb-5" :skills="task.skills" />
            <winglio-button />
          </div>
          <div class="col-12 col-lg-7 order-lg-1">
            <task-description class="pt-3 pt-lg-0" :description="task.description" />
            <div class="d-flex align-items-center">
              <task-likes :task="task" class="mr-2" />
              <share-buttons class="d-flex align-items-center" :url="taskUrl" />
            </div>
            <post-job-link class="pt-2" />
          </div>
        </div>
      </div>
      <not-found-error v-if="$fetchState.error" :message="$t('tasks.notFound')" />
    </b-overlay>
  </div>
</template>

<script>
import TaskDescription from '@/components/tasks/TaskDescription'
import SingleTaskTitle from '@/components/tasks/SingleTaskTitle'
import RequiredSkills from '@/components/tasks/RequiredSkills'
import TaskDetails from '@/components/tasks/TaskDetails'
import SeoMethods from '@/mixins/SeoMethods'
import moment from 'moment'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import ShareButtons from '@/components/ui/ShareButtons'
import PostJobLink from '@/components/tasks/PostJobLink'
import ApplyForTaskButton from '@/components/tasks/ApplyForTaskButton'
import FetchTask from '@/mixins/FetchTask'
import NotFoundError from '@/components/common/NotFoundError'
import WinglioButton from '@/components/tasks/WinglioButton'
import TaskLikes from '@/components/tasks/TaskLikes'

export default {
  name: 'SingleTask',
  components: {
    TaskLikes,
    WinglioButton,
    NotFoundError,
    ApplyForTaskButton,
    PostJobLink,
    TaskDescription,
    SingleTaskTitle,
    RequiredSkills,
    TaskDetails,
    ShareButtons
  },
  mixins: [FetchTask, SeoMethods, AxiosErrorHandler],
  data () {
    return {
      loadingApplication: false
    }
  },
  head () {
    return this.buildTags(this.task?.title, this.task?.description, this.task?.owner?.avatar)
  },
  computed: {
    taskUrl () {
      return `tasks/${this.task?.slug}/${this.task?.id}`
    },
    invitationId () {
      return this.$route.query.invitationId ? parseInt(this.$route.query.invitationId, 10) : null
    }
  },
  async mounted () {
    if (this.$auth.loggedIn && this.$store.getters['user/isFreelancer']) {
      try {
        this.loadingApplication = true
        await this.$store.dispatch(
          'freelancerApplications/loadTaskApplication', parseInt(this.$route.params.id, 10)
        )
        this.loadingApplication = false
      } catch (err) {
        this.loadingApplication = false
        await this.handleError(err)
      }
    }
  },
  destroyed () {
    this.$store.commit('freelancerApplications/deselectApplication')
    this.$store.commit('tasks/deselectTask')
  },
  jsonld () {
    const jobTypeMapping = {
      fulltime: 'FULL_TIME',
      parttime: 'PART_TIME',
      onetime: 'CONTRACTOR'
    }
    const data = {
      '@context': 'https://schema.org',
      '@type': 'JobPosting',
      title: this.task?.title,
      description: this.task?.description,
      identifier: {
        '@type': 'PropertyValue',
        name: 'CryptoTask',
        value: this.task?.id
      },
      datePosted: moment(this.task?.createdAt).format('YYYY-MM-DD'),
      employmentType: jobTypeMapping[this.task?.type],
      hiringOrganization: {
        '@type': 'Organization',
        name: this.task?.owner?.name,
        logo: this.getImageUrl(this.task?.owner?.avatar)
      },
      baseSalary: {
        '@type': 'MonetaryAmount',
        currency: 'USD',
        value: this.task?.price
      }
    }

    if (this.task?.location === 'remote') {
      data.jobLocationType = 'TELECOMMUTE'
    } else {
      data.jobLocation = {
        '@type': 'Place',
        address: {
          '@type': 'PostalAddress',
          addressLocality: this.task?.owner?.location
        }
      }
    }

    return data
  }
}
</script>
