<template>
  <div class="employer d-flex align-items-center">
    <template v-if="employerActive">
      <nuxt-link
        class="d-flex align-items-center"
        :to="localePath(`/clients/${employer.slug}/${employer.id}`)"
      >
        <avatar-display
          :avatar="employer.avatar"
          :color="employer.color"
          :user-name="employer.name"
          class="mr-2"
          :options="avatarOptions"
        />
        {{ employer.name }}
      </nuxt-link>
      <client-trusted v-if="employer.trusted" class="ml-2" />
    </template>
    <template v-else>
      <div class="d-flex align-items-center">
        <avatar-display
          v-if="employer.avatar"
          :avatar="employer.avatar"
          class="mr-2"
          :options="avatarOptions"
        />
        <span class="text-muted">{{ employer.name }}</span>
        <b-badge variant="warning ml-2">
          {{ $t('applications.inactiveClient') }}
        </b-badge>
      </div>
    </template>
  </div>
</template>

<script>
import ClientTrusted from '@/components/client/ClientTrusted'
import AvatarDisplay from '../ui/AvatarDisplay.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SmallEmployer',
  components: {
    ClientTrusted,
    AvatarDisplay
  },
  props: {
    employer: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 24,
          height: 24
        }
      }
    }
  },
  computed: {
    employerActive () {
      return !this.employer.deletedAt && this.employer.confirmed && this.employer.published
    }
  }
}
</script>
