<template>
  <div>
    <div
      v-b-tooltip.hover
      class="escrow pl-2 d-flex align-items-center"
      :title="$t('tasks.escrowTooltip')"
    >
      <font-awesome-icon class="mr-1" :icon="moneyIcon" />
      {{ balance }} {{ task.cryptoEscrowName }}
    </div>
  </div>
</template>

<script>
import { faHandHoldingUsd } from '@fortawesome/free-solid-svg-icons'

export default {
  name: 'TaskEscrow',
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Money icon
     * @returns {IconDefinition}
     */
    moneyIcon () {
      return faHandHoldingUsd
    },

    /**
     * Get balance without fee, only 5 decimal places
     * @returns {string}
     */
    balance () {
      return this.task?.escrowBalanceFormatted
    }
  }
}
</script>
