<template>
  <div class="detail d-flex align-items-center">
    <div class="mr-3">
      <slot name="icon" />
    </div>
    <div>
      <div class="small-heading">
        {{ $t(title) }}
      </div>
      <strong>
        <slot />
      </strong>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TaskDetailsItem',
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
