<template>
  <div class="text-break" v-html="description" />
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TaskDescription',
  props: {
    description: {
      type: String,
      default: ''
    }
  }
}
</script>
