<template>
  <div>
    <template v-if="!task.negotiableDuration">
      {{ task.duration }} {{ $t('tasks.details.days') }}
    </template>
    <template v-else>
      {{ $t('tasks.details.negotiable') }}
    </template>
  </div>
</template>

<script>
export default {
  name: 'TaskDurationContent',
  props: {
    task: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>
