<template>
  <li>
    {{ tag.name }}
  </li>
</template>

<script>
export default {
  name: 'TaskTag',
  props: {
    tag: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style scoped>

</style>
