<template>
  <div>
    <b-link
      v-if="editAllowed"
      :to="localePath(`/my-tasks/${task.id}/edit`)"
      class="btn btn-primary btn-block btn-round mt-4 btn-primary--dark"
    >
      {{ $t('tasks.details.edit') }}
    </b-link>

    <b-button
      v-if="editAllowed"
      class="btn btn-secondary btn-block btn-round mt-3"
      @click="deleteTask"
    >
      {{ $t('tasks.details.delete') }}
    </b-button>

    <close-task-button v-if="isClientOwner" :task="task" @close="close" />
    <reopen-task-button
      v-if="isClientOwner"
      :task="task"
      :disabled="reopenDisabled"
      @reopen="reopen"
    />
  </div>
</template>

<script>
import ReopenTaskButton from '@/components/client/ReopenTaskButton'
import CloseTaskButton from '@/components/client/CloseTaskButton'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

export default {
  name: 'TaskDetailsButtons',
  components: {
    ReopenTaskButton,
    CloseTaskButton
  },
  mixins: [AxiosErrorHandler],
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Get applications count for current task
     * @returns {*}
     */
    applicationsCount () {
      return this.$store.getters['tasks/getTaskApplicationsCount'](this.task?.id)
    },

    /**
     * Is edit allowed on task
     * Edit is allowed only if status is CREATED and current user has created that task
     * @return {boolean}
     */
    editAllowed () {
      return this.isClientOwner && !this.applicationsCount
    },

    isClientOwner () {
      const isClient = this.$store.getters['user/isClient']
      const client = this.$store.getters['user/getActiveRoleData']
      return isClient && client.id === this.task.postedBy
    },

    hiresNum () {
      return this.$store.getters['clientApplications/hiredApplications'].length
    },

    reopenDisabled () {
      return this.task?.escrowPublic && !!this.hiresNum
    }
  },
  methods: {
    async deleteTask () {
      const confirm = await this.$bvModal
        .msgBoxConfirm(this.$t('tasks.details.delete_confirmation'))

      if (confirm) {
        try {
          await this.$store.dispatch('tasks/delete', this.task.id)
          await this.$router.replace(this.localePath('/my-tasks'))
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('tasks.details.delete_success')
          })
        } catch (err) {
          await this.handleError(err)
        }
      }
    },

    /**
     * Reopen task again
     */
    async reopen () {
      try {
        await this.$store.dispatch('tasks/reopen', this.task)
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('tasks.opened_success')
        })
      } catch (err) {
        await this.handleError(err)
      }
    },

    /**
     * Close task to applications
     */
    async close () {
      const confirm = await this.$bvModal
        .msgBoxConfirm(this.$t('tasks.details.closeConfirmation'))

      if (confirm) {
        try {
          await this.$store.dispatch('tasks/close', this.task)
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('tasks.closed_success')
          })
        } catch (err) {
          await this.handleError(err)
        }
      }
    }
  }
}
</script>
