<template>
  <span v-b-tooltip.hover :title="$t('tasks.location')">{{ $t('tasks.details.' + location) }}</span>
</template>

<script>
export default {
  name: 'TaskLocation',
  props: {
    location: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
