<template>
  <div v-if="task.languageId" class="detail d-flex align-items-center">
    <flag-icon size="20" class="mr-3" />
    <div>
      <div class="small-heading">
        {{ $t('tasks.details.language') }}
      </div>
      <strong>{{ language }}</strong>
    </div>
  </div>
</template>

<script>
import { FlagIcon } from 'vue-feather-icons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TaskDetailsLanguage',
  components: {
    FlagIcon
  },
  props: {
    task: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    language () {
      const enabled = this.$store.getters['util/getEnabledLanguages']

      if (this.task?.languageId) {
        return enabled.find(l => l.id === this.task.languageId)?.name || ''
      }

      return ''
    }
  }
}
</script>
