<template>
  <div v-b-tooltip.hover class="duration d-flex align-items-center" :title="$t('tasks.form.duration')">
    <font-awesome-icon class="mr-1" :icon="clockIcon" />
    <task-duration-content :task="task" />
  </div>
</template>

<script>
import { faClock } from '@fortawesome/free-regular-svg-icons'
import TaskDurationContent from '@/components/tasks/TaskDurationContent'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TaskDuration',
  components: { TaskDurationContent },
  props: {
    task: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    clockIcon () {
      return faClock
    }
  }
}
</script>
