<template>
  <span v-b-tooltip.hover :title="$t('tasks.type')">{{ $t('tasks.form.' + type) }}</span>
</template>

<script>
export default {
  name: 'TaskType',
  props: {
    type: {
      type: String,
      required: true
    }
  }
}
</script>
