<template>
  <task-details-item title="tasks.details.value">
    <template slot="icon">
      <credit-card-icon size="20" />
    </template>
    <task-price :task="task" />
  </task-details-item>
</template>

<script>
import {
  CreditCardIcon
} from 'vue-feather-icons'
import TaskPrice from '@/components/tasks/TaskPrice.vue'
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TaskDetailsValue',
  components: {
    TaskDetailsItem,
    TaskPrice,
    CreditCardIcon
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
.price {
  font-weight: bold;
}
</style>
