<template>
  <ul
    v-if="tagIds && tagIds.length"
    class="task-tags list-unstyled d-flex align-items-center flex-wrap justify-content-start"
  >
    <task-tag v-for="tag in tags" :key="tag.id" class="mr-2" :tag="tag" />
  </ul>
</template>

<script>
import TaskTag from '@/components/tasks/TaskTag'

export default {
  name: 'TaskTags',
  components: { TaskTag },
  props: {
    tagIds: {
      type: Array,
      default () {
        return []
      }
    }
  },
  computed: {
    tags () {
      const skills = this.$store.getters['util/getAllSkillsMappings']
      return this.tagIds.map(id => skills[id])
    }
  }
}
</script>
