<template>
  <task-details-item title="tasks.details.duration">
    <template slot="icon">
      <calendar-icon size="20" />
    </template>
    <task-duration-content :task="task" />
  </task-details-item>
</template>

<script>
import { CalendarIcon } from 'vue-feather-icons'
import TaskDurationContent from '@/components/tasks/TaskDurationContent'
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TaskDetailsDuration',
  components: {
    TaskDetailsItem,
    TaskDurationContent,
    CalendarIcon
  },
  props: {
    task: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style>
.duration {
  font-weight: bold;
}
</style>
