<template>
  <div>
    <div
      v-b-tooltip.hover
      class="likes pl-2 d-flex align-items-center"
      :title="$t('tasks.likes')"
    >
      <font-awesome-icon class="mr-1" :icon="heartIcon" />
      {{ task.likes }}
    </div>
  </div>
</template>

<script>
import { faHeart } from '@fortawesome/free-regular-svg-icons'

export default {
  name: 'TaskLikesSmall',
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    heartIcon () {
      return faHeart
    }
  }
}
</script>

<style scoped>

</style>
