<template>
  <div v-if="task" class="task-details">
    <h5 class="d-none d-lg-block mb-4">
      {{ $t('tasks.details.title') }}
    </h5>
    <slot name="buttons" />
    <div>
      <task-details-item title="tasks.details.posted_label">
        <template slot="icon">
          <check-square-icon size="20" />
        </template>
        {{ $t('tasks.details.posted_on') }} {{ dateCreated }}
      </task-details-item>

      <task-details-status :task="task" />
      <task-details-duration :task="task" />
      <task-details-value :task="task" />
      <task-details-location :task="task" />
      <task-details-item v-if="task.type" title="tasks.details.type">
        <template slot="icon">
          <tag-icon size="20" />
        </template>
        {{ $t('tasks.details.' + task.type) }}
      </task-details-item>

      <task-details-escrow :task="task" />
      <task-details-applications :task="task" />
    </div>
    <slot name="bottom" />
  </div>
</template>

<script>
import {
  CheckSquareIcon,
  TagIcon
} from 'vue-feather-icons'
import TaskDetailsLocation from '@/components/tasks/TaskDetailsLocation'
import TaskDetailsStatus from '@/components/tasks/TaskDetailsStatus'
import TaskDetailsDuration from '@/components/tasks/TaskDetailsDuration'
import TaskDetailsValue from '@/components/tasks/TaskDetailsValue'
import TaskDetailsEscrow from '@/components/tasks/TaskDetailsEscrow'
import TaskDetailsApplications from '@/components/tasks/TaskDetailsApplications'
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'TaskDetails',
  components: {
    TaskDetailsItem,
    TaskDetailsApplications,
    TaskDetailsStatus,
    TaskDetailsDuration,
    TaskDetailsValue,
    TaskDetailsLocation,
    CheckSquareIcon,
    TagIcon,
    TaskDetailsEscrow
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    dateCreated () {
      return this.$moment(this.task.createdAt).format('MMM Do, yyyy')
    }
  }
}
</script>
