<template>
  <div>
    <b-button v-b-modal.winglioModal variant="outline-secondary" block pill>
      {{ $t('tasks.winglioModalTitle') }}
    </b-button>
    <b-modal id="winglioModal" :title="$t('tasks.winglioModalTitle')" :hide-footer="true">
      <p v-html="$t('tasks.winglioModalContent')" />
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'WinglioButton'
}
</script>

<style scoped>

</style>
