<template>
  <auth-container>
    <reset-password-form />
  </auth-container>
</template>

<script>
import AuthContainer from '@/components/auth/AuthContainer'
import ResetPasswordForm from '@/components/auth/ResetPasswordForm'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ResetPasswordPage',
  components: {
    AuthContainer,
    ResetPasswordForm
  },
  mixins: [Pageview],
  layout: 'auth',
  auth: false
}
</script>
