<template>
  <client-only>
    <div v-if="locale === 'en'" class="container mb-6 pt-6">
      <div class="row mb-5">
        <div class="col-12 col-lg-10 offset-lg-1">
          <h1 class="mb-5">
            King of the Hill
          </h1>
          <koth-item :link-to-freelancer="true">
            <h4 class="mb-4">
              Last claim was made with {{ koth.price }} CTASK
            </h4>
            <p>
              So you are here to fight?
            </p>
            <p>
              This is how it works: You need some CTASK on your browser crypto wallet, such as MetaMask. Connect your wallet to our website and make sure to select the address with the most CTASK as that increases your chances of winning! The chance of winning in battle is proportional to your CTASK balance compared to the balance that was used to claim the position by the current King of the hill. However, the ratio is square rooted, which means the difference in balances is lowered, giving more chances to smaller players. Also, there is an element of randomness, meaning even someone with lower CTASK balance has some chance of winning! After an attempt at the throne, you need to wait at least 24h before the next attempt.
            </p>
            <p>
              Technically, how the process works is by proving your CTASK balance just by signing a message in your browser wallet and sending it to our server. We then check the CTASK balance on the signing address. This way no CTASK is moved around, not even gas fees need to be paid - the whole process is completely free!
            </p>
            <p>
              Let's battle!
            </p>
            <div class="d-flex align-items-center">
              <button class="btn btn-round btn-success mr-3" @click="claimKoth">
                Battle!
              </button>
              <a
                href="https://app.uniswap.org/#/swap?outputCurrency=0x196c81385bc536467433014042788eb707703934&use=V2"
                class="btn btn-round btn-primary"
                target="_blank"
              >
                {{ $t('aboutPage.buyCtask') }}
              </a>
            </div>
          </koth-item>
        </div>
      </div>
    </div>
  </client-only>
</template>

<script>
import Web3 from 'web3'
import KothItem from '@/components/landing/KothItem'
import Pageview from '@/mixins/Pageview'

const tokenAbi = require('@/assets/erc20.json')

export default {
  name: 'KothPage',
  components: {
    KothItem
  },
  mixins: [Pageview],
  layout: 'blank',
  auth: false,
  async fetch () {
    await this.$store.dispatch('freelancers/setInitialKoth')
  },
  computed: {
    koth () {
      return this.$store.state.freelancers.koth
    },

    locale () {
      return this.$store.state.i18n.locale
    }
  },
  methods: {
    async claimKoth () {
      try {
        if (process.browser) {
          // check if current user is freelancer
          const freelancer = this.$store.getters['user/getFreelancer']
          if (!freelancer) {
            throw new Error('You need to be logged in as a freelancer')
          }

          // check if 24h passed
          const lastKothAttempt = Date.parse(freelancer.lastKothAttempt)
          if (lastKothAttempt && Date.now() - lastKothAttempt < 86400000) {
            throw new Error('24h have not yet passed since the last attempt')
          }

          if (window.ethereum) {
            window.web3 = new Web3(window.ethereum)
            await window.ethereum.enable()
            const myAccounts = await window.web3.eth.getAccounts()
            const myAddress = myAccounts[0]
            const ctask = new window.web3.eth.Contract(tokenAbi, process.env.ctaskAddress)
            let ctaskBalance = await ctask.methods.balanceOf(myAddress).call()
            ctaskBalance = Math.floor(ctaskBalance / 10 ** 18)
            // console.log(ctaskBalance)
            const odds = (1 - 1 / (1 + Math.sqrt(ctaskBalance / parseFloat(this.koth.price)))) * 100

            const confirmation = await this.$bvModal.msgBoxConfirm(`Your odds are ${odds.toFixed(2)}%`, {
              centered: true
            })

            if (confirmation) {
              const sig = await window.web3.eth.personal.sign('I want to claim CTASK KOTH', myAddress)
              const claimed = await this.$store.dispatch('freelancers/claimKoth', sig)
              if (claimed) {
                await this.$store.dispatch('ui/showNotification', {
                  type: 'success',
                  text: 'You are the new king of the hill!'
                })
              } else {
                await this.$store.dispatch('ui/showNotification', {
                  type: 'warning',
                  text: 'You lost. Try again in 24h.'
                })
              }
            }
          } else {
            throw new Error('Please install an Ethereum-compatible browser or extension like MetaMask to use this page!')
          }
        }
      } catch (e) {
        console.log(e)

        await this.$store.dispatch('ui/showNotification', {
          type: 'danger',
          text: e.message
        })
      }
    }
  }
}
</script>
