<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <paper>
        <h1 class="mb-3">
          {{ $t('agency.title') }}
        </h1>
        <p class="mb-4">
          <template v-if="escrowTask">
            {{ $t('agency.escrowText') }}
          </template>
          <template v-else>
            {{ $t('agency.otherText') }}
          </template>
        </p>

        <div class="d-flex align-items-center justify-content-end">
          <b-button variant="link" @click.prevent="skip">
            {{ $t('common.skip') }}
          </b-button>
          <b-button variant="primary" class="btn-round" :disabled="enabling || enabled" @click="enable">
            {{ $t('agency.useButton') }}
          </b-button>
        </div>
      </paper>
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import { escrowStatuses } from 'ct-constants'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import Pageview from '@/mixins/Pageview'

/**
 * TODO remove this in the future, not used any more
 */
export default {
  name: 'AgencyPage',
  components: { Paper },
  mixins: [AxiosErrorHandler, Pageview],
  data () {
    return {
      enabling: false
    }
  },
  computed: {
    /**
     * Get selected task from task creation
     * @returns {{}}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    },

    /**
     * Is escrow set on selected task
     * @returns {boolean}
     */
    escrowTask () {
      return [escrowStatuses.ESCROW_SET, escrowStatuses.ESCROW_PENDING].includes(this.task?.escrowStatus)
    },

    /**
     * Is agency model already enabled
     * @returns {boolean}
     */
    enabled () {
      return this.task?.agencyOn
    }
  },
  mounted () {
    if (!this.task?.id) {
      this.$router.replace(this.localePath('/create-task'))
    }
  },
  methods: {
    async enable () {
      try {
        this.enabling = true
        const task = {
          ...this.task,
          agencyOn: true
        }

        await this.$store.dispatch('tasks/update', {
          id: task.id,
          taskData: task
        })
        this.enabling = false
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('agency.enabledSuccess')
        })
        await this.$router.push(this.localePath('/create-task/agent'))
      } catch (err) {
        this.enabling = false
        await this.handleError(err)
      }
    },

    skip () {
      this.$router.push(this.localePath('/create-task/success'))
    }
  }
}
</script>

<style scoped>

</style>
