<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <paper>
        <h1 class="mb-3">
          {{ $t('agency.title') }}
        </h1>

        <div v-if="!enabled">
          <b-form-checkbox
            id="enabled"
            v-model="enabled"
            name="enabled"
            class="mb-4"
          >
            {{ $t('agent.tasks.enable') }}
          </b-form-checkbox>
          <p class="mb-4">
            <template v-if="escrowTask">
              {{ $t('agency.escrowText') }}
            </template>
            <template v-else>
              {{ $t('agency.otherText') }}
            </template>
          </p>
        </div>
        <agent-selector v-else :task="task" class="py-5" />

        <div class="d-flex align-items-center justify-content-end">
          <b-button variant="primary" class="btn-round" @click="finish">
            {{ $t('agent.enable.selectButton') }}
          </b-button>
        </div>
      </paper>
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import AgentSelector from '@/components/agents/AgentSelector'
import { escrowStatuses } from 'ct-constants'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'SelectAgentPage',
  components: {
    AgentSelector,
    Paper
  },
  mixins: [Pageview],
  data () {
    return {
      enabled: false
    }
  },
  computed: {
    /**
     * Get selected task from task creation
     * @returns {{}}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    },

    /**
     * Is agency model already enabled
     * @returns {boolean}
     */
    agencyEnabled () {
      return this.task?.agencyOn
    },

    /**
     * Is escrow set on selected task
     * @returns {boolean}
     */
    escrowTask () {
      return [escrowStatuses.ESCROW_SET, escrowStatuses.ESCROW_PENDING].includes(this.task?.escrowStatus)
    }
  },
  mounted () {
    if (!this.task?.id) {
      this.$router.replace(this.localePath('/create-task'))
    }

    // automatically enable agent selector if current user is referred one
    if (this.$store.getters['user/getCurrentUser']?.referrerId) {
      this.enabled = true
    }
  },
  methods: {
    finish () {
      this.$router.push(this.localePath('/create-task/success'))
    }
  }
}
</script>

<style scoped>

</style>
