<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <paper>
        <!-- task escrow form -->
        <create-task-escrow-form
          v-if="task"
          :task="task"
          @skip="handleEscrowFinish"
          @finish="handleEscrowFinish"
        />
      </paper>
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import CreateTaskEscrowForm from '@/components/escrow/CreateTaskEscrowForm'
import { escrowStatuses, taskTypes } from 'ct-constants'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'TaskEscrowPage',
  components: {
    CreateTaskEscrowForm,
    Paper
  },
  mixins: [Pageview],
  computed: {
    /**
     * Get selected task from task creation
     * @returns {{}}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    }
  },
  mounted () {
    if (!this.task?.id) {
      this.$router.replace(this.localePath('/create-task'))
    }
  },
  methods: {
    /**
     * When finish button is clicked redirect to another page depending on task data
     * @returns {Promise<void>}
     */
    async handleEscrowFinish () {
      if (this.task.type === taskTypes.ONETIME && this.task.escrowStatus !== escrowStatuses.ESCROW_SET) {
        await this.$router.push(this.localePath('/create-task/success'))
      } else {
        await this.$router.push(this.localePath('/create-task/agent'))
      }
    }
  }
}
</script>

<style scoped>

</style>
