<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <paper>
        <div v-if="task">
          <basic-task-subscription-form
            :task="task"
            :can-skip="true"
            @skip="handleSubscriptionNext"
            @closed="handleSubscriptionNext"
          />
        </div>
      </paper>
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import BasicTaskSubscriptionForm from '@/components/subscriptions/BasicTaskSubscriptionForm'
import { taskTypes } from 'ct-constants'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CreateSubscriptionPage',
  components: { BasicTaskSubscriptionForm, Paper },
  mixins: [Pageview],
  computed: {
    /**
     * Get selected task from task creation
     * @returns {{}}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    }
  },
  mounted () {
    if (!this.task?.id) {
      this.$router.replace(this.localePath('/create-task'))
    }
  },
  methods: {
    /**
     * When subscription paid/closed or skipped
     */
    async handleSubscriptionNext () {
      if (this.task?.type === taskTypes.ONETIME) {
        await this.$router.push(this.localePath('/create-task/escrow'))
      } else {
        await this.$router.push(this.localePath('/create-task/agent'))
      }
    }
  }
}
</script>

<style scoped>

</style>
