<template>
  <div>
    <div v-if="isLoggedIn" class="row">
      <div class="col-12 col-lg-9">
        <paper class="mt-5">
          <h1>{{ $t('tasks.taskCreated') }}</h1>
          <p v-html="$t('tasks.review')" />
          <div class="d-flex align-items-center mt-5">
            <b-button :to="localePath('/')" variant="primary" class="btn-round mr-3">
              {{ $t('tasks.backToLanding') }}
            </b-button>

            <b-button :to="localePath('/freelancers')" variant="primary" class="btn-round mr-3">
              {{ $t('tasks.browseFreelancers') }}
            </b-button>

            <b-button
              v-if="isLoggedIn && task"
              :to="localePath(`/my-tasks/${task.id}`)"
              variant="primary"
              class="btn-round"
            >
              {{ $t('tasks.goToTask') }}
            </b-button>
          </div>
        </paper>
      </div>
    </div>
    <success-wrapper v-else>
      <div>
        <h1>{{ $t('tasks.taskCreated') }}</h1>
        <p class="m-0" v-html="$t('tasks.reviewAnon')" />
      </div>
    </success-wrapper>
  </div>
</template>

<script>
import SuccessWrapper from '@/components/ui/SuccessWrapper'
import Paper from '@/components/ui/Paper'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'TaskCreatedSuccessPage',
  components: {
    SuccessWrapper,
    Paper
  },
  mixins: [Pageview],
  layout (context) {
    return context.$auth.loggedIn ? 'default' : 'blank'
  },
  middleware: ['redirectClient', 'checkProfileCompleteness'],
  auth: false,
  computed: {
    /**
     * Checks if current user is logged in
     */
    isLoggedIn () {
      return this.$auth.loggedIn
    },

    /**
     * Get selected task from task creation
     * @returns {{}}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    }
  },
  mounted () {
    if (this.$gtag) {
      this.$gtag.event('conversion', { send_to: 'AW-737183140/lGF6COi2_fcCEKSLwt8C' })
    }
  }
}
</script>

<style scoped>

</style>
