<template>
  <wire-success v-if="display" :payment="payment" />
</template>

<script>
import WireSuccess from '@/components/payments/success/WireSuccess'
import { paymentStatuses } from 'ct-constants'

export default {
  name: 'WireInstructions',
  components: { WireSuccess },
  props: {
    payment: {
      type: Object,
      required: true
    }
  },
  computed: {
    display () {
      return [paymentStatuses.PROCESSING, paymentStatuses.PENDING, paymentStatuses.CREATED].includes(this.payment.status)
    }
  }
}
</script>

<style scoped>

</style>
