<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <client-profile-preview :profile="client" />
    </div>
  </div>
</template>

<script>
import ClientProfilePreview from '@/components/client/ClientProfilePreview'
import FetchClient from '@/mixins/FetchClient'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientProfileFallbackPage',
  auth: false,
  components: {
    ClientProfilePreview
  },
  mixins: [FetchClient, Pageview]
}
</script>
