<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <paper>
        <trusted-client-subscription-form :client="client" />
      </paper>
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import TrustedClientSubscriptionForm from '@/components/subscriptions/TrustedClientSubscriptionForm'
import Pageview from '@/mixins/Pageview'
export default {
  name: 'TrustedSubscriptionPage',
  components: {
    TrustedClientSubscriptionForm,
    Paper
  },
  mixins: [Pageview],
  computed: {
    client () {
      return this.$store.getters['user/getClient']
    }
  }
}
</script>

<style scoped>

</style>
