<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <paper v-if="!$fetchState.error">
        <task-form :task="task" :title="$t('tasks.form.edit_job')" />
      </paper>
      <not-found-error v-if="$fetchState.error" :message="$t('tasks.notFound')" />
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import TaskForm from '@/components/tasks/TaskForm'
import FetchTask from '@/mixins/FetchTask'
import NotFoundError from '@/components/common/NotFoundError'
import { roleNames, taskStatuses } from 'ct-constants'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'EditMyTaskPage',
  components: {
    NotFoundError,
    Paper,
    TaskForm
  },
  mixins: [FetchTask, Pageview],
  middleware: ['checkProfileCompleteness', 'isClient'],
  head () {
    return {
      title: this.task ? this.task.title : ''
    }
  },
  computed: {
    user () {
      return this.$auth.user
    },
    editAllowed () {
      const activeRole = this.$store.getters['user/getActiveRoleType']
      const activeRoleData = this.$store.getters['user/getActiveRoleData']
      return this.task.status <= taskStatuses.ACCEPTING &&
        activeRole.name === roleNames.CLIENT &&
        activeRoleData.id === this.task.postedBy
    }
  }
}
</script>
