<template>
  <div class="position-relative">
    <b-overlay :show="$fetchState.pending">
      <div v-if="task">
        <div class="row">
          <div class="col-12 col-lg-7 pt-4 pt-lg-0">
            <single-task-title :task="task" />
          </div>
        </div>
        <div class="row">
          <div class="d-none d-lg-block col-lg-4 col-xl-3 offset-xl-1 order-lg-2">
            <task-details :task="task" :applicable="false">
              <template #bottom>
                <task-details-buttons :task="task" />
              </template>
            </task-details>
            <required-skills v-if="task && task.skills" class="p-4" :skills="task.skills" />
            <my-task-share-link class="p-4" :task="task" />
            <winglio-button />
          </div>
          <div class="col-12 col-lg-7 order-lg-1">
            <b-tabs nav-class="my-task-tabs align-items-center" :value="selectedTab" @input="changeTab">
              <task-applications-tab :task="task" />
              <task-description-tab :task="task" />
              <task-escrow-tab :task="task" />
              <task-subscriptions-tab :task="task" />
              <task-agents-tab :task="task" />
            </b-tabs>
          </div>
        </div>
      </div>
      <not-found-error v-if="$fetchState.error" :message="$t('tasks.notFound')" />
    </b-overlay>
  </div>
</template>

<script>
import SingleTaskTitle from '@/components/tasks/SingleTaskTitle'
import RequiredSkills from '@/components/tasks/RequiredSkills'
import TaskDetails from '@/components/tasks/TaskDetails'
import FetchTask from '@/mixins/FetchTask'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import TaskDescriptionTab from '@/components/tasks/clientTabs/TaskDescriptionTab'
import TaskApplicationsTab from '@/components/tasks/clientTabs/TaskApplicationsTab'
import TaskEscrowTab from '@/components/tasks/clientTabs/TaskEscrowTab'
import TaskSubscriptionsTab from '@/components/tasks/clientTabs/TaskSubscriptionsTab'
import TaskDetailsButtons from '@/components/tasks/TaskDetailsButtons'
import { invert } from 'lodash'
import MyTaskShareLink from '@/components/tasks/MyTaskShareLink'
import TaskAgentsTab from '@/components/tasks/clientTabs/TaskAgentsTab'
import { taskTypes } from 'ct-constants'
import NotFoundError from '@/components/common/NotFoundError'
import WinglioButton from '@/components/tasks/WinglioButton'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'SingleMyTaskPage',
  components: {
    WinglioButton,
    NotFoundError,
    TaskAgentsTab,
    MyTaskShareLink,
    TaskDetailsButtons,
    TaskSubscriptionsTab,
    TaskEscrowTab,
    TaskApplicationsTab,
    TaskDescriptionTab,
    SingleTaskTitle,
    RequiredSkills,
    TaskDetails
  },
  mixins: [FetchTask, AxiosErrorHandler, Pageview],
  middleware: ['checkProfileCompleteness', 'isClient'],
  data () {
    return {
      tabs: [
        'freelancers',
        'description',
        'escrow',
        'visibility',
        'agents'
      ]
    }
  },
  head () {
    return {
      title: this.task ? this.task.title : ''
    }
  },
  computed: {
    tabMap () {
      const tabsData = {}
      this.tabs.filter((t) => {
        return !(this.task.type !== taskTypes.ONETIME && t === 'escrow')
      }).forEach((t, i) => {
        tabsData[t] = i
      })
      return tabsData
    },
    selectedTab () {
      return this.$route.query.tab ? this.tabMap[this.$route.query.tab] : 0
    }
  },
  mounted () {
    this.loadApplications()
  },
  destroyed () {
    this.$store.commit('tasks/deselectTask')
    this.$store.commit('clientApplications/deselectTaskId')
  },
  methods: {
    /**
     * Load applications for task
     * @returns {Promise<void>}
     */
    async loadApplications () {
      try {
        this.loadingApplications = true
        await this.$store.dispatch('clientApplications/fetchApplications', parseInt(this.$route.params.id, 10))
        this.loadingApplications = false
      } catch (err) {
        this.loadingApplications = false
        await this.handleError(err)
      }
    },

    /**
     * When tab is changed update it in query string
     * @param {Number} tabIndex
     */
    changeTab (tabIndex) {
      const tabId = invert(this.tabMap)[tabIndex]
      this.$router.push(this.localePath(`/my-tasks/${this.task.id}?tab=${tabId}`))
    }
  }
}
</script>
