<template>
  <div class="file-attachment d-flex align-items-center">
    <file-text-icon size="1.6x" />
    <a href="#" @click.prevent="open">{{ attachment.fileName }}</a>
    <chat-attachment-options v-if="owner" :attachment="attachment" @delete="$emit('delete', attachment)" />
  </div>
</template>

<script>
import { FileTextIcon } from 'vue-feather-icons'
import ChatAttachmentOptions from '@/components/tasks/chat/ChatAttachmentOptions'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChatAttachmentFile',
  components: {
    FileTextIcon,
    ChatAttachmentOptions
  },
  props: {
    attachment: {
      type: Object,
      required: true
    },
    owner: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    fileUrl () {
      return `${process.env.bucketURL}/${this.attachment.fileName}`
    }
  },
  methods: {
    open () {
      window.open(this.fileUrl)
    }
  }
}
</script>
