<template>
  <div>
    <b-dropdown
      size="sm"
      variant="link"
      toggle-class="text-decoration-none"
      no-caret
    >
      <template slot="button-content">
        <more-horizontal-icon size="1.5x" />
      </template>
      <b-dropdown-item @click.prevent="$emit('delete', attachment)">
        {{ $t('common.delete') }}
      </b-dropdown-item>
    </b-dropdown>
  </div>
</template>
<script>
import { MoreHorizontalIcon } from 'vue-feather-icons'

export default {
  name: 'ChatAttachmentOptions',
  components: {
    MoreHorizontalIcon
  },
  props: {
    attachment: {
      type: Object,
      required: true
    }
  }
}
</script>
