<template>
  <div class="chat-container d-flex flex-column">
    <b-alert
      v-if="showAlert"
      class="chat-container__alert"
      variant="warning"
      :show="true"
    >
      <alert-triangle-icon size="1.5x" />
      {{ $t('chat.warning') }}
    </b-alert>
    <client-only>
      <b-overlay :show="loadingMessages" class="w-100">
        <div
          ref="messagesContainer"
          class="messages flex-grow-1 mb-3 w-100"
        >
          <vue-scroll ref="customScroll" :ops="scrollOptions" @handle-scroll="handleScroll">
            <div ref="messagesList" class="pr-2">
              <chat-message
                v-for="message in messages"
                :key="message.id + 'chat-message'"
                :message="message"
                :application="application"
                @delete="deleteMessage"
              />
            </div>
          </vue-scroll>
        </div>
      </b-overlay>
    </client-only>
    <chat-input :application="application" :enabled="enabled" @created="messageCreated" />
    <chat-typing-info :application="application" />
  </div>
</template>

<script>
import { AlertTriangleIcon } from 'vue-feather-icons'
import ChatTypingInfo from '@/components/tasks/chat/ChatTypingInfo'
import ChatInput from '@/components/tasks/chat/ChatInput'
import ChatMessage from '@/components/tasks/chat/ChatMessage'
import { last } from 'lodash'
import moment from 'moment'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChatContainer',
  components: {
    ChatTypingInfo,
    ChatInput,
    ChatMessage,
    AlertTriangleIcon
  },
  mixins: [AxiosErrorHandler],
  props: {
    task: {
      type: Object,
      required: true
    },
    application: {
      type: Object,
      required: true
    },
    enabled: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      loadingMessages: false,
      scrollOptions: {
        vuescroll: {
          sizeStrategy: 'number',
          detectResize: true
        },
        scrollPanel: {
          initialScrollY: '100%',
          scrollingX: false
        }
      }
    }
  },
  computed: {
    /**
     * Chat messages
     * @return {*}
     */
    messages () {
      return this.$store.getters['chat/getMessagesSorted']
    },

    /**
     * Hack to see if new messages load is needed
     * @returns {Number|*}
     */
    messageAppId () {
      return this.messages.length && this.messages[0].applicationId
    },

    /**
     * Get number of old messages left for loading
     */
    messagesLeftToLoad () {
      return this.$store.getters['chat/getMessagesLeft']
    },

    /**
     * Show alert if active user is freelancer, he isn't hired and there is no loading
     * @return {boolean}
     * */
    showAlert () {
      const roleType = this.$store.getters['user/getActiveRoleType']
      return roleType?.name === 'freelancer' && !this.application.status && !this.loadingMessages
    }
  },
  watch: {
    application (n, o) {
      if (n && (!o || n.id !== o.id)) {
        // unsubscribe because messages show up in wrong chat if opened
        this.$socket.emit('unsubscribe', o.id)

        this.initChat(n.id)
      }
    },
    messages (n, o) {
      if (o?.length && o.length < n.length) {
        const oldLast = last(o)
        const newLast = last(n)

        if (moment(newLast.createdAt).isAfter(moment(oldLast.createdAt))) {
          setTimeout(() => {
            this.$refs.customScroll?.scrollTo({
              y: '100%'
            }, 0)
          }, 50)
        }
      }
    }
  },
  async mounted () {
    await this.initChat(this.application.id)
    window.addEventListener('resize', this.windowResized)
  },
  unmounted () {
    window.removeEventListener('resize', this.windowResized)
  },
  destroyed () {
    // reset messages in store on exit
    this.$store.commit('chat/resetMessages')
    this.$socket.emit('unsubscribe', this.application.id)
  },
  methods: {
    async initChat (applicationId) {
      this.$store.commit('chat/resetMessages')
      await this.getMessages(applicationId)
      setTimeout(() => {
        this.$refs.customScroll?.refresh()
        this.$refs.customScroll?.scrollTo({
          y: '100%'
        }, 0)
      }, 100)
      this.$socket.emit('subscribe', applicationId)
    },

    deleteMessage (message) {
      // TODO finish this
      /* this.$socket.emit('deleteMessage', {
        messageId: message.id,
        applicationId: this.application.id
      }) */
    },

    /**
     * Input emits that message is created
     */
    messageCreated () {
      this.$refs.customScroll?.scrollTo({
        y: '100%'
      }, 0)
    },

    /**
     * Get application messages
     * @param {Number} id
     */
    async getMessages (id) {
      try {
        const previousCount = this.messages.length
        const oldHeight = this.$refs.messagesList?.clientHeight

        if (this.messages.length === 0 || this.messagesLeftToLoad > 0) {
          this.loadingMessages = true
          await this.$store.dispatch('chat/getMessages', id)
          this.loadingMessages = false
        }

        // if loading more messages calculate position of last message and scroll there
        if (previousCount > 0) {
          const newHeight = this.$refs.messagesList.clientHeight
          this.$refs.customScroll?.scrollTo({ y: newHeight - oldHeight }, 0)
        }
      } catch (err) {
        await this.handleError(err)
      }
    },

    handleScroll (vertical) {
      if (vertical.scrollTop === 0) {
        this.getMessages(this.application.id)
      }
    },

    windowResized () {
      this.$refs.customScroll?.refresh()
    }
  }
}
</script>
