<template>
  <b-form class="chat-input d-flex align-items-start w-100 p-1" @submit.prevent="send">
    <a href="#" class="attachments px-2 py-1 btn btn-link" @click.prevent="openUploader">
      <paperclip-icon size="1.5x" />
    </a>

    <b-form-textarea
      v-model="message"
      :disabled="!enabled || uploading"
      class="flex-grow-1 overflow-auto p-2"
      :placeholder="inputPlaceholder"
      :max-rows="8"
      no-resize
      @keyup.native="userTyping"
      @keydown.enter.exact.prevent
      @keyup.enter.exact="send"
    />

    <input
      ref="attachments"
      type="file"
      class="d-none"
      name="files"
      :disabled="!enabled || uploading"
      multiple
      @change="uploadFiles($event.target.files)"
    >

    <button type="submit" class="btn btn-round submit m-0 ml-2 mr-1" :disabled="!enabled || uploading">
      {{ $t('chat.send') }}
    </button>
  </b-form>
</template>

<script>
import { PaperclipIcon } from 'vue-feather-icons'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChatInput',
  components: {
    PaperclipIcon
  },
  mixins: [AxiosErrorHandler],
  props: {
    application: {
      type: Object,
      required: true
    },
    enabled: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      message: '',
      uploading: false,
      errors: [],
      fileUrls: [],
      maxSize: 10485760,
      timeout: null,
      uploadPercentage: 0,
      attachments: []
    }
  },
  computed: {
    inputPlaceholder () {
      if (this.uploading) {
        return `${this.uploadPercentage}% uploading...`
      }
      return this.$t('chat.input_placeholder')
    },

    /**
     * Check if message has multiple lines
     * @return {RegExpExecArray & {groups: {}}}
     */
    hasNewline () {
      // noinspection JSValidateTypes,RegExpSingleCharAlternation
      return /\r|\n/.exec(this.message)
    },

    currentUser () {
      return this.$store.getters['user/getCurrentUser']
    },

    currentRoleName () {
      return this.$store.getters['user/getActiveRoleTypeName']
    }
  },
  methods: {
    /**
     * Send message
     */
    async send () {
      if (this.message || this.attachments.length) {
        const messageData = {
          id: (Math.random() + 1).toString(36).substring(7), // generate random string for key purposes
          applicationId: this.application.id,
          text: this.message || '',
          read: false,
          senderId: this.currentUser.id,
          role: this.currentRoleName,
          attachments: this.attachments,
          sending: true,
          error: null,
          createdAt: new Date().toISOString()
        }
        await this.$store.dispatch('chat/sendMessage', messageData)
        this.message = null
        this.attachments = []
        this.$emit('created')
      }
    },

    /**
     * User is typing
     */
    userTyping (e) {
      if (e.key !== 'Enter') {
        const userName = this.$store.getters['user/getUserName']
        this.$socket.emit('startedTyping', {
          applicationId: this.application.id,
          userName
        })
        if (this.timeout) {
          clearTimeout(this.timeout)
        }
        this.timeout = setTimeout(() => {
          this.$socket.emit('stoppedTyping', {
            applicationId: this.application.id,
            userName
          })
        }, 2000)
      }
    },

    /**
     * Open native uploading dialog
     */
    openUploader (e) {
      e.preventDefault()
      if (this.enabled) {
        this.$refs.attachments.click()
      }
    },

    /**
     * Upload attachments
     * @param {Object[]} files
     * @return {Promise<void>}
     */
    async uploadFiles (files) {
      const { maxSize } = this

      if (files.length) {
        this.uploading = true
        this.errors = []
        try {
          const formData = new FormData()

          Array.from(files)
            .forEach((f) => {
              if (f.size > maxSize) {
                // check whether the size is greater than the size limit
                this.errors.push(`Selected image ${f.name} is too big.`)
              } else {
                formData.append('files', f)
              }
            })

          // submit file to api
          if (formData.getAll('files') && formData.getAll('files').length) {
            const response = await this.$axios.post('/files/multiple', formData, {
              headers: { 'content-type': 'multipart/form-data' },
              onUploadProgress: (progressEvent) => {
                const percentage = (progressEvent.loaded / progressEvent.total) * 100
                this.uploadPercentage = Math.round(percentage)
              }
            })

            this.attachments = response.data.data
            await this.send()
          }

          this.uploading = false
          this.uploadPercentage = 0

          // reset value of attachment input field
          this.$refs.attachments.value = null

          if (this.errors.length) {
            await this.$store.dispatch('ui/showNotification', {
              type: 'danger',
              text: this.errors.join(' ')
            })
          }
        } catch (err) {
          this.uploading = false
          this.uploadPercentage = 0

          await this.handleError(err)
        }
      }
    }
  }
}
</script>
