<template>
  <div>
    <div v-if="!deleted" class="attachment">
      <chat-attachment-image
        v-if="isImage"
        :attachment="attachment"
        :owner="owner"
        @delete="deleteAttachment"
      />
      <chat-attachment-file
        v-if="!isImage"
        :attachment="attachment"
        :owner="owner"
        @delete="deleteAttachment"
      />
    </div>
    <div v-if="deleted">
      <i>{{ $t('chat.attachment_deleted') }}</i>
    </div>
  </div>
</template>

<script>
import ChatAttachmentFile from '@/components/tasks/chat/ChatAttachmentFile'
import ChatAttachmentImage from '@/components/tasks/chat/ChatAttachmentImage'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

const imageTypes = [
  'image/gif',
  'image/jpeg',
  'image/png',
  'image/bmp',
  'image/tiff'
]

/* const typeMappings = {
  'text/csv': 'csv',
  'text/css': 'css',
  'application/msword': 'doc',
  'application/vnd.openxmlformats-officedocument.wordprocessingml.document': 'doc',
  'text/html': 'html',
  'application/pdf': 'pdf',
  'image/vnd.adobe.photoshop': 'psd',
  'application/vnd.openxmlformats-officedocument.presentationml.presentation': 'ppt',
  'application/vnd.ms-powerpoint': 'ppt',
  'image/svg+xml': 'svg',
  'text/plain': 'txt',
  'application/vnd.ms-excel': 'xls',
  'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet': 'xls',
  'application/zip': 'zip',
  'application/x-rar-compressed': 'zip',
}; */

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChatAttachment',
  components: {
    ChatAttachmentFile,
    ChatAttachmentImage
  },
  mixins: [AxiosErrorHandler],
  props: {
    attachment: {
      type: Object,
      required: true
    },
    message: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      loading: false,
      deleted: false
    }
  },
  computed: {
    /**
     * Is current attachment image or file
     */
    isImage () {
      return imageTypes.includes(this.attachment.type)
    },

    /**
     * Is user owner of attachment
     * @return {boolean}
     */
    owner () {
      return this.attachment.uploadedBy === this.$auth.user.id
    }
  },
  methods: {
    /**
     * Delete attachment
     * @return {Promise<void>}
     */
    async deleteAttachment () {
      if (this.owner) {
        try {
          await this.$axios.delete(`/files/${this.attachment.id}`)
          this.deleted = true
          this.$emit('delete', this.attachment)
        } catch (err) {
          await this.handleError(err)
        }
      }
    }
  }
}
</script>
