<template>
  <div>
    <div class="image-info d-flex align-items-center justify-content-between">
      <div>{{ attachment.fileName }}</div>
      <chat-attachment-options v-if="owner" :attachment="attachment" @delete="$emit('delete', attachment)" />
    </div>
    <a href="#" class="image-attachment" @click.prevent="open">
      <image-display
        :options="thumbnailOptions"
        :file="attachment"
        class="thumbnail img-fluid"
        :alt="alt"
      />
    </a>
    <b-modal v-model="modalShow" :hide-footer="true" :title="attachment.fileName">
      <div class="d-flex justify-content-center">
        <image-display
          :file="attachment"
          class="img-fluid"
          :alt="alt"
        />
      </div>
    </b-modal>
  </div>
</template>

<script>
import ChatAttachmentOptions from '@/components/tasks/chat/ChatAttachmentOptions'
import ImageDisplay from '../../ui/ImageDisplay.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChatAttachmentImage',
  components: {
    ChatAttachmentOptions,
    ImageDisplay
  },
  props: {
    attachment: {
      type: Object,
      required: true
    },
    owner: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      modalShow: false,
      thumbnailOptions: {
        resize: {
          width: 400
        }
      }
    }
  },
  computed: {
    /**
     * Create alt text for image
     */
    alt () {
      return `${this.attachment.fileName}`
    }
  },
  methods: {
    open () {
      this.modalShow = !this.modalShow
    }
  }
}
</script>
