<template>
  <avatar-display :avatar="avatar" user-name="Avatar" :options="avatarOptions" />
</template>

<script>
import AvatarDisplay from '../../ui/AvatarDisplay.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChatAvatar',
  components: { AvatarDisplay },
  props: {
    sender: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 40,
          height: 40
        }
      }
    }
  },
  computed: {
    avatar () {
      return this.sender ? this.sender.avatar : null
    }
  }
}
</script>
