<template>
  <div v-if="showMessage" class="mb-3">
    <div class="chat-message d-flex align-items-start">
      <nuxt-link v-if="senderActive" :to="senderUrl">
        <chat-avatar :sender="senderProfile" />
      </nuxt-link>
      <span v-else>
        <chat-avatar :sender="senderProfile" />
      </span>
      <div class="flex-grow-1">
        <div class="d-flex align-items-center">
          <div class="name">
            <nuxt-link v-if="senderActive" :to="senderUrl">
              {{ senderName }}
            </nuxt-link>
            <span v-if="!senderActive" class="text-muted d-flex align-items-center">
              {{ senderName }}
              <b-badge variant="warning" class="ml-2">
                {{ $t('chat.inactive') }}
              </b-badge>
            </span>
          </div>
          <div class="date">
            {{ createdAt }}
          </div>

          <div v-if="ownMessage" class="message-icons ml-1">
            <font-awesome-icon v-if="sent" :icon="checkIcon" fixed-width :title="$t('chat.sent')" class="text-muted" />
            <font-awesome-icon
              v-if="read"
              :icon="doubleCheckIcon"
              fixed-width
              :title="$t('chat.read')"
              class="text-muted"
            />
            <font-awesome-icon
              v-if="hasError"
              :icon="errorIcon"
              class="text-danger"
              :title="$t('chat.error')"
              fixed-width
            />
            <template v-if="hasError">
              <small class="text-danger">
                {{ $t('chat.notSent') }}
              </small>
            </template>
          </div>
        </div>
        <div class="message pr-2">
          <span v-if="message.text"><pre>{{ message.text }}</pre></span>

          <template v-if="hasAttachments">
            <ul class="list-unstyled m-0">
              <li
                v-for="attachment in message.attachments"
                :key="attachment.id"
                class="list-inline-item"
              >
                <chat-attachment
                  :attachment="attachment"
                  :message="message"
                  @delete="attachmentDeleted"
                />
              </li>
            </ul>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { faExclamationTriangle, faCheck, faCheckDouble } from '@fortawesome/free-solid-svg-icons'
import { get } from 'lodash'
import ChatAttachment from '@/components/tasks/chat/ChatAttachment'
import ChatAvatar from '@/components/tasks/chat/ChatAvatar'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ChatMessage',
  components: {
    ChatAvatar,
    ChatAttachment
  },
  props: {
    application: {
      type: Object,
      required: true
    },
    message: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Show message
     * @return {boolean}
     */
    showMessage () {
      return (this.message.text || this.hasAttachments)
    },

    /**
     * Is this current users message
     * @return {boolean}
     */
    ownMessage () {
      return this.message.senderId === this.$store.getters['user/getCurrentUser']?.id
    },

    /**
     * Sender profile
     * @return {Object}
     */
    senderProfile () {
      const { role } = this.message
      return get(this.application, role)
    },

    /**
     * Sender name
     * @return {string}
     */
    senderName () {
      return this.senderProfile?.name || ''
    },

    /**
     * Sender URL
     * @return {string}
     */
    senderUrl () {
      return this.localePath(`/${this.message.role}s/${this.senderProfile?.slug}/${this.senderProfile?.id}`)
    },

    /**
     * Is sender active
     * @return {false|*}
     */
    senderActive () {
      return !this.senderProfile?.deletedAt && this.senderProfile?.published && this.senderProfile?.confirmed
    },

    /**
     * Format sent date
     * @return {string}
     */
    createdAt () {
      return this.$moment(this.message.createdAt)
        .format('D.M.YYYY. HH:mm:ss')
    },

    /**
     * Does message have attachments
     * @return {boolean}
     */
    hasAttachments () {
      return !!this.message.attachments?.length
    },

    /**
     * Is message sent
     * @return {boolean}
     */
    sent () {
      return !this.message.sending && !this.message.error && !this.message.read
    },

    /**
     * Has error?
     * @return {*}
     */
    hasError () {
      return this.message.error
    },

    /**
     * Is message read
     * @return {boolean}
     */
    read () {
      return this.message.read
    },

    /**
     * Check icon
     * @return {IconDefinition}
     */
    checkIcon () {
      return faCheck
    },

    /**
     * Double check icon
     * @return {IconDefinition}
     */
    doubleCheckIcon () {
      return faCheckDouble
    },

    /**
     * Error icon
     * @return {IconDefinition}
     */
    errorIcon () {
      return faExclamationTriangle
    }
  },
  methods: {
    attachmentDeleted () {
      this.$emit('delete', this.message)
    }
  }
}
</script>
