<template>
  <div class="mb-3 pr-2">
    <a
      href="#"
      class="d-flex w-100 mb-2 d-flex align-items-center justify-content-between"
      @click.prevent="toggleVisibility"
    >
      <h5 :class="groupTitleClasses">{{ groupTitle }}</h5>
      <chevron-down-icon v-if="!visible" size="1x" />
      <chevron-up-icon v-if="visible" size="1x" />
    </a>
    <b-collapse v-model="visible">
      <thread
        v-for="thread in groupThreads"
        :key="thread.id"
        :thread="thread"
        role="client"
        @click="openThread"
      />
    </b-collapse>
  </div>
</template>

<script>
import { ChevronDownIcon, ChevronUpIcon } from 'vue-feather-icons'
import Thread from './Thread.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientGroupedThreadGroup',
  components: {
    Thread,
    ChevronDownIcon,
    ChevronUpIcon
  },
  props: {
    groupId: {
      type: Number,
      required: true
    },
    threads: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      visible: false
    }
  },
  computed: {
    groupThreads () {
      return this.threads.filter(t => t.taskId === this.groupId)
    },
    groupUnRead () {
      return !!this.groupThreads.find(t => t.messages?.length && t.messages[0].read === false)
    },
    groupTitle () {
      return this.groupThreads.length ? this.groupThreads[0].task.title : ''
    },
    groupTitleClasses () {
      const classes = ['mb-0']

      if (!this.groupUnRead) {
        classes.push('font-weight-normal')
      }

      return classes
    }
  },
  methods: {
    /**
     * Toggle thread group visibility
     */
    toggleVisibility () {
      this.visible = !this.visible
    },

    /**
     * Open thread for selected application
     * @param thread
     */
    openThread (thread) {
      this.$emit('click', thread)
    }
  }
}
</script>
