<template>
  <div class="pr-2">
    <thread
      v-for="thread in threads"
      :key="thread.id"
      :thread="thread"
      role="freelancer"
      @click="openThread"
    />
  </div>
</template>

<script>
import { applicationUrl } from '@/components/mixins/applicationUrl'
import Thread from '@/components/tasks/chat/Thread'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerThreads',
  components: { Thread },
  mixins: [applicationUrl],
  computed: {
    threads () {
      return this.$store.getters['chat/getSortedThreads']
    }
  },
  methods: {
    /**
     * Open thread for selected application
     * @param thread
     */
    async openThread (thread) {
      // redirect to page if not already there
      const path = this.generateApplicationUrl(thread)
      if (this.$route.path !== path) {
        await this.$router.push(this.localePath(path))
      }
    }
  }
}
</script>
