<template>
  <div v-if="feedback">
    <div v-if="feedback.freelancerRate" class="application-feedback">
      <div class="d-flex align-items-center mb-3">
        <span class="mr-2"><strong>{{ $t('feedback.freelancerTitle') }}:</strong></span>
        <star-rating :rating="feedback.freelancerRate" :read-only="true" :star-size="20" />
      </div>
      <p class="p-0">
        {{ feedback.freelancerFeedback }}
      </p>
    </div>
    <div v-else>
      <b-alert variant="warning" show>
        {{ $t('feedback.noFreelancerFeedback') }}
      </b-alert>
    </div>
    <hr>
    <div v-if="feedback.clientRate" class="application-feedback">
      <div class="d-flex align-items-center mb-3">
        <span class="mr-2"><strong>{{ $t('feedback.clientTitle') }}:</strong></span>
        <star-rating :rating="feedback.clientRate" :read-only="true" :star-size="20" />
      </div>
      <p class="p-0">
        {{ feedback.clientFeedback }}
      </p>
    </div>
    <div v-else>
      <b-alert variant="warning" show>
        {{ $t('feedback.noClientFeedback') }}
      </b-alert>
    </div>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ApplicationFeedback',
  props: {
    feedback: {
      type: Object,
      default: null
    }
  }
}
</script>
