<template>
  <b-alert variant="info" :show="display" class="text-center">
    <nuxt-link :to="localePath('/clients/trusted')">
      {{ $t('clients.becomeTrusted') }}
    </nuxt-link>
  </b-alert>
</template>

<script>
export default {
  name: 'BecomeTrusted',
  computed: {
    display () {
      return this.$store.getters['user/isClient'] && !this.$store.getters['user/getClient']?.trusted
    }
  }
}
</script>

<style scoped>

</style>
