<template>
  <div>
    <div class="d-flex align-items-center justify-content-between">
      <h3>
        <nuxt-link :to="localePath(`/tasks/${task.slug}/${task.id}`)">
          {{ task.title }}
        </nuxt-link>
      </h3>
      <div class="text-muted">
        {{ createdDate }}
      </div>
    </div>
    <p v-html="partialDescription" />

    <hr class="my-4">
  </div>
</template>

<script>
import htmlToText from 'html-to-text'
import { truncate } from 'lodash'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientTasksListItem',
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    createdDate () {
      return this.$moment(this.task.createdAt)
        .fromNow()
    },
    partialDescription () {
      const stripped = htmlToText.fromString(this.task.description, {
        wordwrap: 300
      })

      return truncate(stripped, {
        length: 300,
        separator: ' '
      })
    }
  }
}
</script>
