<template>
  <div class="client-feedback">
    <p>{{ feedback.freelancerFeedback }}</p>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <star-rating
          :rating="feedback.freelancerRate"
          :read-only="true"
          :star-size="15"
          :show-rating="false"
        />
        <bc-check-status check-type="clientFeedbacks" :feedback="feedback" class="ml-1" />
      </div>
      <div class="text-muted">
        {{ feedback.freelancer.name }} - {{ feedback.application.task.title }} -
        {{ createdDate }}
      </div>
    </div>
    <hr>
  </div>
</template>

<script>
import BcCheckStatus from '../common/BcCheckStatus.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  components: {
    BcCheckStatus
  },
  props: {
    feedback: {
      type: Object,
      required: true
    }
  },
  computed: {
    createdDate () {
      return this.$moment(this.feedback.createdAt).format('D.M.YYYY HH:mm')
    }
  }
}
</script>
