<template>
  <b-form @submit.prevent="save">
    <div class="row">
      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <image-uploader
          :label="$t('client_profile.image_label')"
          :title="$t('client_profile.image_title')"
          class="image-uploader-basic mb-5"
          :value="form.avatar"
          type="public"
          :options="avatarOptions"
          :validation="$v.form.avatar"
          :croppable="true"
          :modal-title="$t('client_profile.image_resize_title')"
          :min-width="320"
          :min-height="320"
          @input="avatarAdded"
          @remove="avatarRemoved"
        />
      </div>
      <div class="col-12 col-lg-8">
        <h1 class="d-none d-lg-block mb-3">
          {{ $t('client_profile.basic_info_title') }}
        </h1>
        <b-alert show="" variant="info" class="mb-3">
          {{ $t('tasks.form.info') }}
        </b-alert>
        <input-group
          v-model="form.name"
          name="name"
          class="mb-3"
          :disabled="nameInputDisabled"
          :placeholder="$t('client_profile.name')"
          :label="$t('client_profile.name')"
          :validation="$v.form.name"
        />

        <div class="row">
          <div class="col-12 col-xl-6">
            <input-group
              v-model="form.location"
              name="location"
              class="mb-3"
              :placeholder="$t('client_profile.location')"
              :label="$t('client_profile.location')"
              :validation="$v.form.location"
            />
          </div>
          <div class="col-12 col-xl-6">
            <country-selector
              v-model="form.countryId"
              name="country"
              class="mb-3"
              :placeholder="$t('client_profile.country')"
              :label="$t('client_profile.country')"
              :validation="$v.form.countryId"
            />
          </div>
        </div>

        <wysiwyg-textarea-group
          v-model="form.about"
          class="mb-4"
          :label="$t('client_profile.bio')"
          :validation="$v.form.about"
        />

        <div
          class="pt-5 d-flex flex-column flex-lg-row
        justify-content-center justify-content-lg-end
        align-items-center"
        >
          <b-button type="submit" variant="primary" class="btn-round" :disabled="saving">
            <template v-if="!saving">
              {{ $t('client_profile.button_label') }}
            </template>
            <template v-if="saving">
              {{ $t('client_profile.button_loading') }}
            </template>
          </b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import WysiwygTextareaGroup from '@/components/form/WysiwygTextareaGroup'
import InputGroup from '@/components/form/InputGroup'
import ImageUploader from '@/components/form/ImageUploader'
import richTextMinCharacters from '@/validations/richTextMinCharacters'
import richTextMaxCharacters from '@/validations/richTextMaxCharacters'
import CountrySelector from '@/components/form/CountrySelector'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientBasicInfoForm',
  components: {
    WysiwygTextareaGroup,
    InputGroup,
    ImageUploader,
    CountrySelector
  },
  mixins: [AxiosErrorHandler],
  props: {
    client: {
      type: Object,
      default () {
        return {}
      }
    },
    redirectAfterSave: {
      type: Boolean,
      default: false
    },
    caller: {
      type: String,
      default: 'create'
    }
  },
  validations () {
    const v = { form: {} }

    if (!this.nameInputDisabled) {
      v.form.name = {
        required,
        maxLength: maxLength(50)
      }
    }

    v.form.location = { maxLength: maxLength(40) }
    v.form.about = {
      required,
      richTextMinCharacters: richTextMinCharacters(50),
      richTextMaxCharacters: richTextMaxCharacters(5000)
    }

    v.form.avatar = { required }

    return v
  },
  data () {
    return {
      form: {
        name: null,
        location: null,
        about: null,
        avatar: null,
        countryId: null
      },
      saving: false,
      avatarOptions: {
        resize: {
          width: 240,
          height: 240
        }
      }
    }
  },
  computed: {
    nameInputDisabled () {
      return !!(this.client?.published && this.client?.name)
    }
  },
  watch: {
    client (n) {
      if (n && n.id) {
        this.form = Object.assign({}, this.form, n)
      }
    }
  },
  mounted () {
    if (this.client) {
      this.form = Object.assign({}, this.form, this.client)
    }
  },
  methods: {
    async save () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saving = true

        try {
          await this.$store.dispatch('user/updateClientBasicInfo', {
            data: this.form,
            caller: this.caller
          })

          this.saving = false
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('client_profile.success_notification')
          })
          if (this.redirectAfterSave) {
            await this.$router.replace(this.localePath('/create-task'))
          }
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      }
    },

    avatarAdded (data) {
      this.form.avatar = data
    },

    avatarRemoved () {
      this.form.avatar = null
    }
  }
}
</script>
