<template>
  <div class="d-flex align-items-center">
    <h1 class="m-0">
      {{ name }}
    </h1>
    <client-trusted v-if="displayTrusted" class="ml-3" />
    <bc-check-status v-if="client" check-type="client" :client="client" class="ml-3" />
  </div>
</template>

<script>
import BcCheckStatus from '@/components/common/BcCheckStatus'
import ClientTrusted from '@/components/client/ClientTrusted'

export default {
  name: 'ClientName',
  components: {
    ClientTrusted,
    BcCheckStatus
  },
  props: {
    client: {
      type: Object,
      required: true
    }
  },
  computed: {
    displayTrusted () {
      return this.client?.trusted
    },
    name () {
      return this.client?.name
    }
  }
}
</script>

<style scoped>

</style>
