<template>
  <div>
    <lazy-loader :visible="loading" />
    <template v-for="(f, i) in validFeedbacks">
      <client-feedback :key="i" :feedback="f" />
    </template>

    <no-results v-if="!validFeedbacks.length" :text="$t('client_profile.no_feedbacks')" />
  </div>
</template>

<script>
import NoResults from '@/components/client/NoResults'
import LazyLoader from '@/components/ui/LazyLoader'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientFeedbacks',
  components: {
    NoResults,
    LazyLoader
  },
  props: {
    clientId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      feedbacks: [],
      loading: false
    }
  },
  async fetch () {
    this.loading = true
    const res = await this.$axios.get(`/clients/${this.clientId}/feedbacks`)
    this.feedbacks = res.data.data
    this.loading = false
  },
  computed: {
    validFeedbacks () {
      return this.feedbacks.filter(f => f.freelancerFeedback)
    }
  }
}
</script>
