<template>
  <div>
    <paper class="mb-5">
      <div class="row profile-preview">
        <div class="col-12 col-lg-4">
          <div class="d-flex flex-column align-items-center">
            <avatar-display
              class="mb-4"
              :avatar="avatar"
              :user-name="name"
              :color="color"
              :options="avatarOptions"
            />

            <client-rate :client-id="id" />
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <client-name :client="profile" class="justify-content-center justify-content-lg-start mb-2" />
          <h6 class="mb-4 font-weight-normal text-center text-lg-left">
            {{ location }}
          </h6>
          <div class="mb-4 lead" v-html="about" />
        </div>
      </div>
    </paper>

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <b-tabs content-class="py-4">
          <b-tab :title="$t('client_profile.published_tasks')" active>
            <client-tasks-list :client-id="id" />
          </b-tab>
          <b-tab :title="$t('client_profile.feedbacks')">
            <client-feedbacks :client-id="id" />
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import ClientRate from '@/components/client/ClientRate'
import ClientTasksList from '@/components/client/ClientTasksList'
import ClientFeedbacks from '@/components/client/ClientFeedbacks'
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import Paper from '@/components/ui/Paper'
import SeoMethods from '@/mixins/SeoMethods'
import ClientName from '@/components/client/ClientName'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientProfilePreview',
  components: {
    ClientName,
    ClientRate,
    ClientTasksList,
    ClientFeedbacks,
    AvatarDisplay,
    Paper
  },
  mixins: [SeoMethods],
  props: {
    profile: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 240,
          height: 240
        }
      }
    }
  },
  head () {
    return this.buildTags(this.profile?.name, this.profile?.about, this.profile?.avatar)
  },
  computed: {
    location () {
      const l = []

      if (this.profile?.location) {
        l.push(this.profile.location)
      }

      if (this.profile?.countryId) {
        const countries = this.$store.state.util.countries
        const country = countries.find(c => c.id === this.profile.countryId)

        if (country) {
          l.push(country.name)
        }
      }

      return l.join(', ')
    },

    /**
     * return profile ID
     * @return {Number}
     */
    id () {
      return this.profile?.id
    },

    about () {
      return this.profile?.about
    },

    avatar () {
      return this.profile?.avatar
    },

    name () {
      return this.profile?.name
    },

    color () {
      return this.profile?.color
    },

    trusted () {
      return this.profile?.trusted
    }
  }
}
</script>
