<template>
  <ribbon v-b-tooltip.hover class="client-trusted" :title="$t('clients.trustedTooltip')" />
</template>

<script>
import Ribbon from '@/components/ui/Ribbon'

export default {
  name: 'ClientTrusted',
  components: { Ribbon }
}
</script>

<style scoped>

</style>
