<template>
  <div>
    <b-button
      v-if="buttonVisible"
      variant="secondary"
      block
      class="btn-info--grey btn-round mt-3"
      @click="close"
    >
      {{ $t('tasks.details.close_button') }}
    </b-button>
  </div>
</template>

<script>
import { taskStatuses } from 'ct-constants'

export default {
  name: 'CloseTaskButton',
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Set button visibility depending on task status
     * If task is created or opened make button visible
     * @returns {boolean}
     */
    buttonVisible () {
      return [taskStatuses.CREATED, taskStatuses.ACCEPTING].includes(this.task.status)
    }
  },
  methods: {
    close () {
      this.$emit('close')
    }
  }
}
</script>
