<template>
  <div class="freelancer-search-item d-flex align-items-start p-2" :class="[visibilityBoostedStyle]">
    <nuxt-link :to="localePath(`/freelancers/${freelancer.slug}/${id}`)">
      <avatar-display
        :avatar="freelancer.avatar"
        :user-name="fullName"
        :options="avatarOptions"
        class="mr-3 mr-lg-4"
      />
    </nuxt-link>
    <div>
      <h2 class="mb-1 font-16-sm">
        <nuxt-link :to="localePath(`/freelancers/${freelancer.slug}/${id}`)">
          {{ fullName }}
        </nuxt-link>
      </h2>
      <div class="font-14-sm">
        <occupation-location :profile="freelancer" />
      </div>

      <task-tags :tag-ids="skills" class="m-0" />
    </div>
  </div>
</template>

<script>
import OccupationLocation from '@/components/freelancer/OccupationLocation'
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import TaskTags from '~/components/tasks/TaskTags'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancersSearchItem',
  components: {
    AvatarDisplay,
    OccupationLocation,
    TaskTags
  },
  props: {
    freelancer: {
      type: Object,
      required: true
    },
    id: {
      // eslint-disable-next-line
      type: Number | String,
      default: null
    },
    /**
     * Array of skill IDs
     */
    skills: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 100,
          height: 100
        },
        rotate: null
      }
    }
  },
  computed: {
    fullName () {
      return `${this.freelancer.firstName} ${this.freelancer.lastName}` || ''
    },

    visibilityBoostedStyle () {
      return this.freelancer.visibility > 0 ? 'visibility-boosted' : ''
    }
  }
}
</script>
