<template>
  <div class="freelancers">
    <freelancers-search-item
      v-for="f in freelancers"
      :id="f._id"
      :key="f.id"
      class="mb-4"
      :freelancer="f._source"
      :skills="f._source.skills"
    />
  </div>
</template>

<script>
import FreelancersSearchItem from './FreelancersSearchItem.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancersSearchList',
  components: { FreelancersSearchItem },
  props: {
    freelancers: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>
