<template>
  <div class="row">
    <div class="col-12 col-lg-3 order-lg-1 pt-lg-5">
      <client-only>
        <freelancers-search-heading
          :disabled="loading"
          class="mb-5"
          @search="runSearch"
        />
      </client-only>
    </div>
    <div class="col-12 col-lg-7 order-lg-0 pt-lg-5">
      <b-overlay :show="loading">
        <freelancers-search-list :freelancers="freelancers" />

        <b-pagination-nav
          v-if="!loading"
          :link-gen="linkGen"
          :number-of-pages="numberOfPages"
          use-router
          align="center"
          :value="page"
          :no-page-detect="true"
          @change="changePage"
        />

        <div v-if="!freelancers.length && !loading" class="h1 mb-4">
          {{ $t('freelancers_search.nothing') }}
        </div>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import FreelancersSearchHeading from '@/components/client/FreelancersSearchHeading'
import FreelancersSearchList from '@/components/client/FreelancersSearchList'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancersSearch',
  components: {
    FreelancersSearchHeading,
    FreelancersSearchList
  },
  data () {
    return {
      loading: false
    }
  },
  async fetch () {
    await this.runSearch()
  },
  computed: {
    ...mapState('freelancers', {
      freelancers: 'freelancers',
      page: 'page'
    }),
    language () {
      return this.$store.state.i18n.locale
    },
    numberOfPages () {
      return this.$store.getters['freelancers/numberOfPages']
    }
  },
  watch: {
    language () {
      this.runSearch()
    }
  },
  methods: {
    linkGen (pageNum) {
      return `?page=${pageNum}`
    },
    async runSearch () {
      try {
        this.loading = true
        await this.$store.dispatch('freelancers/getFreelancers')
        this.loading = false
      } catch (err) {
        this.loading = false
        await this.$store.dispatch('ui/showNotification', {
          text: this.$t('common.error'),
          type: 'danger'
        })
      }
    },
    async changePage (e) {
      await this.$store.dispatch('freelancers/setPage', e)
      await this.runSearch()
      if (process.browser) {
        window.scrollTo(0, 0)
      }
    }
  }
}
</script>
