<template>
  <b-modal
    ref="invitation-modal"
    size="xl"
    :hide-footer="true"
    header-class="pt-4"
  >
    <template #modal-header-close>
      <x-icon size="1.5x" />
    </template>
    <template #modal-title>
      <div class="text-uppercase pl-lg-7">
        {{ $t('freelancers.invitation_title') }}
      </div>
    </template>
    <div class="px-lg-7 pb-5">
      <div v-if="step === tabs.INVITATION">
        <invite-to-job-form :freelancer="freelancer" @invited="routeContent" />
      </div>
      <div v-if="step === tabs.ADDRESS">
        <p>{{ $t('agent.tasks.payoutAddressModalText') }}</p>
        <agent-payout-address-form :task="selectedTask" @saved="hideModal" />
      </div>
    </div>
  </b-modal>
</template>

<script>
import { XIcon } from 'vue-feather-icons'
import InviteToJobForm from '@/components/client/InviteToJobForm'
import { escrowStatuses } from 'ct-constants'
import AgentPayoutAddressForm from '@/components/agents/AgentPayoutAddressForm'

const INVITATION_TAB = 'invitation'
const ADDRESS_TAB = 'address'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'InviteToJobModal',
  components: {
    AgentPayoutAddressForm,
    InviteToJobForm,
    XIcon
  },
  props: {
    freelancer: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      step: INVITATION_TAB,
      selectedTask: null,
      tabs: {
        INVITATION: INVITATION_TAB,
        ADDRESS: ADDRESS_TAB
      }
    }
  },
  computed: {
    isAgent () {
      return this.$store.getters['user/isAgent']
    }
  },
  destroyed () {
    this.step = INVITATION_TAB
  },
  methods: {
    showModal () {
      this.$refs['invitation-modal'].show()
    },
    hideModal () {
      this.$refs['invitation-modal'].hide()
    },

    /**
     * Check if payout address form need to be displayed
     * @param {Object} selectedTask
     */
    routeContent (selectedTask) {
      if (this.isAgent && !selectedTask?.agentCryptoPayoutAddress && selectedTask?.escrowStatus === escrowStatuses.ESCROW_SET) {
        this.selectedTask = selectedTask
        this.step = ADDRESS_TAB
      } else {
        this.step = INVITATION_TAB
        this.hideModal()
      }
    }
  }
}
</script>
