<template>
  <div class="text-center p-4 text-muted">
    <h4>{{ text }}</h4>
    <slot />
  </div>
</template>
<script>
export default {
  props: {
    text: {
      type: String,
      default: ''
    }
  }
}
</script>
