<template>
  <div>
    <b-button
      v-if="buttonVisible"
      variant="primary"
      block
      class="btn-round mt-3"
      :disabled="disabled"
      @click="reopen"
    >
      {{ $t('tasks.details.reopen_button') }}
    </b-button>
  </div>
</template>

<script>
import { taskStatuses } from 'ct-constants'

export default {
  name: 'ReopenTaskButton',
  props: {
    task: {
      type: Object,
      required: true
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    buttonVisible () {
      return this.task.status === taskStatuses.FILLED
    }
  },
  methods: {
    reopen () {
      this.$emit('reopen')
    }
  }
}
</script>
