<template>
  <div>
    <paper>
      <client-basic-info-form :client="client" :redirect-after-save="false" caller="update" />
    </paper>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import ClientBasicInfoForm from '@/components/client/ClientBasicInfoForm'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'UpdateClient',
  components: {
    Paper,
    ClientBasicInfoForm
  },
  computed: {
    client () {
      return this.$store.getters['user/getClient']
    }
  }
}
</script>
