<template>
  <div>
    <div v-if="task" class="row">
      <div class="col-12">
        <b-alert variant="warning" :show="!!createdSubscriptions.length">
          {{ $t('tasks.alreadyCreatedAlert') }}
        </b-alert>
        <b-alert variant="warning" :show="!!inPaymentSubscriptions.length">
          {{ $t('tasks.alreadyInPaymentAlert') }}
        </b-alert>
        <b-alert variant="warning" :show="!!activeSubscriptions.length">
          {{ $t('tasks.alreadySubscribedAlert') }}
        </b-alert>
        <b-alert variant="warning" :show="!taskAcceptingApplications">
          {{ $t('tasks.notAcceptingAlert') }}
        </b-alert>
        <h2>
          {{ $t('subscriptions.tasks.basic.title') }}
        </h2>
        <p>
          {{ $t('subscriptions.tasks.basic.text') }}
        </p>

        <table class="table subscription-table my-5">
          <thead>
            <tr>
              <th class="w-50" />
              <th class="text-center w-25">
                {{ $t('subscriptions.tasks.basic.tableHeadBasic') }}
              </th>
              <th class="text-center bg-success w-25">
                {{ $t('subscriptions.tasks.basic.tableHeadPackage') }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ $t('subscriptions.tasks.basic.tableTextPinned') }}</td>
              <td class="text-center">
                <font-awesome-icon :icon="crossIcon" />
              </td>
              <td class="text-center bg-success">
                <font-awesome-icon :icon="checkIcon" />
              </td>
            </tr>
            <tr>
              <td>{{ $t('subscriptions.tasks.basic.tableTextFeatured') }}</td>
              <td class="text-center">
                <font-awesome-icon :icon="crossIcon" />
              </td>
              <td class="text-center bg-success">
                <font-awesome-icon :icon="checkIcon" />
              </td>
            </tr>
            <tr>
              <td>{{ $t('subscriptions.tasks.basic.tableTextMatching') }}</td>
              <td class="text-center">
                100
              </td>
              <td class="text-center bg-success">
                500
              </td>
            </tr>
            <tr>
              <td>{{ $t('subscriptions.tasks.basic.tableTextInvite') }}</td>
              <td class="text-center">
                5
              </td>
              <td class="text-center bg-success">
                30
              </td>
            </tr>
          </tbody>
        </table>

        <subscription-form
          :disabled="!enabled"
          :options="{taskId: task.id}"
          :subscription-package="taskPackage"
          @created="handleCreatedSubscription"
          @paid="handlePaidSubscription"
          @closed="handlePaidSubscriptionClosed"
        >
          <template #buttons>
            <template v-if="canSkip">
              <b-button variant="link" @click.prevent="skip">
                {{ $t('common.skip') }}
              </b-button>
            </template>
          </template>
        </subscription-form>
      </div>
    </div>
  </div>
</template>

<script>
import SubscriptionForm from '@/components/subscriptions/SubscriptionForm'
import { packageNames, subscriptionStatuses, taskStatuses } from 'ct-constants'
import { faCheck, faTimes } from '@fortawesome/free-solid-svg-icons'
import SubscriptionFormMixin from '@/mixins/SubscriptionForm'

export default {
  name: 'BasicTaskSubscriptionForm',
  components: { SubscriptionForm },
  mixins: [SubscriptionFormMixin],
  props: {
    task: {
      type: Object,
      required: true
    },
    subscriptions: {
      type: Array,
      default () {
        return []
      }
    },
    canSkip: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    /**
     * Get all subscriptions in Created status
     */
    createdSubscriptions () {
      return this.subscriptions.filter(s => subscriptionStatuses.CREATED === s.status)
    },

    /**
     * Get all subscriptions in Payment status
     */
    inPaymentSubscriptions () {
      return this.subscriptions.filter(s => subscriptionStatuses.PAYMENT === s.status)
    },

    /**
     * Get all subscriptions in Active status
     */
    activeSubscriptions () {
      return this.subscriptions.filter(s => subscriptionStatuses.ACTIVE === s.status)
    },

    /**
     * Is task accepting applications
     * @returns {boolean}
     */
    taskAcceptingApplications () {
      return [taskStatuses.CREATED, taskStatuses.ACCEPTING].includes(this.task.status)
    },

    /**
     * Does task already have enabled subscriptions
     * @returns {boolean}
     */
    hasEnabledSubscriptions () {
      return this.createdSubscriptions.length || this.inPaymentSubscriptions.length || this.activeSubscriptions.length
    },

    /**
     * Check if subscription can be added based on task status and number of enabled subscriptions
     * @returns {boolean}
     */
    enabled () {
      return this.taskAcceptingApplications && !this.hasEnabledSubscriptions
    },

    /**
     * Get package used on this component
     * @returns {*}
     */
    taskPackage () {
      return this.$store.getters['subscriptions/getTaskPackages'].find(p => p.name === packageNames.BASIC_TASK)
    },

    /**
     * Check icon
     * @returns {IconDefinition}
     */
    checkIcon () {
      return faCheck
    },

    /**
     * Cross icon
     * @returns {IconDefinition}
     */
    crossIcon () {
      return faTimes
    }
  },
  methods: {
    skip () {
      this.$emit('skip')
    }
  }
}
</script>

<style scoped>

</style>
