<template>
  <div>
    <div v-if="freelancer" class="row">
      <div class="col-12">
        <b-alert variant="warning" :show="subscribingDisabled">
          {{ $t('freelancers.alreadySubscribedAlert') }}
        </b-alert>
        <p>
          {{ $t('subscriptions.freelancerBasicText') }}
        </p>

        <subscription-form
          :options="{freelancerId: freelancer.id}"
          :subscription-package="freelancerPackage"
          :disabled="subscribingDisabled"
          @created="handleCreatedSubscription"
          @paid="handlePaidSubscription"
          @closed="handlePaidSubscriptionClosed"
        />
      </div>
    </div>
  </div>
</template>

<script>
import SubscriptionForm from '@/components/subscriptions/SubscriptionForm'
import { packageNames, subscriptionStatuses } from 'ct-constants'
import SubscriptionFormMixin from '@/mixins/SubscriptionForm'

export default {
  name: 'BasicFreelancerSubscriptionForm',
  components: { SubscriptionForm },
  mixins: [SubscriptionFormMixin],
  props: {
    freelancer: {
      type: Object,
      required: true
    },
    subscriptions: {
      type: Array,
      default () {
        return []
      }
    }
  },
  computed: {
    /**
     * Get package used on this component
     * @returns {*}
     */
    freelancerPackage () {
      return this.$store.getters['subscriptions/getFreelancerPackages']
        .find(p => p.name === packageNames.BASIC_FREELANCER)
    },

    /**
     * Get all subscriptions in Created, Payment or Active status
     */
    enabledSubscriptions () {
      return this.subscriptions.filter(s => [subscriptionStatuses.CREATED, subscriptionStatuses.PAYMENT, subscriptionStatuses.ACTIVE].includes(s.status))
    },

    /**
     * Is subscribing disabled
     * @returns {boolean}
     */
    subscribingDisabled () {
      return !!this.enabledSubscriptions.length
    }
  }
}
</script>

<style scoped>

</style>
