<template>
  <div>
    <b-table
      :fields="fields"
      :items="subscriptions"
      :empty-text="$t('subscriptions.tableEmpty')"
      class="subscription-list"
      tbody-tr-class="cursor-pointer"
      show-empty
      @row-clicked="handleRowClick"
    >
      <template #head()="data">
        {{ $t('subscriptions.' + data.column) }}
      </template>
      <template #cell(createdAt)="data">
        {{ new Date(data.item.createdAt) | dateFormat('DD.MM.YYYY HH:mm:ss') }}
      </template>
      <template #cell(qty)="data">
        {{ data.item.qty }} {{ data.item.unit ? $t('subscriptions.' + data.item.unit) : '' }}
      </template>
      <template #cell(price)="data">
        <price :amount="data.item.price" :currency-id="data.item.currencyId" />
      </template>
      <template #cell(status)="data">
        <subscription-status-badge :status="data.item.status" />
      </template>
      <template #cell(title)="data">
        <subscription-list-title :subscription="data.item" />
      </template>
      <template #cell(actions)="data">
        <subscriptions-list-actions :subscription="data.item" @pay="handlePayClick" />
      </template>
    </b-table>
    <subscription-payment-modal
      ref="paymentModal"
      :subscription="selectedSubscription"
      @paid="handleSubscriptionPayment"
    />
  </div>
</template>

<script>
import Price from '@/components/ui/Price'
import SubscriptionStatusBadge from '@/components/subscriptions/SubscriptionStatusBadge'
import SubscriptionListTitle from '@/components/subscriptions/SubscriptionListTitle'
import SubscriptionsListActions from '~/components/subscriptions/SubscriptionsListActions'
import SubscriptionPaymentModal from '~/components/subscriptions/SubscriptionPaymentModal'

export default {
  name: 'SubscriptionsList',
  components: {
    SubscriptionPaymentModal,
    SubscriptionsListActions,
    SubscriptionListTitle,
    SubscriptionStatusBadge,
    Price
  },
  props: {
    subscriptions: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      fields: ['title', 'status', 'price', 'qty', 'createdAt', 'actions'],
      selectedSubscription: null
    }
  },
  methods: {
    handleRowClick (item) {
      this.$router.push(this.localePath(`/subscriptions/${item.id}`))
    },

    handlePayClick (subscription) {
      this.selectedSubscription = subscription
      this.$refs.paymentModal.openModal()
    },

    handleSubscriptionPayment () {
      this.$emit('paid')
    }
  }
}
</script>
