<template>
  <u>
    <router-link :to="localePath(`/subscriptions/${subscription.id}`)">
      {{ title }}
    </router-link>
  </u>
</template>

<script>
export default {
  name: 'SubscriptionListTitle',
  props: {
    subscription: {
      type: Object,
      required: true
    }
  },
  computed: {
    title () {
      return this.subscription.Package.title
    }
  }
}
</script>

<style scoped>

</style>
