<template>
  <b-badge :variant="variant">
    {{ label }}
  </b-badge>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SubscriptionStatusBadge',
  props: {
    status: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      statuses: {
        0: {
          label: this.$t('subscriptions.created'),
          variant: 'info'
        },
        1: {
          label: this.$t('subscriptions.payment'),
          variant: 'warning'
        },
        2: {
          label: this.$t('subscriptions.active'),
          variant: 'success'
        },
        3: {
          label: this.$t('subscriptions.expired'),
          variant: 'danger'
        },
        9: {
          label: this.$t('subscriptions.disabled'),
          variant: 'danger'
        }
      }
    }
  },
  computed: {
    s () {
      return this.statuses[this.status]
    },
    variant () {
      return this.s?.variant || 'info'
    },
    label () {
      return this.s?.label || 'N/A'
    }
  }
}
</script>

<style scoped>

</style>
