<template>
  <div>
    <b-button v-if="showPay" size="sm" class="btn-round" variant="primary" @click="handlePay">
      {{ $t('payments.pay') }}
    </b-button>
  </div>
</template>

<script>
import { subscriptionStatuses } from 'ct-constants'

export default {
  name: 'SubscriptionsListActions',
  props: {
    subscription: {
      type: Object,
      required: true
    }
  },
  computed: {
    showPay () {
      return this.subscription.status === subscriptionStatuses.CREATED
    }
  },
  methods: {
    handlePay () {
      this.$emit('pay', this.subscription)
    }
  }
}
</script>

<style scoped>

</style>
