<template>
  <div v-if="subscriptionPackage">
    <b-form class="create-subscription" @submit.prevent="save">
      <input-group
        v-if="unit"
        v-model="form.qty"
        name="duration"
        class="mb-3"
        type="number"
        min="0"
        :placeholder="$t('subscriptions.duration')"
        :label="$t('subscriptions.duration')"
        :disabled="!isLoggedIn || disabled"
        :validation="$v.form.qty"
        :description="$t('subscriptions.qtyHelp')"
      >
        <template #prepend>
          <span class="input-group-text">
            {{ $t(`subscriptions.${unit}`) }}
          </span>
        </template>
      </input-group>

      <input-group
        v-model="form.currencyId"
        name="currencyId"
        class="mb-3"
        :placeholder="$t('subscriptions.currency')"
        :label="$t('subscriptions.currency')"
        :options="currencies"
        :validation="$v.form.currencyId"
        :disabled="disabled"
      />

      <hr>
      <subscription-price :amount="price" :currency-id="form.currencyId" />
      <hr>

      <div class="d-flex align-items-center justify-content-end">
        <slot name="buttons" />
        <loading-button
          type="submit"
          variant="primary"
          class="btn-round"
          :disabled="disabled || !form.qty"
          :loading="saving"
          :label="$t('subscriptions.subscribe')"
          :loading-label="$t('subscriptions.subscribing')"
        />
      </div>
    </b-form>

    <subscription-payment-modal
      v-if="subscription"
      ref="paymentModal"
      :subscription="subscription"
      @paid="handleSubscriptionPayment"
      @closed="handleSubscriptionPaymentClose"
    />
  </div>
</template>

<script>
import { maxValue, minValue, required } from 'vuelidate/lib/validators'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import LoadingButton from '@/components/ui/LoadingButton'
import InputGroup from '@/components/form/InputGroup'
import SubscriptionPaymentModal from '@/components/subscriptions/SubscriptionPaymentModal'
import SubscriptionPrice from '@/components/subscriptions/SubscriptionPrice'

export default {
  name: 'SubscriptionForm',
  components: {
    SubscriptionPrice,
    SubscriptionPaymentModal,
    InputGroup,
    LoadingButton
  },
  mixins: [AxiosErrorHandler],
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    options: {
      type: Object,
      default () {
        return {}
      }
    },
    subscriptionPackage: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      saving: false,
      form: {
        qty: 1,
        currencyId: null
      },
      subscription: null
    }
  },
  computed: {
    /**
     * Get default currency
     * @returns {any}
     */
    defaultCurrency () {
      return this.$store.getters['util/getDefaultCurrency']
    },

    /**
     * Currencies list mapped for select input
     * @returns {[]}
     */
    currencies () {
      return this.$store.state.util.currencies.map(c => ({
        value: c.id,
        text: c.code
      }))
    },

    /**
     * Checks if current user is logged in
     */
    isLoggedIn () {
      return this.$auth.loggedIn
    },

    /**
     * Calculate price from package price and qty
     * @returns {number}
     */
    price () {
      const packagePrice = this.subscriptionPackage?.PackagePrices?.find(pp => pp.currencyId === this.form.currencyId)

      if (packagePrice) {
        return packagePrice.price * (parseInt(this.form.qty, 10) || 0)
      }

      return 0
    },

    /**
     * Get unit from package
     * @return {String}
     */
    unit () {
      return this.subscriptionPackage?.unit
    }
  },
  watch: {
    /**
     * Set default currency if not already set
     * @param nv
     */
    defaultCurrency (nv) {
      if (!this.form.currencyId && nv) {
        this.form.currencyId = nv.id
      }
    }
  },
  mounted () {
    if (!this.form.currencyId && this.defaultCurrency) {
      this.form.currencyId = this.defaultCurrency.id
    }
  },
  methods: {
    async save () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        const data = {
          ...this.form,
          options: this.options,
          packageId: this.subscriptionPackage.id
        }

        try {
          this.saving = true

          const res = await this.$axios.post('/subscriptions', data)
          this.subscription = res.data.data

          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('subscriptions.successSubscription'),
            expiry: 10000
          })

          // open payment modal
          this.$refs.paymentModal.openModal()

          // reset form qty
          this.$v.$reset()
          this.form.qty = 1

          this.saving = false
          this.$emit('created', this.subscription)
        } catch (err) {
          this.saving = false
          await this.handleError(err)
        }
      }
    },
    handleSubscriptionPayment (payment) {
      this.$emit('paid', {
        subscription: this.subscription,
        payment
      })
    },
    handleSubscriptionPaymentClose () {
      this.$emit('closed')
    }
  },
  validations () {
    const v = {
      form: {
        currencyId: {
          required
        }
      }
    }

    if (this.unit !== '') {
      v.form.qty = {
        required,
        minValue: minValue(3),
        maxValue: maxValue(365)
      }
    }

    return v
  }
}
</script>

<style scoped>

</style>
