<template>
  <div class="subscriptions-price d-flex align-items-center justify-content-between">
    <div>{{ $t('subscriptions.price') }}:</div>
    <price :amount="amount" :currency-id="currencyId" />
  </div>
</template>

<script>
import Price from '@/components/ui/Price'

export default {
  name: 'SubscriptionPrice',
  components: {
    Price
  },
  props: {
    amount: {
      type: [Number, String],
      default: 0
    },
    currencyId: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style scoped>

</style>
