<template>
  <div>
    <b-modal
      size="lg"
      :visible="showModal"
      :hide-footer="!payment"
      :ok-only="true"
      :title="$t('subscriptions.modalTitle')"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
      :ok-disabled="!subscription"
      @hidden="closeModal"
      @ok="closeModal"
    >
      <div v-if="subscription" class="position-relative">
        <b-overlay :show="paying">
          <template v-if="!payment">
            <subscription-price :amount="subscription.price" :currency-id="subscription.currencyId" />
            <hr>
          </template>
          <payment-processor
            :amount="subscription.price"
            :currency-id="subscription.currencyId"
            :payment="payment"
            @create="createPayment"
          />
        </b-overlay>
      </div>
    </b-modal>
  </div>
</template>

<script>
import PaymentProcessor from '@/components/payments/PaymentProcessor'
import SubscriptionPrice from '@/components/subscriptions/SubscriptionPrice'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

export default {
  name: 'SubscriptionPaymentModal',
  components: {
    SubscriptionPrice,
    PaymentProcessor
  },
  mixins: [AxiosErrorHandler],
  props: {
    subscription: {
      type: Object,
      default () {
        return null
      }
    }
  },
  data () {
    return {
      showModal: false,
      paying: false,
      payment: null
    }
  },
  methods: {
    closeModal () {
      this.showModal = false
      this.$emit('closed')
      this.payment = null
    },
    openModal () {
      this.showModal = true
      this.$emit('opened')
    },
    async createPayment ({
      method,
      meta
    }) {
      this.paying = true

      try {
        const res = await this.$axios.put(`/subscriptions/${this.subscription.id}/payment`, {
          paymentMethodId: method.id,
          meta
        })
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('payments.successfulPayment')
        })
        this.$emit('paid', res.data.data)
        this.payment = res.data.data
        this.paying = false
      } catch (err) {
        await this.handleError(err)
        this.paying = false
      }
    }
  }
}
</script>

<style scoped>

</style>
