<template>
  <div v-if="client" class="row">
    <div class="col-12">
      <h1 class="mb-3">
        {{ $t('subscriptions.trusted.formTitle') }}
      </h1>
      <b-alert variant="warning" :show="disabled">
        {{ $t('subscriptions.trusted.alreadyTrusted') }}
      </b-alert>
      <p>{{ $t('subscriptions.trusted.description') }}</p>
      <subscription-form
        :options="{clientId: client.id}"
        :subscription-package="trustedPackage"
        :disabled="disabled"
        @created="handleCreatedSubscription"
        @paid="handlePaidSubscription"
        @closed="handlePaidSubscriptionClosed"
      />
    </div>
  </div>
</template>

<script>
import SubscriptionForm from '@/components/subscriptions/SubscriptionForm'
import { packageNames } from 'ct-constants'
import SubscriptionFormMixin from '@/mixins/SubscriptionForm'

export default {
  name: 'TrustedClientSubscriptionForm',
  components: { SubscriptionForm },
  mixins: [SubscriptionFormMixin],
  props: {
    client: {
      type: Object,
      default () {
        return null
      }
    }
  },
  computed: {
    /**
     * Get package used on this component
     * @returns {Object}
     */
    trustedPackage () {
      return this.$store.getters['subscriptions/getClientPackages']
        .find(p => p.name === packageNames.TRUSTED_CLIENT)
    },

    /**
     * Is sub form disabled
     * @return {boolean}
     */
    disabled () {
      return this.client?.trusted
    }
  }
}
</script>

<style scoped>

</style>
