<template>
  <b-overlay :show="loadingApplications">
    <div v-if="application">
      <div class="row pt-4">
        <div class="col-12 col-lg-7">
          <div class="d-flex align-items-end mb-3 mb-lg-5">
            <nuxt-link :to="localePath(`/agents/tasks/${task.id}`)" class="pb-4 pr-3">
              <font-awesome-icon :icon="backIcon" size="lg" />
            </nuxt-link>
            <single-task-title :task="task" :subtitle="$t('applications.applicationFor')">
              <template #title>
                <application-status-badge :application="application" class="ml-3" />
              </template>
            </single-task-title>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="d-none d-lg-block col-lg-3 offset-lg-1 order-lg-2 pb-4">
          <application-details class="mb-3" :application="application" :task="task" />
          <task-details :task="task" />
          <required-skills class="skills p-4 m-2" :skills="skills" />
        </div>
        <div class="col-12 col-lg-7 order-lg-1">
          <b-tabs
            :value="selectedTab"
            class="application-freelancer-tabs"
            nav-class="align-items-center"
            @input="selectTab"
          >
            <application-freelancer-tab :freelancer="application.freelancer" />
          </b-tabs>
        </div>
      </div>
    </div>
  </b-overlay>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import { faChevronLeft } from '@fortawesome/free-solid-svg-icons'
import { invert } from 'lodash'
import SingleTaskTitle from '@/components/tasks/SingleTaskTitle'
import ApplicationStatusBadge from '@/components/tasks/ApplicationStatusBadge'
import ApplicationDetails from '@/components/applications/ApplicationDetails'
import TaskDetails from '@/components/tasks/TaskDetails'
import RequiredSkills from '@/components/tasks/RequiredSkills'
import ApplicationFreelancerTab from '@/components/tasks/clientTabs/ApplicationFreelancerTab'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'AgentApplicationPage',
  components: {
    ApplicationFreelancerTab,
    RequiredSkills,
    TaskDetails,
    ApplicationDetails,
    ApplicationStatusBadge,
    SingleTaskTitle
  },
  mixins: [AxiosErrorHandler, Pageview],
  data () {
    return {
      loadingTask: false,
      loadingApplications: false,
      tabMap: {
        freelancer: 0,
        payoutAddress: 1
      }
    }
  },
  async fetch () {
    await this.loadTask()
    await this.loadApplications()

    const appId = parseInt(this.$route.params.applicationId, 10)

    // select application
    this.$store.commit('clientApplications/selectApplication', appId)
    this.$store.commit('chat/setOpenedThread', appId)
  },
  computed: {
    /**
     * Get selected application
     * @returns {Object}
     */
    application () {
      return this.$store.getters['clientApplications/selectedApplication']
    },

    /**
     * Get selected task
     * @returns {Object}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    },

    /**
     * Extract skills
     * @returns {Object[]}
     */
    skills () {
      return this.task?.skills
    },

    /**
     * Back icon
     * @returns {IconDefinition}
     */
    backIcon () {
      return faChevronLeft
    },

    /**
     * Get tab index by tab ID
     * @returns {*|number}
     */
    selectedTab () {
      return this.$route.query.tab ? this.tabMap[this.$route.query.tab] : 0
    }
  },
  destroyed () {
    this.$store.commit('tasks/deselectTask')
    this.$store.commit('clientApplications/deselectTaskId')
    this.$store.commit('clientApplications/unselectApplication')
    this.$store.commit('chat/setOpenedThread', null)
  },
  methods: {
    async loadTask () {
      const id = parseInt(this.$route.params.id, 10)
      try {
        this.loadingTask = true
        await this.$store.dispatch('tasks/loadTask', id)
        this.$store.commit('tasks/setSelectedTask', id)
        await this.$store.dispatch('tasks/loadTaskApplicationsCount', id)
        this.loadingTask = false
      } catch (err) {
        this.loadingTask = false
        await this.handleError(err)
      }
    },

    /**
     * Load applications for task
     * @returns {Promise<void>}
     */
    async loadApplications () {
      try {
        this.loadingApplications = true
        await this.$store.dispatch('clientApplications/fetchApplications', parseInt(this.$route.params.id, 10))
        this.loadingApplications = false
      } catch (err) {
        this.loadingApplications = false
        await this.handleError(err)
      }
    },

    /**
     * Handle tab change
     * @param {Number} tabIndex
     */
    selectTab (tabIndex) {
      const tabId = invert(this.tabMap)[tabIndex]
      this.$router.push(this.localePath(`/agents/tasks/${this.task.id}/applications/${this.application.id}?tab=${tabId}`))
    }
  }
}
</script>

<style scoped>

</style>
