<template>
  <auth-container>
    <h1 class="h1-sm mb-4 text-center text-lg-left">
      {{ $t('newsletter.unsubscribe_title') }}
    </h1>
    <b-alert :show="!!error" variant="danger" class="mb-4">
      {{ $t('newsletter.unsubscribe_error') }}
    </b-alert>
    <b-alert :show="unsubscribed" variant="success" class="mb-4">
      {{ $t('newsletter.unsubscribed') }}
    </b-alert>
    <p class="mb-4">
      {{ $t('newsletter.unsubscribeConfirmationText') }}
    </p>
    <b-button
      size="lg"
      block
      variant="dark"
      class="mb-3"
      :disabled="unsubscribing"
      @click.prevent="unsubscribe"
    >
      <template v-if="!unsubscribing">
        {{ $t('newsletter.buttonLabel') }}
      </template>
      <template v-if="unsubscribing">
        {{ $t('newsletter.buttonLabel') }}...
      </template>
    </b-button>
    <template #description>
      {{ $t('newsletter.rightText') }}
    </template>
  </auth-container>
</template>

<script>
import AuthContainer from '@/components/auth/AuthContainer'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'NewsletterUnsubscribePage',
  components: {
    AuthContainer
  },
  mixins: [Pageview],
  layout: 'auth',
  data () {
    return {
      unsubscribing: false,
      unsubscribed: false,
      error: false
    }
  },
  auth: false,
  methods: {
    async unsubscribe () {
      this.unsubscribing = true

      const { hash } = this.$route.params

      try {
        await this.$axios.post(`/users/unsubscribe/${hash}`)

        if (this.$auth.loggedIn) {
          const user = { ...this.$auth.user }
          user.emailSubscribed = false

          this.$auth.setUser(user)
        }

        this.unsubscribed = true
      } catch (err) {
        this.error = true
      }
    }
  }
}
</script>
