<template>
  <auth-container>
    <register-form role="agent" />
    <template #description>
      <div>
        <div>
          <strong class="d-block mb-3 font-14-sm">{{ $t('auth.info.whatNext') }}</strong>
          <ul class="list-unstyled m-0">
            <li class="mb-3 font-12-sm">
              {{ $t('auth.info.agentLine1') }}
            </li>
            <li class="mb-3 font-12-sm">
              {{ $t('auth.info.agentLine2') }}
            </li>
            <li class="font-12-sm">
              {{ $t('auth.info.agentLine3') }}
            </li>
          </ul>
        </div>
      </div>
    </template>
  </auth-container>
</template>

<script>
import AuthContainer from '@/components/auth/AuthContainer'
import RegisterForm from '@/components/auth/RegisterForm'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'AgentSignupPage',
  components: {
    RegisterForm,
    AuthContainer
  },
  mixins: [Pageview],
  layout: 'auth',
  auth: false
}
</script>

<style scoped>

</style>
