<template>
  <auth-container>
    <register-form role="freelancer" />
    <template #description>
      <auth-description />
    </template>
  </auth-container>
</template>

<script>
import RegisterForm from '@/components/auth/RegisterForm'
import AuthContainer from '@/components/auth/AuthContainer'
import AuthDescription from '@/components/auth/AuthDescription'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'FreelancerSignupPage',
  components: {
    AuthDescription,
    AuthContainer,
    RegisterForm
  },
  mixins: [Pageview],
  layout: 'auth',
  auth: false
}
</script>

<style scoped>

</style>
