<template>
  <auth-container>
    <sign-up-roles />
    <template #description>
      <auth-description />
    </template>
  </auth-container>
</template>

<script>
import SignUpRoles from '@/components/auth/SignUpRoles'
import AuthContainer from '@/components/auth/AuthContainer'
import AuthDescription from '@/components/auth/AuthDescription'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'SignUpPage',
  components: {
    AuthDescription,
    SignUpRoles,
    AuthContainer
  },
  mixins: [Pageview],
  layout: 'auth',
  auth: false
}
</script>
