<template>
  <success-wrapper>
    <div>
      <h1>{{ $t('auth.sign_up.successPageTitle') }}</h1>
      <p class="m-0">
        {{ $t('auth.sign_up.successPageText') }}
      </p>
    </div>
  </success-wrapper>
</template>

<script>
import SuccessWrapper from '@/components/ui/SuccessWrapper'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'RegisterSuccessPage',
  components: { SuccessWrapper },
  mixins: [Pageview],
  auth: false,
  layout: 'blank'
}
</script>

<style scoped>

</style>
