<template>
  <ul class="list-unstyled m-0">
    <li>
      <nuxt-link :to="localePath('/my-tasks')">
        <coffee-icon size="1.5x" />
        {{ $t('clients.my_jobs') }}
      </nuxt-link>
    </li>
    <li>
      <nuxt-link :to="localePath('/create-task')">
        <briefcase-icon size="1.5x" />
        {{ $t('clients.post_job') }}
      </nuxt-link>
    </li>
    <li class="d-lg-none">
      <nuxt-link :to="localePath('/messages')">
        <mail-icon size="1.5x" />
        {{ $t('clients.messages') }}
      </nuxt-link>
    </li>
    <li>
      <nuxt-link :to="localePath('/affiliate')">
        <bookmark-icon size="1.5x" />
        {{ $t('affiliate.title') }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
import {
  CoffeeIcon, BriefcaseIcon, MailIcon, BookmarkIcon
} from 'vue-feather-icons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientMenu',
  components: {
    CoffeeIcon,
    BriefcaseIcon,
    MailIcon,
    BookmarkIcon
  }
}
</script>
