<template>
  <div class="footer-logo">
    <template v-if="currentLanguage === 'hr'">
      <img
        v-if="isDarkThemeEnabled"
        class="hr"
        src="@/assets/img/Freelance-znak_negativ.svg"
        alt="Freelance.hr"
        data-not-lazy
      >
      <img
        v-else
        class="hr"
        src="@/assets/img/Freelance-znak.svg"
        alt="Freelance.hr"
        data-not-lazy
      >
    </template>
    <template v-if="currentLanguage === 'en'">
      <img
        v-if="isDarkThemeEnabled"
        class="en"
        src="@/assets/img/CT-znak.svg"
        alt="CT"
        data-not-lazy
      >
      <img
        v-else
        class="en"
        src="@/assets/img/CT-znak.svg"
        alt="CT"
        data-not-lazy
      >
    </template>
  </div>
</template>

<script>
export default {
  name: 'FooterLogo',
  computed: {
    /**
     * Check if dark theme is enabled
     * @return boolean
     * */
    isDarkThemeEnabled () {
      return this.$store.state.ui.isDarkThemeEnabled
    },

    /**
     * Current language
     * @return string
     */
    currentLanguage () {
      return this.$store.state.i18n.locale
    }
  }
}
</script>

<style scoped>

</style>
