<template>
  <ul class="list-unstyled m-0">
    <li>
      <nuxt-link :to="localePath('/in-progress')">
        <coffee-icon size="1.5x" />
        {{ $t('freelancers.my_jobs') }}
      </nuxt-link>
    </li>
    <li>
      <nuxt-link :to="localePath('/applications')">
        <check-square-icon size="1.5x" />
        {{ $t('freelancers.applications_sent') }}
      </nuxt-link>
    </li>
    <li class="d-none d-lg-block">
      <nuxt-link :to="localePath('/completed')">
        <check-icon size="1.5x" />
        {{ $t('freelancers.completed_jobs') }}
      </nuxt-link>
    </li>
    <li class="d-lg-none">
      <nuxt-link :to="localePath('/messages')">
        <mail-icon size="1.5x" />
        {{ $t('freelancers.messages') }}
      </nuxt-link>
    </li>
    <li>
      <nuxt-link :to="localePath('/invitations')">
        <globe-icon size="1.5x" />
        {{ $t('agent.invitations.title') }}
      </nuxt-link>
    </li>
    <li>
      <nuxt-link :to="localePath('/affiliate')">
        <bookmark-icon size="1.5x" />
        {{ $t('affiliate.title') }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
import {
  CheckSquareIcon, CoffeeIcon, MailIcon, CheckIcon, BookmarkIcon, GlobeIcon
} from 'vue-feather-icons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerMenu',
  components: {
    CheckSquareIcon,
    CoffeeIcon,
    BookmarkIcon,
    MailIcon,
    CheckIcon,
    GlobeIcon
  },
  data () {
    return {
      items: []
    }
  }
}
</script>
