<template>
  <div>
    <global-notification />
    <client-only>
      <initializer />
    </client-only>
    <div class="layout">
      <main-layout-header />
      <div class="content">
        <slot />
      </div>
      <main-layout-footer />
    </div>
    <mobile-menu />
    <loading-overlay :visible="loading" />
  </div>
</template>

<script>
import MobileMenu from '@/components/layout/MobileMenu'
import Initializer from '@/components/layout/Initializer'
import MainLayoutHeader from '@/components/layout/MainLayoutHeader'
import MainLayoutFooter from '@/components/layout/MainLayoutFooter'
import GlobalNotification from '@/components/ui/GlobalNotification'
import LoadingOverlay from '@/components/ui/LoadingOverlay'

export default {
  name: 'LayoutWrapper',
  components: {
    MobileMenu,
    Initializer,
    MainLayoutHeader,
    MainLayoutFooter,
    GlobalNotification,
    LoadingOverlay
  },
  computed: {
    /**
     * Is loading activated
     * @return {boolean}
     */
    loading () {
      return this.$store.state.ui.mainLoader
    }
  }
}
</script>

<style scoped>

</style>
