<template>
  <div class="logo">
    <logo-freelance-hr v-if="currentLanguage === 'hr'" />
    <logo-cryptotask-org v-if="currentLanguage === 'en'" />
  </div>
</template>

<script>
import LogoFreelanceHr from '@/components/layout/LogoFreelanceHr'
import LogoCryptotaskOrg from '@/components/layout/LogoCryptotaskOrg'

export default {
  name: 'LogoImage',
  components: {
    LogoCryptotaskOrg,
    LogoFreelanceHr
  },
  computed: {
    /**
     * Current language
     * @return string
     */
    currentLanguage () {
      return this.$store.state.i18n.locale
    }
  }
}
</script>
