<template>
  <div>
    <div class="d-none d-md-block">
      <img
        v-if="isDarkThemeEnabled"
        class="hr"
        src="@/assets/img/Freelance_boja_negativ.svg"
        alt="Freelance.hr"
        data-not-lazy
      >
      <img
        v-else
        class="hr"
        src="@/assets/img/Freelance_boja.svg"
        alt="Freelance.hr"
        data-not-lazy
      >
    </div>
    <div class="d-block d-md-none">
      <logo-small-fl />
    </div>
  </div>
</template>

<script>
import LogoSmallFl from '@/components/layout/LogoSmallFl'

export default {
  name: 'LogoFreelanceHr',
  components: { LogoSmallFl },
  computed: {
    /**
     * Check if dark theme is enabled
     * @return boolean
     * */
    isDarkThemeEnabled () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>

<style scoped>

</style>
