<template>
  <div>
    <div class="d-none d-md-block">
      <img
        v-if="isDarkThemeEnabled"
        class="en"
        src="@/assets/img/CT-horizontalni_boja_negativ.svg"
        alt="CT"
        data-not-lazy
      >
      <img
        v-else
        class="en"
        src="@/assets/img/CT-horizontalni_boja.svg"
        alt="CT"
        data-not-lazy
      >
    </div>
    <div class="d-block d-md-none">
      <logo-small-ct />
    </div>
  </div>
</template>

<script>
import LogoSmallCt from '@/components/layout/LogoSmallCt'

export default {
  name: 'LogoCryptotaskOrg',
  components: { LogoSmallCt },
  computed: {
    /**
     * Check if dark theme is enabled
     * @return boolean
     * */
    isDarkThemeEnabled () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>

<style scoped>

</style>
