<template>
  <div>
    <img
      v-if="isDarkThemeEnabled"
      class="hr"
      src="@/assets/img/Freelance-znak_negativ.svg"
      alt="Freelance.hr"
      data-not-lazy
    >
    <img
      v-else
      class="hr"
      src="@/assets/img/Freelance-znak.svg"
      alt="Freelance.hr"
      data-not-lazy
    >
  </div>
</template>

<script>
export default {
  name: 'LogoSmallFl',
  computed: {
    /**
     * Check if dark theme is enabled
     * @return boolean
     * */
    isDarkThemeEnabled () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>

<style scoped>

</style>
