<template>
  <header ref="header" :class="styles">
    <div class="container">
      <div class="row align-items-center">
        <div
          class="col-5 col-xxl-2 d-flex text-md-left text-center align-content-center"
        >
          <logo-back />
        </div>
        <div class="d-none col-xxl-7 d-xxl-flex align-content-center px-0">
          <top-menu />
        </div>
        <div class="col-7 col-xxl-3 d-flex justify-content-end align-content-center ml-auto">
          <client-only>
            <theme-toggler />
          </client-only>
          <language-switcher class="ml-3" />
          <user-info class="ml-3" />
          <mobile-top-menu class="ml-3 d-xxl-none" />
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import LanguageSwitcher from '@/components/ui/LanguageSwitcher'
import ThemeToggler from '@/components/ui/ThemeToggler'
import LogoBack from '@/components/layout/LogoBack'
import UserInfo from '@/components/ui/UserInfo'
import TopMenu from '@/components/layout/TopMenu'
import MobileTopMenu from '@/components/layout/MobileTopMenu'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'MainLayoutHeader',
  components: {
    LanguageSwitcher,
    ThemeToggler,
    LogoBack,
    UserInfo,
    TopMenu,
    MobileTopMenu
  },
  data: () => ({
    scrolled: false
  }),
  computed: {
    styles () {
      const styles = ['main-header', 'd-flex', 'align-items-center']

      if (this.scrolled) {
        return [...styles, 'scrolled']
      }

      return styles
    }
  },
  mounted () {
    window.addEventListener('scroll', this.updateHeaderHeight)
    this.updateHeaderHeight()
  },
  unmounted () {
    window.removeEventListener('scroll', this.updateHeaderHeight)
  },
  methods: {
    updateHeaderHeight () {
      this.scrolled = document.body.scrollTop > 80 || document.documentElement.scrollTop > 80
    }
  }
}
</script>
