<template>
  <footer class="pb-6 pb-lg-4 pt-6">
    <div class="container pt-5">
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-1">
          <div class="follow">
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0">
              <span class="mb-3 mb-lg-0">{{ $t('common.followUs') }}:</span>
              <social-links />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-5 d-flex align-items-center justify-content-center justify-content-lg-end">
          <ul class="list-inline whitepapers m-0">
            <li class="list-inline-item">
              <a
                href="https://cryptotask-public.s3.eu-central-1.amazonaws.com/Whitepaper_CryptoTask_2017.pdf"
                target="_blank"
              >Whitepaper V1</a>
            </li>
            <li class="list-inline-item">
              <a href="https://drive.google.com/file/d/1MOTmIVAjNhZJxBAOPb_CJEFDehr5iJ7h/preview" target="_blank">Whitepaper
                V2</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <hr>
        </div>
      </div>
      <div class="row pt-2 align-items-center">
        <div class="col-12 col-lg-5 offset-lg-1 d-flex flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-start">
          <footer-logo class="mb-3 mr-0 mb-lg-0 mr-lg-3" />
          <div class="mb-3 mb-lg-0">
            &copy;{{ $t('common.copy') }}
          </div>
        </div>
        <div class="col-12 col-lg-5">
          <div class="d-flex align-items-lg-center justify-content-center justify-content-lg-end">
            <ul class="list-inline m-0">
              <li class="list-inline-item">
                <nuxt-link :to="localePath($t('common.termsUrl'))">
                  {{ $t('common.terms') }}
                </nuxt-link>
              </li>
              <li class="list-inline-item">
                <nuxt-link :to="localePath($t('common.privacyUrl'))">
                  {{ $t('common.privacy') }}
                </nuxt-link>
              </li>
              <li class="list-inline-item">
                <nuxt-link :to="localePath('/contact')">
                  {{ $t('contact.title') }}
                </nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import SocialLinks from '@/components/layout/SocialLinks'
import FooterLogo from '@/components/layout/FooterLogo'
export default {
  name: 'MainLayoutFooter',
  components: { FooterLogo, SocialLinks }
}
</script>
