<template>
  <b-dropdown
    class="dropdown--responsive"
    variant="link"
    no-caret
    right
    toggle-class="p-0"
  >
    <template #button-content>
      <span class="d-block">
        <menu-icon size="1.5x" />
      </span>
    </template>
    <b-dropdown-item>
      <post-job-menu-item />
    </b-dropdown-item>
    <b-dropdown-item :to="localePath('/tasks')">
      {{ $t('common.browse_jobs') }}
    </b-dropdown-item>
    <b-dropdown-item :to="localePath('/freelancers')">
      {{ $t('common.browse_freelancers') }}
    </b-dropdown-item>
    <b-dropdown-item :to="localePath('/blog')">
      {{ $t('common.blog') }}
    </b-dropdown-item>
    <b-dropdown-item :to="localePath('/info')">
      {{ $t('common.how_it_works') }}
    </b-dropdown-item>
    <template v-if="!loggedIn">
      <b-dropdown-divider />
      <b-dropdown-item :to="localePath('/login')">
        {{ $t('auth.login.title') }}
      </b-dropdown-item>
      <b-dropdown-item :to="localePath('/sign-up')">
        {{ $t('auth.sign_up.title') }}
      </b-dropdown-item>
    </template>
  </b-dropdown>
</template>

<script>
import { MenuIcon } from 'vue-feather-icons'
import PostJobMenuItem from '@/components/layout/PostJobMenuItem'

export default {
  name: 'MobileTopMenu',
  components: {
    PostJobMenuItem,
    MenuIcon
  },
  computed: {
    loggedIn () {
      return this.$auth.loggedIn
    },
    isDarkThemeEnabled () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>
