<template>
  <li class="list-inline-item mb-3 mb-lg-0">
    <a :href="link.url" target="_blank" :title="link.title" :style="{'background-color': link.color}">
      <font-awesome-icon :icon="['fab', link.icon]" />
    </a>
  </li>
</template>

<script>
export default {
  name: 'SocialLink',
  props: {
    link: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
