<template>
  <ul class="top-menu list-unstyled list-inline m-0">
    <li class="list-inline-item">
      <post-job-menu-item />
    </li>
    <li class="list-inline-item">
      <nuxt-link :to="localePath('/tasks')">
        {{ $t('common.browse_jobs') }}
      </nuxt-link>
    </li>
    <li class="list-inline-item">
      <nuxt-link :to="localePath('/freelancers')">
        {{ $t('common.browse_freelancers') }}
      </nuxt-link>
    </li>
    <li class="list-inline-item">
      <nuxt-link :to="localePath('/blog')">
        {{ $t('common.blog') }}
      </nuxt-link>
    </li>
    <li class="list-inline-item">
      <nuxt-link :to="localePath('/info')">
        {{ $t('common.how_it_works') }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
import PostJobMenuItem from '@/components/layout/PostJobMenuItem'

export default {
  name: 'TopMenu',
  components: {
    PostJobMenuItem
  },
  computed: {
    landingUrl () {
      return `${process.env.landingUrl}info?mode=${this.isDarkThemeEnabled ? 'dark' : 'light'}`
    },
    isDarkThemeEnabled () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>
