<template>
  <freelancer-profile :freelancer="freelancer" />
</template>

<script>
import FreelancerProfile from '@/components/freelancer/FreelancerProfile'
import FetchFreelancer from '@/mixins/FetchFreelancer'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SingleFreelancerSlugPage',
  auth: false,
  components: {
    FreelancerProfile
  },
  mixins: [FetchFreelancer, Pageview]
}
</script>
