<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <input-select
      :id="name"
      :value="stringifiedValue"
      :placeholder="placeholder"
      :state="state"
      :options="options"
      @input="$emit('input', $event)"
    />
    <validation-messages v-if="validation" :title="placeholder || label" :validation="validation" />
  </div>
</template>

<script>
import ValidationMessages from '@/components/form/ValidationMessages'
import InputSelect from '@/components/form/InputSelect'

export default {
  name: 'CountrySelector',
  components: {
    ValidationMessages,
    InputSelect
  },
  props: {
    label: {
      type: String,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    value: {
      type: [String, Number],
      default: null
    },
    placeholder: {
      type: String,
      default: null
    },
    validation: {
      type: Object,
      default: null
    }
  },
  computed: {
    state () {
      if (this.validation) {
        return this.validation.$dirty ? !this.validation.$error : null
      }

      return null
    },

    options () {
      return this.$store.state.util.countries.map(c => ({
        text: c.name,
        value: c.id
      }))
    },

    stringifiedValue () {
      return this.value !== null ? '' + this.value : null
    }
  }
}
</script>

<style scoped>

</style>
