<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <div class="input-group flex-wrap">
      <div v-if="hasPrependSlot" class="input-group-prepend">
        <slot name="prepend" />
      </div>
      <input-field
        v-if="!options.length"
        :name="name"
        :type="type"
        :value="value"
        :placeholder="placeholder"
        :validation="validation"
        :disabled="disabled"
        :min="min"
        @input="$emit('input', $event)"
      />
      <input-select
        v-if="options.length"
        :name="name"
        :value="value"
        :placeholder="placeholder"
        :validation="validation"
        :options="options"
        :disabled="disabled"
        @input="$emit('input', $event)"
      />
      <div v-if="hasAppendSlot" class="input-group-append">
        <span class="input-group-text">
          <slot name="append" />
        </span>
      </div>
    </div>
    <small v-if="description" class="form-text text-muted">{{ description }}</small>
    <validation-messages v-if="validation" :title="label || placeholder" :validation="validation" />
  </div>
</template>

<script>
import InputField from './InputField.vue'
import ValidationMessages from './ValidationMessages.vue'
import InputSelect from './InputSelect.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'InputGroup',
  components: {
    InputSelect,
    ValidationMessages,
    InputField
  },
  props: {
    label: {
      type: String,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    value: {
      type: [String, Number],
      default: null
    },
    type: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String,
      default: null
    },
    description: {
      type: String,
      default: null
    },
    validation: {
      type: Object,
      default: null
    },
    options: {
      type: Array,
      default () {
        return []
      }
    },
    disabled: {
      type: Boolean,
      default: false
    },
    min: {
      type: String,
      default: null
    }
  },
  computed: {
    hasPrependSlot () {
      return !!this.$slots.prepend
    },

    hasAppendSlot () {
      return !!this.$slots.append
    }
  }
}
</script>
