<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <star-rating :rating="value" :star-size="20" @rating-selected="$emit('input', $event)" />
    <validation-messages v-if="validation" :title="label" :validation="validation" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'StarRateGroup',
  components: {
    ValidationMessages
  },
  props: {
    label: {
      type: String,
      default: null
    },
    name: {
      type: String,
      default: null
    },
    value: {
      type: Number,
      default: null
    },
    validation: {
      type: Object,
      default: null
    }
  },
  computed: {
    state () {
      if (this.validation) {
        return this.validation.$dirty ? !this.validation.$error : null
      }

      return null
    }
  }
}
</script>
