<template>
  <b-form-invalid-feedback :class="{'d-block': visible}">
    <div v-if="errorVisible('required')">
      {{ $t('validation.required', { title }) }}
    </div>
    <div v-if="errorVisible('alphaNum')">
      {{ $t('validation.alphaNum', { title }) }}
    </div>
    <div v-if="errorVisible('integer')">
      {{ $t('validation.integer', { title }) }}
    </div>
    <div v-if="errorVisible('numeric')">
      {{ $t('validation.numeric', { title }) }}
    </div>
    <div v-if="errorVisible('decimal')">
      {{ $t('validation.decimal', { title }) }}
    </div>
    <div v-if="errorVisible('minValue')">
      {{ $t('validation.minValue', { title, min: validation.$params.minValue.min }) }}
    </div>
    <div v-if="errorVisible('maxValue')">
      {{ $t('validation.maxValue', { title, max: validation.$params.maxValue.max }) }}
    </div>
    <div v-if="errorVisible('minLength')">
      {{ $t('validation.minLength', { title, min: validation.$params.minLength.min }) }}
    </div>
    <div v-if="errorVisible('maxLength')">
      {{ $t('validation.maxLength', { title, max: validation.$params.maxLength.max }) }}
    </div>
    <div v-if="errorVisible('passwordStrength')">
      {{ $t('validation.passwordStrength', { title }) }}
    </div>
    <div v-if="errorVisible('isUnique')">
      {{ $t('validation.isUnique', { title }) }}
    </div>
    <div v-if="errorVisible('richTextMinCharacters')">
      {{ $t('validation.richTextMinCharacters', { title, min: validation.$params.richTextMinCharacters.min }) }}
    </div>
    <div v-if="errorVisible('richTextMaxCharacters')">
      {{ $t('validation.richTextMaxCharacters', { title, max: validation.$params.richTextMaxCharacters.max }) }}
    </div>
  </b-form-invalid-feedback>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ValidationMessages',
  props: {
    title: {
      type: String,
      required: true
    },
    validation: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    visible () {
      return this.validation && this.validation.$dirty && this.validation.$error
    },

    messages () {
      const errors = []

      if (this.validation.$params) {
        Object.keys(this.validation.$params)
          .forEach((p) => {
            if (!this.validation[p]) {
              errors.push(p)
            }
          })
      }

      return errors
    }
  },
  methods: {
    errorVisible (type) {
      return this.messages.includes(type)
    }
  }
}
</script>
