<template>
  <div class="row profile-preview">
    <div class="col-12 col-lg-4 d-flex flex-column align-items-center">
      <avatar-display
        class="mb-4"
        :avatar="avatar"
        :user-name="name"
        :options="avatarOptions"
      />
      <web-presence-group :freelancer="freelancer" />
      <freelancer-rate :freelancer-id="profileId" />
    </div>
    <div class="col-12 col-lg-8">
      <div class="d-flex align-items-center mb-1">
        <h1 class="text-center text-lg-left mb-0">
          <router-link :to="localePath(`/freelancers/${slug}/${profileId}`)">
            {{ name }}
          </router-link>
        </h1>
        <bc-check-status check-type="freelancer" :freelancer="freelancer" class="ml-3" />
      </div>
      <h6 class="mb-4 font-weight-normal text-center text-lg-left">
        <occupation-location :profile="freelancer" />
      </h6>

      <copy-profile-url class="mb-4" :url="profileUrl" />

      <share-buttons :url="profileUrl" class="mb-4 d-flex align-items-center" />

      <p class="mb-4 lead" v-html="bio" />

      <tags-display
        :tags="skills"
        :linkable="false"
        class="mb-lg-5"
        @click="$emit('skill-click', $event)"
      />

      <div class="freelancer-buttons">
        <slot name="buttons" />
      </div>
    </div>
  </div>
</template>

<script>
import { truncate } from 'lodash'
import OccupationLocation from '@/components/freelancer/OccupationLocation'
import FreelancerRate from '@/components/freelancer/FreelancerRate'
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import TagsDisplay from '@/components/ui/TagsDisplay'
import WebPresenceGroup from '@/components/profile/WebPresenceGroup'
import BcCheckStatus from '@/components/common/BcCheckStatus'
import CopyProfileUrl from '@/components/profile/CopyProfileUrl'
import ShareButtons from '@/components/ui/ShareButtons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'BasicInfoPreview',
  components: {
    FreelancerRate,
    AvatarDisplay,
    TagsDisplay,
    WebPresenceGroup,
    BcCheckStatus,
    OccupationLocation,
    CopyProfileUrl,
    ShareButtons
  },
  props: {
    freelancer: {
      type: Object,
      default () {
        return {}
      }
    },
    skillsClickable: {
      type: Boolean,
      default: false
    },
    avatarOptions: {
      type: Object,
      default () {
        return {
          resize: {
            width: 240,
            height: 240
          }
        }
      }
    }
  },
  computed: {
    bio () {
      if (this.freelancer?.bio) {
        const striped = this.freelancer?.bio?.replace(/(<([^>]+)>)/ig, '')
        return truncate(striped, {
          length: 200,
          separator: ' '
        })
      }

      return ''
    },

    skills () {
      const currentLanguage = this.$store.getters['util/getCurrentLanguage']
      const freelancerSkills = this.freelancer?.skills || []
      const skillIds = freelancerSkills.map(s => s.id)

      if (freelancerSkills && currentLanguage) {
        const skills = this.$store.getters['util/getAllSkills']

        return skills.filter(s => skillIds.includes(s.id))
      }

      return []
    },

    /**
     * @return {Number}
     */
    profileId () {
      return this.freelancer?.id
    },

    profileUrl () {
      return `freelancers/${this.freelancer?.slug}/${this.freelancer?.id}`
    },

    slug () {
      return this.freelancer?.slug
    },

    avatar () {
      return this.freelancer?.avatar
    },

    name () {
      return this.freelancer?.name
    }
  }
}
</script>
