<template>
  <b-form @submit.prevent="save">
    <div class="row">
      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <image-uploader
          :label="$t('freelancers.image_label')"
          class="image-uploader-basic mb-5"
          :title="$t('freelancers.image_title')"
          :value="form.avatar"
          :validation="$v.form.avatar"
          type="public"
          :croppable="true"
          :options="avatarOptions"
          :min-width="480"
          :min-height="480"
          @input="avatarAdded"
          @remove="avatarRemoved"
        />
      </div>
      <div class="col-12 col-lg-8">
        <h1 class="d-none d-lg-block mb-3">
          {{ $t('freelancers.basic_info') }}
        </h1>

        <b-alert show="" variant="info" class="mb-3">
          {{ $t('freelancer_info.fillingInfo') }}
        </b-alert>

        <div class="mb-3">
          <label>{{ $t('freelancers.name') }}</label>
          <b-input-group>
            <input-field
              v-model="form.firstName"
              name="firstName"
              :placeholder="$t('freelancers.first_name')"
              :disabled="freelancer.published"
              :validation="$v.form.firstName"
            />
            <input-field
              v-model="form.lastName"
              name="lastName"
              :disabled="freelancer.published"
              :placeholder="$t('freelancers.last_name')"
              :validation="$v.form.lastName"
            />
            <validation-messages
              :title="$t('freelancers.first_name')"
              :validation="$v.form.firstName"
            />
            <validation-messages
              :title="$t('freelancers.last_name')"
              :validation="$v.form.lastName"
            />
          </b-input-group>
        </div>

        <input-group
          v-model="form.occupation"
          name="occupation"
          class="mb-3"
          :validation="$v.form.occupation"
          :placeholder="$t('freelancers.occupation')"
          :label="$t('freelancers.occupation_label')"
        />

        <div class="row">
          <div class="col-12 col-xl-6">
            <input-group
              v-model="form.location"
              name="location"
              class="mb-3"
              :placeholder="$t('freelancers.location')"
              :label="$t('freelancers.location')"
            />
          </div>
          <div class="col-12 col-xl-6">
            <country-selector
              v-model="form.countryId"
              name="country"
              class="mb-3"
              :placeholder="$t('freelancers.country')"
              :label="$t('freelancers.country')"
              :validation="$v.form.countryId"
            />
          </div>
        </div>

        <b-form-checkbox
          v-model="form.travel"
          class="mb-3"
          name="travel"
        >
          {{ $t('freelancers.travel') }}
        </b-form-checkbox>

        <wysiwyg-textarea-group
          v-model="form.bio"
          class="mb-4"
          :validation="$v.form.bio"
          :label="$t('freelancers.about')"
        />

        <h4 class="mb-3">
          {{ $t('freelancers.web_presence') }}
        </h4>

        <input-group
          v-model="form.linkedin"
          name="linkedIn"
          class="mb-3"
          placeholder="http://"
          label="LinkedIn"
        />

        <input-group
          v-model="form.twitter"
          name="twitter"
          class="mb-3"
          placeholder="http://"
          label="Twitter"
        />

        <input-group
          v-model="form.instagram"
          name="instagram"
          class="mb-3"
          placeholder="http://"
          label="Instagram"
        />

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <input-group
              v-model="form.web"
              name="web"
              placeholder="http://"
              label="Web"
            />
          </div>
          <div class="col-md-6 mb-3">
            <input-group
              v-model="form.blog"
              name="blog"
              placeholder="http://"
              label="Blog"
            />
          </div>
        </div>

        <funnel-buttons
          :submit-text="$t('freelancers.next_skills')"
          :saving="saving"
        />
      </div>
    </div>
  </b-form>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import richTextMinCharacters from '@/validations/richTextMinCharacters'
import richTextMaxCharacters from '@/validations/richTextMaxCharacters'
import WysiwygTextareaGroup from '@/components/form/WysiwygTextareaGroup'
import FunnelButtons from '@/components/profile/FunnelButtons'
import ImageUploader from '@/components/form/ImageUploader'
import InputGroup from '@/components/form/InputGroup'
import ValidationMessages from '@/components/form/ValidationMessages'
import InputField from '@/components/form/InputField'
import CountrySelector from '@/components/form/CountrySelector'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'BasicInfoForm',
  components: {
    FunnelButtons,
    ImageUploader,
    WysiwygTextareaGroup,
    InputGroup,
    ValidationMessages,
    InputField,
    CountrySelector
  },
  mixins: [AxiosErrorHandler],
  props: {
    freelancer: {
      type: Object,
      default: null
    }
  },
  validations () {
    const v = { form: {} }

    if (!this.freelancer.published) {
      v.form.firstName = {
        required,
        maxLength: maxLength(40)
      }
      v.form.lastName = {
        required,
        maxLength: maxLength(40)
      }
    }
    v.form.occupation = {
      maxLength: maxLength(100),
      required
    }
    v.form.location = { maxLength: maxLength(40) }
    v.form.bio = {
      required,
      richTextMinCharacters: richTextMinCharacters(150),
      richTextMaxCharacters: richTextMaxCharacters(5000)
    }
    v.form.linkedin = { maxLength: maxLength(255) }
    v.form.twitter = { maxLength: maxLength(255) }
    v.form.instagram = { maxLength: maxLength(255) }
    v.form.web = { maxLength: maxLength(255) }
    v.form.blog = { maxLength: maxLength(255) }

    v.form.avatar = { required }

    return v
  },
  data () {
    return {
      form: {
        firstName: null,
        lastName: null,
        occupation: null,
        location: null,
        travel: false,
        bio: null,
        linkedin: null,
        twitter: null,
        instagram: null,
        web: null,
        blog: null,
        avatar: null,
        countryId: null
      },
      saving: false,
      avatarOptions: {
        resize: {
          width: 240,
          height: 240
        }
      }
    }
  },
  watch: {
    freelancer (n) {
      if (n && n.id) {
        this.form = Object.assign({}, this.form, n)
      }
    }
  },
  mounted () {
    if (this.freelancer) {
      this.form = Object.assign({}, this.form, this.freelancer)
    }
  },
  methods: {
    async save () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saving = true

        try {
          await this.$store.dispatch('user/updateFreelancerBasicInfo', {
            data: this.form,
            caller: 'create'
          })
          this.saving = false
          await this.$router.push(this.localePath('/create-freelancer/skills'))
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      } else {
        await this.$store.dispatch('ui/showNotification', {
          type: 'danger',
          text: this.$t('validation.validation_failed')
        })
      }
    },

    avatarAdded (data) {
      this.form.avatar = data
    },

    avatarRemoved () {
      this.form.avatar = null
    }
  }
}
</script>
