<template>
  <div>
    <h1 class="mb-5">
      {{ $t('users.remove_title') }}
    </h1>

    <b-form @submit.prevent="save">
      <b-form-checkbox
        v-model="confirmation"
        class="mb-3"
        name="confirmation"
      >
        {{ $t('users.confirm_remove') }}
      </b-form-checkbox>

      <div
        class="pt-5 d-flex flex-column flex-lg-row
        justify-content-center justify-content-lg-end
        align-items-center"
      >
        <b-button
          type="submit"
          variant="danger"
          class="btn-round"
          :disabled="saving || !confirmation"
        >
          <template v-if="!saving">
            {{ $t('users.remove_button_label') }}
          </template>
          <template v-if="saving">
            {{ $t('users.remove_button_loading') }}
          </template>
        </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

export default {
  name: 'DeleteUserForm',
  mixins: [AxiosErrorHandler],
  data () {
    return {
      confirmation: false,
      saving: false
    }
  },
  methods: {
    async save () {
      try {
        const confirm = await this.$bvModal
          .msgBoxConfirm(this.$t('users.remove_confirmation'))

        if (confirm) {
          await this.$store.dispatch('user/removeUser')
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('users.remove_success')
          })
        }
      } catch (err) {
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
