<template>
  <div class="row">
    <div class="col-12 col-lg-4">
      <h5>{{ item.title }}</h5>
      <p>{{ item.company }}</p>
      <p class="text-muted">
        {{ dateFrom }} -
        <span v-if="item.to">{{ dateTo }}</span>
        <span v-if="!item.to">{{ $t('freelancers.present') }}</span>
      </p>
    </div>
    <div class="col-12 col-lg-8" v-html="item.description" />
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ExperiencePreviewItem',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    dateTo () {
      return this.item.to ? this.$moment(this.item.to).format('YYYY') : '-'
    },
    dateFrom () {
      return this.$moment(this.item.from).format('YYYY')
    }
  }
}
</script>
