<template>
  <div>
    <div class="resumes-preview mb-5">
      <h2 class="mb-3">
        {{ $t('freelancers.resume') }}
      </h2>
      <div class="mb-5" v-html="resume" />

      <div class="d-flex align-items-center">
        <resume-link v-for="r in resumes" :key="r.id" class="mr-3 mb-2" :resume="r" />
      </div>
    </div>
    <div class="experience-preview">
      <h2 class="mb-3">
        {{ $t('freelancer_info.experience') }}
      </h2>
      <template v-if="experiences.length">
        <experience-preview-item v-for="(item, index) in experiences" :key="index" class="mb-5" :item="item" />
      </template>
    </div>

    <no-results v-if="!experiences.length && !resumes.length && !loading" :text="$t('freelancers.no_experience')" />
    <loading-overlay class="position-relative" :visible="loading" />
  </div>
</template>

<script>

import NoResults from '@/components/client/NoResults'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import ExperiencePreviewItem from '@/components/profile/ExperiencePreviewItem'
import LoadingOverlay from '~/components/ui/LoadingOverlay'
import ResumeLink from '~/components/profile/ResumeLink'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ExperiencePreview',
  components: {
    ResumeLink,
    LoadingOverlay,
    ExperiencePreviewItem,
    NoResults
  },
  mixins: [AxiosErrorHandler],
  props: {
    freelancerId: {
      type: Number,
      required: true
    },
    resume: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      loading: false,
      experiences: [],
      resumes: []
    }
  },
  async mounted () {
    try {
      this.loading = true
      const resExperiences = await this.$axios.get(`/experiences/${this.freelancerId}`)
      this.experiences = resExperiences.data.data
      const resResumes = await this.$axios.get(`/freelancers/${this.freelancerId}/resumes`)
      this.resumes = resResumes.data.data
      this.loading = false
    } catch (err) {
      await this.handleError(err)
      this.loading = false
    }
  }
}
</script>
