<template>
  <div>
    <h1 class="mb-5 d-none d-lg-block">
      {{ $t('freelancers.resume') }}
    </h1>
    <b-form @submit.prevent="save">
      <wysiwyg-textarea-group
        v-model="resume"
        class="mb-4"
        :label="$t('freelancers.writeResume')"
        :validation="$v.resume"
      />

      <p class="mb-2">
        {{ $t('freelancers.orUploadResume') }}
      </p>
      <resumes-form :resumes="resumes" :validation="$v.resumes.$each.$iter" @change="handleResumesChange" />

      <hr class="mb-5 d-block">

      <h1 class="mb-5 d-none d-lg-block">
        {{ $t('freelancers.work_experience_title') }}
      </h1>

      <div v-for="(item, index) in $v.experiences.$each.$iter" :key="index" class="m-0">
        <input-group
          v-model="item.company.$model"
          name="company"
          class="mb-3"
          :placeholder="$t('freelancers.company_name')"
          :label="$t('freelancers.company')"
          :validation="item.company"
        />

        <input-group
          v-model="item.title.$model"
          name="title"
          class="mb-3"
          :placeholder="$t('freelancers.job_title')"
          :label="$t('freelancers.job_title')"
          :validation="item.title"
        />

        <div class="mb-3">
          <label>{{ $t('freelancers.when_worked') }}</label>
          <b-input-group>
            <client-only>
              <datepicker
                v-model="item.from.$model"
                :placeholder="$t('freelancers.from')"
                name="from"
                :bootstrap-styling="true"
                :monday-first="true"
              />
              <datepicker
                v-model="item.to.$model"
                :placeholder="$t('freelancers.to')"
                name="to"
                :bootstrap-styling="true"
                :monday-first="true"
              />
            </client-only>
            <validation-messages title="From" :validation="item.from" />
          </b-input-group>
        </div>

        <wysiwyg-textarea-group
          v-model="item.description.$model"
          :label="$t('freelancers.description')"
          :validation="item.description"
          class="mb-4"
        />

        <div class="d-flex justify-content-end">
          <b-button variant="danger" class="btn-round mb-2" @click="removeItem(index)">
            {{ $t('freelancers.remove_experience') }}
          </b-button>
        </div>

        <hr class="mb-5 d-block">
      </div>

      <div>
        <a href="#" @click.prevent="addExperience"><u>{{ $t('freelancers.add_experience') }}</u></a><br>
        <small class="text-muted">{{ $t('freelancers.experience_text') }}</small>
      </div>

      <funnel-buttons
        :skip-url="skipUrl"
        :submit-text="saveButtonText"
        :saving="saving"
      />
    </b-form>
  </div>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import richTextMaxCharacters from '@/validations/richTextMaxCharacters'
import WysiwygTextareaGroup from '@/components/form/WysiwygTextareaGroup'
import FunnelButtons from '@/components/profile/FunnelButtons'
import ValidationMessages from '@/components/form/ValidationMessages'
import InputGroup from '@/components/form/InputGroup'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import ResumesForm from '~/components/profile/ResumesForm'

const initialForm = {
  company: null,
  title: null,
  from: null,
  to: null,
  description: null
}

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ExperienceForm',
  components: {
    ResumesForm,
    WysiwygTextareaGroup,
    FunnelButtons,
    ValidationMessages,
    InputGroup
  },
  mixins: [AxiosErrorHandler],
  props: {
    freelancer: {
      type: Object,
      default () {
        return {}
      }
    },
    skipEnabled: {
      type: Boolean,
      default: true
    },
    saveButtonText: {
      type: String,
      default: 'Next: Add Projects'
    },
    redirectionEnabled: {
      type: Boolean,
      default: true
    }
  },
  validations: {
    resume: {
      richTextMaxCharacters: richTextMaxCharacters(30000)
    },
    experiences: {
      $each: {
        company: {
          required,
          maxLength: maxLength(40)
        },
        title: {
          required,
          maxLength: maxLength(40)
        },
        from: {
          required,
          maxLength: maxLength(40)
        },
        to: {
          maxLength: maxLength(40)
        },
        description: {
          richTextMaxCharacters: richTextMaxCharacters(30000)
        }
      }
    },
    resumes: {
      $each: {
        fileId: {
          required
        },
        name: {
          required,
          maxLength: maxLength(255)
        }
      }
    }
  },
  data () {
    return {
      resume: null,
      experiences: [],
      saving: false,
      resumes: [],
      loading: false
    }
  },
  computed: {
    skipUrl () {
      return this.skipEnabled ? '/create-freelancer/projects' : null
    }
  },
  watch: {
    freelancer (n) {
      if (n && n.id) {
        this.resume = n.resume
      }
    }
  },
  async mounted () {
    this.loading = true
    this.resume = this.freelancer?.resume
    await this.getExperiences()
    await this.getResumes()
    this.loading = false
  },
  methods: {
    addExperience () {
      this.experiences.push(Object.assign({}, initialForm))
    },
    async save () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saving = true

        try {
          const { data } = await this.$axios.put('/freelancers/experience', {
            resume: this.resume,
            resumes: this.resumes,
            experiences: this.experiences
          })
          this.resumes = data.data.resumes
          this.experiences = data.data.experiences
          this.saving = false
          if (this.redirectionEnabled) {
            await this.$router.push(this.localePath('/create-freelancer/projects'))
          } else {
            await this.$store.dispatch('ui/showNotification', {
              type: 'success',
              text: this.$t('freelancers.experience_saved')
            })
          }
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      }
    },

    removeItem (index) {
      this.experiences.splice(index, 1)
    },

    async getExperiences () {
      try {
        const { data } = await this.$axios.get('/experiences')
        this.experiences = data.data
      } catch (err) {
        await this.handleError(err)
      }
    },

    /**
     * Get freelancer resumes
     * @returns {Promise<void>}
     */
    async getResumes () {
      try {
        const { data } = await this.$axios.get('/resumes')
        this.resumes = data.data
      } catch (err) {
        await this.handleError(err)
      }
    },

    handleResumesChange (resumes) {
      this.resumes = resumes
    }
  }
}
</script>
