<template>
  <li :class="[stepClass]">
    <nuxt-link v-if="clickable" :to="localePath(stepRoute)">
      <check-circle-icon />
      {{ $t(step.label) }}
    </nuxt-link>
    <span v-if="!clickable">
      <check-circle-icon />
      {{ $t(step.label) }}
    </span>
  </li>
</template>

<script>
import { CheckCircleIcon } from 'vue-feather-icons'
import { last } from 'lodash'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FunnelMenuItem',
  components: {
    CheckCircleIcon
  },
  props: {
    step: {
      type: Object,
      required: true
    },
    currentOrder: {
      type: Number,
      required: true
    }
  },
  computed: {
    stepClass () {
      const routePath = last(this.$route.path.split('/'))

      if (routePath === this.step.route) {
        return 'active'
      }

      if (this.currentOrder > this.step.order) {
        return 'previous'
      }

      return ''
    },
    stepRoute () {
      return `/create-freelancer/${this.step.route}`
    },
    clickable () {
      return this.currentOrder > this.step.order
    }
  }
}
</script>
