<template>
  <div
    class="pt-5 d-flex flex-column flex-lg-row
        justify-content-center justify-content-lg-end
        align-items-center"
  >
    <nuxt-link v-if="skipUrl" :to="localePath(skipUrl)" class="mr-3 d-none d-lg-block">
      {{
        $t('freelancers.skip')
      }}
    </nuxt-link>
    <b-button
      type="submit"
      variant="dark"
      class="btn-round mb-3 mb-lg-0"
      :disabled="saving"
    >
      <template v-if="!saving">
        {{ submitText }}
      </template>
      <template v-if="saving">
        {{ $t('freelancers.saving') }}
      </template>
    </b-button>
    <nuxt-link v-if="skipUrl" :to="localePath(skipUrl)" class="d-lg-none">
      {{ $t('freelancers.skip') }}
    </nuxt-link>
  </div>
</template>

<script>

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FunnelButtons',
  props: {
    submitText: {
      type: String,
      required: true
    },
    skipUrl: {
      type: String,
      default: null
    },
    saving: {
      type: Boolean,
      default: false
    }
  }
}
</script>
