<template>
  <div>
    <h1 class="mb-5">
      {{ $t('freelancers.languageSettings') }}
    </h1>
    <p v-html="$t('freelancers.languageSettingsIntro')" />

    <b-form @submit.prevent="save">
      <b-form-checkbox
        v-for="l in enabledLanguages"
        :key="l.id"
        class="mb-3"
        :name="`language-${l.id}`"
        :checked="userLanguages.indexOf(l.id) > -1"
        @input="updateLanguage($event, l)"
      >
        {{ l.name }}
      </b-form-checkbox>

      <div
        class="pt-5 d-flex flex-column flex-lg-row
        justify-content-center justify-content-lg-end
        align-items-center"
      >
        <b-button type="submit" variant="primary" class="btn-round" :disabled="saving">
          <template v-if="!saving">
            {{ $t('newsletter.button_label') }}
          </template>
          <template v-if="saving">
            {{ $t('newsletter.button_loading') }}
          </template>
        </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'LanguageSettingsForm',
  data () {
    return {
      languages: null,
      saving: false
    }
  },
  computed: {
    userLanguages () {
      return (this.$auth.user?.languages || []).map(l => l.id)
    },

    enabledLanguages () {
      return this.$store.getters['util/getEnabledLanguages']
    }
  },
  methods: {
    updateLanguage (checked, language) {
      if (!this.languages) {
        this.languages = [...this.userLanguages]
      }

      if (checked && !this.languages.includes(language.id)) {
        this.languages.push(language.id)
      } else if (!checked && this.languages.includes(language.id)) {
        const index = this.languages.indexOf(language.id)
        this.languages.splice(index, 1)
      }
    },
    async save () {
      if (!this.languages) {
        this.languages = [...this.userLanguages]
      }

      if (!this.languages.length) {
        await this.$store.dispatch('ui/showNotification', {
          type: 'danger',
          text: this.$t('users.languagesValidation')
        })
      } else {
        await this.$store.dispatch('user/updateUserLanguages', this.languages)

        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('users.languagesSuccess')
        })
      }
    }
  }
}
</script>
