<template>
  <div>
    <h1 class="mb-5 d-none d-lg-block">
      {{ $t('freelancers.projects') }}
    </h1>

    <b-form class="m-0" @submit.prevent="save">
      <div v-for="(item, index) in $v.items.$each.$iter" :key="index">
        <div class="row">
          <div class="col-12 col-lg-4 d-flex justify-content-center">
            <image-uploader
              :label="$t('freelancers.add_cover')"
              class="mb-5"
              :title="$t('freelancers.cover')"
              :value="item.cover.$model"
              type="public"
              @input="coverAdded($event, index)"
              @remove="coverRemoved(index)"
            />
          </div>
          <div class="col-12 col-lg-8">
            <input-group
              v-model="item.title.$model"
              name="title"
              class="mb-3"
              :placeholder="$t('freelancers.project_title')"
              :label="$t('freelancers.project_title')"
              :validation="item.title"
            />

            <textarea-group
              v-model="item.description.$model"
              name="description"
              class="mb-3"
              :label="$t('freelancers.description')"
              :validation="item.description"
            />

            <gallery-uploader
              :label="$t('freelancers.add_images')"
              :value="item.images.$model"
              type="public"
              class="mb-3"
              @input="setImages($event, index)"
            />

            <input-group
              v-model="item.link.$model"
              name="link"
              class="mb-3"
              :placeholder="$t('freelancers.project_link')"
              :label="$t('freelancers.project_link')"
              :validation="item.link"
            />

            <input-group
              v-model="item.tags.$model"
              name="tags"
              class="mb-4"
              :placeholder="$t('freelancers.tags_label')"
              :label="$t('freelancers.tags')"
              :validation="item.tags"
            />
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <b-button variant="danger" class="btn-round mb-2" @click="removeProject(index)">
            {{ $t('freelancers.remove_project') }}
          </b-button>
        </div>

        <hr class="mb-5 d-block">
      </div>

      <a href="#" @click.prevent="addProject"><u>{{ $t('freelancers.add_project') }}</u></a>

      <funnel-buttons
        :skip-url="skipUrl"
        :saving="saving"
        :submit-text="saveButtonText"
      />
    </b-form>
  </div>
</template>

<script>
import { required, maxLength } from 'vuelidate/lib/validators'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import ImageUploader from '../form/ImageUploader.vue'
import InputGroup from '../form/InputGroup.vue'
import TextareaGroup from '../form/TextareaGroup.vue'
import GalleryUploader from '../form/GalleryUploader.vue'
import FunnelButtons from './FunnelButtons.vue'

const initialForm = {
  title: null,
  link: null,
  tags: null,
  description: null
}

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectsForm',
  components: {
    FunnelButtons,
    GalleryUploader,
    TextareaGroup,
    InputGroup,
    ImageUploader
  },
  mixins: [AxiosErrorHandler],
  props: {
    freelancer: {
      type: Object,
      default () {
        return {}
      }
    },
    skipEnabled: {
      type: Boolean,
      default: true
    },
    saveButtonText: {
      type: String,
      default: 'Preview profile'
    },
    redirectionEnabled: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      items: [],
      saving: false
    }
  },
  validations: {
    items: {
      $each: {
        cover: {},
        link: {
          required,
          maxLength: maxLength(500)
        },
        title: {
          required,
          maxLength: maxLength(100)
        },
        tags: { maxLength: maxLength(200) },
        description: {
          required,
          maxLength: maxLength(1000)
        },
        images: {}
      }
    }
  },
  computed: {
    skipUrl () {
      return this.skipEnabled ? '/create-freelancer/preview' : null
    }
  },
  async mounted () {
    await this.getProjects()
  },
  methods: {
    /**
     * Load projects from API
     * @returns {Promise<void>}
     */
    async getProjects () {
      const { data } = await this.$axios.get('/projects')
      this.items = data.data
    },

    /**
     * Add new project form
     */
    addProject () {
      this.items.push(Object.assign({}, initialForm))
    },

    /**
     * remove project form
     * @param index
     */
    removeProject (index) {
      this.items.splice(index, 1)
    },

    /**
     * Handle cover add
     * @param e
     * @param index
     */
    coverAdded (e, index) {
      this.items[index].cover = e
    },

    /**
     * Handle cover remove
     * @param index
     */
    coverRemoved (index) {
      this.items[index].cover = null
    },

    /**
     * Set images
     * @param e
     * @param index
     */
    setImages (e, index) {
      this.items[index].images = e
    },

    /**
     * Save form data
     * @return {Promise<void>}
     */
    async save () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.saving = true

        try {
          const { data } = await this.$axios.put('/freelancers/projects', this.items)
          this.items = data.data
          this.saving = false
          if (this.redirectionEnabled) {
            await this.$router.push(this.localePath('/create-freelancer/preview'))
          } else {
            await this.$store.dispatch('ui/showNotification', {
              type: 'success',
              text: this.$t('freelancers.project_saved')
            })
          }
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      }
    }
  }
}
</script>
