<template>
  <b-form class="m-0" @submit.prevent="save">
    <div class="row">
      <div class="col-4">
        <image-uploader label="Add cover image" />
      </div>
      <div class="col-8">
        <input-group
          v-model="form.title"
          name="title"
          class="mb-3"
          placeholder="Project Title"
          label="Title"
        />

        <textarea-group
          v-model="form.description"
          name="description"
          class="mb-3"
          label="Description"
        />

        <gallery-uploader label="Add images" class="mb-3" />

        <input-group
          v-model="form.link"
          name="link"
          class="mb-3"
          placeholder="Project link"
          label="Link"
        />

        <input-group
          v-model="form.tags"
          name="tags"
          class="mb-3"
          placeholder="Mobile app, Android, iOS"
          label="Tags"
        />
      </div>
    </div>
    <hr class="mb-5 d-block">
  </b-form>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import ImageUploader from '../form/ImageUploader.vue'
import InputGroup from '../form/InputGroup.vue'
import TextareaGroup from '../form/TextareaGroup.vue'
import GalleryUploader from '../form/GalleryUploader.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectItemForm',
  components: {
    GalleryUploader,
    TextareaGroup,
    InputGroup,
    ImageUploader
  },
  props: {
    project: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  validations: {
    form: {
      title: {
        required
      }
    }
  },
  data () {
    return {
      form: {
        title: '',
        description: '',
        link: '',
        tags: ''
      }
    }
  },
  methods: {
    save () {
      this.$v.$touch()
    }
  }
}
</script>
