<template>
  <div>
    <div v-for="(r, i) in items" :key="i" class="d-flex align-items-center mb-3">
      <resume-form
        class="flex-grow-1"
        :resume="r"
        :validation="validation[i]"
        @change="handleResumeChange(i, $event)"
      />
      <b-button variant="danger" size="sm" @click.prevent="handleResumeRemove(i)">
        X
      </b-button>
    </div>
    <div class="mt-3">
      <a href="#" @click.prevent="addResume"><u>{{ $t('freelancers.addResume') }}</u></a><br>
      <small class="text-muted">{{ $t('freelancers.resumeIntro') }}</small>
    </div>
  </div>
</template>

<script>
import ResumeForm from '~/components/profile/ResumeForm'

const initialResume = {
  fileId: null,
  name: null,
  public: true
}

export default {
  name: 'ResumesForm',
  components: { ResumeForm },
  props: {
    resumes: {
      type: Array,
      default () {
        return []
      }
    },
    validation: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    return {
      items: []
    }
  },
  watch: {
    resumes () {
      this.items = this.resumes.map(r => ({ ...r }))
    }
  },
  mounted () {
    this.items = this.resumes.map(r => ({ ...r }))
  },
  methods: {
    handleResumeChange (index, resume) {
      this.items[index] = resume
      this.$emit('change', this.items)
    },

    addResume () {
      this.items.push({ ...initialResume })
      this.$emit('change', this.items)
    },

    handleResumeRemove (i) {
      this.items.splice(i, 1)
      this.$emit('change', this.items)
    }
  }
}
</script>

<style scoped>

</style>
