<template>
  <div class="d-flex align-items-center">
    <font-awesome-icon class="mr-2 text-primary" size="lg" :icon="docIcon" />
    <a href="#" @click.prevent="handleResumeOpen">{{ resume.name }}</a>
  </div>
</template>

<script>
import { faFileAlt } from '@fortawesome/free-solid-svg-icons'

export default {
  name: 'ResumeLink',
  props: {
    resume: {
      type: Object,
      required: true
    }
  },
  computed: {
    docIcon () {
      return faFileAlt
    }
  },
  methods: {
    handleResumeOpen () {
      const url = `${process.env.bucketURL}/${this.resume.File?.fileName}`
      window.open(url)
    }
  }
}
</script>

<style scoped>

</style>
