<template>
  <div>
    <h1 class="mb-5 d-none d-lg-block">
      {{ $t('freelancers.my_skills') }}
    </h1>

    <b-form @submit.prevent="save">
      <category-skill-selector
        :selected-categories="form.categories"
        :selected-skills="form.skills"
        :categories-validation="$v.form.categories"
        :skills-validation="$v.form.skills"
        @input="updatedTags"
      />

      <funnel-buttons
        :saving="saving"
        :submit-text="$t('freelancers.next_experience')"
      />
    </b-form>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import FunnelButtons from '@/components/profile/FunnelButtons'
import CategorySkillSelector from '@/components/form/CategorySkillSelector'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SkillsForm',
  components: {
    CategorySkillSelector,
    FunnelButtons
  },
  mixins: [AxiosErrorHandler],
  props: {
    freelancer: {
      type: Object,
      default: null
    }
  },
  validations: {
    form: {
      categories: {
        required
      },
      skills: {
        required
      }
    }
  },
  data () {
    return {
      form: {
        categories: [],
        skills: []
      },
      saving: false
    }
  },
  watch: {
    freelancer () {
      this.setForm()
    }
  },
  mounted () {
    this.setForm()
  },
  methods: {
    updatedTags (e) {
      this.form = { ...this.form, ...e }
    },

    async save () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saving = true

        try {
          await this.$store.dispatch('user/updateFreelancerSkills', this.form)
          this.saving = false
          await this.$router.push(this.localePath('/create-freelancer/work-experience'))
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      }
    },

    setForm () {
      if (this.freelancer) {
        this.form = { ...this.freelancer }
      }
    }
  }
}
</script>
