<template>
  <a :href="href" :aria-label="ariaLabel" target="_blank" rel="noopener noreferrer">
    <slot />
  </a>
</template>

<script>
export default {
  name: 'WebPresenceItem',
  props: {
    href: {
      type: String,
      default: null
    },
    ariaLabel: {
      type: String,
      default: null
    }
  }
}
</script>
