<template>
  <div class="web-presence-group d-flex align-items-center justify-content-center mb-4">
    <web-presence-item
      v-if="freelancer.linkedin"
      class="web-presence-group__item linkedin mx-1"
      :href="linkedinUrl"
      aria-label="Link to the Linkedin profile"
    >
      <font-awesome-icon :icon="linkedinIcon" size="lg" />
    </web-presence-item>
    <web-presence-item
      v-if="freelancer.twitter"
      class="web-presence-group__item twitter mx-1"
      :href="twitterUrl"
      aria-label="Link to the Twitter profile"
    >
      <font-awesome-icon :icon="twitterIcon" size="lg" />
    </web-presence-item>
    <web-presence-item
      v-if="freelancer.instagram"
      class="web-presence-group__item instagram mx-1"
      :href="instagramUrl"
      aria-label="Link to the Instagram profile"
    >
      <font-awesome-icon :icon="instagramIcon" size="lg" />
    </web-presence-item>
    <web-presence-item
      v-if="freelancer.web"
      class="web-presence-group__item website mx-1"
      :href="websiteUrl"
      aria-label="Link to the Website"
    >
      <font-awesome-icon :icon="websiteIcon" size="lg" />
    </web-presence-item>
    <web-presence-item
      v-if="freelancer.blog"
      class="web-presence-group__item blog mx-1"
      :href="blogUrl"
      aria-label="Link to the Blog"
    >
      <font-awesome-icon :icon="blogIcon" size="lg" />
    </web-presence-item>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import { faLinkedin, faTwitterSquare, faInstagramSquare } from '@fortawesome/free-brands-svg-icons'
import { faGlobeEurope, faPenSquare } from '@fortawesome/free-solid-svg-icons'
import WebPresenceItem from './WebPresenceItem.vue'

export default {
  name: 'WebPresenceGroup',
  components: {
    WebPresenceItem,
    FontAwesomeIcon
  },
  props: {
    freelancer: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    linkedinIcon () {
      return faLinkedin
    },
    websiteIcon () {
      return faGlobeEurope
    },
    twitterIcon () {
      return faTwitterSquare
    },
    instagramIcon () {
      return faInstagramSquare
    },
    blogIcon () {
      return faPenSquare
    },
    websiteUrl () {
      return this.checkPrefix(this.freelancer.web)
    },

    blogUrl () {
      return this.checkPrefix(this.freelancer.blog)
    },

    linkedinUrl () {
      return this.checkPrefix(this.freelancer.linkedin)
    },

    twitterUrl () {
      return this.checkPrefix(this.freelancer.twitter)
    },

    instagramUrl () {
      return this.checkPrefix(this.freelancer.instagram)
    }
  },
  methods: {
    checkPrefix (url) {
      const pattern = /^((http|https|ftp):\/\/)/

      if (!pattern.test(url)) {
        return `https://${url}`
      }

      return url
    }
  }
}
</script>
