<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <agent-profile-preview :profile="agent" />
    </div>
  </div>
</template>

<script>
import AgentProfilePreview from '@/components/agents/AgentProfilePreview'
import FetchAgent from '@/mixins/FetchAgent'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'AgentPreviewPage',
  components: { AgentProfilePreview },
  mixins: [FetchAgent, Pageview]
}
</script>

<style scoped>

</style>
