<template>
  <div>
    <b-form @submit.prevent="create">
      <p v-html="$t('payments.crypto.resolverText')" />
      <input-group
        v-model="form.selectedCurrency"
        :label="$t('payments.crypto.selectLabel')"
        :options="currencies"
        :validation="$v.form.selectedCurrency"
      />
      <hr>
      <div class="d-flex align-items-center justify-content-end">
        <b-button variant="primary" type="submit">
          {{ $t('payments.crypto.submit') }}
        </b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import InputGroup from '@/components/form/InputGroup'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'CryptoResolver',
  components: { InputGroup },
  data () {
    return {
      form: {
        selectedCurrency: null
      }
    }
  },
  validations: {
    form: {
      selectedCurrency: {
        required
      }
    }
  },
  computed: {
    currencies () {
      return this.$store.state.util.cryptos.map(c => ({
        text: c.name,
        value: c.name
      }))
    }
  },
  methods: {
    create () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.$emit('create', {
          currency: this.form.selectedCurrency
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
