<template>
  <div>
    <p v-html="$t('payments.wire.resolverText')" />
    <hr>
    <div class="d-flex align-items-center justify-content-end">
      <b-button variant="primary" @click.prevent="create">
        {{ $t('payments.wire.submit') }}
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'WireResolver',
  methods: {
    create () {
      this.$emit('create', {})
    }
  }
}
</script>

<style scoped>

</style>
