.alert {
  color: $white;

  button.close {
    opacity: 1;

    .feather {
      stroke: $white;
    }
  }

  a {
    color: $white;
    text-decoration: underline;

    &:hover {
      color: $gray-200;
    }
  }
}

.global-notification {
  position: fixed;
  bottom: 3rem;
  width: 100%;
  z-index: 100000;

  @include media-breakpoint-up(xl) {
    bottom: 1rem;
    left: 2rem;
    width: auto;
  }

  .alert {
    font-weight: bold;
  }

  .alert-dismissible .close {
    padding-top: .8rem;
    padding-right: 1rem;
  }
}
