.avatar-container {
  .avatar {
    border-radius: 10px;
    overflow: hidden;

    img {
      display: block
    }

    .color {
      width: 100%;
      position: relative;

      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      .letter {
        font-size: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
