// Round buttons
.btn-round {
  border-radius: 25px;

  &.btn-sm {
    border-radius: 15px;
  }

  &.btn-xs {
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }

  &.btn-lg {
    border-radius: 35px;
  }
}

.btn-info {
  color: #fff !important;

  &,
  &:active,
  &:focus {
    @include apply-dark-theme() {
      box-shadow: none !important;
    }
  }
}

.btn-primary {
  @include apply-dark-theme() {
    color: $white;
  }
}

.on-bc img {
  height: 3rem;
  width: auto;
}

.btn-outline-dark {
  @include apply-dark-theme() {
    border-color: $gray-400;
  }

  &:hover {
    @include apply-dark-theme() {
      border-color: $white;
    }
  }
}

.btn-link {
  @include apply-dark-theme() {
    color: $white;
  }
}
