.dropdown-toggle-no-caret {
  &::after {
    display: none;
  }
}

.search-heading {
  .dropdown-menu {
    @include media-breakpoint-down(sm) {
      width: 100%;
      max-width: 100%;
      max-height: 15rem;
      overflow: auto;
      transform: translate3d(0, 4.3125rem, 0) !important;
    }
  }
}

.dropdown-menu {
  &:focus {
    outline: transparent;
  }
  @include apply-dark-theme() {
    background: t("dropdown-bg-color");
  }

  .dropdown-item {
    @include apply-dark-theme() {
      color: t("dropdown-item-text-color");

      &.active {
        background: t("dropdown-item-bg-hover-color");
      }

      &:hover {
        background: t("dropdown-item-bg-hover-color")
      }
    }
  }

  box-shadow: $paper-shadow;
  overflow: auto;
  max-height: 20rem;
  max-width: 22rem;
}

.dropdown-wrapper {
  @include apply-dark-theme() {
    border-bottom-color: t("form-control-border-color");
  }

  display: inline-flex;
  align-items: center;
  border-bottom: .0625rem solid $gray-100;

  @include media-breakpoint-only(md) {
    margin-right: 2rem;
  }

  @include media-breakpoint-only(lg) {
    margin: 0 !important;
  }

  &.sort-dropdown {
    width: 100%;
    margin: 0 1rem;
  }
}

.dropdown {
  width: 100%;

  &__clear-btn {
    padding-right: .4rem;

    svg {
      width: .875rem;
      height: .875rem;
      cursor: pointer;
    }
  }

  &__button-wrapper {
    @include apply-dark-theme() {
      color: t("dropdown-item-text-color");
    }

    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-content: center;
    align-items: center;
    font-size: .9rem;
  }

  &--responsive {
    width: auto;

    button {
      @include apply-dark-theme() {
        //TODO add new color for header menu icon
        color: t("dropdown-item-text-color")
      }
    }
  }
}
