/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/roboto-v27-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/roboto-v27-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('~/assets/fonts/roboto-v27-latin-ext_latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/roboto-v27-latin-ext_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-500.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('~/assets/fonts/roboto-v27-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/roboto-v27-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin-ext_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('~/assets/fonts/roboto-v27-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/roboto-v27-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/roboto-v27-latin-ext_latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-condensed-regular - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin-ext_latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/roboto-condensed-v19-latin-ext_latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

/* inter-regular - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('~/assets/fonts/inter-v3-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/inter-v3-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/inter-v3-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/inter-v3-latin-ext_latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-600 - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('~/assets/fonts/inter-v3-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/inter-v3-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/inter-v3-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/inter-v3-latin-ext_latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('~/assets/fonts/inter-v3-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/inter-v3-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/inter-v3-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/inter-v3-latin-ext_latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-900 - latin-ext_latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('~/assets/fonts/inter-v3-latin-ext_latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('~/assets/fonts/inter-v3-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('~/assets/fonts/inter-v3-latin-ext_latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-900.woff') format('woff'), /* Modern Browsers */
  url('~/assets/fonts/inter-v3-latin-ext_latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('~/assets/fonts/inter-v3-latin-ext_latin-900.svg#Inter') format('svg'); /* Legacy iOS */
}
