.custom-checkbox {
  .custom-control-input:checked ~ label::before {
    @include apply-dark-theme() {
      background: $dark-grayish-navy;
    }
  }

  label {
    &::before {
      @include apply-dark-theme() {
        background: $almost-black;
      }
    }

    color: $gray-500;
    font-size: .875rem;
  }
}

.v-select {
  &.is-invalid {
    .vs__dropdown-toggle {
      border-color: $danger !important;
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  .vs__search,
  .vs__search:focus {
    padding: $input-padding-y $input-padding-x;
    margin: 0;
    border: none;
    line-height: 1;

    @include apply-dark-theme() {
      color: $gray-400;
    }
  }

  .vs__dropdown-toggle {
    @include apply-dark-theme() {
      border-color: $gray-800;
    }
    padding: 0;
  }

  .vs__selected-options {
    padding: 0;
    align-items: start;
  }

  .vs__selected {
    @include apply-dark-theme() {
      background: $dark-grayish-navy;
      color: $gray-400;
      border-color: $gray-800;
    }

    font-size: .75rem;
    padding: .5rem 1rem;
    background: $gray-100;
    border-radius: 1rem;
    margin: 5px;
    line-height: 1;
    border-width: 0;

    .vs__deselect {
      @include apply-dark-theme() {
        fill: $gray-400;
      }

      margin-left: 8px;
    }
  }
  .vs__dropdown-menu {
    @include apply-dark-theme() {
      background: $almost-black;
      border-color: $gray-800;
      color: $body-color--dark;

      li {
        color: $body-color--dark;

        &:hover {
          background: $dark-grayish-navy;
        }
      }

    }
  }
}

.custom-select {
  @include apply-dark-theme() {
    background-color: $almost-black;
    border-color: $gray-800;
    color: $body-color--dark;
  }
}

.input-group {
  .input-group-prepend,
  .input-group-append {
    &  > .input-group-text {
      @include apply-dark-theme() {
        background: $dark-grayish-navy;
        border-color: $gray-800;
        color: $gray-400;
      }
    }
  }

  .vdp-datepicker {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;

    &__calendar {
      @include apply-dark-theme() {
        background: $almost-black;
        border-color: $gray-800;

        .prev,
        .next,
        .day__month_btn,
        .month__year_btn {
          &:hover {
            background: $dark-grayish-navy;
          }
        }

        .prev:after {
          border-right-color: $gray-800;
        }

        .next:after {
          border-left-color: $gray-800;
        }

        .cell.selected {
          background: $dark-grayish-navy;
        }
      }
    }
  }

  > .vdp-datepicker + .vdp-datepicker {
    margin-left: -1px;
  }
}

.quick-search {
  position: relative;
  text-align: right;

  input {
    @include apply-dark-theme() {
      background: t("form-control-search-bg-color");

      &:focus {
        background: t("form-control-search-bg-focus-color");
      }
    };

    width: 11rem;
    border: 0;
    background: $gray-100;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    padding: 1.2rem 2.7rem 1.2rem 1.5rem;

    &:focus {
      box-shadow: none;
      background: $gray-200;
    }
  }

  button {
    border: 0;
    background: none;
    position: absolute;
    right: 7px;
    top: 10px;

    .feather {
      stroke: $gray-600;
    }
  }
}

.quick-chat-search {
  position: relative;
  text-align: right;

  input {
    width: 11rem;
    border: 0;
    background: $gray-100;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    padding: 1.2rem 2.7rem 1.2rem 1.5rem;

    &:focus {
      box-shadow: none;
      background: $gray-200;
    }
  }

  .fake-input {
    height: calc(1em + 1.8rem + 2px);
    border: 0;
    background: $gray-100;
    border-radius: 1.5rem;
    font-size: 1.125rem;
    padding: 1.2rem 1.7rem 1.2rem 1.5rem;
  }

  button {
    border: 0;
    background: none;
    position: absolute;
    right: 7px;
    top: 10px;

    .feather {
      stroke: $gray-600;
    }
  }
}

.is-invalid {
  .ck {
    .ck-editor__main>.ck-editor__editable {
      border-color: $danger;
    }
  }
}

.form-control {
  @include apply-dark-theme() {
    color:  t("form-control-text-color");
    background-color: transparent;

    &:not(.is-invalid):not(.is-valid) {
      border-color: t("form-control-border-color");
    }

    &::placeholder {
      color: t("form-control-placeholder-color");
    }

    &:disabled {
      background-color: $dark-grayish-navy;
    }
  }
}
