.main-menu {
  li {
    a {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.125rem;
      // color: $black;
      padding: 1.5rem .5rem;

      .feather {
        stroke: $gray-600;
        margin-right: 1rem;
      }

      &.nuxt-link-active {
        color: $green;

        .feather {
          stroke: $green;
        }
      }
    }
  }
}

.funnel-menu {
  li {
    a, span {
      color: $gray-600;
      display: flex;
      align-items: center;
      padding: 1rem .5rem;
      font-weight: bold;

      .feather {
        stroke: $gray-500;
        margin-right: 1rem;
      }
    }

    &.previous {
      a, span {
        color: $green;

        .feather {
          stroke: $green;
        }
      }
    }

    &.active {
      a, span {
        color: $info;

        .feather {
          stroke: $info;
        }
      }
    }
  }
}

.mobile-menu {
  @include apply-dark-theme() {
    background: $dark-grayish-navy;

    a {
      color: $gray-400;
    }
  }

  height: 3.5rem;
  background: $gray-100;

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    li {
      width: 33.3333333%;

      a {
        color: $gray-700;
        font-weight: 900;
        text-align: center;
        font-size: 0.69rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .feather {
          height: 1.25rem;
          width: 1.25rem;
          margin-bottom: 0.3rem;
        }

        &.router-link-active {
          color: $green;
          text-decoration: none;

          .feather {
            stroke: $green;
          }
        }
      }
    }
  }
}

.language-button {
  line-height: 1;

  path {
    fill: black;
  }
}

.dark-theme .language-button path {
  fill: $gray-400;
}
