.modal {
  @include apply-dark-theme() {
    .modal-content {
      box-shadow: 0 0 1rem $very-dark-blue;
      background: $almost-black;

      .close {
        color: $body-color--dark;
      }
    }
  }
}

.modal-backdrop {
  @include apply-dark-theme() {
    background-color: rgba($almost-black, .9);
  }
}
