.pagination {
  @include apply-dark-theme() {
    .page-item {
      .page-link {
        background-color: $black;
        border-color: $gray-800;
        color: $gray-400;
      }

      &.active {
        .page-link {
          background-color: $gray-800;
        }
      }
    }
  }
}
