.nav-tabs {
  @include apply-dark-theme() {
    border-color: $dark-grayish-navy;
  }

  border-bottom: 2px solid rgba($black, .1);

  .nav-link {
    font-weight: bold;
    margin-bottom: -2px;
    font-size: 1.125rem;

    &.active {
      color: $green;
      border-bottom: 2px solid $green;
    }

    @include media-breakpoint-down(sm) {
      font-size: 1rem;
    }
  }
}
