.list-tags {
  .tag-item {
    @include apply-dark-theme() {
      background: t("pill-bg-color");
    }

    font-size: .75rem;
    padding: .5rem 1rem;
    background: $gray-100;
    border-radius: 1rem;
  }
}
