.small-heading {
  @include apply-dark-theme() {
    color: t("headings-small-text-color");
  }

  font-size: .6875rem;
  text-transform: uppercase;
  color: $text-muted;
  line-height: 1;
  font-family: $font-family-sans-serif-secondary;
  font-weight: 700;
}

@include media-breakpoint-down(sm) {
  .font-12-sm {
    font-size: 0.75rem;
  }

  .font-14-sm {
    font-size: 0.875rem;
  }

  .font-16-sm {
    font-size: 1rem;
  }

  .font-18-sm {
    font-size: 1.125rem;
  }
}

p {
  word-break: break-word;
}

ul.custom-arrows {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 1.8rem;
    position: relative;
    margin-bottom: .5rem;
    width: 100%;

    &:before {
      position: absolute;
      content: '>';
      color: $success;
      font-size: 2.15rem;
      font-weight: bold;
      left: 0;
      top: -15px;
    }
  }
}
