// Colors
$gray-100: #F3F3F3;
$gray-300: #D0D2D6;
$gray-400: #B9BBC0;
$gray-500: #9D9FA5;
$gray-600: #72757D;
$gray-800: #3B3F4B;

$primary: #218a9f;
$info: #537ffa;
$dark: #0D0D22;
$green: #7fc241;

$almost-black: #070B17;
$dark-grayish-navy: #1F222E;
$very-dark-blue: #01040B;

$facebook-blue: #4e4990;
$linkedin-blue: #0067b1;

$visibility-boosted-color: rgba(0, 115, 0, 0.15);
$visibility-boosted-color-dark: rgba(0, 115, 90, .5);

$recommended-color: rgba(0, 0, 115, .15);
$recommended-color-dark: rgba(0, 0, 115, .4);

$escrow-set-color: rgba(#ffd700, 0.5);
$escrow-set-color-dark: rgba(#ffd700, 0.5);

$theme-colors: (
        "almost-black": $almost-black,
        "facebook-blue": $facebook-blue,
        "linkedin-blue": $linkedin-blue
);

$enable-shadows: true;

// Spacing
$spacer: 1rem;
$spacers: (
        6: ($spacer * 5),
        7: ($spacer * 8),
);

// Layout
$header-height: 3.5rem;
$header-lg-height: 5rem;
$header-xl-height: 8.5rem;

$header-scrolled-height: 4rem;

// Body
$body-color: $dark;
$body-color--dark: $gray-400;
$body-bg--dark: $almost-black;

// Grid
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        xxxl: 1920px
);

// Grid containers
$container-max-widths: (
  // sm: 540px,
  // md: 720px,
  // lg: 960px,
  // xl: 1140px,
  // xxl: 1400px,
        xxxl: 1900px
);

// Links
$link-color: $dark;
$link-color--dark: $gray-400;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-family-sans-serif-secondary: 'Inter', sans-serif;
$text-muted: rgba($dark, 0.4);
$text-muted--dark: rgba($gray-400, 0.4);
$headings-font-weight: 900;
$enable-responsive-font-sizes: true;
$headings-small-color: rgba($gray-400, 0.4);

// Buttons + Forms
$input-btn-padding-y-lg: 1.25rem;
$input-btn-padding-x-lg: 1.25rem;
$input-btn-focus-box-shadow: none;

// Buttons
$btn-padding-y: .55rem;
$btn-padding-x: 1.3rem;
$btn-font-weight: 700;
$btn-font-size: 1.125rem;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-width: 0;
$btn-border-width: .25rem;

// Forms
$input-padding-y: .9rem;
$input-padding-x: 1rem;
$input-line-height: 1;

$input-line-height-lg: 1;

$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

$input-bg--dark: $almost-black;

$input-border-color: $gray-300;
$input-box-shadow: none;

$input-placeholder-color: rgba($dark, 0.3);
$input-placeholder-color--dark: rgba($gray-400, 0.3);

$input-focus-bg--dark: rgba($dark-grayish-navy, 0.3);

$custom-checkbox-indicator-border-radius: 0;

$custom-select-border-radius: 0;

// Paper
$paper-shadow: 0 0 6rem 0 rgba($dark, 0.06);
$paper-shadow--dark: 0 0 6rem 0 #01040B;
$paper-bg--dark: $almost-black;

// Dropdowns
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-font-size: 1.125rem;
$dropdown-box-shadow: $paper-shadow;
$dropdown-item-padding-y: .4rem;

// Layout
$header-menu-font-size: 1.125rem;
$header-menu-item-spacing: 2.5rem;

// Vue Select
$vs-border-radius: $input-border-radius;
$vs-component-placeholder-color: $input-placeholder-color;

// Navs
$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: transparent;

// Alerts
$alert-border-width: 0;
$alert-border-radius: .5rem;
$alert-color-level: 10;
$alert-bg-level: 0;
$alert-padding-x: 2.3rem;
$alert-padding-y: 1rem;

// Modal
$modal-content-border-radius: 0;
$modal-backdrop-bg: rgba(#F9F9F9, .8);
$modal-content-border-width: 0;
$modal-content-box-shadow-sm-up: 0 0 96px rgba(13, 13, 34, .1);

// Popover
$popover-border-width: 0;
$popover-border-radius: 0;
$popover-arrow-width: 0;
$popover-box-shadow: $paper-shadow;

// Notifications
$notifications-indicator-size: 15px;

// Horizontal divider
$hr-color--dark: $dark-grayish-navy;

// Loading overlay
$loading-overlay-bg--dark: rgba($almost-black, .8);

// Spinner
$spinner-bg--dark: $gray-400;

// Pills
$pill-bg--dark: $dark-grayish-navy;

// Dark theme map
$theme-dark: (
        "body-text-color": $gray-400,
        "body-bg-color": $almost-black,
        "link-color": $gray-400,
        "form-control-text-color": $gray-400,
        "form-control-placeholder-color": rgba($gray-400, 0.3),
        "form-control-border-color": $gray-800,
        "form-control-search-bg-focus-color": rgba($dark-grayish-navy, 0.3),
        "form-control-search-bg-color": $dark-grayish-navy,
        "dropdown-bg-color": $almost-black,
        "dropdown-item-text-color": $gray-400,
        "dropdown-item-bg-active-color": $dark-grayish-navy,
        "dropdown-item-bg-hover-color": $dark-grayish-navy,
        "paper-bg-color": $almost-black,
        "paper-shadow": $paper-shadow--dark,
        "headings-small-text-color": rgba($gray-400, 0.4),
        "hr-color": $dark-grayish-navy,
        "loading-overlay-bg-color": rgba($almost-black, .8),
        "spinner-bg": $gray-400,
        "text-muted-color": rgba($gray-400, 0.4),
        "pill-bg-color": $dark-grayish-navy,
);

// CKEditor dark theme colors
$ck-editor--dark-colors: (
        "base-background": $almost-black,
        "base-foreground": $almost-black,
        "base-border": $gray-800,
        "base-text": $gray-400,
        "text": $gray-400,
        "toolbar-background": $almost-black,
        "toolbar-border": $gray-800,
        "button-default-hover-background": $dark-grayish-navy,
        "button-default-active-background": $dark-grayish-navy,
        "button-on-background": $dark-grayish-navy,
        "button-on-hover-background": $dark-grayish-navy,
        "dropdown-panel-border": $gray-800,
        "list-background": $almost-black,
        "list-button-hover-background": $dark-grayish-navy,
        "list-button-on-background": $dark-grayish-navy,
        "list-button-on-background-focus": $dark-grayish-navy,
        "split-button-hover-background": $dark-grayish-navy,
        "split-button-hover-border": $gray-800,
        "code-block-label-background": $almost-black,
        "panel-background": $almost-black,
        "panel-border": $gray-800,
        "input-background": $almost-black,
        "input-border": $gray-800,
        "link-selected-background": $dark-grayish-navy,
        "link-default": $gray-400,
        "focus-border": $gray-400,
        "focus-ring": $gray-400,
        "shadow-inner": $gray-400
);
