.user-info-widget {
  button {
    @include apply-dark-theme() {
      color: t("body-text-color");
    }
  }

  & .dropdown-item {
    @include apply-dark-theme() {
      &.active {
        background: $dark-grayish-navy;
      }

      &:hover, &:active {
        background: $dark-grayish-navy;
      }
    }
  }
}