<template>
  <freelancer-applications-list :status="statuses" />
</template>

<script>
import FreelancerApplicationsList from '@/components/tasks/FreelancerApplicationsList'
import { applicationStatuses } from 'ct-constants'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CompletedApplicationsListPage',
  components: { FreelancerApplicationsList },
  mixins: [Pageview],
  middleware: ['checkProfileCompleteness', 'isFreelancer'],
  computed: {
    /**
     * List of statuses to be loaded
     * @returns {Object[]}
     */
    statuses () {
      return [
        applicationStatuses.CANCELED,
        applicationStatuses.REJECTED,
        applicationStatuses.FINISHED
      ]
    }
  }
}
</script>
