<template>
  <div>
    <h1 class="mb-3">
      {{ $t('tasks.form.escrowTitle') }}
    </h1>

    <escrow-form :task="task" :applications="applications">
      <template #buttons>
        <b-button variant="link" @click.prevent="skip">
          {{ $t('common.skip') }}
        </b-button>
      </template>
      <template #enabled>
        <div class="d-flex align-items-center justify-content-end">
          <b-button variant="primary" class="btn-round" @click.prevent="finish">
            {{ $t('tasks.form.finish') }}
          </b-button>
        </div>
      </template>
    </escrow-form>
  </div>
</template>

<script>
import EscrowForm from '@/components/escrow/EscrowForm'

export default {
  name: 'CreateTaskEscrowForm',
  components: { EscrowForm },
  props: {
    task: {
      type: Object,
      required: true
    },
    applications: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    skip () {
      this.$emit('skip')
    },
    finish () {
      this.$emit('finish')
    }
  }
}
</script>

<style scoped>

</style>
