<template>
  <b-overlay :show="loading">
    <div class="min-vh-100">
      <template v-if="invitation">
        <div class="row">
          <div class="col-12 col-lg-7 pt-4 pt-lg-0">
            <single-task-title
              :task="invitation.Task"
              :subtitle="$t('freelancers.invitation.invitationFor')"
              :client="invitation.Client"
            />
          </div>
        </div>
        <div class="row">
          <div class="d-none d-lg-block col-lg-4 col-xl-3 offset-xl-1 order-lg-2">
            <task-details :task="invitation.Task">
              <template #buttons>
                <apply-for-task-button
                  :task="invitation.Task"
                  :loading="loading"
                  :invitation-id="invitation.id"
                />
              </template>
            </task-details>
          </div>
          <div class="col-12 col-lg-7 order-lg-1">
            <b-tabs nav-class="my-task-tabs align-items-center" :value="selectedTab" @input="changeTab">
              <invitation-letter-tab :invitation="invitation" />
              <task-description-tab :task="invitation.Task" />
            </b-tabs>
          </div>
        </div>
      </template>
    </div>
  </b-overlay>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import SingleTaskTitle from '@/components/tasks/SingleTaskTitle'
import TaskDetails from '@/components/tasks/TaskDetails'
import ApplyForTaskButton from '@/components/tasks/ApplyForTaskButton'
import TaskDescriptionTab from '@/components/tasks/clientTabs/TaskDescriptionTab'
import { invert } from 'lodash'
import InvitationLetterTab from '@/components/freelancer/InvitationLetterTab'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'SingleInvitationPage',
  components: {
    InvitationLetterTab,
    TaskDescriptionTab,
    ApplyForTaskButton,
    TaskDetails,
    SingleTaskTitle
  },
  mixins: [AxiosErrorHandler, Pageview],
  middleware: ['isFreelancer'],
  data () {
    return {
      invitation: null,
      loading: false,
      tabs: [
        'letter',
        'description'
      ]
    }
  },
  computed: {
    tabMap () {
      const tabsData = {}
      this.tabs.forEach((t, i) => {
        tabsData[t] = i
      })
      return tabsData
    },
    selectedTab () {
      return this.$route.query.tab ? this.tabMap[this.$route.query.tab] : 0
    }
  },
  mounted () {
    this.loadInvitation()
  },
  destroyed () {
    this.invitation = null
  },
  methods: {
    async loadInvitation () {
      try {
        this.loading = true
        const { data } = await this.$axios.get(`/invitations/${this.$route.params.id}`)
        this.invitation = data.data
        this.loading = false
      } catch (err) {
        this.loading = false
        await this.handleError(err)
      }
    },

    /**
     * When tab is changed update it in query string
     * @param {Number} tabIndex
     */
    changeTab (tabIndex) {
      const tabId = invert(this.tabMap)[tabIndex]
      this.$router.push(this.localePath(`/invitations/${this.invitation.id}?tab=${tabId}`))
    }
  }
}
</script>

<style scoped>

</style>
