<template>
  <div class="row">
    <div class="col-12 col-lg-7 order-lg-0 pt-lg-5">
      <b-overlay :show="loadingInvitations">
        <div v-for="i in invitations" :key="i.id">
          <invitation-short-item :invitation="i" />
          <hr>
        </div>

        <b-pagination
          v-if="invitations.length && !loadingInvitations && invitations.length > total"
          :value="page"
          :total-rows="total"
          :per-page="perPage"
          align="center"
          @change="changePage"
        />
      </b-overlay>

      <div v-if="!invitations.length && !loadingInvitations">
        <div class="h1 mb-4">
          {{ $t('agent.invitations.noInvitations') }}
        </div>
        <nuxt-link :to="localePath('/tasks')">
          <u>{{ $t('common.browse') }}</u>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import InvitationShortItem from '@/components/invitations/InvitationShortItem'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'InvitationsListPage',
  components: {
    InvitationShortItem
  },
  mixins: [AxiosErrorHandler, Pageview],
  data () {
    return {
      invitations: [],
      loadingInvitations: false,
      page: 1,
      total: 0,
      perPage: 20
    }
  },
  created () {
    this.getInvitations()
  },
  methods: {
    changePage (page) {
      this.page = page
      this.getInvitations()
    },
    async getInvitations () {
      this.loadingInvitations = true
      try {
        const { data } = await this.$axios.get('/freelancers/invitations', {
          params: {
            page: this.page,
            perPage: this.perPage
          }
        })
        this.invitations = data.data
        this.total = data.meta.total
        this.loadingInvitations = false
      } catch (err) {
        this.loadingInvitations = false
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
