<template>
  <div class="row">
    <div class="col-12">
      <b-overlay :show="loading">
        <div v-if="subscription">
          <h1 class="mb-4">
            {{ $t('subscriptions.subscriptionTitle', { packageName: subscription.Package.title }) }}
          </h1>
          <h2>
            {{ $t('subscriptions.info') }}
          </h2>
          <dl class="row">
            <dt class="col-2">
              {{ $t('subscriptions.packageName') }}
            </dt>
            <dd class="col-10">
              {{ subscription.Package.title }}
            </dd>

            <dt v-if="task" class="col-2">
              {{ $t('subscriptions.taskName') }}
            </dt>
            <dd v-if="task" class="col-10">
              <router-link :to="localePath(`/my-tasks/${task.id}`)">
                {{ task.title }}
              </router-link>
            </dd>

            <dt class="col-2">
              {{ $t('subscriptions.status') }}
            </dt>
            <dd class="col-10">
              <subscription-status-badge :status="subscription.status" />
            </dd>

            <dt class="col-2">
              {{ $t('subscriptions.qty') }}
            </dt>
            <dd class="col-10">
              {{ subscription.qty }} {{ $t('subscriptions.' + subscription.unit) }}
            </dd>

            <dt class="col-2">
              {{ $t('subscriptions.price') }}
            </dt>
            <dd class="col-10">
              <price :amount="subscription.price" :currency-id="subscription.currencyId" />
            </dd>

            <dt class="col-2">
              {{ $t('subscriptions.period') }}
            </dt>
            <dd class="col-10">
              {{ subscription.from | dateFormat('DD.MM.YYYY HH:mm:ss') }} -
              {{ subscription.to | dateFormat('DD.MM.YYYY HH:mm:ss') }}
            </dd>

            <dt class="col-2">
              {{ $t('subscriptions.createdAt') }}
            </dt>
            <dd class="col-10">
              {{ subscription.createdAt | dateFormat('DD.MM.YYYY HH:mm:ss') }}
            </dd>
          </dl>
          <hr>
          <h2>
            {{ $t('subscriptions.paymentInfo') }}
          </h2>

          <dl v-if="subscription.Payment" class="row">
            <dt class="col-2">
              {{ $t('payments.code') }}
            </dt>
            <dd class="col-10">
              {{ subscription.Payment.hash }}
            </dd>

            <dt class="col-2">
              {{ $t('payments.status') }}
            </dt>
            <dd class="col-10">
              <payment-status-badge :status="subscription.Payment.status" />
            </dd>

            <dt class="col-2">
              {{ $t('payments.amount') }}
            </dt>
            <dd class="col-10">
              <price :amount="subscription.Payment.amount" :currency-id="subscription.Payment.currencyId" />
            </dd>

            <dt class="col-2">
              {{ $t('payments.methodName') }}
            </dt>
            <dd class="col-10">
              <payment-method-name :id="subscription.Payment.paymentMethodId" />
            </dd>

            <dt class="col-2">
              {{ $t('subscriptions.createdAt') }}
            </dt>
            <dd class="col-10">
              {{ subscription.Payment.createdAt | dateFormat('DD.MM.YYYY HH:mm:ss') }}
            </dd>

            <dt class="col-2">
              {{ $t('payments.lastUpdate') }}
            </dt>
            <dd class="col-10">
              {{ subscription.Payment.updatedAt | dateFormat('DD.MM.YYYY HH:mm:ss') }}
            </dd>
          </dl>

          <payment-instructions v-if="subscription.Payment" :payment="subscription.Payment" />

          <b-alert :show="!subscription.Payment" variant="warning">
            {{ $t('subscriptions.noPayment') }}
          </b-alert>

          <b-button v-if="canPay" class="btn-round" variant="primary" @click.prevent="createPayment">
            {{ $t('subscriptions.pay') }}
          </b-button>

          <subscription-payment-modal
            v-if="subscription"
            ref="subModal"
            :subscription="subscription"
            @paid="handleSubscriptionPayment"
          />
        </div>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import SubscriptionStatusBadge from '@/components/subscriptions/SubscriptionStatusBadge'
import Price from '@/components/ui/Price'
import PaymentStatusBadge from '@/components/payments/PaymentStatusBadge'
import PaymentMethodName from '@/components/payments/PaymentMethodName'
import SubscriptionPaymentModal from '@/components/subscriptions/SubscriptionPaymentModal'
import { paymentStatuses } from 'ct-constants'
import PaymentInstructions from '@/components/payments/PaymentInstructions'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SubscriptionPage',
  components: {
    PaymentInstructions,
    SubscriptionPaymentModal,
    PaymentMethodName,
    PaymentStatusBadge,
    Price,
    SubscriptionStatusBadge
  },
  mixins: [AxiosErrorHandler, Pageview],
  data () {
    return {
      loading: false,
      subscription: null
    }
  },
  computed: {
    task () {
      return this.subscription?.Tasks.length ? this.subscription.Tasks[0] : null
    },
    freelancer () {
      return this.subscription?.Freelancers.length ? this.subscription.Freelancers[0] : null
    },

    /**
     * Check if new payment can be created for this subscription
     * @returns {boolean}
     */
    canPay () {
      return !this.subscription.Payment || ![paymentStatuses.PAID, paymentStatuses.PENDING, paymentStatuses.PROCESSING].includes(this.subscription.Payment.status)
    }
  },
  async created () {
    await this.fetchSubscription()
  },
  methods: {
    /**
     * Fetch subscription data
     * @returns {Promise<void>}
     */
    async fetchSubscription () {
      try {
        this.loading = true
        const { data } = await this.$axios.get('/subscriptions/' + this.$route.params.id)
        this.subscription = data.data
        this.loading = false
      } catch (err) {
        this.loading = false
        await this.handleError(err)
      }
    },

    /**
     * Open modal when new payment needs to be created
     */
    createPayment () {
      this.$refs.subModal.openModal()
    },

    /**
     * When new payment is created fetch subscription again
     */
    handleSubscriptionPayment () {
      this.fetchSubscription()
    }
  }
}
</script>

<style scoped>

</style>
