<template>
  <div>
    <div class="row">
      <div class="col-12">
        <h1 class="mb-4">
          {{ $t('subscriptions.mySubscriptions') }}
        </h1>
        <subscriptions-list ref="list" :subscriptions="subscriptions" />
      </div>
    </div>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import SubscriptionsList from '@/components/subscriptions/SubscriptionsList'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'SubscriptionsPage',
  components: {
    SubscriptionsList
  },
  mixins: [AxiosErrorHandler, Pageview],
  data () {
    return {
      subscriptions: []
    }
  },
  async mounted () {
    try {
      this.$refs.list.loading = true
      const { data } = await this.$axios.get('/subscriptions')
      this.subscriptions = data.data
      this.$refs.list.loading = false
    } catch (err) {
      this.$refs.list.loading = false
      await this.handleError(err)
    }
  }
}
</script>

<style scoped>

</style>
