<template>
  <div class="row">
    <div class="col-12">
      <h1>
        {{ $t('freelancers.visibilitySubscriptionTitle') }}
      </h1>
      <basic-freelancer-subscription-form :freelancer="freelancer" :subscriptions="subscriptions" />
    </div>
  </div>
</template>

<script>
import BasicFreelancerSubscriptionForm from '@/components/subscriptions/BasicFreelancerSubscriptionForm'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'SubscribePage',
  components: { BasicFreelancerSubscriptionForm },
  mixins: [AxiosErrorHandler, Pageview],
  data () {
    return {
      subscriptions: []
    }
  },
  computed: {
    freelancer () {
      return this.$store.getters['user/getFreelancer']
    }
  },
  async mounted () {
    const isFreelancer = this.$store.getters['user/isFreelancer']

    if (!isFreelancer) {
      await this.$router.replace('/')
    }

    // fetch freelancer subscriptions
    try {
      const { data } = await this.$axios.get(`/freelancers/${this.freelancer.id}/subscriptions`)
      this.subscriptions = data.data
    } catch (err) {
      await this.handleError(err)
    }
  }
}
</script>

<style scoped>

</style>
