<template>
  <b-form @submit.prevent="submit">
    <div class="row">
      <div class="col-12 col-xl-6">
        <input-group
          v-model="form.name"
          name="name"
          class="mb-3"
          :placeholder="$t('contact.name')"
          :label="$t('contact.name')"
          :validation="$v.form.name"
        />

        <input-group
          v-model="form.email"
          name="email"
          class="mb-3"
          :placeholder="$t('contact.email')"
          :label="$t('contact.email')"
          :validation="$v.form.email"
        />

        <input-group
          v-model="form.subject"
          name="subject"
          class="mb-3"
          :placeholder="$t('contact.subject')"
          :label="$t('contact.subject')"
          :validation="$v.form.subject"
        />

        <h-captcha-input class="mb-2" :validation="$v.form.token" @verified="handleCaptchaVerified" />

        <div class="d-none d-xl-flex align-items-center">
          <loading-button
            type="submit"
            variant="primary"
            class="btn-round mr-3"
            :label="$t('contact.send')"
            :loading-label="$t('contact.sending')"
            :loading="sending"
          />
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <textarea-group
          v-model="form.text"
          name="text"
          class="mb-4"
          :label="$t('contact.text')"
          :rows="12"
          :validation="$v.form.text"
        />

        <div class="d-flex align-items-center d-xl-none">
          <loading-button
            type="submit"
            variant="primary"
            class="btn-round mr-3"
            :label="$t('contact.send')"
            :loading-label="$t('contact.sending')"
            :loading="sending"
          />
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
import { maxLength, required, email } from 'vuelidate/lib/validators'
import LoadingButton from '@/components/ui/LoadingButton'
import TextareaGroup from '@/components/form/TextareaGroup'
import InputGroup from '@/components/form/InputGroup'
import Captcha from '@/mixins/Captcha'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import HCaptchaInput from '@/components/form/HCaptchaInput'

export default {
  name: 'ContactForm',
  components: {
    HCaptchaInput,
    InputGroup,
    TextareaGroup,
    LoadingButton
  },
  mixins: [Captcha, AxiosErrorHandler],
  data () {
    return {
      form: {
        name: '',
        email: '',
        subject: '',
        text: '',
        token: null
      },
      sending: false
    }
  },
  validations: {
    form: {
      name: {
        required,
        maxLength: maxLength(100)
      },
      email: {
        required,
        email
      },
      subject: {
        required,
        maxLength: maxLength(100)
      },
      text: {
        required,
        maxLength: maxLength(10000)
      }
    }
  },
  methods: {
    async submit () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.sending = true

        try {
          await this.$axios.post('/utils/contact', this.form)

          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('contact.sent')
          })

          this.sending = false
        } catch (err) {
          await this.handleError(err)

          this.sending = false
        }
      }
    }
  }
}
</script>
