<template>
  <div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h1 class="display-1">
        404
      </h1>
      <h2>{{ message }}</h2>
      <nuxt-link v-if="backUrl" :to="localePath(backUrl)">
        {{ backText }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'NotFoundError',
  props: {
    message: {
      type: String,
      default: null
    },
    backUrl: {
      type: String,
      default: null
    },
    backText: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped>

</style>
