<template>
  <div class="container">
    <div class="row mb-6 pt-6">
      <div class="col-12 col-lg-10 offset-lg-1">
        <b-overlay :show="$fetchState.pending">
          <h1 class="mb-4 font-weight-bold">
            {{ title }}
          </h1>
          <div class="mb-4 ck-content" v-html="text" />
        </b-overlay>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageContent',
  props: {
    slug: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      title: '',
      text: ''
    }
  },
  async fetch () {
    const res = await this.$axios.get(`/pages/${this.slug}`)
    this.title = res.data.data.title
    this.text = res.data.data.text
  }
}
</script>
