<template>
  <div class="position-relative">
    <b-overlay :show="loading">
      <div v-if="methods.length" class="mb-4">
        <b-form-group :value="value" :label="$t('payments.selectPaymentMethod')">
          <b-form-radio
            v-for="m in methods"
            :key="m.id"
            v-model="value"
            name="paymentMethod"
            :value="m.id"
            @input="select"
          >
            {{ $t(`payments.${m.name}.name`) }}
          </b-form-radio>
        </b-form-group>
      </div>
    </b-overlay>
  </div>
</template>

<script>
export default {
  name: 'PaymentMethodSelector',
  data () {
    return {
      loading: false,
      methods: [],
      value: null
    }
  },
  async mounted () {
    // load payment methods
    this.loading = true
    const { data } = await this.$axios.get('/payment-methods')
    this.methods = data.data

    // select default one or first one immediately
    if (this.methods.length) {
      this.value = this.methods.find(m => m.default) || this.methods[0].id
      this.select(this.value)
    }

    this.loading = false
  },
  methods: {
    select (methodId) {
      this.$emit('input', this.methods.find(m => m.id === methodId))
    }
  }
}
</script>

<style scoped>

</style>
