<template>
  <component :is="selectedMethodInstructions" :payment="payment" />
</template>

<script>
import CryptoInstructions from '@/components/payments/instructions/CryptoInstructions'
import WireInstructions from '@/components/payments/instructions/WireInstructions'

export default {
  name: 'PaymentInstructions',
  components: {
    CryptoInstructions,
    WireInstructions
  },
  props: {
    payment: {
      type: Object,
      required: true
    }
  },
  computed: {
    paymentMethod () {
      const methods = this.$store.getters['util/getPaymentMethodsById']
      return methods[this.payment.paymentMethodId]
    },

    selectedMethodInstructions () {
      return `${this.paymentMethod.resolver}-instructions`
    }
  }
}
</script>

<style scoped>

</style>
