<template>
  <div>
    <b-overlay :show="paying && !payment">
      <template v-if="!payment">
        <payment-method-selector @input="handleMethodSelection" />
        <hr>
        <div v-if="paymentMethod">
          <component :is="selectedMethodResolver" @create="createPayment" />
        </div>
      </template>
      <template v-else>
        <div v-if="selectedMethodSuccess">
          <component :is="selectedMethodSuccess" :payment="payment" />
        </div>
      </template>
    </b-overlay>
  </div>
</template>

<script>
import WireResolver from '@/components/payments/resolvers/WireResolver'
import WireSuccess from '@/components/payments/success/WireSuccess'
import CryptoResolver from '@/components/payments/resolvers/CryptoResolver'
import CryptoSuccess from '@/components/payments/success/CryptoSuccess'
import PaymentMethodSelector from '@/components/payments/PaymentMethodSelector'

/* eslint-disable vue/no-unused-components */
export default {
  name: 'PaymentProcessor',
  components: {
    PaymentMethodSelector,
    WireResolver,
    WireSuccess,
    CryptoResolver,
    CryptoSuccess
  },
  props: {
    amount: {
      type: [Number, String],
      default: 0,
      required: true
    },
    currencyId: {
      type: Number,
      required: true
    },
    payment: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      paymentMethod: null,
      options: null,
      paying: false
    }
  },
  computed: {
    selectedMethodResolver () {
      if (this.paymentMethod) {
        return `${this.paymentMethod.resolver}-resolver`
      }

      return null
    },
    selectedMethodSuccess () {
      if (this.payment) {
        return `${this.paymentMethod.resolver}-success`
      }

      return null
    },
    currency () {
      const currencies = this.$store.getters['util/getCurrenciesMap']
      return currencies[this.currencyId]
    }
  },
  destroyed () {
    this.paying = false
  },
  methods: {
    handleMethodSelection (method) {
      this.paymentMethod = method
    },
    createPayment (meta) {
      this.paying = true
      this.$emit('create', {
        method: this.paymentMethod,
        meta
      })
    },
    close () {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>

</style>
