<template>
  <b-badge :variant="s.variant">
    {{ s.label }}
  </b-badge>
</template>

<script>
export default {
  name: 'PaymentStatusBadge',
  props: {
    status: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      statuses: {
        0: {
          variant: 'info',
          label: this.$t('payments.created')
        },
        1: {
          variant: 'warning',
          label: this.$t('payments.processing')
        },
        2: {
          variant: 'warning',
          label: this.$t('payments.pending')
        },
        3: {
          variant: 'success',
          label: this.$t('payments.paid')
        },
        4: {
          variant: 'success',
          label: this.$t('payments.partial')
        },
        9: {
          variant: 'danger',
          label: this.$t('payments.failed')
        }
      }
    }
  },
  computed: {
    s () {
      return this.statuses[this.status]
    }
  }
}
</script>

<style scoped>

</style>
