<template>
  <span>{{ name }}</span>
</template>

<script>
export default {
  name: 'PaymentMethodName',
  props: {
    id: {
      type: Number,
      required: true
    }
  },
  computed: {
    name () {
      const methods = this.$store.getters['util/getPaymentMethodsById']

      if (methods && methods[this.id]) {
        return this.$t(`payments.${methods[this.id].name}.name`)
      }

      return ''
    }
  }
}
</script>

<style scoped>

</style>
