<template>
  <div class="position-relative">
    <b-overlay :show="$fetchState.pending">
      <div v-if="task">
        <div class="row">
          <div class="col-12 col-lg-7">
            <single-task-title :task="task" :client="task.owner" />
          </div>
        </div>
        <div class="row">
          <div class="d-none d-lg-block col-lg-4 col-xl-3 offset-xl-1 order-lg-2">
            <task-details :task="task" :applicable="false" />
            <required-skills v-if="task && task.skills" class="p-4" :skills="task.skills" />
            <winglio-button />
          </div>
          <div class="col-12 col-lg-7 order-lg-1">
            <b-tabs nav-class="my-task-tabs align-items-center" :value="selectedTab" @input="changeTab">
              <agent-task-invitations-tab :task="task" />
              <agent-task-applications-tab :task="task" />
              <task-description-tab :task="task" />
              <agent-payout-address-tab :task="task" />
              <agent-client-contact-details :task="task" />
            </b-tabs>
          </div>
        </div>
      </div>
      <not-found-error v-if="$fetchState.error" :message="$t('tasks.notFound')" />
    </b-overlay>
    <agent-payout-address-modal ref="payout-address-modal" :task="task" />
  </div>
</template>

<script>
import TaskDetails from '@/components/tasks/TaskDetails'
import RequiredSkills from '@/components/tasks/RequiredSkills'
import SingleTaskTitle from '@/components/tasks/SingleTaskTitle'
import FetchTask from '@/mixins/FetchTask'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import { invert } from 'lodash'
import TaskDescriptionTab from '@/components/tasks/clientTabs/TaskDescriptionTab'
import AgentTaskInvitationsTab from '@/components/agents/AgentTaskInvitationsTab'
import AgentTaskApplicationsTab from '@/components/agents/AgentTaskApplicationsTab'
import AgentPayoutAddressModal from '@/components/agents/AgentPayoutAddressModal'
import AgentPayoutAddressTab from '@/components/agents/AgentPayoutAddressTab'
import NotFoundError from '@/components/common/NotFoundError'
import WinglioButton from '@/components/tasks/WinglioButton'
import AgentClientContactDetails from '@/components/agents/AgentClientContactDetails'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'AgentTaskPage',
  components: {
    AgentClientContactDetails,
    WinglioButton,
    NotFoundError,
    AgentPayoutAddressTab,
    AgentPayoutAddressModal,
    AgentTaskApplicationsTab,
    AgentTaskInvitationsTab,
    TaskDescriptionTab,
    SingleTaskTitle,
    RequiredSkills,
    TaskDetails
  },
  mixins: [FetchTask, AxiosErrorHandler, Pageview],
  middleware: ['checkProfileCompleteness', 'isAgent'],
  data () {
    return {
      tabs: [
        'invitations',
        'freelancers',
        'description',
        'address',
        'contact'
      ]
    }
  },
  head () {
    return {
      title: this.task ? this.task.title : ''
    }
  },
  computed: {
    tabMap () {
      const tabsData = {}
      this.tabs.forEach((t, i) => {
        tabsData[t] = i
      })
      return tabsData
    },
    selectedTab () {
      return this.$route.query.tab ? this.tabMap[this.$route.query.tab] : 0
    }
  },
  watch: {
    task (n) {
      if (n && !n?.agentCryptoPayoutAddress) {
        this.$refs['payout-address-modal'].showModal()
      }
    }
  },
  mounted () {
    if (this.task && !this.task?.agentCryptoPayoutAddress) {
      this.$refs['payout-address-modal'].showModal()
    }
    this.loadApplications()
  },
  destroyed () {
    this.$store.commit('tasks/deselectTask')
  },
  methods: {
    /**
     * When tab is changed update it in query string
     * @param {Number} tabIndex
     */
    changeTab (tabIndex) {
      const tabId = invert(this.tabMap)[tabIndex]
      this.$router.push(this.localePath(`/agents/tasks/${this.task.id}?tab=${tabId}`))
    },

    async loadApplications () {
      try {
        await this.$store.dispatch('clientApplications/fetchApplications', parseInt(this.$route.params.id, 10))
      } catch (err) {
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
