body {
  @include media-breakpoint-up(xl) {
    min-height: calc(100vh - #{$header-xl-height});

    #__nuxt {
      min-height: calc(100vh - #{$header-xl-height});

      #__layout {
        min-height: calc(100vh - #{$header-xl-height});

        > div {
          min-height: calc(100vh - #{$header-xl-height});
          position: relative;

          > .layout {
            min-height: calc(100vh - #{$header-xl-height});
            display: flex;
            flex-direction: column;

            > .content {
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
}

footer {
  font-size: 0.95rem;

  .footer-logo {
    img {
      height: 2.5rem;
      width: auto;
    }
  }

  .follow {
    img {
      height: 42px;
      width: 42px;
    }
  }

  .social-links {
    li {
      a {
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        font-size: 1.5rem;
      }
    }
  }
}
