header.main-header {
  box-shadow: 0 2px 4px 0 rgba(13, 13, 34, 0.08);
  height: $header-height;
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  z-index: 1030;
  top: 0;
  background: $white;
  width: 100%;

  @include media-breakpoint-up(xl) {
    height: $header-xl-height;
    box-shadow: none;

    &.scrolled {
      height: $header-scrolled-height;
      box-shadow: 0 0 30px -20px rgba(0,0,0,0.75);
    }
  }

  @include media-breakpoint-only(lg) {
    height: $header-lg-height;
    box-shadow: none;

    &.scrolled {
      height: $header-scrolled-height;
      box-shadow: 0 0 30px -20px rgba(0,0,0,0.75);
    }
  }

  @include apply-dark-theme() {
    background: $almost-black;
  }

  .top-menu {
    li {
      margin-right: $header-menu-item-spacing;

      a {
        font-weight: 900;
        font-size: $header-menu-font-size;
      }
    }

    li:last-child {
      margin-right: 0;
    }
  }

  .logo {
    img {
      height: 2.5rem;
      width: auto;

      @include media-breakpoint-up(lg) {
        width: 80%;
        height: auto;
        padding-bottom: 4px;

        &.hr {
          padding-bottom: 12px;
        }
      }
    }
  }

  .avatar {
    border-radius: 1rem;

    img {
      max-height: 32px;
      width: auto;
    }

    .color {
      width: 2rem;
      height: 2rem;

      .letter {
        font-size: 1.2rem;
      }
    }
  }

  .dropdown-menu {
    max-height: 25rem;
  }

  .other-role {
    line-height: 1;
  }
}

.theme-icon {
  @include apply-dark-theme() {
    color: t("body-text-color");
  }
}
