<template>
  <div class="avatar-container">
    <div class="avatar">
      <image-display v-if="hasAvatar" :file="avatar" :alt="userName" :options="options" />
      <div
        v-if="!hasAvatar && color"
        class="color"
        :style="colorStyle"
      >
        <div class="letter">
          {{ firstLetter }}
        </div>
      </div>
      <img v-if="!hasAvatar && !color" :src="avatarPlaceholder" :alt="userName">
    </div>
  </div>
</template>

<script>
import { contrastColor } from 'contrast-color'
import ImageDisplay from './ImageDisplay.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'AvatarDisplay',
  components: { ImageDisplay },
  props: {
    userName: {
      type: String,
      default: null
    },
    avatar: {
      type: Object,
      default () {
        return {}
      }
    },
    options: {
      type: Object,
      default () {
        return {}
      }
    },
    color: {
      type: String,
      default: null
    }
  },
  computed: {
    /**
     * Check if avatar exists
     */
    hasAvatar () {
      return !!this.avatar && !!this.avatar.fileName
    },

    /**
     * Return avatar placeholder image if no avatar uploaded
     * @return {any}
     */
    avatarPlaceholder () {
      // eslint-disable-next-line global-require
      return require('@/assets/img/avatar-placeholder.png')
    },

    /**
     * Get first letter of username
     * @returns {string|string}
     */
    firstLetter () {
      return this.userName ? this.userName.substring(0, 1).toUpperCase() : ''
    },

    /**
     * Calculate contrast color for letters
     * @returns {*|string}
     */
    cc () {
      return this.color
        ? contrastColor({
          bgColor: '#' + this.color
        })
        : ''
    },

    /**
     * Build color box style
     * @returns {{'background-color': string, color: (*|string)}}
     */
    colorStyle () {
      return {
        'background-color': '#' + this.color,
        color: this.cc
      }
    }
  }
}
</script>
