<template>
  <client-only>
    <div class="copy-url">
      <copy-to-clipboard :text="url" @copy="handleCopy">
        <div><copy-icon size="1.5x" /></div>
        <div>{{ url }}</div>
      </copy-to-clipboard>
    </div>
  </client-only>
</template>

<script>
import CopyToClipboard from 'vue-copy-to-clipboard'
import { CopyIcon } from 'vue-feather-icons'

export default {
  name: 'CopyUrl',
  components: {
    CopyToClipboard,
    CopyIcon
  },
  props: {
    url: {
      type: String,
      required: true
    }
  },
  methods: {
    handleCopy () {
      this.$emit('copied')
    }
  }
}
</script>

<style scoped>

</style>
