<template>
  <b-dropdown
    size="lg"
    variant="link"
    class="w-auto"
    no-caret
    toggle-class="border-0 m-0 p-0 d-flex align-items-center"
  >
    <template #button-content>
      <span class="small language-button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
          <path
            d="M20 18h-1.44a.61.61 0 0 1-.4-.12.81.81 0 0 1-.23-.31L17 15h-5l-1 2.54a.77.77 0 0
    1-.22.3.59.59 0 0 1-.4.14H9l4.55-11.47h1.89zm-3.53-4.31L14.89 9.5a11.62 11.62 0 0
    1-.39-1.24q-.09.37-.19.69l-.19.56-1.58 4.19zm-6.3-1.58a13.43 13.43 0 0 1-2.91-1.41
    11.46 11.46 0 0 0 2.81-5.37H12V4H7.31a4 4 0 0 0-.2-.56C6.87 2.79 6.6 2 6.6
    2l-1.47.5s.4.89.6 1.5H0v1.33h2.15A11.23 11.23 0 0 0 5 10.7a17.19 17.19 0 0
    1-5 2.1q.56.82.87 1.38a23.28 23.28 0 0 0 5.22-2.51 15.64 15.64 0 0 0 3.56
    1.77zM3.63 5.33h4.91a8.11 8.11 0 0 1-2.45 4.45 9.11 9.11 0 0 1-2.46-4.45z"
          />
        </svg>
      </span>
    </template>
    <b-dropdown-item v-for="l in languages" :key="l.code" @click="selectLanguage(l)">
      {{ l.name }}
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
import capitalize from 'lodash/capitalize'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'LanguageSwitcher',
  computed: {
    languages () {
      return this.$i18n.locales
    },
    selectedLanguage () {
      return this.$store.getters['util/getCurrentLanguage']
    },
    currentLanguageCode () {
      return this.$store.state.i18n.locale
    }
  },
  methods: {
    selectLanguage (l) {
      if (l.code !== this.currentLanguageCode) {
        this.$router.replace(this.switchLocalePath(l.code))
        this.$moment.locale(l.code)

        if (this.$gtm) {
          this.$gtm.init(this.$config[`googleTagManager${capitalize(l.code)}`])
        }
      }
    }
  }
}
</script>
