<template>
  <div v-if="visible" class="loading-overlay d-flex flex-column align-items-center justify-content-center">
    <loader-ring />
    <div v-if="text" class="mt-3">
      {{ text }}
    </div>
  </div>
</template>

<script>
import LoaderRing from './LoaderRing.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'LoadingOverlay',
  components: { LoaderRing },
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: null
    }
  }
}
</script>
