<template>
  <div class="lds-ring">
    <div />
    <div />
    <div />
    <div />
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'LoaderRing'
}
</script>
