<template>
  <div class="paper p-4 py-lg-4 px-lg-5 py-xxxl-6 px-xxxl-7">
    <slot />
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'Paper'
}
</script>
