<template>
  <div class="d-flex align-items-center">
    <span v-if="currency && currency.symbolPosition === 'pre'">
      {{ currency.symbol }}
    </span>
    <span>{{ amount }}</span>
    <span v-if="currency && currency.symbolPosition === 'post'">
      {{ currency.symbol }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'Price',
  props: {
    currencyId: {
      type: [String, Number],
      default: 0
    },
    amount: {
      type: [String, Number],
      default: 0
    }
  },
  computed: {
    currency () {
      if (this.currencyId) {
        const currencies = this.$store.getters['util/getCurrenciesMap']

        if (currencies && currencies[this.currencyId]) {
          return currencies[this.currencyId]
        }
      }
      return null
    }
  }
}
</script>

<style scoped>

</style>
