<template>
  <b-form class="quick-chat-search" @submit.prevent="search">
    <transition name="fade-width" mode="out-in" @after-enter="afterEnter">
      <b-form-input v-if="slide" v-model="searchTerm" placeholder="Search" />
      <div v-else class="fake-input" />
    </transition>
    <button @click="slide = true">
      <search-icon size="24" />
    </button>
  </b-form>
</template>

<script>
import { SearchIcon } from 'vue-feather-icons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'QuickChatSearch',
  components: {
    SearchIcon
  },
  props: {
    term: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      searchTerm: null,
      slide: false
    }
  },
  mounted () {
    this.searchTerm = this.term
  },
  methods: {
    search () {
      this.$emit('search', this.searchTerm)
    },
    /**
     * Focus input element on display
     */
    afterEnter (el) {
      if (el.tagName === 'INPUT') {
        el.focus()
      }
    }
  }
}
</script>
