<template>
  <b-form class="quick-search" @submit.prevent="search">
    <b-form-input v-model="searchTerm" :disabled="disabled" :placeholder="$t('freelancers_search.search')" />
    <button type="submit">
      <search-icon size="24" />
    </button>
  </b-form>
</template>

<script>
import { SearchIcon } from 'vue-feather-icons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'QuickSearch',
  components: {
    SearchIcon
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    term: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      searchTerm: null
    }
  },
  mounted () {
    this.searchTerm = this.term
  },
  methods: {
    search () {
      this.$emit('search', this.searchTerm)
    }
  }
}
</script>
