<template>
  <div class="success-page">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6 image text-center pt-5">
          <img src="@/assets/img/dino_success.png" alt="Dino">
        </div>
        <div class="col-12 col-lg-6 text">
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SuccessWrapper'
}
</script>

<style scoped>

</style>
