<template>
  <b-dropdown variant="link" no-caret right toggle-class="p-0" size="lg">
    <template #button-content>
      <avatar-display
        :options="avatarOptions"
        :avatar="avatar"
        :color="activeRoleData.color"
        :user-name="userName"
      />
    </template>
    <b-dropdown-item :to="localePath('/profile/preview')">
      <user-menu-profile-button
        :avatar="avatar"
        :color="activeRoleData.color"
        :user-name="userName"
        :role-name="currentRoleName"
      />
    </b-dropdown-item>
    <b-dropdown-divider />
    <b-dropdown-header v-if="otherRoles.length">
      {{ $t('common.switchRole') }}
    </b-dropdown-header>
    <b-dropdown-item-button
      v-for="otherRole in otherRoles"
      :key="otherRole.data.id"
      @click="switchRole(otherRole.name)"
    >
      <user-menu-profile-button
        :avatar="otherRole.data.avatar"
        :color="otherRole.data.color"
        :user-name="otherRole.data.name"
        :role-name="otherRole.name"
      />
    </b-dropdown-item-button>
    <b-dropdown-divider v-if="missingRole" />
    <b-dropdown-item-button v-if="!hasFreelancer" @click="createFreelancer">
      {{ $t('common.createFreelancer') }}
    </b-dropdown-item-button>
    <b-dropdown-item-button v-if="!hasClient" @click="createClient">
      {{ $t('common.createClient') }}
    </b-dropdown-item-button>
    <b-dropdown-item-button v-if="!hasAgent" @click="createAgent">
      {{ $t('common.createAgent') }}
    </b-dropdown-item-button>
    <b-dropdown-divider />
    <b-dropdown-item-button @click="logout">
      {{ $t('common.logout') }}
    </b-dropdown-item-button>
    <b-dropdown-divider />
    <b-dropdown-item :to="localePath('/profile')">
      {{ $t('common.edit_profile') }}
    </b-dropdown-item>
    <b-dropdown-item :to="localePath('/user/settings')">
      {{ $t('common.userSettings') }}
    </b-dropdown-item>
    <b-dropdown-item :to="localePath('/change-password')">
      {{ $t('common.change_password') }}
    </b-dropdown-item>
    <b-dropdown-item :to="localePath('/subscriptions')">
      {{ $t('common.subscriptions') }}
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import { mapGetters } from 'vuex'
import ProfileMethods from '@/mixins/ProfileMethods'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import UserMenuProfileButton from '@/components/ui/UserMenuProfileButton'
import { roleNames } from 'ct-constants'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'UserMenu',
  components: {
    UserMenuProfileButton,
    AvatarDisplay
  },
  mixins: [
    ProfileMethods,
    AxiosErrorHandler
  ],
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 32,
          height: 32
        }
      }
    }
  },
  computed: {
    ...mapGetters('user', {
      activeRoleData: 'getActiveRoleData',
      user: 'getCurrentUser',
      userName: 'getUserName',
      avatar: 'getAvatar',
      hasClient: 'hasClient',
      hasFreelancer: 'hasFreelancer',
      otherRoles: 'otherRoles',
      currentRole: 'getActiveRoleType',
      isClient: 'isClient',
      isFreelancer: 'isFreelancer',
      isAgent: 'isAgent',
      hasAgent: 'hasAgent'
    }),

    /**
     * Get other role type name
     * @returns {String}
     */
    currentRoleName () {
      return this.currentRole?.name || ''
    },

    /**
     * Checks if any role is missing
     * @returns {boolean}
     */
    missingRole () {
      return !this.hasAgent || !this.hasClient || !this.hasFreelancer
    }
  },
  methods: {
    /**
     * Logout
     */
    async logout () {
      try {
        await this.$router.replace(this.localePath('/login'))
        await this.$auth.logout()
        this.$smartContract.removeKeypairs()
        this.$auth.$storage.removeUniversal('redirect')

        if (this.$gtag) {
          this.$gtag.set({
            user_id: null
          })
        }
      } catch (err) {
        await this.handleError(err)
      }
    },

    /**
     * Create freelancer role profile for user
     * @returns {Promise<void>}
     */
    async createFreelancer () {
      try {
        await this.$store.dispatch('user/createFreelancer')
        await this.$store.dispatch('user/switchRole', roleNames.FREELANCER)
        await this.checkProfileCompleteness()
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('freelancers.roleCreated')
        })
      } catch (err) {
        await this.handleError(err)
      }
    },

    /**
     * Create client role profile for user
     * @returns {Promise<void>}
     */
    async createClient () {
      try {
        await this.$store.dispatch('user/createClient')
        await this.$store.dispatch('user/switchRole', roleNames.CLIENT)
        await this.checkProfileCompleteness()
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('clients.roleCreated')
        })
      } catch (err) {
        await this.handleError(err)
      }
    },

    /**
     * Create agent role profile for user
     * @returns {Promise<void>}
     */
    async createAgent () {
      try {
        await this.$store.dispatch('user/createAgent')
        await this.$store.dispatch('user/switchRole', roleNames.AGENT)
        await this.checkProfileCompleteness()
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('agent.profile.roleCreated')
        })
      } catch (err) {
        await this.handleError(err)
      }
    },

    /**
     * Change role to other one
     * @returns {Promise<void>}
     */
    async switchRole (role) {
      try {
        await this.$store.dispatch('user/switchRole', role)
        if (await this.checkProfileCompleteness()) {
          if (this.isFreelancer) {
            await this.$router.replace(this.localePath('/tasks'))
          } else if (this.isClient) {
            await this.$router.replace(this.localePath('/create-task'))
          } else if (this.isAgent) {
            await this.$router.replace(this.localePath('/agents/tasks'))
          }
        }
      } catch (err) {
        await this.handleError(err)
      }
    }
  }
}
</script>
