<template>
  <div class="d-flex align-items-center">
    <div v-if="$auth.loggedIn" class="user-info-widget d-flex align-items-center">
      <div>
        <client-only>
          <user-menu />
        </client-only>
      </div>
    </div>
    <div v-else class="d-none d-xxl-flex user-info-widget align-items-center">
      <ul class="list-unstyled list-inline m-0">
        <li class="list-inline-item pr-3">
          <nuxt-link :to="localePath('/login')">
            {{ $t('common.login') }}
          </nuxt-link>
        </li>
        <li class="list-inline-item">
          <nuxt-link :to="localePath('/sign-up')">
            {{ $t('common.sign_up') }}
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import UserMenu from './UserMenu.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'UserInfo',
  components: {
    UserMenu
  }
}
</script>
