<template>
  <div class="d-flex align-items-center">
    <avatar-display
      :options="avatarOptions"
      :avatar="avatar"
      :color="color"
      :user-name="userName"
      class="mr-3"
    />
    <div class="other-role">
      {{ userName }}
      <div class="text-muted">
        <small>{{ $t('common.' + roleName) }}</small>
      </div>
    </div>
  </div>
</template>

<script>
import AvatarDisplay from '@/components/ui/AvatarDisplay'

export default {
  name: 'UserMenuProfileButton',
  components: { AvatarDisplay },
  props: {
    avatar: {
      type: Object,
      default: null
    },
    color: {
      type: String,
      default: null
    },
    userName: {
      type: String,
      default: null
    },
    roleName: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 32,
          height: 32
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
