<template>
  <div>
    <paper class="mb-5">
      <language-settings-form />
    </paper>

    <paper class="mb-5">
      <newsletter-subscription-form />
    </paper>

    <paper>
      <delete-user-form />
    </paper>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import LanguageSettingsForm from '@/components/profile/LanguageSettingsForm'
import NewsletterSubscriptionForm from '@/components/profile/NewsletterSubscriptionForm'
import DeleteUserForm from '@/components/profile/DeleteUserForm'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'UserSettingsPage',
  components: {
    DeleteUserForm,
    NewsletterSubscriptionForm,
    LanguageSettingsForm,
    Paper
  },
  mixins: [Pageview]
}
</script>

<style scoped>

</style>
