<template>
  <funnel-container>
    <basic-info-form :freelancer="freelancer" />
  </funnel-container>
</template>

<script>
import BasicInfoForm from '@/components/profile/BasicInfoForm'
import FunnelContainer from '@/components/profile/FunnelContainer'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CreateFreelancerBasicPage',
  components: {
    BasicInfoForm,
    FunnelContainer
  },
  mixins: [Pageview],
  layout: 'profile',
  middleware: ['isFreelancer'],
  computed: {
    freelancer () {
      return this.$store.getters['user/getFreelancer']
    }
  }
}
</script>
