<template>
  <div>
    <funnel-container class="mb-5">
      <basic-info-preview :freelancer="freelancer">
        <template slot="buttons">
          <b-button
            variant="primary"
            class="btn-round"
            @click="browse"
          >
            {{ $t('freelancers.browse_jobs') }}
          </b-button>
        </template>
      </basic-info-preview>
    </funnel-container>

    <div class="row">
      <div class="col-12 col-lg-6 offset-lg-3">
        <b-tabs content-class="py-4">
          <b-tab :title="$t('freelancers.my_profile')" active>
            <div v-html="freelancer.bio" />
          </b-tab>
          <b-tab :title="$t('freelancers.projects')">
            <projects-preview :freelancer-id="id" />
          </b-tab>
          <b-tab :title="$t('freelancers.experience')">
            <experience-preview :freelancer-id="id" />
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import ExperiencePreview from '@/components/profile/ExperiencePreview'
import BasicInfoPreview from '@/components/profile/BasicInfoPreview'
import FunnelContainer from '@/components/profile/FunnelContainer'
import ProjectsPreview from '@/components/freelancer/ProjectsPreview'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CreateFreelancerPreviewPage',
  components: {
    ExperiencePreview,
    BasicInfoPreview,
    FunnelContainer,
    ProjectsPreview
  },
  mixins: [Pageview],
  layout: 'profile',
  middleware: ['isFreelancer'],
  data () {
    return {
      publishing: false
    }
  },
  computed: {
    freelancer () {
      return this.$store.getters['user/getFreelancer']
    },

    /**
     * @return {Number}
     */
    id () {
      return this.freelancer?.id
    }
  },
  methods: {
    browse () {
      this.$router.replace(this.localePath('/tasks'))
    }
  }
}
</script>
