<template>
  <funnel-container>
    <projects-form :freelancer="freelancer" />
  </funnel-container>
</template>

<script>
import ProjectsForm from '@/components/profile/ProjectsForm'
import FunnelContainer from '@/components/profile/FunnelContainer'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CreateFreelancerProjectsPage',
  components: {
    ProjectsForm,
    FunnelContainer
  },
  mixins: [Pageview],
  layout: 'profile',
  middleware: ['isFreelancer'],
  computed: {
    freelancer () {
      return this.$store.getters['user/getFreelancer']
    }
  }
}
</script>
