<template>
  <funnel-container>
    <div class="row">
      <div class="col-12">
        <skills-form :freelancer="freelancer" />
      </div>
    </div>
  </funnel-container>
</template>

<script>
import SkillsForm from '@/components/profile/SkillsForm'
import FunnelContainer from '@/components/profile/FunnelContainer'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CreateFreelancerSkillsPage',
  components: {
    SkillsForm,
    FunnelContainer
  },
  mixins: [Pageview],
  layout: 'profile',
  middleware: ['isFreelancer'],
  computed: {
    freelancer () {
      return this.$store.getters['user/getFreelancer']
    }
  }
}
</script>
