<template>
  <funnel-container>
    <div class="row">
      <div class="col-12">
        <experience-form :freelancer="freelancer" />
      </div>
    </div>
  </funnel-container>
</template>

<script>
import FunnelContainer from '@/components/profile/FunnelContainer'
import ExperienceForm from '@/components/profile/ExperienceForm'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CreateFreelancerExperiencePage',
  components: {
    ExperienceForm,
    FunnelContainer
  },
  mixins: [Pageview],
  layout: 'profile',
  middleware: ['isFreelancer'],
  computed: {
    freelancer () {
      return this.$store.getters['user/getFreelancer']
    }
  }
}
</script>
