<template>
  <b-modal
    ref="feedbackModal"
    :title="$t('feedback.form_title')"
    :ok-title="$t('feedback.save')"
    @ok.prevent="saveRating"
  >
    <b-alert variant="info" :show="showEscrowWarning">
      {{ $t('feedback.escrowWarning') }}
    </b-alert>

    <b-form>
      <star-rate-group
        v-model="formData.rate"
        :label="$t('feedback.rate')"
        class="mb-3"
        :validation="$v.formData.rate"
      />

      <textarea-group
        v-model="formData.message"
        :label="$t('feedback.comment')"
        :validation="$v.formData.message"
      />
    </b-form>
  </b-modal>
</template>

<script>
import { required, minValue, maxLength } from 'vuelidate/lib/validators'
import { applicationStatuses, escrowStatuses } from 'ct-constants'
import TextareaGroup from '../form/TextareaGroup.vue'
import StarRateGroup from '../form/StarRateGroup.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FeedbackModal',
  components: {
    StarRateGroup,
    TextareaGroup
  },
  data () {
    return {
      sending: false,
      application: null,
      task: null,
      status: null,
      formData: {
        rate: 0,
        message: null
      }
    }
  },
  validations: {
    formData: {
      rate: {
        required,
        minValue: minValue(1)
      },
      message: {
        required,
        maxLength: maxLength(1000)
      }
    }
  },
  computed: {
    showEscrowWarning () {
      return this.$store.getters['user/isClient'] &&
        this.task?.escrowStatus === escrowStatuses.ESCROW_SET &&
        this.status === applicationStatuses.FINISHED
    }
  },
  methods: {
    openModal (task, application, status) {
      this.task = task
      this.application = application
      this.status = status
      this.$refs.feedbackModal.show()
    },
    closeModal () {
      this.$refs.feedbackModal.hide()
      this.application = null
      this.status = null
    },
    saveRating () {
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.$emit('save', {
          ...this.formData,
          status: this.status,
          applicationId: this.application.id
        })
      }
    }
  }
}
</script>
