<template>
  <tasks-search />
</template>

<script>
import TasksSearch from '@/components/search/TasksSearch'
import SeoMethods from '@/mixins/SeoMethods'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'SkillTasksPage',
  components: { TasksSearch },
  mixins: [SeoMethods, Pageview],
  auth: false,
  head () {
    return this.buildTags(
      this.$t('meta.tasksTitle'),
      this.$t('meta.tasksDescription'),
      null,
      this.$t('meta.tasksKeywords')
    )
  },
  beforeDestroy () {
    this.$store.commit('search/setCategory', null)
    this.$store.commit('search/setSkill', null)
  }
}
</script>

<style scoped>

</style>
