<template>
  <b-button variant="primary" class="btn-round" :to="localePath('/subscriptions/subscribe')">
    {{ $t('freelancers.boostVisibility') }}
  </b-button>
</template>

<script>
export default {
  name: 'FreelancerBoostVisibilityButton'
}
</script>

<style scoped>

</style>
