<template>
  <div class="freelancer-feedback">
    <p>{{ feedback.clientFeedback }}</p>
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <star-rating
          :rating="feedback.clientRate"
          :read-only="true"
          :star-size="15"
          :show-rating="false"
        />
        <bc-check-status check-type="freelancerFeedbacks" :feedback="feedback" class="ml-1" />
      </div>
      <div class="text-muted">
        {{ feedback.client.name }} - {{ feedback.application.task.title }} -
        {{ createdAt }}
      </div>
    </div>
    <hr>
  </div>
</template>

<script>
import BcCheckStatus from '@/components/common/BcCheckStatus'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerFeedbackItem',
  components: {
    BcCheckStatus
  },
  props: {
    feedback: {
      type: Object,
      required: true
    }
  },
  computed: {
    createdAt () {
      return this.$moment(this.feedback.createdAt).format('D.M.YYYY HH:mm')
    }
  }
}
</script>
