<template>
  <b-tabs content-class="py-4">
    <b-tab :title="$t('freelancer_info.bio')" active>
      <div v-html="bio" />
    </b-tab>
    <b-tab :title="$t('freelancer_info.projects')" lazy>
      <projects-preview :freelancer-id="flId" />
    </b-tab>
    <b-tab :title="$t('freelancer_info.experience')" lazy>
      <experience-preview :freelancer-id="flId" />
    </b-tab>
    <b-tab :title="$t('freelancer_info.feedbacks')" lazy>
      <freelancer-feedbacks :freelancer-id="flId" />
    </b-tab>
  </b-tabs>
</template>

<script>
import ProjectsPreview from '@/components/freelancer/ProjectsPreview.vue'
import ExperiencePreview from '@/components/profile/ExperiencePreview.vue'
import FreelancerFeedbacks from '@/components/freelancer/FreelancerFeedbacks.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerProfileTabs',
  components: {
    FreelancerFeedbacks,
    ExperiencePreview,
    ProjectsPreview
  },
  props: {
    freelancer: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    bio () {
      return this.freelancer?.bio || ''
    },

    /**
     * @return {Number}
     */
    flId () {
      return this.freelancer?.id
    }
  }
}
</script>
