<template>
  <div>
    <paper class="mb-5">
      <basic-info-preview
        :freelancer="profile"
        :skills-clickable="false"
      >
        <template #buttons>
          <freelancer-boost-visibility-button />
        </template>
      </basic-info-preview>
    </paper>

    <div v-if="profile" class="row">
      <div class="col-12 col-lg-10 offset-lg-1">
        <b-tabs content-class="py-4">
          <b-tab :title="$t('freelancer_info.bio')" active>
            <div v-html="profile.bio" />
          </b-tab>
          <b-tab :title="$t('freelancer_info.projects')" lazy>
            <projects-preview :freelancer-id="profile.id" />
          </b-tab>
          <b-tab :title="$t('freelancer_info.experience')" lazy>
            <experience-preview :freelancer-id="profile.id" :resume="profile.resume" />
          </b-tab>
          <b-tab :title="$t('freelancer_info.feedbacks')" lazy>
            <freelancer-feedbacks :freelancer-id="profile.id" />
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import FreelancerFeedbacks from '@/components/freelancer/FreelancerFeedbacks'
import ExperiencePreview from '@/components/profile/ExperiencePreview'
import ProjectsPreview from '@/components/freelancer/ProjectsPreview'
import BasicInfoPreview from '@/components/profile/BasicInfoPreview'
import Paper from '@/components/ui/Paper'
import FreelancerBoostVisibilityButton from '@/components/freelancer/FreelancerBoostVisibilityButton'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerProfilePreview',
  components: {
    FreelancerBoostVisibilityButton,
    FreelancerFeedbacks,
    ExperiencePreview,
    ProjectsPreview,
    BasicInfoPreview,
    Paper
  },
  props: {
    profile: {
      type: Object,
      required: true
    }
  }
}
</script>
