<template>
  <div v-if="count > 0" class="d-flex flex-column align-items-center">
    <star-rating
      :rating="rate"
      :read-only="true"
      :star-size="20"
      class="mb-2"
      :show-rating="false"
    />
    <h2>{{ rate }} ({{ count }})</h2>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FreelancerRate',
  mixins: [AxiosErrorHandler],
  props: {
    freelancerId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      rate: 0,
      count: 0
    }
  },
  async mounted () {
    try {
      const { data } = await this.$axios.get(`/freelancers/${this.freelancerId}/rate`)
      if (data?.data) {
        const {
          rate,
          count
        } = data.data
        this.rate = rate
        this.count = count
      }
    } catch (err) {
      await this.handleError(err)
    }
  }
}
</script>
