<template>
  <b-tab :title="$t('freelancers.invitation.letter')" class="py-4 px-3">
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">{{ $t('freelancers.invitation.letter') }}</span>
      <font-awesome-icon class="nav-link__icon d-xxl-none" :icon="scrollIcon" fixed-width />
    </template>
    <div>
      <dl class="mb-4">
        <dt>{{ $t('freelancers.invitation.status') }}:</dt>
        <dd>
          <invitation-status-badge :invitation="invitation" />
        </dd>

        <dt>{{ $t('freelancers.invitation.createdAt') }}:</dt>
        <dd>{{ timePostedDate }}</dd>

        <template v-if="invitation.Agent">
          <dt class="mb-2">
            {{ $t('freelancers.invitation.agent') }}:
          </dt>
          <dd>
            <div class="bg-light dark-bg-dark p-3 rounded">
              <small-agent :agent="invitation.Agent" :selectable="false" />
            </div>
          </dd>
        </template>
      </dl>
      {{ invitation.letter }}
    </div>
  </b-tab>
</template>

<script>
import { faEnvelope } from '@fortawesome/free-solid-svg-icons'
import InvitationStatusBadge from '@/components/freelancer/InvitationStatusBadge'
import SmallAgent from '@/components/agents/SmallAgent'

export default {
  name: 'InvitationLetterTab',
  components: {
    SmallAgent,
    InvitationStatusBadge
  },
  props: {
    invitation: {
      type: Object,
      required: true
    }
  },
  computed: {
    scrollIcon () {
      return faEnvelope
    },
    timePostedDate () {
      return this.$moment(this.invitation.createdAt).format('MMM Do')
    }
  }
}
</script>

<style scoped>

</style>
