<template>
  <b-badge :variant="variant">
    {{ label }}
  </b-badge>
</template>

<script>
export default {
  name: 'InvitationStatusBadge',
  props: {
    invitation: {
      type: Object,
      required: true
    }
  },
  computed: {
    variant () {
      switch (this.invitation.status) {
        case 'created':
          return 'info'
        case 'accepted':
          return 'success'
        default:
          return 'warning'
      }
    },
    label () {
      return this.invitation.status ? this.$t(`freelancers.invitation.${this.invitation.status}`) : 'N/A'
    }
  }
}
</script>

<style scoped>

</style>
