<template>
  <div>
    <b-overlay :show="loading">
      <div class="row no-gutters">
        <div v-for="p in projects" :key="p.id" class="col-12 col-lg-4">
          <projects-preview-item :project="p" />
        </div>
      </div>

      <no-results v-if="!projects.length && !loading" :text="$t('freelancers.no_projects')" />
    </b-overlay>
  </div>
</template>

<script>
import NoResults from '@/components/client/NoResults'
import ProjectsPreviewItem from '@/components/freelancer/ProjectsPreviewItem'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProjectsPreview',
  components: {
    ProjectsPreviewItem,
    NoResults
  },
  mixins: [AxiosErrorHandler],
  props: {
    freelancerId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      loading: false,
      projects: []
    }
  },
  async mounted () {
    try {
      this.loading = true
      const { data } = await this.$axios.get(`/projects/${this.freelancerId}`)
      this.projects = data.data
      this.loading = false
    } catch (err) {
      await this.handleError(err)
      this.loading = false
    }
  }
}
</script>
