<template>
  <b-form @submit.prevent="save">
    <div>
      <div class="row">
        <div class="col-12 col-lg-4 d-flex justify-content-center">
          <image-uploader
            :label="$t('freelancers.image_label')"
            class="image-uploader-basic mb-5"
            :title="$t('freelancers.image_title')"
            :value="form.avatar"
            :validation="$v.form.avatar"
            :croppable="true"
            type="public"
            :options="avatarOptions"
            :min-height="480"
            :min-width="480"
            @input="avatarAdded"
            @remove="avatarRemoved"
          />
        </div>
        <div class="col-12 col-lg-8">
          <h1 class="mb-3 d-none d-lg-block">
            {{ $t('freelancers.basic_info') }}
          </h1>

          <b-alert show="" variant="info" class="mb-3">
            {{ $t('freelancer_info.fillingInfo') }}
          </b-alert>

          <div class="mb-3">
            <label>{{ $t('freelancers.name') }}</label>
            <b-input-group>
              <input-field
                v-model="form.firstName"
                name="firstName"
                :placeholder="$t('freelancers.first_name')"
                :disabled="firstNameDisabled"
                :validation="$v.form.firstName"
              />
              <input-field
                v-model="form.lastName"
                name="lastName"
                :disabled="lastNameDisabled"
                :placeholder="$t('freelancers.last_name')"
                :validation="$v.form.lastName"
              />
              <validation-messages
                :title="$t('freelancers.first_name')"
                :validation="$v.form.firstName"
              />
              <validation-messages
                :title="$t('freelancers.last_name')"
                :validation="$v.form.lastName"
              />
            </b-input-group>
          </div>

          <input-group
            v-model="form.occupation"
            name="occupation"
            class="mb-3"
            :validation="$v.form.occupation"
            :placeholder="$t('freelancers.occupation')"
            :label="$t('freelancers.occupation_label')"
          />

          <div class="row">
            <div class="col-12 col-xl-6">
              <input-group
                v-model="form.location"
                name="location"
                class="mb-3"
                :placeholder="$t('freelancers.location')"
                :label="$t('freelancers.location')"
              />
            </div>
            <div class="col-12 col-xl-6">
              <country-selector
                v-model="form.countryId"
                name="country"
                class="mb-3"
                :placeholder="$t('freelancers.country')"
                :label="$t('freelancers.country')"
                :validation="$v.form.countryId"
              />
            </div>
          </div>

          <b-form-checkbox
            v-model="form.travel"
            class="mb-3"
            name="travel"
          >
            {{ $t('freelancers.travel') }}
          </b-form-checkbox>

          <wysiwyg-textarea-group
            v-model="form.bio"
            class="mb-4"
            :validation="$v.form.bio"
            :label="$t('freelancers.about')"
          />

          <h4 class="mb-3">
            {{ $t('freelancers.web_presence') }}
          </h4>

          <input-group
            v-model="form.linkedin"
            name="linkedIn"
            class="mb-3"
            placeholder="https://"
            label="LinkedIn"
          />

          <input-group
            v-model="form.twitter"
            name="twitter"
            class="mb-3"
            placeholder="https://"
            label="Twitter"
          />

          <input-group
            v-model="form.instagram"
            name="instagram"
            class="mb-3"
            placeholder="https://"
            label="Instagram"
          />

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <input-group
                v-model="form.web"
                name="web"
                placeholder="https://"
                label="Web"
              />
            </div>
            <div class="col-md-6 mb-3">
              <input-group
                v-model="form.blog"
                name="blog"
                placeholder="https://"
                :label="$t('freelancers.blog')"
              />
            </div>
          </div>

          <h1 class="mb-5 mt-6">
            {{ $t('freelancers.my_skills') }}
          </h1>

          <category-skill-selector
            :selected-categories="form.categories"
            :selected-skills="form.skills"
            :categories-validation="$v.form.categories"
            :skills-validation="$v.form.skills"
            @input="updatedTags"
          />

          <div
            class="pt-5 d-flex flex-column flex-lg-row
        justify-content-center justify-content-lg-end
        align-items-center"
          >
            <b-button type="submit" variant="primary" class="btn-round" :disabled="saving">
              <template v-if="!saving">
                {{ buttonText }}
              </template>
              <template v-if="saving">
                {{ $t('freelancers.saving') }}
              </template>
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
import richTextMinCharacters from '@/validations/richTextMinCharacters'
import richTextMaxCharacters from '@/validations/richTextMaxCharacters'
import WysiwygTextareaGroup from '@/components/form/WysiwygTextareaGroup'
import InputGroup from '@/components/form/InputGroup'
import ValidationMessages from '@/components/form/ValidationMessages'
import InputField from '@/components/form/InputField'
import ImageUploader from '@/components/form/ImageUploader'
import CountrySelector from '@/components/form/CountrySelector'
import CategorySkillSelector from '@/components/form/CategorySkillSelector'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'UpdateBasicInfo',
  components: {
    CategorySkillSelector,
    WysiwygTextareaGroup,
    InputGroup,
    ValidationMessages,
    InputField,
    ImageUploader,
    CountrySelector
  },
  mixins: [AxiosErrorHandler],
  props: {
    freelancer: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      form: {
        firstName: null,
        lastName: null,
        occupation: null,
        location: null,
        travel: false,
        bio: null,
        linkedin: null,
        twitter: null,
        instagram: null,
        web: null,
        blog: null,
        avatar: null,
        categories: [],
        skills: []
      },
      saving: false,
      avatarOptions: {
        resize: {
          width: 240,
          height: 240
        }
      }
    }
  },
  validations () {
    const v = { form: {} }

    if (!this.firstNameDisabled) {
      v.form.firstName = {
        required,
        maxLength: maxLength(40)
      }
    }

    if (!this.lastNameDisabled) {
      v.form.lastName = {
        required,
        maxLength: maxLength(40)
      }
    }
    v.form.occupation = {
      maxLength: maxLength(100),
      required
    }
    v.form.location = { maxLength: maxLength(40) }
    v.form.bio = {
      required,
      richTextMinCharacters: richTextMinCharacters(150),
      richTextMaxCharacters: richTextMaxCharacters(5000)
    }
    v.form.linkedin = { maxLength: maxLength(255) }
    v.form.twitter = { maxLength: maxLength(255) }
    v.form.instagram = { maxLength: maxLength(255) }
    v.form.web = { maxLength: maxLength(255) }
    v.form.blog = { maxLength: maxLength(255) }

    v.form.avatar = { required }
    v.form.categories = {
      required,
      minLength: minLength(1)
    }
    v.form.skills = {
      required,
      minLength: minLength(1)
    }

    return v
  },
  computed: {
    /**
     * Save button text
     */
    buttonText () {
      return this.freelancer.published
        ? this.$t('freelancers.save_profile')
        : this.$t('freelancers.save_publish')
    },

    /**
     * Get current language
     */
    currentLanguage () {
      return this.$store.getters['util/getCurrentLanguage']
    },

    /**
     * Is first name input field disabled for edit
     * @returns boolean
     */
    firstNameDisabled () {
      return !!(this.freelancer?.published && this.freelancer?.firstName)
    },

    /**
     * Is last name input field disabled for edit
     * @returns boolean
     */
    lastNameDisabled () {
      return !!(this.freelancer?.published && this.freelancer?.lastName)
    }
  },
  watch: {
    freelancer () {
      this.setupForm()
    },
    currentLanguage () {
      this.setupForm()
    }
  },
  mounted () {
    this.setupForm()
  },
  methods: {
    /**
     * Add avatar to form
     * @param data
     */
    avatarAdded (data) {
      this.form.avatar = data
    },

    /**
     * Remove avatar from form
     */
    avatarRemoved () {
      this.form.avatar = null
    },

    /**
     * Setup freelancer form
     */
    setupForm () {
      if (this.freelancer) {
        this.form = { ...this.freelancer }
      }
    },

    /**
     * Update form skills and categories
     * @param {Object} e
     */
    updatedTags (e) {
      this.form = { ...this.form, ...e }
    },

    /**
     * Save data
     * @return {Promise<void>}
     */
    async save () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saving = true

        try {
          await this.$store.dispatch('user/updateFreelancerBasicInfo', {
            data: this.form,
            caller: 'update'
          })

          this.saving = false
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: 'Profile saved'
          })
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      }
    }
  }
}
</script>
