<template>
  <div>
    <paper class="mb-5">
      <basic-info-preview :freelancer="freelancer">
        <template slot="buttons">
          <freelancer-boost-visibility-button />
        </template>
      </basic-info-preview>
    </paper>

    <div class="row mb-5">
      <div class="col-12 col-lg-10 offset-lg-1">
        <b-tabs content-class="py-4">
          <b-tab :title="$t('freelancers.basic_info')" active>
            <update-basic-info :freelancer="freelancer" />
          </b-tab>
          <b-tab :title="$t('freelancers.projects')" lazy>
            <projects-form
              :freelancer="freelancer"
              :skip-enabled="false"
              :redirection-enabled="false"
              :save-button-text="$t('freelancers.button_save_projects')"
            />
          </b-tab>
          <b-tab :title="$t('freelancers.experience')" lazy>
            <experience-form
              :freelancer="freelancer"
              :skip-enabled="false"
              :redirection-enabled="false"
              :save-button-text="$t('freelancers.save_experience')"
            />
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
import BasicInfoPreview from '../profile/BasicInfoPreview.vue'
import ProjectsForm from '../profile/ProjectsForm.vue'
import ExperienceForm from '../profile/ExperienceForm.vue'
import Paper from '../ui/Paper.vue'
import UpdateBasicInfo from './UpdateBasicInfo.vue'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'UpdateFreelancer',
  components: {
    Paper,
    ExperienceForm,
    ProjectsForm,
    UpdateBasicInfo,
    BasicInfoPreview
  },
  computed: {
    freelancer () {
      return this.$store.getters['user/getActiveRoleData']
    }
  }
}
</script>
