<template>
  <task-details-item title="applications.created">
    <template #icon>
      <check-square-icon size="20" />
    </template>
    {{ formattedDate }}
  </task-details-item>
</template>

<script>
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'
import { CheckSquareIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationDetailsCreated',
  components: {
    TaskDetailsItem,
    CheckSquareIcon
  },
  props: {
    application: {
      type: Object,
      required: true
    }
  },
  computed: {
    formattedDate () {
      return this.$moment(this.application.createdAt).format('MMM Do, yyyy')
    }
  }
}
</script>

<style scoped>

</style>
