<template>
  <div>
    <b-button
      v-if="hireVisible"
      :disabled="hireDisabled"
      variant="success"
      block
      class="btn-round"
      @click="hire"
    >
      {{ hiring ? $t('applications.hire_loading') : $t('applications.hire') }}
    </b-button>

    <b-button
      v-if="completeEnabled"
      variant="success"
      class="btn-round"
      block
      @click="leaveFeedback(2)"
    >
      {{ $t('applications.complete') }}
    </b-button>

    <b-button
      v-if="completeEnabled"
      class="btn-round"
      block
      @click="leaveFeedback(4)"
    >
      {{ $t('applications.cancel') }}
    </b-button>

    <div id="feedback-button">
      <b-button
        v-if="leaveFeedbackVisible"
        variant="success"
        class="btn-round"
        :disabled="feedbackDeadlinePassed"
        block
        @click="leaveFeedback(null)"
      >
        {{ $t('applications.leave_feedback') }}
      </b-button>
    </div>

    <b-tooltip :disabled="feedbackTooltipDisabled" target="feedback-button" placement="top">
      {{ $t('feedback.cantSetFeedback') }}
    </b-tooltip>
  </div>
</template>

<script>
import ClientButtons from '@/mixins/ClientButtons'

export default {
  name: 'ApplicationDetailsClientButtons',
  mixins: [ClientButtons]
}
</script>

<style scoped>

</style>
