<template>
  <task-details-item v-if="task && task.requireResume && application.resumeId" title="freelancers.resume" class="mb-0">
    <template #icon>
      <file-text-icon size="20" />
    </template>
    <template v-if="loading">
      <span class="text-muted">
        {{ $t('tasks.details.loadingResume') }}
      </span>
    </template>
    <template v-else>
      <a :href="fileUrl" target="_blank">
        {{ $t('tasks.details.downloadResume') }}
      </a>
    </template>
  </task-details-item>
</template>

<script>
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'
import { FileTextIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationDetailsResume',
  components: {
    TaskDetailsItem,
    FileTextIcon
  },
  props: {
    application: {
      type: Object,
      required: true
    },
    task: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      loading: false,
      resume: null
    }
  },
  computed: {
    resumeId () {
      return this.application?.resumeId
    },
    fileUrl () {
      return this.resume ? `${process.env.bucketURL}/${this.resume.File.fileName}` : null
    }
  },
  watch: {
    resumeId (n) {
      if (n) {
        this.loadResume()
      }
    }
  },
  async mounted () {
    await this.loadResume()
  },
  methods: {
    async loadResume () {
      if (this.task?.requireResume && this.resumeId) {
        try {
          this.loading = true
          const { data } = await this.$axios.get('/applications/' + this.application.id + '/resume')
          this.resume = data.data
          this.loading = false
        } catch (err) {
          this.loading = false
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
