<template>
  <task-details-item v-if="isClient && application.recommended" title="applications.recommended">
    <template #icon>
      <arrow-up-circle-icon size="20" />
    </template>
    {{ $t('common.yes') }}
  </task-details-item>
</template>

<script>
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'
import { ArrowUpCircleIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationDetailsRecommended',
  components: {
    TaskDetailsItem,
    ArrowUpCircleIcon
  },
  props: {
    application: {
      type: Object,
      required: true
    }
  },
  computed: {
    isClient () {
      return this.$store.getters['user/isClient']
    }
  }
}
</script>

<style scoped>

</style>
