<template>
  <div class="task-details">
    <h5 class="d-none d-lg-block mb-4">
      {{ $t('applications.applicationDetails') }}
    </h5>
    <div>
      <application-details-created :application="application" />
      <applications-details-status :application="application" />
      <application-details-recommended :application="application" />
      <application-details-resume :application="application" :task="task" />
    </div>
    <slot name="bottom" />
  </div>
</template>

<script>
import ApplicationDetailsCreated from '@/components/applications/ApplicationDetailsCreated'
import ApplicationsDetailsStatus from '@/components/applications/ApplicationsDetailsStatus'
import ApplicationDetailsResume from '@/components/applications/ApplicationDetailsResume'
import ApplicationDetailsRecommended from '@/components/applications/ApplicationDetailsRecommended'

export default {
  name: 'ApplicationDetails',
  components: {
    ApplicationDetailsRecommended,
    ApplicationDetailsResume,
    ApplicationsDetailsStatus,
    ApplicationDetailsCreated
  },
  props: {
    application: {
      type: Object,
      required: true
    },
    task: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
