<template>
  <task-details-item v-if="application.cryptoPayoutAddress" title="freelancers.cryptoPayoutAddress">
    <template #icon>
      <briefcase-icon size="20" />
    </template>
    {{ application.cryptoPayoutAddress }}
  </task-details-item>
</template>

<script>
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'
import { BriefcaseIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationDetailsPayoutAddress',
  components: {
    TaskDetailsItem,
    BriefcaseIcon
  },
  props: {
    application: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
