<template>
  <b-button-group class="d-flex">
    <b-button
      v-if="!hidden"
      v-b-tooltip.hover
      class="btn-round w-100"
      :disabled="settingFlag"
      :title="$t('applications.hide')"
      @click="toggleVisibility"
    >
      <font-awesome-icon :icon="iconEyeSlashed" />
    </b-button>
    <b-button
      v-if="hidden"
      v-b-tooltip.hover
      class="btn-round w-100"
      :disabled="settingFlag"
      :title="$t('applications.show')"
      @click="toggleVisibility"
    >
      <font-awesome-icon :icon="iconEye" />
    </b-button>
    <b-button
      v-if="!starred"
      v-b-tooltip.hover
      class="btn-round w-100"
      :disabled="settingFlag"
      :title="$t('applications.star')"
      @click="toggleStar"
    >
      <font-awesome-icon :icon="iconStar" />
    </b-button>
    <b-button
      v-if="starred"
      v-b-tooltip.hover
      class="btn-round w-100"
      :disabled="settingFlag"
      :title="$t('applications.unstar')"
      @click="toggleStar"
    >
      <font-awesome-icon class="text-success" :icon="iconSolidStar" />
    </b-button>
  </b-button-group>
</template>

<script>
import { faEye, faEyeSlash, faStar } from '@fortawesome/free-regular-svg-icons'
import { faStar as solidStar } from '@fortawesome/free-solid-svg-icons'
import ClientButtons from '@/mixins/ClientButtons'

export default {
  name: 'ApplicationFlagButtons',
  mixins: [ClientButtons],
  computed: {
    iconEye () {
      return faEye
    },
    iconEyeSlashed () {
      return faEyeSlash
    },
    iconStar () {
      return faStar
    },
    iconSolidStar () {
      return solidStar
    }
  }
}
</script>

<style scoped>

</style>
