<template>
  <task-details-item title="applications.status">
    <template #icon>
      <plus-square-icon size="20" />
    </template>
    {{ $t(status) }}
  </task-details-item>
</template>

<script>
import TaskDetailsItem from '@/components/tasks/TaskDetailsItem'
import { PlusSquareIcon } from 'vue-feather-icons'
import { applicationStatuses } from 'ct-constants'

export default {
  name: 'ApplicationsDetailsStatus',
  components: {
    TaskDetailsItem,
    PlusSquareIcon
  },
  props: {
    application: {
      type: Object,
      required: true
    }
  },
  computed: {
    status () {
      switch (this.application.status) {
        case applicationStatuses.CREATED:
          return 'applications.created'
        case applicationStatuses.ACCEPTED:
          return 'applications.hired'
        case applicationStatuses.REJECTED:
          return 'applications.rejected'
        case applicationStatuses.FINISHED:
          return 'applications.completed'
        case applicationStatuses.CANCELED:
          return 'applications.canceled'
        default:
          return ''
      }
    }
  }
}
</script>

<style scoped>

</style>
