<template>
  <header v-if="task && application" class="d-flex align-items-center justify-content-between p-3">
    <div class="d-flex align-items-top">
      <avatar-display
        :avatar="freelancer.avatar"
        :user-name="freelancer.name"
        :options="avatarOptions"
      />
      <div>
        <div class="d-flex align-items-center">
          <nuxt-link
            v-if="freelancerActive"
            :to="localePath(`/freelancers/${freelancer.slug}/${freelancer.id}`)"
            class="freelancer-name mr-2"
          >
            {{ freelancer.name }}
          </nuxt-link>
          <div v-if="!freelancerActive" class="mr-2 text-muted d-flex align-items-center">
            <span class="freelancer-name mr-2">{{ freelancer.name }}</span>
            <b-badge variant="warning">
              {{ $t('applications.inactiveFreelancer') }}
            </b-badge>
          </div>
          <application-status-badge :application="application" />
        </div>
        <div class="freelancer-occupation">
          <occupation-location :profile="freelancer" />
        </div>
        <div class="freelancer-meta">
          {{ matchingSkills.length }}/{{ task.skills.length }}
          {{ $t('applications.skills_required') }}
        </div>
      </div>
    </div>
    <div class="text-muted">
      <small>{{ applicationDate }}</small>
    </div>
  </header>
</template>

<script>
import { intersection } from 'lodash'
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import ApplicationStatusBadge from '@/components/tasks/ApplicationStatusBadge'
import OccupationLocation from '@/components/freelancer/OccupationLocation'

export default {
  name: 'ClientItemHeader',
  components: {
    OccupationLocation,
    ApplicationStatusBadge,
    AvatarDisplay
  },
  props: {
    application: {
      type: Object,
      default: null
    },
    task: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      hiring: false,
      avatarOptions: {
        resize: {
          width: 90,
          height: 90
        }
      }
    }
  },
  computed: {
    freelancer () {
      return this.application?.freelancer
    },

    /**
     * Set style class for application
     * @returns {string[]}
     */
    applicationStyle () {
      const classes = []
      if (this.freelancer?.visibility > 0) {
        classes.push('visibility-boosted')
      }
      if (this.application?.recommended) {
        classes.push('recommended')
      }
      return classes
    },

    /**
     * Is freelancer deleted or unpublished or unconfirmed
     */
    freelancerActive () {
      return !this.freelancer?.deletedAt && this.freelancer?.published && this.freelancer?.confirmed
    },

    /**
     * Returns array of matching skills between task and freelancer
     */
    matchingSkills () {
      if (this.task?.skills && this.freelancer?.skills) {
        const taskSkills = this.task?.skills.map(t => t.id)
        const freelancerSkills = this.freelancer?.skills.map(f => f.id)

        return intersection(taskSkills, freelancerSkills)
      }

      return []
    },

    applicationDate () {
      return this.$moment(this.application?.createdAt).format('MMM Do')
    }
  }
}
</script>

<style scoped>

</style>
