<template>
  <div v-if="freelancerActive" class="buttons d-flex align-items-center">
    <b-button
      variant="primary"
      class="btn-round mr-3"
      :to="applicationUrl"
    >
      {{ $t('freelancers.goToApplication') }}
    </b-button>

    <div v-b-tooltip.hover :title="recommendButtonTitle">
      <b-button
        v-if="!recommended"
        class="btn-round"
        :disabled="recommending || !canRecommend"
        @click="toggleRecommend"
      >
        <font-awesome-icon :icon="iconStar" />
      </b-button>
    </div>
    <b-button
      v-if="recommended"
      v-b-tooltip.hover
      class="btn-round"
      :disabled="recommending"
      :title="$t('applications.unrecommend')"
      @click="toggleRecommend"
    >
      <font-awesome-icon class="text-success" :icon="iconSolidStar" />
    </b-button>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import { faStar } from '@fortawesome/free-regular-svg-icons'
import { faStar as solidStar } from '@fortawesome/free-solid-svg-icons'

export default {
  name: 'AgentApplicationButtons',
  mixins: [AxiosErrorHandler],
  props: {
    task: {
      type: Object,
      required: true
    },
    application: {
      type: Object,
      required: true
    },
    canRecommend: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      recommending: false
    }
  },
  computed: {
    freelancer () {
      return this.application.freelancer
    },

    /**
     * Is freelancer deleted or unpublished or unconfirmed
     */
    freelancerActive () {
      return !this.freelancer.deletedAt && this.freelancer.published && this.freelancer.confirmed
    },

    /**
     * Build application URL
     * @returns {string}
     */
    applicationUrl () {
      return this.localePath(`/agents/tasks/${this.task?.id}/applications/${this.application?.id}`)
    },

    /**
     * Is application recommended
     * @returns {Boolean}
     */
    recommended () {
      return this.application.recommended
    },

    /**
     * Get recommend button title depending on can agent recommend any more
     * @returns {VueI18n.TranslateResult}
     */
    recommendButtonTitle () {
      const recommendationsLimit = this.$store.getters['user/getAgent']?.recommendationsLimit
      return this.canRecommend ? this.$t('applications.recommend') : this.$t('applications.recommendDisabled', { num: recommendationsLimit })
    },

    iconStar () {
      return faStar
    },
    iconSolidStar () {
      return solidStar
    }
  },
  methods: {
    async toggleRecommend () {
      try {
        this.recommending = true
        await this.$store.dispatch('clientApplications/toggleRecommendation', {
          applicationId: this.application.id
        })
        this.recommending = false
      } catch (err) {
        this.recommending = false
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
