<template>
  <div class="position-relative">
    <template v-if="hiredApplications.length">
      <applied-freelancer
        v-for="a in hiredApplications"
        :key="a.id"
        :application="a"
        :task="task"
        :flags="false"
        class="mb-3 pb-3"
        @select="$emit('select', $event)"
      >
        <agent-application-buttons :task="task" :application="a" />
      </applied-freelancer>
    </template>
    <template v-if="nonHiredApplications.length">
      <applied-freelancer
        v-for="a in nonHiredApplications"
        :key="a.id"
        :application="a"
        :task="task"
        :flags="false"
        class="mb-3 pb-3"
        @select="$emit('select', $event)"
      >
        <agent-application-buttons :task="task" :application="a" :can-recommend="canRecommend" />
      </applied-freelancer>
    </template>
    <template v-if="!hiredApplications.length && !nonHiredApplications.length">
      <no-results :text="$t('applications.no_applications')">
        <nuxt-link :to="localePath('/freelancers')" class="text-muted">
          <u>{{ $t('tasks.details.browse_freelancers') }}</u>
        </nuxt-link>
      </no-results>
    </template>
  </div>
</template>

<script>
import AppliedFreelancer from '@/components/tasks/AppliedFreelancer'
import NoResults from '@/components/client/NoResults'
import AgentApplicationButtons from '@/components/agents/AgentApplicationButtons'

export default {
  name: 'AgentApplications',
  components: {
    AgentApplicationButtons,
    NoResults,
    AppliedFreelancer
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Get only hired applications
     * @returns {Object[]}
     */
    hiredApplications () {
      return this.$store.getters['clientApplications/hiredApplications']
    },

    /**
     * Get all applications except hired ones
     * @returns {Object[]}
     */
    nonHiredApplications () {
      return this.$store.getters['clientApplications/notHiredApplications']
    },

    /**
     * Recommended application length
     * @returns {*}
     */
    recommendedApplicationsCount () {
      return this.$store.getters['clientApplications/recommendedApplications']?.length
    },

    /**
     * Limit of recommendations agent can do on current task
     * @returns {any}
     */
    recommendationsLimit () {
      return this.$store.getters['user/getAgent']?.recommendationsLimit
    },

    /**
     * Can agent recommend any more applications
     * @returns {boolean}
     */
    canRecommend () {
      return this.recommendationsLimit > this.recommendedApplicationsCount
    }
  }
}
</script>

<style scoped>

</style>
