<template>
  <b-form @submit.prevent="save">
    <div class="row">
      <div class="col-12 col-lg-4 d-flex justify-content-center">
        <image-uploader
          :label="$t('agent.profile.image_label')"
          :title="$t('agent.profile.image_title')"
          class="image-uploader-basic mb-5"
          :value="form.avatar"
          type="public"
          :options="avatarOptions"
          :validation="$v.form.avatar"
          :croppable="true"
          :modal-title="$t('agent.profile.image_resize_title')"
          :min-width="320"
          :min-height="320"
          @input="avatarAdded"
          @remove="avatarRemoved"
        />
      </div>
      <div class="col-12 col-lg-8">
        <h1 class="d-none d-lg-block mb-3">
          {{ $t('agent.profile.basic_info_title') }}
        </h1>
        <input-group
          v-model="form.name"
          name="name"
          class="mb-3"
          :disabled="nameInputDisabled"
          :placeholder="$t('agent.profile.name')"
          :label="$t('agent.profile.name')"
          :validation="$v.form.name"
        />

        <div class="row">
          <div class="col-12 col-xl-6">
            <input-group
              v-model="form.location"
              name="location"
              class="mb-3"
              :placeholder="$t('agent.profile.location')"
              :label="$t('agent.profile.location')"
              :validation="$v.form.location"
            />
          </div>
          <div class="col-12 col-xl-6">
            <country-selector
              v-model="form.countryId"
              name="country"
              class="mb-3"
              :placeholder="$t('agent.profile.country')"
              :label="$t('agent.profile.country')"
              :validation="$v.form.countryId"
            />
          </div>
        </div>

        <wysiwyg-textarea-group
          v-model="form.about"
          class="mb-4"
          :label="$t('agent.profile.bio')"
          :validation="$v.form.about"
        />

        <category-skill-selector
          :selected-categories="form.categories"
          :selected-skills="form.skills"
          :categories-validation="$v.form.categories"
          :skills-validation="$v.form.skills"
          @input="updatedTags"
        />

        <div
          class="pt-5 d-flex flex-column flex-lg-row
        justify-content-center justify-content-lg-end
        align-items-center"
        >
          <b-button type="submit" variant="primary" class="btn-round" :disabled="saving">
            <template v-if="!saving">
              {{ $t('agent.profile.button_label') }}
            </template>
            <template v-if="saving">
              {{ $t('agent.profile.button_loading') }}
            </template>
          </b-button>
        </div>
      </div>
    </div>
  </b-form>
</template>

<script>
import ImageUploader from '@/components/form/ImageUploader'
import InputGroup from '@/components/form/InputGroup'
import CountrySelector from '@/components/form/CountrySelector'
import WysiwygTextareaGroup from '@/components/form/WysiwygTextareaGroup'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import { maxLength, required } from 'vuelidate/lib/validators'
import richTextMinCharacters from '@/validations/richTextMinCharacters'
import richTextMaxCharacters from '@/validations/richTextMaxCharacters'
import CategorySkillSelector from '@/components/form/CategorySkillSelector'

export default {
  name: 'AgentBasicInfoForm',
  components: {
    CategorySkillSelector,
    WysiwygTextareaGroup,
    CountrySelector,
    InputGroup,
    ImageUploader
  },
  mixins: [AxiosErrorHandler],
  props: {
    agent: {
      type: Object,
      default () {
        return {}
      }
    },
    redirectAfterSave: {
      type: Boolean,
      default: false
    }
  },
  validations () {
    const v = { form: {} }

    if (!this.nameInputDisabled) {
      v.form.name = {
        required,
        maxLength: maxLength(50)
      }
    }

    v.form.location = { maxLength: maxLength(40) }
    v.form.about = {
      required,
      richTextMinCharacters: richTextMinCharacters(50),
      richTextMaxCharacters: richTextMaxCharacters(5000)
    }

    v.form.avatar = { required }
    v.form.categories = { required }
    v.form.skills = { required }

    return v
  },
  data () {
    return {
      form: {
        name: null,
        location: null,
        about: null,
        avatar: null,
        countryId: null,
        pictureId: null,
        categories: [],
        skills: []
      },
      saving: false,
      avatarOptions: {
        resize: {
          width: 240,
          height: 240
        }
      }
    }
  },
  computed: {
    /**
     * Is name input field disabled
     * @returns {boolean}
     */
    nameInputDisabled () {
      return !!(this.agent?.published && this.agent?.name)
    }
  },
  watch: {
    agent () {
      this.setForm()
    }
  },
  mounted () {
    this.setForm()
  },
  methods: {
    async save () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.saving = true

        try {
          await this.$store.dispatch('user/updateAgentBasicInfo', this.form)

          this.saving = false
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('agent.profile.success_notification')
          })
          if (this.redirectAfterSave) {
            await this.$router.replace(this.localePath('/freelancers'))
          }
        } catch (err) {
          await this.handleError(err)
          this.saving = false
        }
      }
    },

    avatarAdded (data) {
      this.form.avatar = data
      this.form.pictureId = data.id
    },

    avatarRemoved () {
      this.form.avatar = null
      this.form.pictureId = null
    },

    setForm () {
      if (this.agent) {
        this.form = { ...this.agent }
      }
    },

    updatedTags (e) {
      this.form = { ...this.form, ...e }
    }
  }
}
</script>

<style scoped>

</style>
