<template>
  <div>
    <b-modal
      ref="payout-modal"
      :title="$t('agent.tasks.payoutAddressModalTitle')"
      :hide-header-close="true"
      :no-close-on-backdrop="true"
      :no-close-on-esc="true"
      :hide-footer="true"
    >
      <p>{{ $t('agent.tasks.payoutAddressModalText') }}</p>

      <agent-payout-address-form :task="task" @saved="hideModal" />
    </b-modal>
  </div>
</template>

<script>
import AgentPayoutAddressForm from '@/components/agents/AgentPayoutAddressForm'
export default {
  name: 'AgentPayoutAddressModal',
  components: { AgentPayoutAddressForm },
  props: {
    task: {
      type: Object,
      default: null
    }
  },
  methods: {
    showModal () {
      this.$refs['payout-modal'].show()
    },
    hideModal () {
      this.$refs['payout-modal'].hide()
    }
  }
}
</script>

<style scoped>

</style>
