<template>
  <b-tab :title="$t('agent.tasks.invitations')" class="py-4 px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">{{ $t('agent.tasks.invitations') }}</span>
      <font-awesome-icon class="nav-link__icon d-xxl-none" :icon="scrollIcon" fixed-width />
    </template>

    <b-overlay :show="loading">
      <agent-invitation-item v-for="i in items" :key="i.id" :invitation="i" />

      <no-results v-if="!loading && !items" :text="$t('agent.tasks.noInvitations')" />

      <div v-if="canInvite" class="pt-4">
        <h4>{{ $t('agent.tasks.inviteMore', { num: numInvite }) }}</h4>
        <nuxt-link :to="localePath('/freelancers')">
          <u>{{ $t('common.browse') }}</u>
        </nuxt-link>
      </div>

      <b-pagination
        v-if="items.length && !loading && items.length > total"
        :value="page"
        :total-rows="total"
        :per-page="perPage"
        align="center"
        @change="changePage"
      />
    </b-overlay>
  </b-tab>
</template>

<script>
import { faScroll } from '@fortawesome/free-solid-svg-icons'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import AgentInvitationItem from '@/components/agents/AgentInvitationItem'
import Pagination from '@/mixins/Pagination'
import NoResults from '@/components/client/NoResults'

export default {
  name: 'AgentTaskInvitationsTab',
  components: {
    NoResults,
    AgentInvitationItem
  },
  mixins: [AxiosErrorHandler, Pagination],
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    scrollIcon () {
      return faScroll
    },
    agent () {
      return this.$store.getters['user/getAgent']
    },
    numInvite () {
      return this.agent?.invitationsLimit - this.total
    },
    canInvite () {
      return this.agent?.invitationsLimit > this.total
    }
  },
  methods: {
    async getData () {
      this.loading = true
      try {
        const { data } = await this.$axios.get('/agents/invitations', {
          params: {
            taskId: this.task.id,
            page: this.page,
            perPage: this.perPage
          }
        })
        this.items = data.data
        this.total = data.meta.total
        this.loading = false
      } catch (err) {
        this.loading = false
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
