<template>
  <div class="short-job-item">
    <h2>
      <nuxt-link class="font-18-sm" :to="localePath(`/agents/tasks/${task.id}`)">
        {{ task.title }}
      </nuxt-link>
    </h2>
    <div class="d-flex align-items-center mb-3">
      <task-duration class="pr-2" :task="task" />
      <task-price :task="task" class="pl-2" />
    </div>

    <task-tags :tag-ids="skillIds" class="mb-4" />

    <hr class="mb-4">
  </div>
</template>

<script>
import TaskTags from '@/components/tasks/TaskTags'
import TaskDuration from '@/components/tasks/TaskDuration'
import TaskPrice from '@/components/tasks/TaskPrice'

export default {
  name: 'AgentShortTaskItem',
  components: {
    TaskPrice,
    TaskDuration,
    TaskTags
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    skillIds () {
      return this.task.skills.map(s => s.id)
    },

    createdAt () {
      return this.$moment(this.task.createdAt).format('MMM Do, yyyy')
    }
  }
}
</script>

<style scoped>

</style>
