<template>
  <b-tab :title="$t('agent.tasks.contactInfo')" class="py-4 px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        {{ $t('agent.tasks.contactInfo') }}
      </span>
      <mail-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <p>{{ task.contact }}</p>
  </b-tab>
</template>

<script>
import { MailIcon } from 'vue-feather-icons'

export default {
  name: 'AgentClientContactDetails',
  components: {
    MailIcon
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
