<template>
  <b-tab :title="$t('agent.tasks.payoutAddress')" class="py-4 px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        {{ $t('agent.tasks.payoutAddress') }}
      </span>
      <dollar-sign-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <agent-payout-address-form :task="task" />
  </b-tab>
</template>

<script>
import AgentPayoutAddressForm from '@/components/agents/AgentPayoutAddressForm'
import { DollarSignIcon } from 'vue-feather-icons'

export default {
  name: 'AgentPayoutAddressTab',
  components: { AgentPayoutAddressForm, DollarSignIcon },
  props: {
    task: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
