<template>
  <div>
    <paper class="mb-5">
      <div class="row profile-preview">
        <div class="col-12 col-lg-4 d-flex flex-column align-items-center">
          <avatar-display
            class="mb-4"
            :avatar="avatar"
            :user-name="name"
            :color="profile.color"
            :options="avatarOptions"
          />
        </div>
        <div class="col-12 col-lg-8">
          <div class="d-flex align-items-center">
            <h1 class="text-center text-lg-left">
              {{ profile.name }}
            </h1>
          </div>
          <h6 class="mb-4 font-weight-normal text-center text-lg-left">
            {{ location }}
          </h6>
          <div class="mb-4 lead" v-html="profile.about" />
          <tags-display :tags="skills" :linkable="false" />
        </div>
      </div>
    </paper>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import SeoMethods from '@/mixins/SeoMethods'
import TagsDisplay from '@/components/ui/TagsDisplay'

export default {
  name: 'AgentProfilePreview',
  components: {
    TagsDisplay,
    AvatarDisplay,
    Paper
  },
  mixins: [SeoMethods],
  props: {
    profile: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 240,
          height: 240
        }
      }
    }
  },
  head () {
    const profile = this.profile
    return this.buildTags(profile?.name, profile?.about, profile?.avatar)
  },
  computed: {
    location () {
      const l = []

      if (this.profile.location) {
        l.push(this.profile.location)
      }

      if (this.profile.countryId) {
        const countries = this.$store.state.util.countries
        const country = countries.find(c => c.id === this.profile.countryId)

        if (country) {
          l.push(country.name)
        }
      }

      return l.join(', ')
    },

    avatar () {
      return this.profile?.avatar
    },

    name () {
      return this.profile?.name
    },

    skills () {
      const currentLanguage = this.$store.getters['util/getCurrentLanguage']
      const aSkills = this.profile?.skills || []
      const skillIds = aSkills.map(s => s.id)

      if (aSkills && currentLanguage) {
        const skills = this.$store.getters['util/getAllSkills']

        return skills.filter(s => skillIds.includes(s.id))
      }

      return []
    }
  }
}
</script>

<style scoped>

</style>
