<template>
  <div>
    <div v-if="task" class="position-relative">
      <b-overlay :show="loadingAgents || loadingDefault || selectingAgent">
        <div v-if="!task.agentId">
          <small-agent v-if="affiliateAgent" :agent="affiliateAgent" @select="selectAgent" />
          <hr v-if="affiliateAgent">
          <small-agent v-if="defaultAgent" :agent="defaultAgent" @select="selectAgent" />
          <hr>
          <small-agent v-for="agent in agents" :key="agent.id" :agent="agent" class="mb-3" @select="selectAgent" />
        </div>
        <div v-else>
          <b-alert variant="success" show>
            {{ $t('agent.tasks.alreadySelected') }}
          </b-alert>
          <selected-agent v-if="task && task.agentId" :agent-id="task.agentId" />
        </div>
      </b-overlay>
      <b-modal
        id="confirmModal"
        ref="confirmModal"
        :title="$t('common.confirmation')"
        :ok-title="$t('common.ok')"
        :cancel-title="$t('common.cancel')"
        @ok="saveAgent"
      >
        <p>{{ $t('agent.tasks.confirmation') }}</p>

        <b-form>
          <textarea-group
            v-model="contactInfo"
            name="contact"
            class="mb-4"
            :label="$t('agent.tasks.contactInfo')"
            :rows="3"
            :validation="$v.contactInfo"
          />
        </b-form>
      </b-modal>
    </div>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import SmallAgent from '@/components/agents/SmallAgent'
import SelectedAgent from '@/components/agents/SelectedAgent'
import TextareaGroup from '@/components/form/TextareaGroup'
import { required } from 'vuelidate/lib/validators'

export default {
  name: 'AgentSelector',
  components: {
    TextareaGroup,
    SelectedAgent,
    SmallAgent
  },
  mixins: [AxiosErrorHandler],
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      loadingAgents: false,
      loadingDefault: false,
      selectingAgent: false,
      agents: [],
      defaultAgent: null,
      affiliateAgent: null,
      selectedAgent: null,
      contactInfo: null
    }
  },
  computed: {
    currentLanguage () {
      return this.$store.state.i18n.locale
    }
  },
  created () {
    this.getAgents()
    this.getDefaultAgents()
  },
  validations: {
    contactInfo: {
      required
    }
  },
  methods: {
    /**
     * Get matching agents
     * @returns {Promise<void>}
     */
    async getAgents () {
      try {
        this.loadingAgents = true
        const categories = this.task.categories.map(s => s.id)
        const { languageId } = this.task
        const { data } = await this.$axios.get('/agents', {
          params: {
            categories,
            languageId
          }
        })
        this.agents = data.data
        this.loadingAgents = false
      } catch (err) {
        this.loadingAgents = false
        await this.handleError(err)
      }
    },

    /**
     * Get default agents
     * @returns {Promise<void>}
     */
    async getDefaultAgents () {
      try {
        this.loadingDefault = true
        const { data } = await this.$axios.get('/agents/default')
        this.affiliateAgent = data.data.referrer
          ? {
              ...data.data.referrer?.agent,
              skills: data.data.referrer?.agent?.skills.map(s => s.id)
            }
          : null
        this.defaultAgent = data.data.default
          ? {
              ...data.data.default?.agent,
              skills: data.data.default?.agent?.skills.map(s => s.id)
            }
          : null
        this.loadingDefault = false
      } catch (err) {
        this.loadingDefault = false
        await this.handleError(err)
      }
    },

    /**
     * Select one of the agents and open modal for confirmation and contact details
     * @param agent
     */
    selectAgent (agent) {
      this.selectedAgent = agent
      this.$refs.confirmModal.show()
    },

    async saveAgent () {
      try {
        this.selectingAgent = true
        const taskData = {
          ...this.task,
          agencyOn: true,
          agentId: this.selectedAgent.id,
          contact: this.contactInfo
        }
        await this.$store.dispatch('tasks/update', {
          id: this.task.id,
          taskData
        })
        this.selectingAgent = false
        this.$refs.confirmModal.hide()
        this.selectedAgent = null
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('agent.tasks.selectSuccess')
        })
      } catch (err) {
        this.selectingAgent = false
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
