<template>
  <ul class="list-unstyled m-0">
    <li>
      <nuxt-link :to="localePath('/agents/tasks')">
        <coffee-icon size="1.5x" />
        {{ $t('agent.tasks.myTasks') }}
      </nuxt-link>
    </li>
    <li>
      <nuxt-link :to="localePath('/affiliate')">
        <bookmark-icon size="1.5x" />
        {{ $t('affiliate.title') }}
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
import { CoffeeIcon, BookmarkIcon } from 'vue-feather-icons'

export default {
  name: 'AgentMenu',
  components: {
    CoffeeIcon,
    BookmarkIcon
  }
}
</script>

<style scoped>

</style>
