<template>
  <div class="invitation-short">
    <freelancers-search-item
      :id="invitation.Freelancer.id"
      :freelancer="invitation.Freelancer"
      :skills="skillIds"
    />
    <div class="px-2">
      <small>Invited: {{ createdAt }}</small>
    </div>
    <hr>
  </div>
</template>

<script>
import FreelancersSearchItem from '@/components/client/FreelancersSearchItem'

export default {
  name: 'AgentInvitationItem',
  components: { FreelancersSearchItem },
  props: {
    invitation: {
      type: Object,
      required: true
    }
  },
  computed: {
    skillIds () {
      return this.invitation.Freelancer.skills.map(s => s.id)
    },
    createdAt () {
      return this.$moment(this.invitation.createdAt).format('D.M.YYYY HH:mm')
    }
  }
}
</script>

<style scoped>

</style>
