<template>
  <div class="position-relative">
    <b-overlay :show="loading">
      <agent-profile-preview v-if="agent" :profile="agent" />
    </b-overlay>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import AgentProfilePreview from '@/components/agents/AgentProfilePreview'

export default {
  name: 'SelectedAgent',
  components: {
    AgentProfilePreview
  },
  mixins: [AxiosErrorHandler],
  props: {
    agentId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      loading: false,
      agent: null
    }
  },
  created () {
    this.getAgent()
  },
  methods: {
    async getAgent () {
      try {
        this.loading = true
        const { data } = await this.$axios.get(`/agents/${this.agentId}`)
        this.agent = data.data
        this.loading = false
      } catch (err) {
        this.loading = false
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
