<template>
  <div class="small-agent-item d-flex align-items-center">
    <avatar-display
      :avatar="agent.avatar"
      :options="avatarOptions"
      :user-name="agent.name"
      :color="agent.color"
      class="mr-3 mr-lg-4"
    />
    <div class="d-flex flex-column justify-content-start flex-grow-1">
      <h2 class="mb-1 font-16-sm">
        <nuxt-link :to="localePath(`/agents/${agent.slug}/${agent.id}`)" target="_blank">
          {{ agent.name }}
        </nuxt-link>
      </h2>
      <div class="font-14-sm">
        <occupation-location :profile="agent" />
      </div>
      <task-tags :tag-ids="agent.skills" class="m-0" />
    </div>
    <div v-if="selectable">
      <b-button variant="primary" size="sm" @click.prevent="select">
        {{ $t('agent.tasks.selectAgent') }}
      </b-button>
    </div>
  </div>
</template>

<script>
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import OccupationLocation from '@/components/freelancer/OccupationLocation'
import TaskTags from '@/components/tasks/TaskTags'

export default {
  name: 'SmallAgent',
  components: {
    TaskTags,
    OccupationLocation,
    AvatarDisplay
  },
  props: {
    agent: {
      type: Object,
      required: true
    },
    selectable: {
      type: Boolean,
      default: true
    },
    selectedAgentId: {
      type: Number,
      default: null
    },
    agencyOn: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 100,
          height: 100
        },
        rotate: null
      }
    }
  },
  methods: {
    select () {
      this.$emit('select', this.agent)
    }
  }
}
</script>

<style scoped>

</style>
