<template>
  <div>
    <paper>
      <agent-basic-info-form :agent="agent" :redirect-after-save="false" />
    </paper>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import AgentBasicInfoForm from '@/components/agents/AgentBasicInfoForm'

export default {
  name: 'UpdateAgent',
  components: {
    AgentBasicInfoForm,
    Paper
  },
  computed: {
    agent () {
      return this.$store.getters['user/getAgent']
    }
  }
}
</script>

<style scoped>

</style>
