.ct-about {
  .lead {
    line-height: 30px;
    font-weight: 400;
  }

  .btn-round {
    &.btn-lg {
      font-weight: 500;
      line-height: 1.55;
      font-size: 20px;
      border-radius: 32px;
      padding: 1rem 1.75rem;
    }
  }

  .badge-pill {
    background-color: $gray-200;
    color: $info;
    font-size: $font-size-base;
    padding: 1rem 1.5rem;

    @include apply-dark-theme() {
      background-color: $gray-900;
    }
  }

  .traction {
    border-right: 1px solid $gray-800;

    .traction-intro {
      font-size: 1.5rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding-left: .5rem;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        line-height: 1.2;

        &:before {
          line-height: 1.2;
          content: '>';
          padding-right: 0.5rem;
          color: $info;
          font-size: 2.15rem;
          font-weight: bold;
        }
      }
    }
  }

  .featured {
    h2 {
      font-size: 1.75rem;
      font-weight: 500;
    }

    .paper {
      border-radius: 0.5rem;
    }
  }

  .why {
    p {
      font-size: 1.25rem;
    }
  }

  .defi {
    p {
      font-size: 1.25rem;
    }

    .chain {
      border-bottom-width: 2px;
      border-color: $gray-500;
      font-size: 1.3rem;
      color: $gray-500;
      padding-bottom: 10px;
      position: relative;

      &.on-chain {
        border-bottom-style: solid;
      }

      &.off-chain {
        border-bottom-style: dashed;
      }

      .arrow-right {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $gray-500;
        bottom: -6px;
        right: -2px;
        position: absolute;
      }
    }
  }

  .effect {
    .lft {
      @include media-breakpoint-up(lg) {
        border-right: 1px solid $gray-200;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding-left: 3px;
        display: flex;
        align-items: center;
        line-height: 1.5;
        font-size: 1.1rem;
        margin-bottom: 8px;

        &:before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background-color: $info;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
  }

  .why-block {
    border: 1px solid $gray-200;
    border-radius: 1.5rem;
    background-color: $gray-100;
    font-size: 1.2rem;
    font-weight: 300;

    @include apply-dark-theme() {
      background-color: $gray-900;
      border-color: $gray-800;
    }

    .why-text {
      padding: 1rem 2rem 1rem 1.5rem;

      @include media-breakpoint-up(lg) {
        padding: 2rem 2.5rem 2rem 3rem;
      }
      position: relative;

      img {
        position: absolute;
        right: -17px;
        top: 50%;
        margin-top: -17px;
      }
    }

    .why-solution {
      padding: 2rem 2.5rem;
      background-color: $info;
      color: $white;
      border-radius: 1.5rem;
      height: calc(100% + 2px);
    }
  }

  .thin-title {
    font-weight: 400;
    font-size: 2.2rem;
  }

  .about-items {
    .about-item {
      background: transparent url('~/assets/img/About_gray.svg') no-repeat center;
      background-size: contain;
      width: 300px;
      aspect-ratio: 20 / 17;

      .title {
        position: absolute;
        padding: 1.5rem;

        h3 {
          font-size: 2.5rem;
        }
      }

      .text {
        position: absolute;
        top: 139px;
        left: 30px;
        height: 116px;
        padding: 1rem;

        p {
          margin: 0;
        }
      }
    }
  }

  .freelancers-funnel, .employers-funnel {
    .funnel-image {
      height: 130px;
      width: auto;
    }

    .branched {
      .funnel-image {
        @include media-breakpoint-up(lg) {
          height: auto;
          width: 150px;
        }
      }
    }

    .arrow {
      transform: rotate(90deg);

      @include media-breakpoint-up(lg) {
        transform: rotate(0deg);
      }
    }
  }
}
