.small-agent-item {
  .avatar {
    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      border-radius: .5rem;

      @include media-breakpoint-up(lg) {
        width: 5.375rem;
        height: 5.375rem;
      }
    }
  }

  h2 {
    font-size: 1.1875rem;

    @include media-breakpoint-up(lg) {
      font-size: $h2-font-size;
    }
  }

  &.small-agent-item-ct {
    .avatar {
      img {
        object-fit: contain;
      }
    }
  }
}
