.blog-post {
  figure.image {
    text-align: center;

    figcaption {
      font-size: .75rem;
      color: $text-muted;
      margin: .5rem 0;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
