.chat-container {
  padding: .5rem 0;

  .messages {
    max-height: 800px;
    display: inline-block;

    .chat-message {
      padding: .5rem 0;

      .avatar {
        width: 2.5rem;
        margin-right: .8rem;
        padding-top: 2px;

        img {
          border-radius: .375rem;
          overflow: hidden;
          width: 2.5rem;
          height: auto;
          display: block;
        }
      }

      .name {
        font-weight: bold;
        font-size: 0.875rem;
      }

      .date {
        font-size: .75rem;
        color: $gray-500;
        margin-left: 8px;
      }

      .message {
        color: $gray-700;

        pre {
          @include apply-dark-theme() {
            color: t("body-text-color");
          }

          white-space: pre-wrap;
          font-family: $font-family-sans-serif;
          font-size: 1rem;
          color: $almost-black;
        }

        .attachment {
          margin: .5rem 0;

          .image-info {
            font-size: .75rem;
            color: $gray-500;
            margin-bottom: .1rem;

            .feather {
              stroke: $gray-600;
            }

            button {
              padding: 0;
            }
          }

          .thumbnail {
            border: 1px solid $gray-300;
            border-radius: 4px;
          }

          .file-attachment {
            background: $gray-200;
            border-radius: 1.25rem;
            color: $gray-700;
            text-decoration: underline;
            font-size: .875rem;
            font-weight: bold;
            padding: .5rem 1rem;

            .feather {
              margin-right: .5rem;
              stroke: $gray-600;
            }

            &:hover {
              background: darken($gray-200, 5%);
            }

            @include apply-dark-theme() {
              background: $dark-grayish-navy;

              &:hover {
                background: darken($dark-grayish-navy, 5%);
              }
            }
          }
        }
      }

      .message-icons {
        font-size: 12px;
      }
    }
  }

  .chat-input {
    @include apply-dark-theme() {
      background: transparent;
      border-color: t("form-control-border-color");
    }

    border: 2px solid $gray-200;
    border-radius: 0.25rem;
    background: $gray-100;

    .attachments {
      .feather {
        color: $gray-700;
      }

      &:focus {
        outline: 0;
      }

      &:hover {
        .feather {
          color: $gray-800;
        }
      }
    }

    button {
      border: 0;

      &.submit {
        @include apply-dark-theme() {
          background: $dark-grayish-navy;
          color: $gray-400;

          &:hover {
            background: $dark-grayish-navy;
          }
        }

        background: $gray-300;
        margin: 5px;
        color: $gray-700;

        &:hover {
          background: $gray-300;
        }
      }
    }

    textarea {
      @include apply-dark-theme() {
        background: $dark-grayish-navy;
      }

      line-height: 1.1875rem;
      border: 0;

      &:hover, &:focus {
        outline: none;
        box-shadow: none;
      }

      &:disabled {
        background: transparent;
      }
    }
  }

  .typing-user {
    color: $gray-300;
    font-size: .75rem;
    padding: .5rem 0 0 1rem;
  }

  &__alert {
    display: flex;
    align-items: center;
    font-size: .9em;
    margin: 1rem 0;
    font-weight: bold;

    button {
      top: auto !important;
      right: 1.5rem !important;
      padding: 0 !important;
    }

    svg {
      margin-right: 1rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1em;
    }
  }
}

.chat-history {
  @include apply-dark-theme() {
    box-shadow: 0 0 1rem $very-dark-blue;
  }

  box-shadow: 0 0 1rem $gray-100;
  padding: 1rem;
  padding-top: 0.5rem;
  height: auto;

  @media (min-width: 992px) and (max-width: 1366px) {
    margin-top: 1rem !important;
  }

  .thread {
    padding-right: .5rem;
  }

  hr {
    margin-top: 0.5rem;
  }
}

.chat-item-active {
  header {
    background: $gray-100;
  }
}

.chat-history-list {
  height: 16rem;
  width: 100%;
  display: inline-block;
}

.chat-history-item{

  header {
    border-radius: .5rem;
    cursor: pointer;

    /* &:hover {
      background: $gray-100;
    } */

    .avatar {
      width: 2.5rem;

      img {
        width: 100%;
        height: auto;
        border-radius: .5rem;
      }
    }

    .user-name {
      font-weight: bold;
      font-size: 1rem;
    }

    .user-msg {
      font-size: .75rem;
      color: $gray-600;
      width: auto;
      max-width: 10rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

// quick-chat-search transition

.fade-width-enter-active,
.fade-width-leave-active {
  transition: all 0.2s;
  max-width: 11rem;
}
.fade-width-enter,
.fade-width-leave-to
{
  max-width: 2rem;
}

// online circle
.online-status {
  border: .2rem solid white;
  height: 0;
  width: 0;
  background: $gray-400;
  border-radius: 50%;
  padding: .3rem;
  position: absolute;
  bottom: -.5rem;
  left: 2rem;
}

.is-online {
  background: $green;
}

.task-name {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.thread {
  text-decoration: none;
  font-size: .875rem;

  h6 {
    font-size: .875rem;
  }

  &:hover {
    text-decoration: none;
  }

  .avatar {
    width: 2.5rem;

    img {
      width: 100%;
      height: auto;
      border-radius: .5rem;
    }
  }
}
