.freelancer-menu {
  a {
    display: flex;
    align-items: center;
  }

  span {
    font-weight: 900;
    font-size: 1.125rem;
  }

  .feather {
    stroke: $gray-700;
  }

  .router-link-active {
    color: $green;

    .feather {
      stroke: $green;
    }
  }
}

.freelancer-search-item {
  &.visibility-boosted {
    background-color: $visibility-boosted-color;
    border-radius: 1rem;

    @include apply-dark-theme() {
      background-color: $visibility-boosted-color-dark;
    }
  }

  .avatar {
    cursor: pointer;

    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      border-radius: .5rem;

      @include media-breakpoint-up(lg) {
        width: 5.375rem;
        height: 5.375rem;
      }
    }
  }

  h2 {
    font-size: 1.1875rem;

    @include media-breakpoint-up(lg) {
      font-size: $h2-font-size;
    }
  }
}

.project-preview {
  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
  }

  h6 {
    font-size: .875rem;
  }

  .tags {

  }
}

.freelancer-buttons {
  position: fixed;
  bottom: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: $zindex-fixed;

  @include media-breakpoint-up(lg) {
    position: static;
    bottom: initial;
    left: initial;
    transform: initial;
  }
}

.featured-checkbox {
  @include apply-dark-theme() {
    border-bottom-color: t("form-control-border-color");
  }

  border-bottom: .0625rem solid $gray-100;
  padding: 1.5rem .25rem;

  label {
    font-weight: bold;
    line-height: 1.5;
    color: $black;
    font-size: .9rem;

    @include apply-dark-theme() {
      color: $gray-400;
    }
  }
}
