.ct-landing {
  .intro {
    overflow: hidden;
    background: #7dc241;
    background: linear-gradient(127deg, #7dc241 0%, #7dc241 40%, #337b3c 100%);

    .intro-text {
      z-index: 4;

      h3, h1, p {
        text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
      }

      .btn-outline-light:hover {
        background-color: rgba(0,128,34,0.7);
      }
    }

    .intro-bg {
      z-index: 3;

      .dino {
        left: 0;
        bottom: -5rem;

        @include media-breakpoint-up(xs) {
          left: auto;
          right: -650px;
        }

        @include media-breakpoint-up(sm) {
          left: auto;
          right: -600px;
        }

        @include media-breakpoint-up(md) {
          left: auto;
          right: -400px;
        }

        @include media-breakpoint-up(lg) {
          left: auto;
          right: -300px;
        }

        @include media-breakpoint-up(xl) {
          left: auto;
          right: -200px;
        }

        @include media-breakpoint-up(xxl) {
          left: auto;
          right: 0;
        }

        img {
          height: 730px;
          width: auto;

          @include media-breakpoint-up(md) {
            height: 600px;
          }

          @include media-breakpoint-up(lg) {
            height: 730px;
          }
        }
      }
    }
  }

  .lead p {
    @include media-breakpoint-up(lg) {
      font-size: 1.375rem;
    }
  }

  h1 {
    font-size: 3.25rem;
    font-weight: 900;

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }
}

.find-talent, .agents-signup {
  color: $white;
  padding: 3rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(0deg, rgba(7, 11, 23, 0.8), rgba(7, 11, 23, 0.8)), url('./assets/img/find_talent.jpg') no-repeat center;
  background-size: cover;

  @include media-breakpoint-up(lg) {
    padding: 5rem 10rem;
  }

  h2 {
    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  p {
    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }
}

.agents-signup {
  background: linear-gradient(0deg, rgba(7, 11, 23, 0.8), rgba(7, 11, 23, 0.8)), url('./assets/img/agentsBox.jpeg') no-repeat center;
}

.partners {
  img {
    max-height: 80px;
    width: auto;
    max-width: 100%;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: normal;
  }
}

.featured-in {
  img {
    max-height: 40px;
    width: auto;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: normal;
  }
}

.browse-jobs {
  $pr: .875rem;
  $aw: 2.25rem;
  $pt: $pr + $aw;

  .browse-jobs-item {
    margin-bottom: 2rem;

    .posted-by {
      padding-left: $pt;
      margin-bottom: .2rem;
      font-size: .625rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: .875rem;
        font-size: 1rem;
      }
    }

    h4 {
      margin-bottom: 0;

      @include media-breakpoint-up(lg) {
        margin-bottom: .25rem;
      }
    }

    .props {
      font-size: .625rem;

      @include media-breakpoint-up(lg) {
        font-size: .875rem;
      }
    }

    .avatar {
      margin-right: $pr;

      img {
        width: $aw;
        height: $aw;
        border-radius: .625rem;

        @include media-breakpoint-up(lg) {
          border-radius: 1rem;
        }
      }
    }

    .skills {
      .task-tags {
        border-bottom: 1px solid $gray-200;
        padding-bottom: 1.5rem;

        li {
          font-size: .5625rem;

          @include media-breakpoint-up(lg) {
            font-size: .75rem;
          }
        }
      }
    }

    @include media-breakpoint-up(lg) {
      $pr: 1.5rem;
      $aw: 7.5rem;
      $pt: $pr + $aw;

      .posted-by {
        padding-left: $pt;
      }

      .avatar {
        margin-right: $pr;

        img {
          width: $aw;
          height: $aw;
        }
      }
    }
  }
}

.browse-freelancers {
  .name {
    line-height: 1.1;
    font-size: .75rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  .occupation {
    line-height: 1.5;
    font-size: .625rem;

    @include media-breakpoint-up(lg) {
      font-size: .875rem;
    }
  }

  .slick-track {
    > div > div {
      display: flex !important;
      align-items: flex-start;
    }
  }
}

.browse-jobs, .browse-freelancers, .seo-categories {
  .nav-tabs {
    border: none;

    .nav-link {
      font-weight: normal;
      font-size: 1.1875rem;
      padding: .5rem 0;
      transition: font-size .2s;

      &.active {
        font-size: 1.8rem;
        border: none;

        &:after {
          content: '\2192';
        }
      }

      &:hover:not(.active) {
        transition: font-size .2s;
        font-size: 1.5rem;
      }
    }
  }
}

.how-it-works {
  h2 {
    font-size: 1.25rem;

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }

  svg path {
    fill: $black;

    @include apply-dark-theme() {
      fill: $gray-400;
    }
  }
}

.testimonials {
  p {
    font-size: .875rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  .avatar {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;

      @include media-breakpoint-up(lg) {
        width: 60px;
        height: 60px;
      }
    }
  }

  .person {
    font-size: .75rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
    }
  }
}

.koth {
  .avatar-container {
    box-shadow: 0 0 8px 4px rgba(235, 219, 0, 0.6);

    &:hover {
      animation: gold-pulsate 1000ms normal;
    }

    border-radius: 1.5rem;
  }
}

.why-us {
  img {
    height: 150px;
    width: auto;
  }
}

@keyframes gold-pulsate {
  0% {
    box-shadow: 0 0 8px 4px rgba(235, 219, 0, 0.6)
  }
  50% {
    box-shadow: 0 0 8px -5px rgba(235, 219, 0, 0.6)
  }
  100% {
    box-shadow: 0 0 8px 4px rgba(235, 219, 0, 0.6)
  }
}
