.auth-form-container {
  box-shadow: 0 0 6rem 0 rgba($dark, 0.06);

  .auth-form {
    h1 {
      font-size: 4.125rem;
      font-weight: 900;

      @include media-breakpoint-down(sm) {
        font-size: 2.75rem;
      }
    }
  }
  .auth-form button {
    @include apply-dark-theme() {
      background: $gray-800;
    }
  }

}

.roles-chooser {
  span {
    line-height: 1.2;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  @include media-breakpoint-down(md) {
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
