.copy-url {
  span {
    background: $gray-100;
    padding: .5rem;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
    overflow-wrap: break-word;
    word-break: break-all;

    svg {
      margin: 2px 5px 2px 0;
    }

    &:hover {
      background: $gray-200;
    }

    @include apply-dark-theme() {
      background: rgba($gray-100, .1);

      &:hover {
        background: rgba($gray-200, .2);
      }
    }
  }
}

.client-trusted {
  color: darken($green, 10%);

  svg {
    filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.2));
  }
}

.profile-preview {
  .avatar-container {
    width: 100%;

    .avatar {
      width: 100%;

      img {
        width: 100%;
        height: 100%;
      }

      .color {
        .letter {
          font-size: 7rem;
        }
      }
    }
  }

  .web-presence-group {
    @include media-breakpoint-down(lg) {
      margin-bottom: 2rem;
    }

    &__item {
      color: $gray-600;

      &:hover {
        color: $gray-700;
        cursor: pointer;
      }
    }
  }

  .client-trusted {
    font-size: 36px;
  }
}
