.success-page {
  background: linear-gradient(0deg, #d7d7d7, #cdcdcd);
  position: relative;

  .image {
    position: absolute;
    bottom: 0;
    left: 0;

    img {
      max-width: 100%;
      width: auto;
      height: auto;
    }

    @include media-breakpoint-up(lg) {
      position: relative;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background: rgba(255, 255, 255, 0.6);
    padding: 1rem;
    min-height: 550px;

    @include media-breakpoint-up(lg) {
      background: transparent;
    }

    h1 {
      font-size: 50px;
      font-weight: 800;
      line-height: 63px;
      color: $black;
    }

    p {
      font-size: 25px;
      font-weight: 600;
      color: $black;
    }
  }
}
