@mixin dropdown-button {
  width: 100%;
  text-align: left;
  font-size: .9em;
  background: inherit;
  color: inherit;
  border: none;
  box-shadow: none;

  &:hover, &:active {
    background: none !important;
    color: inherit !important;
    box-shadow: none !important;
  }
}

.short-task-item, .short-job-item {
  border-radius: 10px;

  &.visibility-boosted {
    background-color: $visibility-boosted-color;

    @include apply-dark-theme() {
      background-color: $visibility-boosted-color-dark;
    }
  }

  &.escrow-set {
    background-color: $escrow-set-color;

    @include apply-dark-theme() {
      background-color: $escrow-set-color-dark;

      .task-tags {
        li {
          color: #a2a5ad;
        }
      }
    }
  }

  .duration, .price, .published-date, .applications-count, .escrow, .likes {
    font-size: .875rem;
  }

  .price {
    > * {
      margin: 0;
      padding: 0;
    }
  }

  .task-info {
    > div {
      height: 100%;
    }
  }

  .escrow, .price, .applications-count, .likes {
    border-left: 1px solid rgba($black, .3);

    @include apply-dark-theme() {
      border-left: 1px solid rgba($white, .3);
    }
  }

  .avatar {
    img, .color {
      width: 100px;
      height: 100px;
    }
  }

  @include media-breakpoint-down(sm) {
    .avatar {
      width: 50px;
      height: 50px;
      border-radius: .5rem;

      img, .color {
        width: 50px;
        height: 50px;

        .letter {
          font-size: 1.5rem;
        }
      }
    }
  }

  .client-trusted {
    font-size: 20px;
  }
}

.task-tags {
  li {
    font-size: .75rem;
    color: $gray-600;
    white-space: nowrap;
  }
}

.task-details {
  @include apply-dark-theme() {
    background: $dark-grayish-navy;
  }

  background: $gray-100;
  padding: 1.5rem 1rem;

  @include media-breakpoint-up(lg) {
    border-radius: .5rem;
  }

  .detail {
    border-bottom: 1px dotted $gray-200;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    &:last-child {
      border-bottom: 0;
    }

    svg {
      stroke: $green;
      color: $green;
      min-width: 20px;
      max-width: 20px;
    }

    .text-muted {
      line-height: 1;

      small {
        font-size: .6875rem;
      }
    }
  }
}

.required-skills {
  ul {
    margin-left: -1rem;

    li {
      @include apply-dark-theme() {
        background: t("pill-bg-color");
      }

      background: $gray-100;
      padding: .50rem .75rem;
      border-radius: 2rem;
      font-size: .875rem;
    }
  }
}

.applied-freelancer {
  border-radius: .5rem;

  &:hover {
    background-color: $gray-100;

    @include apply-dark-theme() {
      background-color: rgba($dark-grayish-navy, .3);
    }
  }

  header {
    @include apply-dark-theme() {
      background: $dark-grayish-navy;
    }

    background: $gray-200;
    border-radius: .5rem;

    .avatar {
      width: 4rem;
      margin-right: 1rem;

      img {
        width: 100%;
        height: auto;
        border-radius: .5rem;
      }
    }

    .freelancer-name {
      text-decoration: underline;
      font-weight: bold;
      font-size: 1.3125rem;
    }

    .freelancer-occupation {
      font-size: .875rem;
    }

    .freelancer-meta {
      font-size: .75rem;
      color: $gray-600;
    }

    @include media-breakpoint-down(sm) {
      .freelancer-name {
        font-size: 0.875rem;
      }

      .freelancer-occupation {
        font-size: 0.75rem;
      }
    }
  }

  $content-padding: 6rem;

  p {
    @include apply-dark-theme() {
      color: $body-color--dark;
    }
    color: $gray-800;

    @include media-breakpoint-up(sm) {
      padding-left: $content-padding;
    }

    @include media-breakpoint-down(sm) {
      font-size: 0.875rem;
    }
  }

  .buttons {
    @include media-breakpoint-up(sm) {
      padding-left: $content-padding;
    }

    a.btn {
      font-size: 1rem;

      @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
      }
    }
  }

  &.visibility-boosted {
    header {
      background-color: $visibility-boosted-color;

      @include apply-dark-theme() {
        background-color: $visibility-boosted-color-dark;
      }
    }
  }

  &.recommended {
    header {
      background-color: $recommended-color;

      @include apply-dark-theme() {
        background-color: $recommended-color-dark;
      }
    }
  }
}

.task-title {
  .on-bc {
    img {
      height: 3rem;
      width: auto;
    }
  }

  h2 {
    font-size: 1.3rem;
    font-weight: normal;
  }

  .employer {
    .avatar-container {
      .avatar {
        img, .color {
          border-radius: .4rem;
          width: 1.5rem;
          height: 1.5rem;
        }

        .color {
          .letter {
            font-size: 1rem;
          }
        }
      }
    }

    .client-trusted {
      font-size: 20px;
    }
  }
}

.my-task-tabs {
  .active {
    .dropdown-toggle {
      color: $success;
    }
  }
}

.create-task {
  .input-group-append {
    @include media-breakpoint-down(lg) {
      margin-left: 0;
      width: 100%;

      .input-group-text {
        width: 100%;
      }
    }
  }
}
