<template>
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <paper>
        <agent-basic-info-form :agent="agent" :redirect-after-save="true" />
      </paper>
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import AgentBasicInfoForm from '@/components/agents/AgentBasicInfoForm'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'AgentBasicInfoPage',
  components: {
    AgentBasicInfoForm,
    Paper
  },
  mixins: [Pageview],
  layout: 'profile',
  middleware: ['isAgent'],
  computed: {
    agent () {
      return this.$store.getters['user/getAgent']
    }
  }
}
</script>

<style scoped>

</style>
