<template>
  <div class="invitation-short-item short-task-item">
    <div class="d-flex align-items-start">
      <avatar-display
        :avatar="avatar"
        :options="avatarOptions"
        :user-name="invitation.Client.name"
        :color="invitation.Client.color"
        class="mr-2 mr-md-4"
      />
      <div class="flex-grow-1">
        <div class="d-flex align-items-center justify-content-between mb-2">
          <nuxt-link
            :to="clientUrl"
            class="client-name font-14-sm"
          >
            {{ invitation.Client.name }}
          </nuxt-link>
          <div class="published-date pr-2">
            {{ timePostedDate }}
          </div>
        </div>
        <div class="d-flex align-items-center mb-2">
          <h4 class="mb-0 mr-2">
            <nuxt-link
              class="font-18-sm"
              :to="localePath(`/invitations/${invitation.id}`)"
            >
              {{ invitation.Task.title }}
            </nuxt-link>
          </h4>
          <invitation-status-badge :invitation="invitation" />
        </div>
        <div class="d-flex align-items-center mb-3 task-info">
          <task-duration class="mr-2" :task="invitation.Task" />
          <task-price class="mr-2 pl-2" :task="invitation.Task" />
          <task-escrow :task="invitation.Task" />
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center px-2">
      <task-tags :tag-ids="skillIds" class="mb-0 flex-grow-1" />
    </div>
  </div>
</template>

<script>

import AvatarDisplay from '@/components/ui/AvatarDisplay'
import TaskTags from '@/components/tasks/TaskTags'
import TaskDuration from '@/components/tasks/TaskDuration'
import TaskPrice from '@/components/tasks/TaskPrice'
import TaskEscrow from '@/components/tasks/TaskEscrow'
import InvitationStatusBadge from '@/components/freelancer/InvitationStatusBadge'

export default {
  name: 'InvitationShortItem',
  components: {
    InvitationStatusBadge,
    TaskEscrow,
    TaskPrice,
    TaskDuration,
    TaskTags,
    AvatarDisplay
  },
  props: {
    invitation: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 100,
          height: 100
        }
      }
    }
  },
  computed: {
    createdAt () {
      return this.$moment(this.invitation.createdAt).format('D.M.YYYY HH:mm')
    },
    avatar () {
      return this.invitation.Client.avatar
    },
    clientUrl () {
      return this.localePath(`/clients/${this.invitation.Client.slug}/${this.invitation.Client.id}`)
    },
    timePostedDate () {
      return this.$moment(this.invitation.createdAt).format('MMM Do')
    },
    skillIds () {
      return this.invitation?.Task?.skills?.map(s => s.id)
    }
  }
}
</script>

<style scoped>

</style>
