<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <component :is="profileComponent" />
    </div>
  </div>
</template>

<script>
import UpdateFreelancer from '@/components/freelancer/UpdateFreelancer'
import UpdateClient from '@/components/client/UpdateClient'
import UpdateAgent from '@/components/agents/UpdateAgent'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'ProfileEditPage',
  components: {
    UpdateAgent,
    UpdateFreelancer,
    UpdateClient
  },
  mixins: [Pageview],
  computed: {
    profileComponent () {
      const role = this.$store.getters['user/getActiveRoleTypeName']

      if (role) {
        return `update-${role}`
      }

      return ''
    }
  }
}
</script>
