<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <component :is="profileComponent" v-bind="profileData" />
    </div>
  </div>
</template>

<script>
import ClientProfilePreview from '@/components/client/ClientProfilePreview'
import FreelancerProfilePreview from '@/components/freelancer/FreelancerProfilePreview'
import SeoMethods from '@/mixins/SeoMethods'
import AgentProfilePreview from '@/components/agents/AgentProfilePreview'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'ProfilePreviewPage',
  components: {
    ClientProfilePreview,
    FreelancerProfilePreview,
    AgentProfilePreview
  },
  mixins: [SeoMethods, Pageview],
  middleware: ['checkProfileCompleteness'],
  head () {
    const profile = this.profile
    return this.buildTags(profile?.name, this.profileDescription, profile?.avatar)
  },
  computed: {
    profile () {
      return this.$store.getters['user/getActiveRoleData']
    },
    profileData () {
      return { profile: this.profile }
    },
    profileComponent () {
      const role = this.$store.getters['user/getActiveRoleTypeName']

      if (role) {
        return `${role}-profile-preview`
      }

      return ''
    },
    profileDescription () {
      return this.$store.getters['user/getProfileDescription']
    }
  }
}
</script>
