<template>
  <div>
    <h1 class="mb-3 font-weight-bold">
      <nuxt-link :to="localePath(`/blog/${post.slug}`)">
        {{ post.title }}
      </nuxt-link>
    </h1>
    <div class="lead d-flex flex-column flex-lg-row align-items-lg-start">
      <nuxt-link v-if="post.image" :to="localePath(`/blog/${post.slug}`)">
        <image-display :file="post.image" :options="imageOptions" class="mr-3 mb-3" />
      </nuxt-link>
      {{ text }}
    </div>
  </div>
</template>

<script>
import { truncate } from 'lodash'
import { trim } from 'lodash/string'
import sanitizeHtml from 'sanitize-html'
import ImageDisplay from '~/components/ui/ImageDisplay'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ShortPost',
  components: {
    ImageDisplay
  },
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      imageOptions: {
        resize: {
          width: 300,
          height: 200
        }
      }
    }
  },
  computed: {
    text () {
      return trim(truncate(sanitizeHtml(this.post.text.replace(/>/g, '> '), {
        allowedTags: []
      }), {
        length: 300,
        separator: ' ',
        omission: '[...]'
      })).replace(/\s\s+/g, ' ')
    }
  }
}
</script>
