<template>
  <div class="featured-checkbox">
    <b-form-checkbox
      id="featured"
      :checked="selected"
      :disabled="disabled"
      name="featured"
      @input="handleChange"
    >
      {{ $t('freelancers_search.featuredOnly') }}
    </b-form-checkbox>
  </div>
</template>

<script>
export default {
  name: 'FeaturedCheckbox',
  props: {
    selected: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleChange (value) {
      this.$emit('input', value)
    }
  }
}
</script>

<style scoped>

</style>
