<template>
  <div class="search-heading d-flex flex-column">
    <quick-search class="mb-3" :term="queryTerm" :disabled="disabled" @search="search" />
    <div class="search-heading__dropdown-group d-flex flex-column pl-2">
      <categories-dropdown :category="category" :disabled="disabled" @select="selectCategory" />
      <skills-dropdown :skill="skill" :category="category" :disabled="skillDisabled" @select="selectSkill" />
      <types-dropdown :selected="type" :disabled="disabled" @select="selectType" />
      <languages-dropdown :selected-languages="languages" :disabled="disabled" @select="selectLanguages" />
      <task-location-dropdown :selected="location" :disabled="disabled" @select="selectLocation" />
      <sort-dropdown :sort="sort" :disabled="disabled" @select="selectSort" />
    </div>
  </div>
</template>

<script>
import TypesDropdown from '@/components/search/TypesDropdown'
import TaskLocationDropdown from '@/components/search/TaskLocationDropdown'
import { mapState } from 'vuex'
import SkillsDropdown from '@/components/search/SkillsDropdown'
import QuickSearch from '../ui/QuickSearch.vue'
import CategoriesDropdown from './CategoriesDropdown.vue'
import SortDropdown from './SortDropdown.vue'
import LanguagesDropdown from '~/components/search/LanguagesDropdown'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SearchHeading',
  components: {
    SkillsDropdown,
    TaskLocationDropdown,
    TypesDropdown,
    QuickSearch,
    SortDropdown,
    CategoriesDropdown,
    LanguagesDropdown
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    ...mapState('search', {
      category: 'category',
      skill: 'skill',
      type: 'type',
      languages: 'languages',
      sort: 'sort',
      queryTerm: 'queryTerm',
      location: 'location'
    }),
    skillDisabled () {
      return this.disabled || !this.category
    }
  },
  methods: {
    selectSort (c) {
      this.$emit('sort', c)
    },
    search (term) {
      this.$store.commit('search/setQueryTerm', term)
      this.$emit('search')
    },
    selectCategory (c) {
      this.$store.commit('search/setCategory', c)
      this.$store.commit('search/setSkill', null)
      this.$emit('search')
    },
    selectSkill (c) {
      this.$store.commit('search/setSkill', c)
      this.$emit('search')
    },
    selectLanguages (languages) {
      this.$store.commit('search/setLanguages', languages)
      this.$emit('search')
    },
    selectType (type) {
      this.$store.commit('search/setType', type)
      this.$emit('search')
    },
    selectLocation (location) {
      this.$store.commit('search/setLocation', location)
      this.$emit('search')
    }
  }
}
</script>
