<template>
  <div class="dropdown-wrapper w-100">
    <a v-if="selected && canRemove" class="dropdown__clear-btn" @click.prevent="removeSelection">
      <x-icon size="1x" />
    </a>
    <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none px-0" :disabled="disabled" no-caret>
      <template slot="button-content">
        <div class="dropdown__button-wrapper">
          <strong>{{ label }}</strong>
          <chevron-down-icon size="16" class="ml-2" />
        </div>
      </template>
      <b-dropdown-item-button
        v-for="i in items"
        :key="i.id"
        :active="isItemSelected(i)"
        @click="selectItem(i)"
      >
        {{ i.name }}
      </b-dropdown-item-button>
    </b-dropdown>
  </div>
</template>

<script>
import { ChevronDownIcon, XIcon } from 'vue-feather-icons'
import { isArray } from 'lodash/lang'

export default {
  name: 'SearchItemDropdown',
  components: {
    ChevronDownIcon,
    XIcon
  },
  props: {
    label: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      default () {
        return []
      }
    },
    selected: {
      type: [String, Number, Array],
      default: null
    },
    canRemove: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    isItemSelected (i) {
      if (isArray(this.selected)) {
        return this.selected.includes(i.id)
      }
      return this.selected === i.id
    },
    selectItem (i) {
      this.$emit('select', i)
    },
    removeSelection () {
      this.$emit('remove')
    }
  }
}
</script>

<style scoped>

</style>
