<template>
  <div class="w-100">
    <search-item-dropdown
      id="skills-dropdown"
      :label="skill ? skillName : $t('freelancers_search.select_skills')"
      :can-remove="true"
      :items="skills"
      :selected="skill"
      :disabled="!category || disabled"
      @select="selectSkill"
      @remove="removeSkill"
    />
    <b-tooltip target="skills-dropdown" :boundary-padding="100" :disabled="!!category" placement="bottom">
      {{ $t('freelancers.disabledSkillsSearch') }}
    </b-tooltip>
  </div>
</template>

<script>
import SearchItemDropdown from '@/components/search/SearchItemDropdown'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SkillsDropdown',
  components: {
    SearchItemDropdown
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    category: {
      type: Number,
      default: null
    },
    skill: {
      type: Number,
      default: null
    }
  },
  computed: {
    skills () {
      if (this.category) {
        return this.$store.getters['util/getSkillsByCategory'](this.category)
      }

      return []
    },
    skillName () {
      if (this.skill) {
        return this.skills.find(s => s.id === this.skill)?.name
      }
      return null
    }
  },
  methods: {
    selectSkill (c) {
      this.$emit('select', c.id)
    },

    removeSkill () {
      this.$emit('select', null)
    }
  }
}
</script>
