<template>
  <div class="dropdown-wrapper">
    <b-dropdown size="lg" variant="link" toggle-class="text-decoration-none px-0" :disabled="disabled" no-caret>
      <template slot="button-content">
        <div class="dropdown__button-wrapper">
          <strong>{{ $t('tasks.sort') }}</strong>
          <chevron-down-icon size="16" class="ml-2" />
        </div>
      </template>
      <b-dropdown-item-button
        v-for="(c, i) in types"
        :key="i"
        :active="c.key === sort.by"
        @click="selectSort(c.key)"
      >
        <div class="d-flex align-items-center justify-content-between">
          <span class="pr-2">{{ c.label }}</span>
          <chevrons-down-icon v-if="c.key === sort.by && sort.dir === 'desc'" size="1x" />
          <chevrons-up-icon v-if="c.key === sort.by && sort.dir === 'asc'" size="1x" />
        </div>
      </b-dropdown-item-button>
    </b-dropdown>
  </div>
</template>

<script>
import { ChevronsDownIcon, ChevronDownIcon, ChevronsUpIcon } from 'vue-feather-icons'
import { tasksSortOptions } from 'ct-constants'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SortDropdown',
  components: {
    ChevronsDownIcon,
    ChevronDownIcon,
    ChevronsUpIcon
  },
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    sort: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    types () {
      return [
        {
          key: tasksSortOptions.DATE_ADDED,
          label: this.$t('tasks.dateAdded')
        },
        {
          key: tasksSortOptions.PRICE,
          label: this.$t('tasks.price')
        }
      ]
    }
  },
  methods: {
    selectSort (c) {
      this.$emit('select', c)
    }
  }
}
</script>
