<template>
  <auth-container>
    <div>
      <div class="auth-form">
        <div>
          <h1 class="mb-5 text-center text-lg-left">
            {{ $t('taskConfirmation.title') }}
          </h1>

          <p>
            {{ $t('taskConfirmation.loading') }}
          </p>
        </div>
      </div>
    </div>
  </auth-container>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import AuthContainer from '@/components/auth/AuthContainer'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ConfirmTaskPage',
  components: { AuthContainer },
  mixins: [AxiosErrorHandler, Pageview],
  layout: 'auth',
  auth: false,
  data () {
    return {
      confirming: false
    }
  },
  async mounted () {
    const { hash } = this.$route.params

    try {
      await this.confirmTask(hash)
      await this.$router.replace(this.localePath('/login'))
    } catch (err) {
      await this.handleError(err)
    }
  },
  methods: {
    async confirmTask (hash) {
      try {
        this.confirming = true
        await this.$axios.put(`tasks/confirm/${hash}`)
        await this.$store.dispatch('ui/showNotification', {
          text: this.$t('taskConfirmation.successNotification'),
          type: 'success'
        })
        this.confirming = false
      } catch (err) {
        this.confirming = false
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
