<template>
  <auth-container>
    <div>
      <div class="auth-form">
        <div v-if="!setPassword">
          <div>
            <h1 class="mb-5 text-center text-lg-left">
              {{ $t('auth.confirmation.title') }}
            </h1>

            <p>
              {{ $t('auth.confirmation.loading') }}
            </p>
          </div>
        </div>
        <div v-else>
          <h1 class="mb-5 text-center text-lg-left">
            {{ $t('auth.setPassword.title') }}
          </h1>

          <password-form :sending="sending || confirming" @submit="handleSetPassword" />
        </div>
      </div>
    </div>
  </auth-container>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import PasswordForm from '@/components/auth/PasswordForm'
import AuthContainer from '@/components/auth/AuthContainer'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ConfirmEmailPage',
  components: {
    AuthContainer,
    PasswordForm
  },
  mixins: [AxiosErrorHandler, Pageview],
  layout: 'auth',
  data () {
    return {
      error: null,
      sending: false,
      confirming: false
    }
  },
  computed: {
    setPassword () {
      return !!this.$route.query.setPassword
    }
  },
  async mounted () {
    const { hash } = this.$route.params

    // if we are not setting password just confirm email with hash and redirect to login
    if (hash && !this.setPassword) {
      try {
        await this.confirmEmail({ hash })
        await this.$router.replace(this.localePath('/login'))
      } catch (err) {
        await this.handleError(err)
      }
    }
  },
  auth: false,
  methods: {
    async handleSetPassword ({
      newPassword,
      newPasswordConfirmation
    }) {
      try {
        this.sending = true
        const { hash } = this.$route.params
        const taskId = this.$route.query.taskId ? parseInt(this.$route.query.taskId, 10) : null
        const { data } = await this.confirmEmail({
          hash,
          password: newPassword,
          passwordConfirmation: newPasswordConfirmation
        })
        const {
          user,
          token
        } = data.data
        await this.$auth.setUser(user)
        await this.$auth.setUserToken(token)
        if (taskId) {
          await this.$store.dispatch('tasks/loadTask', taskId)
          this.$store.commit('tasks/setSelectedTask', taskId)
          await this.$router.push(this.localePath('/create-task/subscription'))
        } else {
          await this.$router.push(this.localePath('/'))
        }
        this.sending = false
      } catch (err) {
        this.sending = false
        await this.handleError(err)
      }
    },

    /**
     * Confirm email address
     * @param data
     * @returns {Promise<Object>}
     */
    async confirmEmail (data) {
      this.confirming = true
      const loginData = await this.$axios.post('auth/email-confirm', data)
      this.error = null
      await this.$store.dispatch('ui/showNotification', {
        text: this.$t(this.setPassword ? 'auth.setPassword.successNotification' : 'auth.confirmation.confirmed'),
        type: 'success'
      })
      this.confirming = false
      return loginData
    }
  }
}
</script>
