<template>
  <b-overlay :show="loadingApplications">
    <div v-if="application">
      <div class="row pt-4">
        <div class="col-12 col-lg-7">
          <div class="d-flex align-items-end mb-3 mb-lg-5">
            <nuxt-link :to="localePath(`/my-tasks/${task.id}`)" class="pb-4 pr-3">
              <font-awesome-icon :icon="backIcon" size="lg" />
            </nuxt-link>
            <single-task-title :task="task" :subtitle="$t('applications.applicationFor')">
              <template #title>
                <application-status-badge :application="application" class="ml-3" />
              </template>
            </single-task-title>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-7 pb-4">
          <b-tabs
            :value="selectedTab"
            class="application-freelancer-tabs"
            nav-class="align-items-center"
            @input="selectTab"
          >
            <application-chat-tab :task="task" :application="application" />
            <application-freelancer-tab :freelancer="application.freelancer" />
            <application-feedback-tab :application="application" />
            <application-escrow-tab :task="task" :application="application" />
          </b-tabs>
        </div>
        <div class="col-12 col-lg-3 offset-lg-1 pb-4">
          <application-details class="mb-3" :application="application" :task="task">
            <template #bottom>
              <application-details-client-buttons
                class="mb-3"
                :application="application"
                :task="task"
                :hiring="hiring"
                @hire="handleHire"
                @feedback="openFeedbackModal"
              />
              <application-flag-buttons
                :application="application"
                :task="task"
                :setting-flag="settingFlag"
                @toggleFlag="setApplicationFlag"
              />
            </template>
          </application-details>
          <task-details :task="task" />
          <required-skills class="skills p-4 m-2" :skills="skills" />
        </div>
      </div>
      <feedback-modal ref="feedbackModal" @save="saveFeedback" />
    </div>
  </b-overlay>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import SingleTaskTitle from '@/components/tasks/SingleTaskTitle'
import ApplicationStatusBadge from '@/components/tasks/ApplicationStatusBadge'
import ApplicationDetails from '@/components/applications/ApplicationDetails'
import RequiredSkills from '@/components/tasks/RequiredSkills'
import FeedbackModal from '@/components/feedback/FeedbackModal'
import { applicationStatuses } from 'ct-constants'
import TaskDetails from '@/components/tasks/TaskDetails'
import ApplicationChatTab from '@/components/tasks/freelancerTabs/ApplicationChatTab'
import ApplicationFeedbackTab from '@/components/tasks/freelancerTabs/ApplicationFeedbackTab'
import ApplicationFreelancerTab from '@/components/tasks/clientTabs/ApplicationFreelancerTab'
import ApplicationDetailsClientButtons from '@/components/applications/ApplicationDetailsClientButtons'
import ApplicationFlagButtons from '@/components/applications/ApplicationFlagButtons'
import { faChevronLeft } from '@fortawesome/free-solid-svg-icons'
import { invert } from 'lodash'
import ApplicationEscrowTab from '@/components/tasks/clientTabs/ApplicationEscrowTab'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ClientApplicationPage',
  components: {
    ApplicationEscrowTab,
    ApplicationFlagButtons,
    ApplicationDetailsClientButtons,
    ApplicationFreelancerTab,
    ApplicationFeedbackTab,
    ApplicationChatTab,
    TaskDetails,
    FeedbackModal,
    RequiredSkills,
    ApplicationDetails,
    ApplicationStatusBadge,
    SingleTaskTitle
  },
  mixins: [AxiosErrorHandler, Pageview],
  data () {
    return {
      loadingTask: false,
      loadingApplications: false,
      hiring: false,
      settingFlag: false,
      tabMap: {
        messages: 0,
        freelancer: 1,
        feedback: 2,
        escrow: 3
      }
    }
  },
  async fetch () {
    await this.loadTask()
    await this.loadApplications()

    const appId = parseInt(this.$route.params.applicationId, 10)

    // select application
    this.$store.commit('clientApplications/selectApplication', appId)
    this.$store.commit('chat/setOpenedThread', appId)
  },
  computed: {
    /**
     * Get selected application
     * @returns {Object}
     */
    application () {
      return this.$store.getters['clientApplications/selectedApplication']
    },

    /**
     * Get selected task
     * @returns {Object}
     */
    task () {
      return this.$store.getters['tasks/selectedTask']
    },

    /**
     * Extract skills
     * @returns {Object[]}
     */
    skills () {
      return this.task?.skills
    },

    /**
     * Back icon
     * @returns {IconDefinition}
     */
    backIcon () {
      return faChevronLeft
    },

    /**
     * Get tab index by tab ID
     * @returns {*|number}
     */
    selectedTab () {
      return this.$route.query.tab ? this.tabMap[this.$route.query.tab] : 0
    }
  },
  destroyed () {
    this.$store.commit('tasks/deselectTask')
    this.$store.commit('clientApplications/deselectTaskId')
    this.$store.commit('clientApplications/unselectApplication')
    this.$store.commit('chat/setOpenedThread', null)
  },
  methods: {
    async loadTask () {
      const id = parseInt(this.$route.params.id, 10)
      try {
        this.loadingTask = true
        await this.$store.dispatch('tasks/loadTask', id)
        this.$store.commit('tasks/setSelectedTask', id)
        await this.$store.dispatch('tasks/loadTaskApplicationsCount', id)
        this.loadingTask = false
      } catch (err) {
        this.loadingTask = false
        await this.handleError(err)
      }
    },

    /**
     * Load applications for task
     * @returns {Promise<void>}
     */
    async loadApplications () {
      try {
        this.loadingApplications = true
        await this.$store.dispatch('clientApplications/fetchApplications', parseInt(this.$route.params.id, 10))
        this.loadingApplications = false
      } catch (err) {
        this.loadingApplications = false
        await this.handleError(err)
      }
    },

    async handleHire () {
      try {
        this.hiring = true
        await this.$store.dispatch('clientApplications/hire', this.application.id)

        this.$smartContract.setHireProperties(this.task.bcId, this.application.freelancer.bcId)
          .then(async (res) => {
            console.log(res)
            try {
              const resBc = await this.$axios.put('/applications/regBcHire', res)
              console.log(resBc.data)
            } catch (err) {
              console.error(err.response ? err.response.data : err)
            }
          })
          .catch(err => console.error(err))
        this.hiring = false

        this.$gtag.event('hire', {
          applicationId: this.application.id
        })
      } catch (err) {
        this.hiring = false
        await this.handleError(err)
      }
    },

    /**
     * Open feedback modal
     * @param {Number} status
     */
    openFeedbackModal (status) {
      this.$refs.feedbackModal.openModal(this.task, this.application, status)
    },

    /**
     * Save feedback data
     */
    async saveFeedback (formData) {
      try {
        const feedbackRes = await this.$store.dispatch('clientApplications/createFeedback', formData)

        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('freelancers.application_completed_message')
        })

        this.$refs.feedbackModal.closeModal()

        const taskBcId = this.task.bcId

        // bc code
        if ([applicationStatuses.FINISHED, applicationStatuses.REJECTED].includes(this.application.status)) {
          console.log('formData rate and message:')
          console.log(formData.rate)
          console.log(formData.message)
          console.log(`Application status: ${this.application.status}`)
          this.$smartContract
            .setLeaveFeedbackFlancerProperties(
              feedbackRes.id,
              taskBcId,
              formData.rate,
              formData.message
            )
            .then(async (r) => {
              console.log(r)
              try {
                const resBc = await this.$axios.put('/feedbacks/regBcLeaveFeedbackFlancer', r)
                console.log(resBc.data)
              } catch (err) {
                console.error(err.response ? err.response.data : err)
              }
            })
        }
      } catch (err) {
        await this.handleError(err)
      }
    },

    /**
     * Set flag on application
     * @param {Number} flag
     * @returns {Promise<void>}
     */
    async setApplicationFlag (flag) {
      try {
        this.settingFlag = true
        await this.$store.dispatch('clientApplications/updateFlag', {
          applicationId: this.application.id,
          flag
        })
        this.settingFlag = false
      } catch (err) {
        this.settingFlag = false
        await this.handleError(err)
      }
    },

    /**
     * Handle tab change
     * @param {Number} tabIndex
     */
    selectTab (tabIndex) {
      const tabId = invert(this.tabMap)[tabIndex]
      this.$router.push(this.localePath(`/my-tasks/${this.task.id}/application/${this.application.id}?tab=${tabId}`))
    }
  }
}
</script>
