<template>
  <div>
    <freelancer-profile v-if="freelancer" :freelancer="freelancer" />
  </div>
</template>

<script>
import FreelancerProfile from '@/components/freelancer/FreelancerProfile'
import FetchFreelancer from '@/mixins/FetchFreelancer'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SingleFreelancerPage',
  components: {
    FreelancerProfile
  },
  mixins: [FetchFreelancer, Pageview],
  auth: false
}
</script>
