<template>
  <b-tab :title="$t('common.freelancer')" class="py-4 px-3">
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        {{ $t('common.freelancer') }}
      </span>
      <user-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <basic-info-preview :freelancer="freelancer" :skills-clickable="false" />
  </b-tab>
</template>

<script>
import BasicInfoPreview from '@/components/profile/BasicInfoPreview'
import { UserIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationFreelancerTab',
  components: { BasicInfoPreview, UserIcon },
  props: {
    freelancer: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
