<template>
  <b-tab title="Escrow" class="py-4 px-3">
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        Escrow
      </span>
      <dollar-sign-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <b-alert :show="!application.cryptoPayoutAddress" variant="danger">
      {{ $t('escrow.noAddressDefined') }}
    </b-alert>
    <b-alert :show="!!application.cryptoPayoutAddress" variant="success">
      {{ $t('escrow.cryptoPayoutAddress', { address: application.cryptoPayoutAddress }) }}
    </b-alert>
  </b-tab>
</template>

<script>
import { DollarSignIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationEscrowTab',
  components: {
    DollarSignIcon
  },
  props: {
    task: {
      type: Object,
      required: true
    },
    application: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
