<template>
  <b-tab :title="$t('common.description')" class="py-4 px-3">
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">{{ $t('common.description') }}</span>
      <font-awesome-icon class="nav-link__icon d-xxl-none" :icon="scrollIcon" fixed-width />
    </template>
    <task-details :task="task" :applicable="false" class="d-lg-none mb-4" />
    <task-description v-if="task" :description="task.description" />
  </b-tab>
</template>

<script>
import TaskDetails from '@/components/tasks/TaskDetails'
import TaskDescription from '@/components/tasks/TaskDescription'
import { faScroll } from '@fortawesome/free-solid-svg-icons'

export default {
  name: 'TaskDescriptionTab',
  components: { TaskDescription, TaskDetails },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    scrollIcon () {
      return faScroll
    }
  }
}
</script>

<style scoped>

</style>
