<template>
  <div class="position-relative py-3">
    <b-overlay :show="subscriptionsLoading">
      <subscriptions-list
        :subscriptions="subscriptions"
        :loading="subscriptionsLoading"
        @paid="fetchTaskSubscriptions"
      />
      <hr class="mb-5">
      <basic-task-subscription-form
        :task="task"
        :subscriptions="subscriptions"
        @created="fetchTaskSubscriptions"
        @paid="fetchTaskSubscriptions"
      />
    </b-overlay>
  </div>
</template>

<script>
import SubscriptionsList from '@/components/subscriptions/SubscriptionsList'
import BasicTaskSubscriptionForm from '@/components/subscriptions/BasicTaskSubscriptionForm'

export default {
  name: 'TaskSubscriptionsTabContent',
  components: {
    BasicTaskSubscriptionForm,
    SubscriptionsList
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      subscriptionsLoading: false,
      subscriptions: []
    }
  },
  mounted () {
    this.fetchTaskSubscriptions()
  },
  methods: {
    /**
     * Get selected task subscriptions
     * @returns {Promise<void>}
     */
    async fetchTaskSubscriptions () {
      try {
        this.subscriptionsLoading = true
        const { data } = await this.$axios.get(`/tasks/${this.task?.id}/subscriptions`)
        this.subscriptions = data.data
        this.subscriptionsLoading = false
      } catch (err) {
        this.subscriptionsLoading = false
        await this.handleError(err)
      }
    }
  }
}
</script>

<style scoped>

</style>
