<template>
  <b-tab :title="$t('subscriptions.visibility')" class="px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">{{ $t('subscriptions.visibility') }}</span>
      <font-awesome-icon class="nav-link__icon d-xxl-none" :icon="eyeIcon" fixed-width />
    </template>
    <task-subscriptions-tab-content :task="task" />
  </b-tab>
</template>

<script>
import TaskSubscriptionsTabContent from '@/components/tasks/clientTabs/TaskSubscriptionsTabContent'
import { faEye } from '@fortawesome/free-solid-svg-icons'

export default {
  name: 'TaskSubscriptionsTab',
  components: { TaskSubscriptionsTabContent },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    eyeIcon () {
      return faEye
    }
  }
}
</script>

<style scoped>

</style>
