<template>
  <b-tab v-if="isOneTime" title="Escrow" class="py-3 px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">Escrow</span>
      <font-awesome-icon class="nav-link__icon d-xxl-none" :icon="moneyIcon" fixed-width />
    </template>
    <div class="py-3">
      <escrow-form :task="task" />
    </div>
  </b-tab>
</template>

<script>
import { taskTypes } from 'ct-constants'
import { faHandHoldingUsd } from '@fortawesome/free-solid-svg-icons'
import EscrowForm from '@/components/escrow/EscrowForm'

export default {
  name: 'TaskEscrowTab',
  components: { EscrowForm },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Is task type onetime
     * @returns {boolean}
     */
    isOneTime () {
      return this.task?.type === taskTypes.ONETIME
    },

    moneyIcon () {
      return faHandHoldingUsd
    }
  }
}
</script>

<style scoped>

</style>
