<template>
  <b-tab :title="$t('common.agent')" class="py-3 px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">{{ $t('common.agent') }}</span>
      <font-awesome-icon class="nav-link__icon d-xxl-none" :icon="usersIcon" fixed-width />
    </template>
    <div>
      <template v-if="!agencyDisabled">
        <b-form-checkbox
          v-if="!task.agencyOn"
          id="enabled"
          v-model="enabled"
          name="enabled"
          class="mb-4"
        >
          {{ $t('agent.tasks.enable') }}
        </b-form-checkbox>
        <agent-selector v-if="enabled || task.agencyOn" :task="task" />
      </template>
      <template v-else>
        <no-results :text="$t('agent.tasks.escrowDisabled')" />
      </template>
    </div>
  </b-tab>
</template>

<script>
import AgentSelector from '@/components/agents/AgentSelector'
import { faUsers } from '@fortawesome/free-solid-svg-icons'
import NoResults from '@/components/client/NoResults'
import { escrowStatuses, taskTypes } from 'ct-constants'

export default {
  name: 'TaskAgentsTab',
  components: {
    NoResults,
    AgentSelector
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      enabled: false
    }
  },
  computed: {
    usersIcon () {
      return faUsers
    },
    agencyDisabled () {
      return this.task.type === taskTypes.ONETIME && this.task.escrowStatus !== escrowStatuses.ESCROW_SET
    }
  }
}
</script>

<style scoped>

</style>
