<template>
  <b-tab :title="$t('common.freelancers')" class="py-3 px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">{{ $t('common.freelancers') }}</span>
      <font-awesome-icon class="nav-link__icon d-xxl-none" :icon="usersIcon" fixed-width />
    </template>
    <client-applications :task="task" />
  </b-tab>
</template>

<script>
import ClientApplications from '@/components/tasks/ClientApplications'
import { faUsers } from '@fortawesome/free-solid-svg-icons'

export default {
  name: 'TaskApplicationsTab',
  components: { ClientApplications },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  computed: {
    usersIcon () {
      return faUsers
    }
  }
}
</script>

<style scoped>

</style>
