<template>
  <div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      <h1 class="display-1">
        {{ error.statusCode }}
      </h1>
      <h2>{{ error.message || $t('error.' + error.statusCode) }}</h2>
      <nuxt-link :to="localePath('/')">
        {{ $t('error.back') }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ErrorLayout',
  layout: 'blank',
  props: {
    error: {
      type: Object,
      required: true
    }
  }
}
</script>
