<template>
  <layout-wrapper>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <Nuxt />
        </div>
      </div>
    </div>
  </layout-wrapper>
</template>

<script>
import LayoutSeoDefaults from '@/mixins/LayoutSeoDefaults'
import LayoutInit from '@/mixins/LayoutInit'
import LayoutWrapper from '@/components/layout/LayoutWrapper'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ProfileLayout',
  components: {
    LayoutWrapper
  },
  mixins: [LayoutSeoDefaults, LayoutInit]
}
</script>
