<template>
  <div class="container blog-post">
    <div v-if="post" class="row mb-6 pt-6">
      <div class="col-12 col-lg-10 offset-lg-1">
        <h1 class="mb-2 font-weight-bold">
          {{ post.title }}
        </h1>
        <div class="text-muted mb-4">
          <small>{{ dateCreated }}</small>
        </div>
        <div class="mb-4 ck-content" v-html="post.text" />
      </div>
    </div>
  </div>
</template>

<script>
import Pageview from '@/mixins/Pageview'
import SeoMethods from '@/mixins/SeoMethods'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'BlogPostPage',
  mixins: [SeoMethods, Pageview],
  layout: 'blank',
  auth: false,
  data () {
    return {
      post: null,
      imageOptions: {
        resize: {
          width: 1600,
          height: 500
        }
      }
    }
  },
  async fetch () {
    const post = await this.$axios.get('/posts/' + this.$route.params.slug)
    this.post = post.data.data
  },
  head () {
    const { post } = this
    return this.buildTags(post?.title, post?.text, post?.image)
  },
  computed: {
    dateCreated () {
      return this.$moment(this.post.createdAt).format('DD.MM.YYYY')
    }
  }
}
</script>
