<template>
  <div class="container mb-6 pt-6">
    <div class="row mb-5">
      <div class="col-12 col-lg-10 offset-lg-1">
        <short-post v-for="post in posts" :key="post.id" :post="post" class="mb-5" />
      </div>
    </div>
  </div>
</template>

<script>
import ShortPost from '@/components/blog/ShortPost'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'BlogPostsPage',
  components: {
    ShortPost
  },
  mixins: [Pageview],
  layout: 'blank',
  auth: false,
  async fetch () {
    await this.$store.dispatch('blog/getPosts')
  },
  computed: {
    posts () {
      return this.$store.state.blog.posts
    }
  }
}
</script>
