<template>
  <div class="ct-about">
    <div class="container">
      <div class="row mb-5 mb-lg-6 pt-6 defi">
        <div class="col-12 col-lg-5 offset-lg-2">
          <div class="d-flex flex-column flex-lg-row align-items-lg-center mb-5">
            <h2 class="display-4 font-weight-bold mb-4 mb-lg-0 mr-lg-4">
              {{ $t('aboutPage.defi') }}
            </h2>
            <div class="d-flex align-items-lg-center flex-column flex-lg-row">
              <a
                href="https://app.uniswap.org/#/swap?outputCurrency=0x196c81385bc536467433014042788eb707703934&use=V2"
                class="btn btn-round btn-primary"
                target="_blank"
              >
                {{ $t('aboutPage.buyCtask') }}
              </a>
            </div>
          </div>
          <p class="pr-lg-5 mb-5 mb-lg-0">
            {{ $t('aboutPage.defiIntro') }}
          </p>
        </div>
        <div class="col-12 col-lg-3 pt-lg-6">
          <div class="chain on-chain mb-3 mt-lg-5">
            on-chain communication
            <i class="arrow-right" />
          </div>
          <div class="chain off-chain">
            off-chain communication
            <i class="arrow-right" />
          </div>
        </div>
      </div>

      <hr class="m-0">

      <div class="row mb-5 mb-lg-6 pt-6">
        <div class="col-12 col-lg-8 offset-lg-2">
          <img v-if="isDark" src="@/assets/img/flow_dark.png" class="img-fluid" alt="Cryptotask flow" data-not-lazy>
          <img v-if="!isDark" src="@/assets/img/flow_light.png" class="img-fluid" alt="Cryptotask flow" data-not-lazy>

          <paper class="my-6 p-3 effect">
            <div class="row">
              <div class="col-12 col-lg-5 lft mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-3">
                  {{ $t('aboutPage.effect') }}
                </h4>
                <ul>
                  <li>{{ $t('aboutPage.effectFirst') }}</li>
                  <li>{{ $t('aboutPage.effectSecond') }}</li>
                </ul>
              </div>
              <div class="col-12 col-lg-7">
                <div class="pl-lg-3">
                  <h4 class="text-uppercase mb-3">
                    {{ $t('aboutPage.defiEnables') }}
                  </h4>
                  <ul>
                    <li>{{ $t('aboutPage.defiEnablesFirst') }}</li>
                    <li>{{ $t('aboutPage.defiEnablesSecond') }}</li>
                    <li>{{ $t('aboutPage.defiEnablesThird') }}</li>
                  </ul>
                </div>
              </div>
            </div>
          </paper>
        </div>
      </div>

      <div class="row mb-6 mb-lg-6">
        <div class="col-12 col-lg-8 offset-lg-2">
          <h2 class="display-4 font-weight-bold mb-5">
            {{ $t('aboutPage.roadmap') }}
          </h2>

          <img
            v-if="isDark"
            src="@/assets/img/roadmap2022.png"
            class="img-fluid"
            alt="Cryptotask roadmap"
            data-not-lazy
          >
          <img
            v-if="!isDark"
            src="@/assets/img/roadmap2022_light.png"
            class="img-fluid"
            alt="Cryptotask roadmap"
            data-not-lazy
          >
        </div>
      </div>

      <div class="row mb-6 mt-5 mb-lg-6">
        <div class="col-12 col-lg-8 offset-lg-2">
          <h2 class="display-4 font-weight-bold mb-6">
            {{ $t('aboutPage.coFounders') }}
          </h2>

          <div class="row">
            <div class="col-12 col-lg-4">
              <about-person
                name="Ivan Nanut"
                position="CEO"
                :description="$t('aboutPage.ivanDesc')"
                avatar="ivan"
                linked-in="https://www.linkedin.com/in/ivan-n-6399b844/"
              />
            </div>
            <div class="col-12 col-lg-4">
              <about-person
                name="Vedran Kajić"
                position="CTO"
                :description="$t('aboutPage.vedranDesc')"
                avatar="vedran"
                linked-in="https://www.linkedin.com/in/vedran-kajic-55257a11b/"
              />
            </div>
            <div class="col-12 col-lg-4">
              <about-person
                name="Klemo Vladimir"
                position="CPO"
                :description="$t('aboutPage.vladimirDesc')"
                avatar="vladimir"
                linked-in="https://www.fer.unizg.hr/en/klemo.vladimir#"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5 mb-lg-6">
        <div class="col-12 col-lg-8 offset-lg-2">
          <h2 class="display-4 font-weight-bold mb-6">
            {{ $t('aboutPage.advisors') }}
          </h2>

          <div class="row">
            <div class="col-12 col-lg-4">
              <about-person
                name="Martin Ploom"
                position="Advisor"
                :description="$t('aboutPage.martinDecs')"
                avatar="martin"
                linked-in="https://www.linkedin.com/in/martinploom/"
              />
            </div>
            <div class="col-12 col-lg-4">
              <about-person
                name="Karla Meštrović"
                position="Advisor"
                :description="$t('aboutPage.karlaDesc')"
                avatar="karla"
                linked-in="https://www.linkedin.com/in/karlamestrovic/"
              />
            </div>
            <div class="col-12 col-lg-4">
              <about-person
                name="Christopher Allen"
                position="Advisor"
                :description="$t('aboutPage.christopherDesc')"
                avatar="christopher"
                linked-in="https://www.linkedin.com/in/chris-allen-52805b2/"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SeoMethods from '@/mixins/SeoMethods'
import Paper from '@/components/ui/Paper'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'AboutPage',
  components: { Paper },
  auth: false,
  mixins: [SeoMethods, Pageview],
  layout: 'blank',
  computed: {
    isDark () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>

<style scoped>

</style>
