<template>
  <div class="row">
    <div class="col-12 col-lg-9">
      <h1 class="mb-5">
        {{ $t('affiliate.title') }}
      </h1>
      <div v-if="isAgent" class="mb-4 lead">
        <p>
          {{ $t('affiliate.introduction') }}
        </p>
        <ul class="custom-arrows mb-4">
          <li>{{ $t('affiliate.introductionList1') }}</li>
        </ul>
        {{ $t('affiliate.affiliate_link') }}
        <div class="tag-item my-4">
          <span class="affl-link lead py-2 px-3 rounded-pill">
            {{ url }}
          </span>
        </div>
        {{ $t('affiliate.num_invitees', { numOfInvitees: numOfInvitees }) }}
      </div>
      <div v-else>
        <p>{{ $t('affiliate.notAgentText') }}</p>
        <b-button variant="primary" class="btn-round" @click.prevent="switchAgent">
          {{ $t('affiliate.notAgentButton') }}
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
import { roleNames } from 'ct-constants'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import ProfileMethods from '@/mixins/ProfileMethods'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'AffiliatePage',
  mixins: [AxiosErrorHandler, ProfileMethods, Pageview],
  middleware: ['checkProfileCompleteness'],
  computed: {
    userId () {
      return this.$store.getters['user/getCurrentUserId']
    },
    url () {
      let domain = ''
      if (process.browser) {
        domain = window.location.origin
      }
      return `${domain}${this.localePath('/sign-up')}?referrer=${this.userId}`
    },
    numOfInvitees () {
      const user = this.$store.state.auth.user
      return user?.invitees ? user.invitees.length : 0
    },
    isAgent () {
      return this.$store.getters['user/isAgent']
    },
    hasAgent () {
      return this.$store.getters['user/hasAgent']
    }
  },
  methods: {
    /**
     * Create agent role if does not exist already and switch to it
     * @returns {Promise<void>}
     */
    async switchAgent () {
      let agentCreated = false
      try {
        if (!this.hasAgent) {
          await this.$store.dispatch('user/createAgent')
          agentCreated = true
        }
        await this.$store.dispatch('user/switchRole', roleNames.AGENT)
        await this.checkProfileCompleteness()
        if (agentCreated) {
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('agent.profile.roleCreated')
          })
        } else {
          await this.$router.replace(this.localePath('/agents/tasks'))
        }
      } catch (err) {
        await this.handleError(err)
      }
    }
  }
}
</script>
