<template>
  <div class="row">
    <div class="col-12 col-lg-7">
      <paper>
        <h1 class="mb-5 text-center text-lg-left">
          {{ $t('auth.change_password.title') }}
        </h1>

        <b-form @submit.prevent="changePassword">
          <b-form-group>
            <b-form-input
              v-model="form.oldPassword"
              type="password"
              size="lg"
              :placeholder="$t('auth.change_password.old')"
              :state="$v.form.oldPassword.$dirty ? !$v.form.oldPassword.$error : null"
            />
            <validation-messages title="Old password" :validation="$v.form.oldPassword" />
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-model="form.newPassword"
              type="password"
              size="lg"
              :placeholder="$t('auth.change_password.new')"
              :state="$v.form.newPassword.$dirty ? !$v.form.newPassword.$error : null"
            />
            <client-only>
              <password v-model="form.newPassword" :strength-meter-only="true" />
            </client-only>
            <validation-messages title="New password" :validation="$v.form.newPassword" />
          </b-form-group>

          <b-form-group>
            <b-form-input
              v-model="form.newPasswordConfirmation"
              type="password"
              size="lg"
              :placeholder="$t('auth.change_password.new_again')"
              :state="$v.form.newPasswordConfirmation.$dirty
                ? !$v.form.newPasswordConfirmation.$error
                : null"
            />
            <validation-messages
              title="New password confirmation"
              :validation="$v.form.newPasswordConfirmation"
            />
          </b-form-group>

          <b-button
            type="submit"
            variant="dark"
            size="lg"
            block
            :disabled="sending"
          >
            {{ buttonText }}
          </b-button>
        </b-form>
      </paper>
    </div>
  </div>
</template>

<script>
import Password from 'vue-password-strength-meter'
import { required, minLength, sameAs } from 'vuelidate/lib/validators'
import ValidationMessages from '@/components/form/ValidationMessages.vue'
import Paper from '@/components/ui/Paper.vue'
import passwordStrength from '@/validations/passwordStrength'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'ChangePasswordPage',
  components: {
    Paper,
    ValidationMessages,
    Password
  },
  mixins: [Pageview],
  data () {
    return {
      form: {
        oldPassword: null,
        newPassword: null,
        newPasswordConfirmation: null
      },
      sending: false,
      error: null
    }
  },
  validations: {
    form: {
      oldPassword: {
        required,
        minLength: minLength(8)
      },
      newPassword: {
        required,
        minLength: minLength(8),
        passwordStrength
      },
      newPasswordConfirmation: {
        required,
        minLength: minLength(8),
        sameAsPassword: sameAs('newPassword')
      }
    }
  },
  computed: {
    buttonText () {
      return this.sending ? this.$t('auth.change_password.button_loading') : this.$t('auth.change_password.button_label')
    }
  },
  methods: {
    async changePassword () {
      this.sending = true
      this.$v.$touch()

      if (!this.$v.$invalid) {
        this.error = null

        try {
          this.$smartContract.createKeypairs({
            email: this.$auth.user.email,
            password: this.form.newPassword
          })
          await this.$smartContract.createBcData()
          const bcData = this.$smartContract.getBcData()
          this.form.newPubkey = bcData.pubkey

          await this.$axios.put('/users/password', this.form)
          this.$v.$reset()
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('auth.change_password.saved')
          })
        } catch (err) {
          await this.$store.dispatch('ui/showNotification', {
            type: 'danger',
            text: this.$t(err.response.data.error)
          })

          this.error = this.$t(err.response.data.error)
        }
      }
      this.sending = false
    }
  }
}
</script>
