<template>
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1">
        <h1 class="mb-5">
          {{ $t('contact.title') }}
        </h1>

        <contact-form />
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from '@/components/common/ContactForm'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'ContactPage',
  auth: false,
  components: {
    ContactForm
  },
  mixins: [Pageview],
  layout: 'blank'
}
</script>
