<template>
  <auth-container>
    <forgot-password-form />
    <template #description>
      <auth-description />
    </template>
  </auth-container>
</template>

<script>
import AuthContainer from '@/components/auth/AuthContainer'
import ForgotPasswordForm from '@/components/auth/ForgotPasswordForm'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'ForgotPasswordPage',
  components: {
    AuthContainer,
    ForgotPasswordForm
  },
  mixins: [Pageview],
  layout: 'auth',
  auth: false
}
</script>
