<template>
  <div class="ct-landing">
    <div class="intro pb-6 mb-5">
      <div class="container">
        <div class="row intro-text position-relative mb-6 pt-5 pt-lg-6">
          <div class="col-12 col-sm-10 col-md-9 col-lg-5 offset-lg-1">
            <h3 class="mb-3 mr-7 mr-lg-0 text-white">
              {{ $t('landing.subtitle') }}
            </h3>
            <h1 class="mb-3 mb-lg-4 mr-7 mr-lg-0 text-white">
              {{ $t('landing.title') }}
            </h1>
            <div class="mb-4 lead text-white" v-html="leadText" />
            <div>
              <nuxt-link
                :to="localePath('/create-task')"
                class="btn btn-round btn-primary text-white mr-3 mb-3 app-link"
              >
                {{ $t('landing.create_job') }}
              </nuxt-link>
              <nuxt-link :to="localePath('/tasks')" class="btn btn-round btn-outline-light text-white mb-3 app-link">
                {{ $t('landing.browse_jobs') }}
              </nuxt-link>
            </div>
          </div>
        </div>
        <div class="intro-bg position-relative w-100 h-100">
          <div class="position-absolute dino">
            <img src="@/assets/img/dino.png" alt="Dinosaur" data-not-lazy>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mb-6">
        <div class="col-12 col-lg-10 offset-lg-1">
          <partners-slider />
        </div>
      </div>

      <div class="row mb-6">
        <div class="col-12 col-lg-10 offset-lg-1">
          <find-talent />
        </div>
      </div>

      <div class="row mb-5 mb-lg-6">
        <div class="col-12 col-lg-10 offset-lg-1">
          <browse-freelancers />
        </div>
      </div>

      <div class="row mb-5 mb-md-7">
        <div class="col-12 col-lg-10 offset-lg-1">
          <why-us />
        </div>
      </div>

      <div v-if="locale === 'en'" class="row mb-6">
        <div class="col-12 col-lg-10 offset-lg-1">
          <featured-in />
        </div>
      </div>

      <div class="row mb-6">
        <div class="col-12 col-lg-10 offset-lg-1">
          <find-job />
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <browse-jobs />
        </div>
      </div>

      <div class="row mb-7">
        <div class="col-12 col-lg-10 offset-lg-1">
          <agents-signup />
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12 col-lg-10 offset-lg-1">
          <testimonials />
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12 col-lg-10 offset-lg-1">
          <seo-categories />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FindTalent from '@/components/landing/FindTalent'
import BrowseJobs from '@/components/landing/BrowseJobs'
import BrowseFreelancers from '@/components/landing/BrowseFreelancers'
import Testimonials from '@/components/landing/Testimonials'

import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import PartnersSlider from '@/components/landing/PartnersSlider'
import FeaturedIn from '@/components/landing/FeaturedIn'
import WhyUs from '@/components/landing/WhyUs'
import FindJob from '@/components/landing/FindJob'
import AgentsSignup from '@/components/landing/AgentsSignup'
import SeoCategories from '@/components/landing/SeoCategories'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'HomePage',
  components: {
    SeoCategories,
    AgentsSignup,
    FindJob,
    WhyUs,
    FeaturedIn,
    PartnersSlider,
    Testimonials,
    BrowseFreelancers,
    BrowseJobs,
    FindTalent
  },
  mixins: [Pageview],
  layout: 'blank',
  auth: false,
  middleware: ['redirectLanding'],
  data () {
    return {
      texts: {}
    }
  },
  async fetch () {
    // fetch landing texts
    if (!this.texts[this.locale]) {
      const leadRes = await this.$axios.get(`/pages/landing-lead-${this.locale}`)
      const missionRes = await this.$axios.get(`/pages/landing-mission-${this.locale}`)

      const t = {
        [this.locale]: {
          lead: leadRes.data.data.text,
          mission: missionRes.data.data.text
        }
      }

      this.texts = {
        ...this.texts,
        ...t
      }
    }
  },
  computed: {
    activeRole () {
      return this.$store.getters['user/getActiveRoleType']?.name
    },

    locale () {
      return this.$store.state.i18n.locale
    },

    leadText () {
      return this.texts[this.locale]?.lead
    },

    missionText () {
      return this.texts[this.locale]?.mission
    }
  }
}
</script>
