<template>
  <div>
    <client-threads v-if="isClient" />
    <freelancer-threads v-if="isFreelancer" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import FreelancerThreads from '@/components/tasks/chat/FreelancerThreads'
import ClientThreads from '@/components/tasks/chat/ClientThreads'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'MessagesPage',
  components: {
    FreelancerThreads,
    ClientThreads
  },
  mixins: [Pageview],
  computed: {
    ...mapGetters('user', [
      'isFreelancer',
      'isClient'
    ])
  }
}
</script>
