<template>
  <page-content slug="terms" />
</template>

<script>
import PageContent from '@/components/common/PageContent'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'TermsPage',
  auth: false,
  components: {
    PageContent
  },
  mixins: [Pageview],
  layout: 'blank'
}
</script>
