<template>
  <div class="auth-form">
    <h1 class="mb-5 text-center text-lg-left">
      {{ $t('auth.forgot_password.title') }}
    </h1>

    <b-form @submit.prevent="sendToken">
      <b-form-group>
        <b-form-input
          v-model="form.email"
          type="email"
          size="lg"
          :placeholder="$t('auth.forgot_password.email')"
          :state="$v.form.email.$dirty ? !$v.form.email.$error : null"
        />
      </b-form-group>

      <h-captcha-input class="mb-2" :validation="$v.form.token" @verified="handleCaptchaVerified" />

      <b-button type="submit" size="lg" block variant="dark" :disabled="sending">
        {{ $t('auth.forgot_password.button_label') }}
      </b-button>
    </b-form>
  </div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import HCaptchaInput from '@/components/form/HCaptchaInput'
import Captcha from '@/mixins/Captcha'

const initialForm = {
  email: null,
  token: null
}

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'ForgotPasswordForm',
  components: { HCaptchaInput },
  mixins: [AxiosErrorHandler, Captcha],
  data () {
    return {
      form: { ...initialForm },
      sending: false
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      }
    }
  },
  methods: {
    async sendToken () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.sending = true

        try {
          await this.$axios.post('/auth/forgot-password', this.form)
          this.form = { ...initialForm }
          this.$v.$reset()
          this.sending = false
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('auth.forgot_password.success_notification')
          })
        } catch (err) {
          this.sending = false
          await this.handleError(err)
        }
      }
    }
  }
}
</script>
