<template>
  <b-form @submit.prevent="handleFormSubmit">
    <b-form-group :description="$t('auth.reset_password.password_description')">
      <b-form-input
        v-model="form.newPassword"
        type="password"
        size="lg"
        :placeholder="$t('auth.reset_password.new')"
        :state="$v.form.newPassword.$dirty ? !$v.form.newPassword.$error : null"
      />
      <client-only>
        <password v-model="form.newPassword" :strength-meter-only="true" />
      </client-only>
      <validation-messages
        :title="$t('auth.reset_password.new')"
        :validation="$v.form.newPassword"
      />
    </b-form-group>

    <b-form-group>
      <b-form-input
        v-model="form.newPasswordConfirmation"
        type="password"
        size="lg"
        :placeholder="$t('auth.reset_password.new_again')"
        :state="$v.form.newPasswordConfirmation.$dirty
          ? !$v.form.newPasswordConfirmation.$error
          : null"
      />
      <validation-messages
        :title="$t('auth.reset_password.new_again')"
        :validation="$v.form.newPasswordConfirmation"
      />
    </b-form-group>

    <h-captcha-input class="mb-2" :validation="$v.form.token" @verified="handleCaptchaVerified" />

    <b-button type="submit" variant="dark" size="lg" block :disabled="sending">
      {{ $t('auth.reset_password.button_label') }}
    </b-button>
  </b-form>
</template>

<script>
import Password from 'vue-password-strength-meter'
import ValidationMessages from '@/components/form/ValidationMessages'
import { minLength, required, sameAs } from 'vuelidate/lib/validators'
import passwordStrength from '@/validations/passwordStrength'
import HCaptchaInput from '@/components/form/HCaptchaInput'
import Captcha from '@/mixins/Captcha'

const initialForm = {
  newPassword: '',
  newPasswordConfirmation: '',
  token: null
}

export default {
  name: 'PasswordForm',
  components: {
    HCaptchaInput,
    Password,
    ValidationMessages
  },
  mixins: [Captcha],
  props: {
    sending: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      form: { ...initialForm }
    }
  },
  validations: {
    form: {
      newPassword: {
        required,
        minLength: minLength(8),
        passwordStrength
      },
      newPasswordConfirmation: {
        required,
        minLength: minLength(8),
        sameAsPassword: sameAs('newPassword')
      }
    }
  },
  methods: {
    handleFormSubmit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.$emit('submit', this.form)
      }
    }
  }
}
</script>

<style scoped>

</style>
