<template>
  <div class="auth-form">
    <h1 class="h1-sm mb-5 text-center text-lg-left">
      {{ $t('auth.sign_up.title') }}
    </h1>

    <b-form @submit.prevent="register">
      <b-form-group>
        <b-form-input
          v-model="form.email"
          type="email"
          size="lg"
          :placeholder="$t('auth.sign_up.email')"
          :state="$v.form.email.$dirty ? !$v.form.email.$error : null"
        />
        <validation-messages :title="$t('auth.sign_up.email')" :validation="$v.form.email" />
      </b-form-group>

      <b-form-group>
        <template slot="description">
          <div class="font-12-sm">
            {{ $t('auth.sign_up.password_description') }}
          </div>
        </template>

        <b-form-input
          v-model="form.password"
          type="password"
          size="lg"
          :placeholder="$t('auth.sign_up.password')"
          :state="$v.form.password.$dirty ? !$v.form.password.$error : null"
        />
        <client-only>
          <password v-model="form.password" :strength-meter-only="true" />
        </client-only>
        <validation-messages :title="$t('auth.sign_up.password')" :validation="$v.form.password" />
      </b-form-group>

      <b-form-group>
        <b-form-input
          v-model="form.passwordConfirmation"
          type="password"
          size="lg"
          :placeholder="$t('auth.sign_up.password_confirmation')"
          :state="$v.form.passwordConfirmation.$dirty
            ? !$v.form.passwordConfirmation.$error : null"
        />
      </b-form-group>

      <h-captcha-input class="mb-2" :validation="$v.form.token" @verified="handleCaptchaVerified" />

      <b-button
        type="submit"
        size="lg"
        block
        variant="dark"
        class="mb-3"
        :disabled="sending"
      >
        <template v-if="!sending">
          {{ $t('auth.sign_up.button_label') }}
        </template>
        <template v-if="sending">
          {{ $t('auth.sign_up.button_loading') }}
        </template>
      </b-button>

      <p class="text-muted text-center">
        <small class="font-12-sm">
          {{ $t('auth.sign_up.terms_label') }}
        </small>
      </p>
    </b-form>
  </div>
</template>

<script>
import {
  required, email, sameAs
} from 'vuelidate/lib/validators'
import Password from 'vue-password-strength-meter'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import HCaptchaInput from '@/components/form/HCaptchaInput'
import Captcha from '@/mixins/Captcha'
import passwordStrength from '../../validations/passwordStrength'
import ValidationMessages from '../form/ValidationMessages.vue'

const initialForm = {
  email: '',
  password: '',
  passwordConfirmation: '',
  role: null,
  token: null
}

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'RegisterForm',
  components: {
    HCaptchaInput,
    ValidationMessages,
    Password
  },
  mixins: [AxiosErrorHandler, Captcha],
  props: {
    role: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      form: {
        ...initialForm
      },
      sending: false
    }
  },
  validations: {
    form: {
      email: {
        required,
        email
      },
      password: {
        required,
        // minLength: minLength(8),
        passwordStrength
      },
      passwordConfirmation: {
        required,
        // minLength: minLength(8),
        sameAsPassword: sameAs('password')
      }
    }
  },
  methods: {
    /**
     * Register
     * @return {Promise<void>}
     */
    async register () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.sending = true

        try {
          const regData = {
            ...this.form,
            role: this.role
          }

          const { referrer } = this.$route.query
          if (referrer) {
            regData.referrer = referrer
          }

          await this.$store.dispatch('user/register', regData)
          this.form = { ...initialForm }
          this.$v.$reset()
          this.sending = false
          await this.$store.dispatch('ui/showNotification', {
            type: 'success',
            text: this.$t('auth.sign_up.success_notification')
          })
          this.$gtag.event('sign_up', {
            role: this.role,
            method: 'email'
          })
          await this.$router.push(this.localePath('/sign-up/success'))
        } catch (err) {
          this.sending = false
          await this.handleError(err)
        }
      }
    }
  }
}
</script>
