<template>
  <div class="auth-form">
    <h1 class="mb-5 text-center text-lg-left">
      {{ $t('auth.reset_password.title') }}
    </h1>

    <password-form :sending="sending" @submit="resetPassword" />
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import PasswordForm from '@/components/auth/PasswordForm'

export default {
  name: 'ResetPasswordForm',
  components: {
    PasswordForm
  },
  mixins: [AxiosErrorHandler],
  data () {
    return {
      sending: false
    }
  },
  methods: {
    async resetPassword (data) {
      this.sending = true

      try {
        const res = await this.$axios.get(`/auth/token-to-email/${this.$route.params.hash}`)
        this.$smartContract
          .createKeypairs({
            email: res.data.email,
            password: data.newPassword
          })
        await this.$smartContract.createBcData()
        const bcData = this.$smartContract.getBcData()

        await this.$axios.post('/auth/reset-password', {
          resetToken: this.$route.params.hash,
          password: data.newPassword,
          newPubkey: bcData.pubkey,
          token: data.token
        })

        this.sending = false
        await this.$store.dispatch('ui/showNotification', {
          type: 'success',
          text: this.$t('auth.reset_password.success_notification')
        })
        await this.$router.replace(this.localePath('/login'))
      } catch (err) {
        this.sending = false
        await this.handleError(err)
      }
    }
  }
}
</script>
