<template>
  <div class="auth-form">
    <h1 class="mb-5 text-center text-lg-left">
      {{ $t('auth.sign_up.title') }}
    </h1>

    <div class="roles-chooser d-flex align-items-stretch h-100">
      <nuxt-link
        :to="{path: localePath('/sign-up/freelancer'), query}"
        class="role h-100 w-50 d-flex align-items-center py-5 justify-content-center"
      >
        <coffee-icon size="3x" class="mr-3" />
        <span v-html="$t('auth.sign_up.freelancer')" />
      </nuxt-link>
      <hr class="m-0 mx-3 w-1 h-auto border-right">
      <nuxt-link
        :to="{path: localePath('/sign-up/client'), query}"
        class="role h-100 d-flex align-items-center flex-grow-1 py-5 justify-content-center"
      >
        <briefcase-icon size="3x" class="mr-3" />
        <span v-html="$t('auth.sign_up.client')" />
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import { CoffeeIcon, BriefcaseIcon } from 'vue-feather-icons'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SignUpRoles',
  components: {
    CoffeeIcon,
    BriefcaseIcon
  },
  computed: {
    query () {
      return this.$route.query.referrer ? { referrer: this.$route.query.referrer } : {}
    }
  }
}
</script>
