<template>
  <div>
    <div v-html="$t('payments.crypto.successText', paymentData)" />
    <div class="my-3" v-html="payment.meta.qrcode" />
  </div>
</template>

<script>
export default {
  name: 'CryptoSuccess',
  props: {
    payment: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      timeLeft: 0
    }
  },
  computed: {
    paymentData () {
      return {
        expectedAmount: this.payment.meta.expectedAmount,
        currency: this.payment.meta.currency,
        timeLeft: this.timeLeft,
        address: this.payment.meta.public
      }
    }
  },
  watch: {
    timeLeft: {
      handler (value) {
        if (value > 0) {
          setTimeout(() => {
            this.timeLeft--
          }, (1000 * 60))
        }
      }
    }
  },
  mounted () {
    this.timeLeft = 120 - this.payment.meta.callCounter
  }
}
</script>

<style scoped>

</style>
