<template>
  <div>
    <p>
      Novabit software d.o.o.<br>
      IBAN: HR5223400091111050097<br>
      SWIFT/BIC: PBZGHR2X<br>
      <span class="d-flex align-items-center">
        {{ $t('payments.amount') }}: <price :amount="payment.amount" :currency-id="payment.currencyId" class="ml-1" />
      </span>
      {{ $t('payments.wire.hash', { hash: payment.hash }) }}
    </p>
    <p v-html="$t('payments.wire.successText')" />
  </div>
</template>

<script>
import Price from '@/components/ui/Price'
export default {
  name: 'WireSuccess',
  components: { Price },
  props: {
    payment: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
