<template>
  <application-freelancer />
</template>

<script>
import Pageview from '@/mixins/Pageview'
import ApplicationFreelancer from '~/components/tasks/ApplicationFreelancer'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'InProgressApplicationPage',
  components: { ApplicationFreelancer },
  mixins: [Pageview],
  middleware: ['checkProfileCompleteness', 'isFreelancer']
}
</script>
