<template>
  <freelancer-applications-list :status="statuses" />
</template>

<script>
import FreelancerApplicationsList from '@/components/tasks/FreelancerApplicationsList'
import { applicationStatuses } from 'ct-constants'

export default {
  name: 'InProgressApplicationsListPage',
  components: {
    FreelancerApplicationsList
  },
  middleware: ['checkProfileCompleteness', 'isFreelancer'],
  computed: {
    /**
     * List of statuses to be loaded
     * @returns {Object[]}
     */
    statuses () {
      return [applicationStatuses.ACCEPTED]
    }
  }
}
</script>
