<template>
  <div class="row">
    <div class="col-12 col-lg-7 pt-lg-5">
      <b-overlay :show="loading">
        <agent-short-task-item v-for="task in tasks" :key="task.id" :task="task" />

        <b-pagination
          v-if="tasks.length && !loading"
          :value="page"
          :total-rows="total"
          :per-page="10"
          align="center"
          @change="changePage"
        />

        <div v-if="!tasks.length && !loading">
          <div class="h1 mb-4">
            {{ $t('agent.tasks.noTasks') }}
          </div>
        </div>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import AgentShortTaskItem from '@/components/agents/AgentShortTaskItem'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'AgentTasksPage',
  components: {
    AgentShortTaskItem
  },
  mixins: [AxiosErrorHandler, Pageview],
  middleware: ['checkProfileCompleteness', 'isAgent'],
  data () {
    return {
      loading: false,
      sort: null,
      term: null,
      tasks: [],
      total: 0,
      page: 1
    }
  },
  async fetch () {
    await this.updateData()
  },
  methods: {
    searchData (e) {
      this.term = e
      this.updateData()
    },
    async changePage (page) {
      this.page = page
      await this.updateData()
    },
    async updateData () {
      try {
        this.loading = true
        const { data } = await this.$axios.get('/agents/tasks', {
          params: {
            sort: this.sort,
            term: this.term,
            page: this.page
          }
        })
        this.tasks = data.data
        this.total = data.meta.total
        this.loading = false
      } catch (err) {
        await this.handleError(err)
        this.loading = false
      }
    }
  }
}
</script>

<style scoped>

</style>
