<template>
  <b-tab :title="$t('freelancers.messages')" class="px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        {{ $t('freelancers.messages') }}
      </span>
      <message-circle-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <chat-container :task="task" :application="application" :enabled="employerActive" />
  </b-tab>
</template>

<script>
import ChatContainer from '@/components/tasks/chat/ChatContainer'
import { MessageCircleIcon } from 'vue-feather-icons'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'

export default {
  name: 'ApplicationChatTab',
  components: {
    ChatContainer,
    MessageCircleIcon
  },
  mixins: [AxiosErrorHandler],
  props: {
    task: {
      type: Object,
      required: true
    },
    application: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Is employer active
     * @returns {false|string|*|Boolean}
     */
    employerActive () {
      return !this.application?.client?.deletedAt && this.application?.client?.confirmed && this.application?.client?.published
    }
  },
  async mounted () {
    try {
      // set messages as read for this application
      await this.$store.dispatch('chat/readMessages', this.application.id)
    } catch (err) {
      await this.handleError(err)
    }
  }
}
</script>

<style scoped>

</style>
