<template>
  <b-tab :disabled="!feedbackVisible" :title="$t('feedback.title')" class="py-4 px-3">
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        {{ $t('feedback.title') }}
      </span>
      <pen-tool-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <application-feedback :feedback="feedback" />
  </b-tab>
</template>

<script>
import ApplicationFeedback from '@/components/client/ApplicationFeedback'
import { PenToolIcon } from 'vue-feather-icons'

export default {
  name: 'ApplicationFeedbackTab',
  components: {
    ApplicationFeedback,
    PenToolIcon
  },
  props: {
    application: {
      type: Object,
      required: true
    }
  },
  computed: {
    /**
     * Extract feedback from application
     * @returns {Object}
     */
    feedback () {
      return this.application?.feedback
    },

    /**
     * Is feedback visible
     * Only visible if both feedbacks are set
     * @returns {Boolean}
     */
    feedbackVisible () {
      return this.feedback?.clientCreatedAt || this.feedback?.freelancerCreatedAt
    }
  }
}
</script>

<style scoped>

</style>
