<template>
  <b-tab title="Escrow" class="px-3" lazy>
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        Escrow
      </span>
      <dollar-sign-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <application-escrow :application="application" :task="task" class="py-3" />
  </b-tab>
</template>

<script>
import { DollarSignIcon } from 'vue-feather-icons'
import ApplicationEscrow from '@/components/tasks/ApplicationEscrow'

export default {
  name: 'ApplicationEscrowTab',
  components: {
    ApplicationEscrow,
    DollarSignIcon
  },
  props: {
    application: {
      type: Object,
      required: true
    },
    task: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
