<template>
  <b-tab :title="$t('freelancers.project_details')" class="py-4 px-3">
    <template #title>
      <span class="nav-link__title d-none d-xxl-block">
        {{ $t('freelancers.description') }}
      </span>
      <clipboard-icon class="nav-link__icon d-xxl-none" size="1.5x" />
    </template>
    <task-details :task="task" :applicable="false" class="d-lg-none mb-4" />
    <task-description v-if="task" :description="task.description" />
  </b-tab>
</template>

<script>
import { ClipboardIcon } from 'vue-feather-icons'
import TaskDetails from '@/components/tasks/TaskDetails'
import TaskDescription from '@/components/tasks/TaskDescription'

export default {
  name: 'ApplicationDescriptionTab',
  components: {
    TaskDescription,
    TaskDetails,
    ClipboardIcon
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
