<template>
  <div class="row pt-4">
    <div class="col-12 col-lg-7">
      <become-trusted class="mb-3" />
      <b-overlay :show="loading">
        <!--<my-tasks-heading class="mb-5" @sort="sortData" @search="searchData" />-->
        <my-tasks-list v-if="tasks.length" :tasks="tasks" />

        <b-pagination
          v-if="tasks.length && !loading"
          :value="page"
          :total-rows="total"
          :per-page="10"
          align="center"
          @change="changePage"
        />

        <div v-if="!tasks.length && !loading">
          <div class="h1 mb-4">
            {{ $t('tasks.no_my_tasks') }}
          </div>
          <nuxt-link :to="localePath('/create-task')">
            <u>{{ $t('tasks.create') }}</u>
          </nuxt-link>
        </div>
      </b-overlay>
    </div>
  </div>
</template>

<script>
import MyTasksList from '@/components/tasks/MyTasksList'
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import BecomeTrusted from '@/components/client/BecomeTrusted'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'MyTasksListPage',
  components: {
    BecomeTrusted,
    MyTasksList
  },
  mixins: [AxiosErrorHandler, Pageview],
  middleware: ['checkProfileCompleteness', 'isClient'],
  data () {
    return {
      loading: false,
      sort: null,
      term: null,
      tasks: [],
      total: 0,
      page: 1
    }
  },
  async fetch () {
    await this.updateData()
  },
  methods: {
    /* sortData (e) {
      this.sort = e
      this.updateData()
    }, */
    searchData (e) {
      this.term = e
      this.updateData()
    },
    async changePage (page) {
      this.page = page
      await this.updateData()
    },
    async updateData () {
      try {
        this.loading = true
        const { data } = await this.$axios.get('/tasks/my', {
          params: {
            sort: this.sort,
            term: this.term,
            page: this.page
          }
        })
        this.tasks = data.data
        this.total = data.meta.total
        this.loading = false
      } catch (err) {
        await this.handleError(err)
        this.loading = false
      }
    }
  }
}
</script>
