<template>
  <freelancer-applications-list :status="statuses" />
</template>

<script>
import FreelancerApplicationsList from '@/components/tasks/FreelancerApplicationsList'
import { applicationStatuses } from 'ct-constants'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'ApplicationsListPage',
  components: {
    FreelancerApplicationsList
  },
  mixins: [Pageview],
  middleware: ['checkProfileCompleteness', 'isFreelancer'],
  computed: {
    statuses () {
      return [applicationStatuses.CREATED]
    }
  }
}
</script>
