<template>
  <div class="agents-signup">
    <h2 class="mb-4">
      {{ $t('landing.agentSignupTitle') }}
    </h2>
    <p class="lead mb-4">
      {{ $t('landing.agentSignupText') }}
    </p>
    <nuxt-link :to="localePath('/sign-up/agent')" class="btn btn-round btn-outline-light">
      {{ $t('landing.agentSignupButton') }}
    </nuxt-link>
  </div>
</template>

<script>
export default {
  name: 'AgentsSignup'
}
</script>

<style scoped>

</style>
