<template>
  <div class="browse-freelancers">
    <!--<div class="d-flex flex-column align-items-start flex-lg-row align-items-lg-center mb-5">
      <h2 class="mr-4">
        {{ $t('landing.browse_freelancers') }}
      </h2>
      <nuxt-link :to="localePath('/freelancers')">
        <u>{{ $t('landing.browse_all_freelancers') }}</u>
      </nuxt-link>
    </div>-->
    <div class="position-relative mb-5">
      <loading-overlay :visible="loading" />
      <div class="d-none d-lg-block">
        <b-tabs vertical nav-wrapper-class="col-12 col-lg-4">
          <browse-freelancers-tab
            :title="$t('landing.featured_freelancers')"
            :active="true"
            :freelancers="freelancers.featured"
            @change="getFreelancers"
          />
          <browse-freelancers-tab
            v-for="cat in categories"
            :key="cat.id"
            :category="cat"
            :freelancers="freelancers[cat.id]"
            @change="getFreelancers"
          />
        </b-tabs>
      </div>
      <vue-slick-carousel
        v-if="hasFeatured"
        :arrows="false"
        :autoplay="true"
        :autoplay-hover-pause="true"
        class="d-lg-none"
        :slides-to-scroll="1"
        :slides-per-row="2"
      >
        <freelancer-item v-for="f in freelancers.featured" :key="f.id" :freelancer="f" />
      </vue-slick-carousel>
    </div>
    <div class="d-flex justify-content-center mb-7 mt-5">
      <nuxt-link :to="localePath('/freelancers')" class="btn btn-round btn-outline-dark">
        {{ $t('landing.showMore') }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import LoadingOverlay from '@/components/ui/LoadingOverlay'
import BrowseFreelancersTab from '@/components/landing/BrowseFreelancersTab'
import FreelancerItem from '@/components/landing/FreelancerItem'

export default {
  name: 'BrowseFreelancers',
  components: {
    FreelancerItem,
    BrowseFreelancersTab,
    LoadingOverlay,
    VueSlickCarousel
  },
  data () {
    return {
      loading: false,
      freelancers: {
        featured: []
      }
    }
  },
  async fetch () {
    await this.getFreelancers('featured')
  },
  computed: {
    categories () {
      return this.$store.getters['util/getCategoriesByName']
    },
    hasFeatured () {
      return this.freelancers.featured.length
    }
  },
  methods: {
    async getFreelancers (category) {
      if (!this.freelancers[category] || !this.freelancers[category].length) {
        try {
          this.loading = true
          const params = {
            perPage: 12,
            featured: true
          }

          if (category !== 'featured') {
            params.category = category
          }

          const res = await this.$axios.get('/freelancers', { params })

          this.freelancers = Object.assign({}, this.freelancers, { [category]: res.data.data.hits })
          this.loading = false
        } catch (err) {
          this.loading = false
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
