<template>
  <div class="browse-jobs">
    <!--<div class="d-flex align-items-center">
      <h2 class="mr-4">
        {{ $t('landing.recentJobs') }}
      </h2>
      <nuxt-link :to="localePath('/tasks')" class="d-none d-lg-block">
        <u>{{ $t('landing.browse_all_jobs') }}</u>
      </nuxt-link>
    </div>-->
    <div class="position-relative mb-5">
      <loading-overlay :visible="loading" />
      <div class="mb-1">
        <small v-show="lastTask" class="text-muted">{{ $t('landing.latest_post', { when }) }}</small>
      </div>
      <b-tabs vertical nav-wrapper-class="col-12 col-lg-4 d-none d-md-block">
        <browse-jobs-tab
          :title="$t('landing.featured_projects')"
          :tasks="tasks.featured"
          :active="true"
          @change="getTasks"
        />
        <browse-jobs-tab
          v-for="cat in categories"
          :key="cat.id"
          :category="cat"
          :tasks="tasks[cat.id]"
          @change="getTasks"
        />
      </b-tabs>
    </div>
    <div class="d-flex justify-content-center mb-7 mt-5">
      <nuxt-link :to="localePath('/tasks')" class="btn btn-round btn-outline-dark">
        {{ $t('landing.showMore') }}
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import BrowseJobsTab from '@/components/landing/BrowseJobsTab'
import LoadingOverlay from '@/components/ui/LoadingOverlay'

export default {
  name: 'BrowseJobs',
  components: {
    LoadingOverlay,
    BrowseJobsTab
  },
  data () {
    return {
      tasks: {},
      loading: false,
      lastTask: null
    }
  },
  async fetch () {
    await this.getTasks('featured')
    await this.getLastTask()
  },
  computed: {
    categories () {
      return this.$store.getters['util/getCategoriesByName']
    },
    when () {
      return this.lastTask ? this.$moment(this.lastTask._source.timePosted).fromNow(true) : ''
    }
  },
  methods: {
    async getTasks (category) {
      if (!this.tasks[category]) {
        try {
          this.loading = true
          const params = {
            perPage: 10
          }

          if (category === 'featured') {
            params.featured = true
          } else {
            params.category = category
          }

          const res = await this.$axios.get('/tasks', { params })

          this.tasks = Object.assign({}, this.tasks, { [category]: res.data.data.hits })
          this.loading = false
        } catch (err) {
          this.loading = false
        }
      }
    },

    async getLastTask () {
      if (!this.lastTask) {
        try {
          const params = {
            perPage: 1
          }
          const res = await this.$axios.get('/tasks', { params })
          this.lastTask = res.data.data.hits[0]
        } catch (err) {
          //
        }
      }
    }
  }
}
</script>
