<template>
  <b-tab :title="title || category.name" lazy :active="active" @click="openTab">
    <div class="row">
      <div v-for="t in tasks" :key="t._id" class="col-12 col-md-6">
        <browse-jobs-job-item :task="t" />
      </div>
    </div>
  </b-tab>
</template>

<script>
import BrowseJobsJobItem from '@/components/landing/BrowseJobsJobItem'
export default {
  name: 'BrowseJobsTab',
  components: { BrowseJobsJobItem },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    category: {
      type: Object,
      default: null
    },
    title: {
      type: String,
      default: null
    },
    tasks: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    openTab () {
      this.$emit('change', this.category?.id || 'featured')
    }
  }
}
</script>
