<template>
  <div class="browse-jobs-item">
    <div class="d-flex align-items-start">
      <div>
        <avatar-display :avatar="avatar" :options="avatarOptions" />
      </div>
      <div class="w-100">
        <div class="mb-3">
          <nuxt-link :to="clientLink">
            {{ taskData.postedBy }}
          </nuxt-link>
        </div>
        <h4>
          <nuxt-link :to="taskUrl">
            {{ taskData.title }}
          </nuxt-link>
        </h4>
        <div class="w-100">
          <div class="props d-flex align-items-start mb-2 mb-lg-3">
            <div class="mr-2">
              <task-type :type="taskData.type" />
            </div>
            <div class="mr-2">
              <task-location :location="taskData.location" />
            </div>
            <div>
              <task-price :task="taskData" />
            </div>
          </div>
          <div class="skills w-100">
            <task-tags :tag-ids="taskData.skills" class="mb-4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AvatarDisplay from '@/components/ui/AvatarDisplay'
import TaskType from '@/components/tasks/TaskType'
import TaskLocation from '@/components/tasks/TaskLocation'
import TaskPrice from '@/components/tasks/TaskPrice'
import TaskTags from '@/components/tasks/TaskTags'

export default {
  name: 'BrowseJobsJobItem',
  components: {
    TaskTags,
    TaskPrice,
    TaskLocation,
    TaskType,
    AvatarDisplay
  },
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 120,
          height: 120
        }
      }
    }
  },
  computed: {
    taskData () {
      return this.task._source
    },
    clientLink () {
      return this.localePath(`/clients/${this.taskData.postedBySlug}/${this.taskData.postedById}`)
    },
    avatar () {
      return {
        fileName: this.taskData.postedByAvatar
      }
    },
    taskUrl () {
      return this.localePath(`/tasks/${this.taskData.slug}/${this.task._id}`)
    }
  }
}
</script>

<style scoped>

</style>
