<template>
  <b-tab :title="title || category.name" lazy :active="active" @click="openTab">
    <div class="row">
      <div v-for="f in freelancers" :key="f._id" class="col-12 col-lg-2">
        <freelancer-item :freelancer="f" class="mb-5" />
      </div>
    </div>
  </b-tab>
</template>

<script>
import FreelancerItem from '@/components/landing/FreelancerItem'

export default {
  name: 'BrowseFreelancersTab',
  components: { FreelancerItem },
  props: {
    active: {
      type: Boolean,
      default: false
    },
    category: {
      type: Object,
      default: null
    },
    title: {
      type: String,
      default: null
    },
    freelancers: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    openTab () {
      this.$emit('change', this.category?.id || 'featured')
    }
  }
}
</script>

<style scoped>

</style>
