<template>
  <a :href="item.url" target="_blank">
    <img :src="imageName" :alt="item.name" data-not-lazy>
  </a>
</template>

<script>
export default {
  name: 'FeaturedInItem',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  computed: {
    imageName () {
      const isDark = this.$store.state.ui.isDarkThemeEnabled
      const imageName = `${this.item.name}${isDark ? '_dark' : ''}.png`
      return require(`@/assets/img/featured/${imageName}`)
    }
  }
}
</script>

<style scoped>

</style>
