<template>
  <div class="find-talent">
    <h2 class="mb-4">
      {{ $t('landing.findJobTitle') }}
    </h2>
    <p class="lead mb-4">
      {{ $t('landing.findJobText') }}
    </p>
    <nuxt-link :to="localePath('/tasks')" class="btn btn-round btn-outline-light">
      {{ $t('landing.findJobButton') }}
    </nuxt-link>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FindJob'
}
</script>
