<template>
  <div class="find-talent">
    <h2 class="mb-4">
      {{ $t('landing.findTalentTitle') }}
    </h2>
    <p class="lead mb-4">
      {{ $t('landing.findTalentText') }}
    </p>
    <nuxt-link :to="localePath('/freelancers')" class="btn btn-round btn-outline-light">
      {{ $t('common.browse_freelancers') }}
    </nuxt-link>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
export default {
  name: 'FindTalent'
}
</script>
