<template>
  <div>
    <nuxt-link
      :to="localePath('/freelancers/' + freelancerData.slug + '/' + freelancer._id)"
      class="freelancer d-block app-link"
    >
      <avatar-display :avatar="avatar" :user-name="freelancerData.name" :options="avatarOptions" class="mb-1 b-lg-3" />
      <strong class="name">{{ name }}</strong>
      <div class="occupation text-muted">
        {{ freelancerData.occupation }}
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import AvatarDisplay from '@/components/ui/AvatarDisplay'

export default {
  name: 'FreelancerItem',
  components: {
    AvatarDisplay
  },
  props: {
    freelancer: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 148,
          height: 172
        }
      }
    }
  },
  computed: {
    freelancerData () {
      return this.freelancer._source
    },
    avatar () {
      return this.freelancerData.avatar
    },
    name () {
      return this.freelancerData.firstName + ' ' + this.freelancerData.lastName
    }
  }
}
</script>
