<template>
  <div class="how-it-works mb-6">
    <div class="row mb-5">
      <div class="col-12">
        <h2>
          {{ $t('landing.howItWorks') }}
        </h2>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="mb-4">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M31.175 34.8625L25.975 33.3C25.45 33.1375 25.075 32.6 25.075 31.975C25.075 31.225 25.6125 30.6125 26.2875 30.6125H29.525C30.0125 30.6125 30.4875 30.75 30.9 31C31.3 31.2375 31.8125 31.15 32.15 30.825L33.575 29.4625C34.0125 29.0375 34 28.3125 33.5125 27.95C32.4875 27.2 31.2625 26.75 30 26.6625V25C30 24.45 29.55 24 29 24H27C26.45 24 26 24.45 26 25V26.675C23.2625 26.8375 21.075 29.125 21.075 31.9875C21.075 34.3625 22.6125 36.475 24.825 37.1375L30.025 38.7C30.55 38.8625 30.925 39.4 30.925 40.025C30.925 40.775 30.3875 41.3875 29.7125 41.3875H26.475C25.9875 41.3875 25.5125 41.25 25.1 41C24.7 40.7625 24.1875 40.85 23.85 41.175L22.425 42.5375C21.9875 42.9625 22 43.6875 22.4875 44.05C23.5125 44.8 24.7375 45.25 26 45.3375V47C26 47.55 26.45 48 27 48H29C29.55 48 30 47.55 30 47V45.325C32.7375 45.1625 34.925 42.875 34.925 40.0125C34.925 37.65 33.375 35.525 31.175 34.8625ZM55.9875 18C55.9875 16.675 55.6625 15.375 55.0375 14.2125L48.9 2.725C48.3625 1.1 46.8375 0 45.1125 0H10.8875C9.1625 0 7.6375 1.1 7.0875 2.7375L0.95 14.225C0.325 15.3875 0 16.6875 0 18.0125C0.0125 25.575 0 52 0 52C0 54.2125 1.7875 56 4 56H52C54.2125 56 56 54.2125 56 52C56 52 55.9875 25.575 55.9875 18ZM30 4H45.1125L51.4625 16H30V4ZM10.8875 4H26V16H4.5375L10.8875 4ZM4 52C4 52 4.0125 29.3625 4.0125 20H52C52 29.3625 52.0125 52 52.0125 52H4Z"
            />
          </svg>
        </div>
        <p class="pr-lg-3" v-html="$t('landing.howItWorks1')" />
      </div>

      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="mb-4">
          <svg width="70" height="57" viewBox="0 0 70 57" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M53.8672 15.4656L50.1922 4.4625C49.4813 2.31875 47.4797 0.875 45.2156 0.875H10.7844C8.52031 0.875 6.51875 2.31875 5.80781 4.4625L0.273438 21.0656C0.0984375 21.6016 0 22.1594 0 22.7281V51.625C0 54.5234 2.35156 56.875 5.25 56.875H49C60.5938 56.875 70 47.4688 70 35.875C70 25.9547 63.1094 17.6641 53.8672 15.4656ZM29.75 4.375H45.2156C45.9703 4.375 46.6375 4.85625 46.8781 5.56719L49.9953 14.9187C49.6672 14.9078 49.3391 14.8641 49 14.8641C42.7875 14.8641 37.2203 17.5766 33.3813 21.8641H29.75V4.375ZM9.12187 5.56719C9.3625 4.85625 10.0297 4.375 10.7844 4.375H26.25V21.875H3.68594L9.12187 5.56719ZM5.25 53.375C4.2875 53.375 3.5 52.5875 3.5 51.625V25.375H30.8328C29.0391 28.4703 28 32.0469 28 35.875C28 43.1813 31.7406 49.6125 37.4062 53.375H5.25ZM49 53.375C39.3531 53.375 31.5 45.5219 31.5 35.875C31.5 26.2281 39.3531 18.375 49 18.375C58.6469 18.375 66.5 26.2281 66.5 35.875C66.5 45.5219 58.6469 53.375 49 53.375ZM56.0656 29.1266C55.7266 28.7875 55.1797 28.7875 54.8406 29.1266L47.1953 36.7062L43.8813 33.3594C43.5422 33.0203 42.9953 33.0203 42.6562 33.3594L40.6109 35.3937C40.2719 35.7328 40.2719 36.2797 40.6109 36.6187L46.5609 42.6234C46.9 42.9625 47.4469 42.9625 47.7859 42.6234L58.0891 32.3969C58.4281 32.0578 58.4281 31.5109 58.0891 31.1719L56.0656 29.1266Z"
            />
          </svg>
        </div>
        <p class="pr-lg-3" v-html="$t('landing.howItWorks2')" />
      </div>

      <div class="col-12 col-lg-4 mb-4 mb-lg-0">
        <div class="mb-4">
          <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M55.9875 18C55.9875 16.675 55.6625 15.375 55.0375 14.2125L48.9 2.725C48.3625 1.1 46.8375 0 45.1125 0H10.8875C9.1625 0 7.6375 1.1 7.0875 2.7375L0.95 14.225C0.325 15.3875 0 16.6875 0 18.0125C0.0125 25.575 0 52 0 52C0 54.2125 1.7875 56 4 56H52C54.2125 56 56 54.2125 56 52C56 52 55.9875 25.575 55.9875 18ZM30 4H45.1125L51.4625 16H30V4ZM10.8875 4H26V16H4.5375L10.8875 4ZM28 52H4C4 52 4.0125 29.3625 4.0125 20H52C52 29.3625 52.0125 52 52.0125 52H28ZM39.275 25.65C37.5375 24.2 33.3125 22.0875 28 27.4625C22.675 22.0875 18.45 24.2 16.725 25.65C13.2875 28.525 13.1125 33.675 16.1875 36.7875L26.775 47.4875C27.4625 48.175 28.5625 48.175 29.25 47.4875L39.8375 36.7875C42.9 33.675 42.7125 28.525 39.275 25.65ZM36.975 33.9625L28 43.05L19.025 33.975C17.75 32.6875 17.4875 30.225 19.2875 28.725C21 27.2875 23.1875 28.3 24.0875 29.1875L28.0125 33.15L31.9375 29.1875C32.825 28.2875 35.0125 27.2875 36.7375 28.725C38.5125 30.225 38.2625 32.675 36.975 33.9625Z"
            />
          </svg>
        </div>
        <p class="pr-lg-3" v-html="$t('landing.howItWorks3')" />
      </div>
    </div>
    <div class="row">
      <div
        class="col-12 d-flex flex-column align-items-center flex-lg-row align-items-lg-center justify-content-lg-end"
      >
        <strong class="mb-4 mb-lg-0">{{ $t('landing.needHelp') }}</strong>
        <nuxt-link :to="localePath('/contact')" class="btn btn-outline-dark btn-round ml-3">
          {{ $t('landing.contactSupport') }}
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HowItWorks'
}
</script>

<style scoped>

</style>
