<template>
  <div>
    <h2 class="mb-4">
      King of the Hill
    </h2>

    <koth-item>
      <p class="lead">
        Just one of many CTASK token uses is fighting for King of the hill position on the CryptoTask platform.
        Apart from uses in escrow, earning dividends through CTASK burning mechanism powered by our revenue, just
        kick back and have some fun - buy CTASK and challenge the current King of the hill!
      </p>
    </koth-item>
  </div>
</template>

<script>
import KothItem from '@/components/landing/KothItem'

export default {
  name: 'Koth',
  components: { KothItem }
}
</script>

<style scoped>

</style>
