<template>
  <div v-if="koth" class="koth">
    <div class="row">
      <div class="col-12 col-xl-4 mb-3 mb-lg-0">
        <nuxt-link
          :to="localePath(link)"
          class="freelancer d-block app-link"
        >
          <avatar-display :avatar="avatar" :user-name="name" :options="avatarOptions" class="mb-3" />
          <strong>{{ name }}</strong>
          <div>{{ occupation }}</div>
        </nuxt-link>
      </div>
      <div class="col-12 col-xl-8">
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
import AvatarDisplay from '@/components/ui/AvatarDisplay'

export default {
  name: 'KothItem',
  components: {
    AvatarDisplay
  },
  props: {
    linkToFreelancer: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 500,
          height: 400
        }
      }
    }
  },
  async fetch () {
    await this.$store.dispatch('freelancers/setInitialKoth')
  },
  computed: {
    koth () {
      return this.$store.state.freelancers.koth
    },

    avatar () {
      return this.koth?.freelancer?.avatar
    },

    name () {
      return this.koth?.freelancer?.name
    },

    occupation () {
      return this.koth?.freelancer?.occupation
    },

    link () {
      return !this.linkToFreelancer ? '/koth' : '/freelancers/' + this.koth?.freelancer?.slug + '/' + this.koth?.freelancer?.id
    }
  }
}
</script>
