<template>
  <a :href="partner.url" target="_blank">
    <img :src="imageName" :alt="partner.name" data-not-lazy>
  </a>
</template>

<script>
export default {
  name: 'PartnersItem',
  props: {
    partner: {
      type: Object,
      required: true
    }
  },
  computed: {
    imageName () {
      const isDark = this.$store.state.ui.isDarkThemeEnabled
      const imageName = `${this.partner.name}${isDark ? '_dark' : ''}.png`
      return require(`@/assets/img/partners/${imageName}`)
    }
  }
}
</script>

<style scoped>

</style>
