<template>
  <b-tab :title="category.name" class="pt-3">
    <div class="row">
      <div class="col-12 col-lg-6">
        <nuxt-link v-for="s in firstHalf" :key="s.id" :to="localePath(`/tasks/skill/${s.slug}/${s.id}`)" class="d-block">
          {{ s.name }}
        </nuxt-link>
      </div>
      <div class="col-12 col-lg-6">
        <nuxt-link v-for="s in secondHalf" :key="s.id" :to="localePath(`/tasks/skill/${s.slug}/${s.id}`)" class="d-block">
          {{ s.name }}
        </nuxt-link>
      </div>
    </div>
  </b-tab>
</template>

<script>
export default {
  name: 'SeoCategoryTab',
  props: {
    category: {
      type: Object,
      required: true
    }
  },
  computed: {
    skills () {
      return this.$store.getters['util/getSkillsByCategory'](this.category.id)
    },
    half () {
      return Math.ceil(this.skills.length / 2)
    },
    firstHalf () {
      return this.skills.slice(0, this.half)
    },
    secondHalf () {
      return this.skills.slice(this.half)
    }
  }
}
</script>

<style scoped>

</style>
