<template>
  <div class="seo-categories">
    <div class="d-none d-lg-block">
      <b-tabs vertical nav-wrapper-class="col-12 col-lg-4">
        <seo-category-tab v-for="cat in categories" :key="cat.id" :category="cat" />
      </b-tabs>
    </div>
  </div>
</template>

<script>
import SeoCategoryTab from '@/components/landing/SeoCategoryTab'
export default {
  name: 'SeoCategories',
  components: { SeoCategoryTab },
  computed: {
    categories () {
      return this.$store.getters['util/getCategoriesByOrder']
    }
  }
}
</script>

<style scoped>

</style>
