<template>
  <div class="testimonials">
    <vue-slick-carousel v-if="testimonials.length" :arrows="false" :autoplay="true" :autoplay-hover-pause="true">
      <testimonial-item v-for="t in testimonials" :key="t.id" :item="t" />
    </vue-slick-carousel>
  </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import TestimonialItem from '@/components/landing/TestimonialItem'

export default {
  name: 'Testimonials',
  components: {
    TestimonialItem,
    VueSlickCarousel
  },
  data () {
    return {
      testimonials: []
    }
  },
  async fetch () {
    await this.getTestimonials()
  },
  methods: {
    async getTestimonials () {
      const res = await this.$axios.get('/testimonials')
      this.testimonials = res.data.data
    }
  }
}
</script>

<style scoped>

</style>
