<template>
  <div class="testimonial row">
    <div class="col-12 col-lg-6 offset-lg-3">
      <p class="text-center mb-4 mb-lg-5">
        {{ item.text }}
      </p>
      <div class="person d-flex align-items-center justify-content-center">
        <avatar-display :avatar="item.image" :options="avatarOptions" class="mr-3" />
        <div>
          <strong>{{ item.name }}</strong>
          <div>{{ item.title }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AvatarDisplay from '@/components/ui/AvatarDisplay'

export default {
  name: 'TestimonialItem',
  components: { AvatarDisplay },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      avatarOptions: {
        resize: {
          width: 90,
          height: 90
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
