<template>
  <div class="why-us">
    <div class="row mb-5">
      <div class="col-12">
        <h2>
          {{ $t('landing.whyUs') }}
        </h2>
      </div>
    </div>
    <div class="row mb-md-6">
      <why-us-item class="col-12 col-md-4" :title="$t('landing.whyUsFeesTitle')" icon="fees">
        {{ $t('landing.whyUsFeesText') }}
      </why-us-item>
      <why-us-item class="col-12 col-md-4" :title="$t('landing.whyUsEscrowTitle')" icon="escrow">
        {{ $t('landing.whyUsEscrowText') }}
      </why-us-item>
      <why-us-item class="col-12 col-md-4" :title="$t('landing.whyUsCryptoTitle')" icon="crypto">
        {{ $t('landing.whyUsCryptoText') }}
      </why-us-item>
    </div>
    <div class="row">
      <why-us-item class="col-12 col-md-4" :title="$t('landing.whyUsAffiliateTitle')" icon="affiliate">
        {{ $t('landing.whyUsAffiliateText') }}
      </why-us-item>
      <why-us-item
        class="col-12 col-md-4"
        :title="$t('landing.whyUsTransparencyTitle')"
        icon="transparency"
      >
        {{ $t('landing.whyUsTransparencyText') }}
      </why-us-item>
      <why-us-item class="col-12 col-md-4" :title="$t('landing.whyUsSimplifiedTitle')" icon="simplified">
        {{ $t('landing.whyUsSimplifiedText') }}
      </why-us-item>
    </div>
  </div>
</template>

<script>
import WhyUsItem from '@/components/landing/WhyUsItem'

export default {
  name: 'WhyUs',
  components: { WhyUsItem }
}
</script>

<style scoped>

</style>
