<template>
  <div>
    <img class="mb-4" :src="iconSrc" :alt="title">
    <h3 class="mb-3">
      {{ title }}
    </h3>
    <p><slot /></p>
  </div>
</template>

<script>
export default {
  name: 'WhyUsItem',
  props: {
    title: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    }
  },
  computed: {
    isDarkMode () {
      return this.$store.state.ui.isDarkThemeEnabled
    },
    iconSrc () {
      const imageName = `${this.icon}${this.isDarkMode ? '_dark' : ''}.svg`
      return require(`@/assets/img/whyUs/${imageName}`)
    }
  }
}
</script>

<style scoped>

</style>
