<template>
  <div class="px-3">
    <div class="mb-3 d-flex align-items-center justify-content-between">
      <div>
        <h5>{{ name }}</h5>
        <h6>{{ position }}</h6>
        <a :href="linkedIn" class="d-flex align-items-center">
          <img src="@/assets/img/linkedin.png" alt="linkedin" data-not-lazy>
        </a>
      </div>
      <div>
        <img :src="image" :alt="name" class="img-fluid about-avatar" data-not-lazy>
      </div>
    </div>
    <p>{{ description }}</p>
  </div>
</template>

<script>
export default {
  name: 'AboutPerson',
  props: {
    name: {
      type: String,
      required: true
    },
    position: {
      type: String,
      required: true
    },
    avatar: {
      type: String,
      required: true
    },
    linkedIn: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  },
  computed: {
    image () {
      return require(`../../assets/img/avatars/${this.avatar}.png`)
    }
  }
}
</script>

<style scoped>

</style>
