<template>
  <div class="about-item position-relative">
    <div class="title">
      <h3 class="text-white">
        {{ title }}
      </h3>
      <h4 class="text-white">
        {{ subtitle }}
      </h4>
    </div>
    <div class="text d-flex align-items-center">
      <p class="text-white">
        <slot />
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AboutItem',
  props: {
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
