<template>
  <div>
    <div class="ct-about">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-xxl-8 offset-xxl-2">
            <h1 class="display-4 font-weight-bold mb-5">
              Proširujemo potencijal slobodnog tržišta kroz prednosti vezane uz blockchain.
            </h1>
            <p>
              Freelance.hr je prva regionalna platforma za samostalne poslove koja na tržište rada uvodi potpuno novi
              način poslovanja i suradnje. Naš decentralizirani ekosustav snižava naknade izravnim povezivanjem
              poslodavaca i freelancera. Sporovi se rješavaju puno brže i jeftinije, dok je reputacija pohranjena na
              blockchainu. Nema proizvoljne cenzure ili skrivenih malverzacija – nešto po čemu su centralizirane
              platforme poznate.
            </p>
            <p>
              Platformu su 2013. godine pokrenuli Hrvatsko društvo nezavisnih profesionalaca (HDNP), Coworking Croatia
              program i Studio Antar kako bi potaknuli i podržali nezavisne profesionalce.
            </p>
            <div class="about-items d-flex align-items-center flex-column flex-lg-row justify-content-center py-5">
              <about-item class="my-2 mx-lg-2" title="20,000+" subtitle="Profesionalaca">
                Od software inženjera do marketinških stručnjaka
              </about-item>
              <about-item class="my-2 mx-lg-2" title="35,000+" subtitle="Korisnika">
                Freelance.hr revolucionizira način na koji posluje slobodno tržište
              </about-item>
              <about-item class="my-2 mx-lg-2" title="0% ili 3%" subtitle="Naknade">
                Najniže naknade među mainstream freelancing platformama, 0% za osnovno korištenje, 3% za escrow
              </about-item>
            </div>
            <h2 class="display-4 font-weight-bold">
              Freelanceri
            </h2>
            <p>
              Freelance.hr Vam pomaže naći <strong>remote posao</strong> po mjeri.
            </p>
            <div class="d-flex justify-content-center py-5">
              <freelancers-funnel />
            </div>
            <ol class="mb-4">
              <li>
                Sve počinje
                <nuxt-link :to="localePath('/sign-up')">
                  registracijom
                </nuxt-link>
                gdje ispunjavate formular podacima koji će biti javno vidljivi na profilu.
                Treba napomenuti da više informacija i fotografija doprinose vjerodostojnosti. Ne zaboravite unijeti
                životopis, link na portfolio te ključne riječi i ključne sposobnosti po kojima će Vas poslodavci pronaći
                prilikom pretraživanja.
              </li>
              <li>
                Nakon što je <strong>kreiran profil</strong>, možete <strong>pregledati ponudu poslova</strong> i
                prijaviti se, odnosno licitirati na iste. Postupak je vrlo jednostavan: kada vidite posao na koji se
                želite prijaviti, pošaljite poruku s ponudom. Tako licitirate za posao, a poslodavac odlučuje tko će
                dobiti projekt. Status prijava možete u bilo kojem trenutku vidjeti na svom profilu.
              </li>
              <li>
                Nakon što je posao završen i suradnja s poslodavcem je gotova, ne zaboravite
                <strong>ostaviti recenziju</strong>. Naime, obje strane po završetku suradnje imaju priliku ocijeniti
                svoje iskustvo i time doprinijeti kvalitetnijem i kredibilnijem okruženju.
              </li>
            </ol>
            <p>
              Tu su i dodatne mogućnosti:
            </p>
            <ul class="custom-arrows mb-4">
              <li>Zaradite dodatno putem <strong>Partnerskog programa</strong></li>
              <li>Pretplatom na <strong>newsletter</strong> dobivate najnovije poslove iz odabranih kategorija</li>
            </ul>
            <h2 class="display-4 font-weight-bold pt-5">
              Poslodavci
            </h2>
            <p>
              Freelance.hr Vam pomaže pronaći najboljeg freelancera za poslovni projekt.
            </p>
            <div class="d-flex justify-content-center py-5">
              <employers-funnel />
            </div>
            <ol class="mb-4">
              <li>
                Sve počinje <strong>registracijom</strong> gdje ispunjavate formular podacima koji će biti javno
                vidljivi na profilu.
              </li>
              <li>
                Možete odmah objaviti oglas za posao, pozivajući tako freelancere na licitaciju. Postupak je
                jednostavan: kliknite na
                <nuxt-link :to="localePath('/create-task')">
                  “Objavite posao”
                </nuxt-link>
                i ispunite kratki formular. Jednom kada je posao objavljen, kandidati se mogu prijavljivati. Kada je
                istekao odabran vremenski rok, ili kada je pronađen odgovarajući kandidat, možete zatvoriti licitaciju i
                krenuti u poslovnu suradnju.
              </li>
              <li>
                Druga mogućnost je da kliknete na
                <nuxt-link :to="localePath('/freelancers')">
                  “Pretražite freelancere”
                </nuxt-link>
                te odaberete najprikladnijeg kandidata. Sve su prijave unaprijed pregledane i selektirane tako da je
                kvaliteta kandidata zagarantirana.
              </li>
              <li>
                Nakon što je projekt završen i suradnja s freelancerom je gotova, ne zaboravite
                <strong>ostaviti recenziju</strong>. Naime, obje strane po završetku suradnje imaju priliku ocijeniti
                svoje iskustvo, i time doprinijeti kvalitetnijem i kredibilnijem okruženju.
              </li>
            </ol>
            <p>
              Tu su i dodatne mogućnosti:
            </p>
            <ul class="custom-arrows mb-4">
              <li>Istaknite i naglasite svoj posao putem <strong>Visibility paketa</strong></li>
              <li>Zaradite putem <strong>Partnerskog programa</strong></li>
              <li>
                Pretplatite se na <strong>newsletter</strong> za najnovije životopise iz odabranih kategorija
              </li>
              <li>
                U slučaju da imate poteškoća s pronalaskom pravog kandidata,
                <nuxt-link :to="localePath('/contact-us')">
                  kontaktirajte nas
                </nuxt-link>
                i headhuntamo za Vas!
              </li>
            </ul>

            <h2 class="display-4 font-weight-bold pt-5">
              Mogućnost plaćanja u kriptovalutama
            </h2>
            <p>
              Objavljujte ili pretražujte remote poslove s mogućnošću kripto plaćanja i koristite escrow. Plaćajte ili
              bivajte plaćeni u sljedećim kriptovalutama: Bitcoin, Tezos, ETH stabilni tokeni (USDT, USDC, DAI), BSC
              stabilni tokeni (USDT, USDC, DAI) ili drugima - krediti dostupni kod našeg partnera
              <a href="https://www.smartcredit.com/">SmartCredit</a>. Dobrodošli u budućnost kripto freelancanja.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// noinspection JSUnusedGlobalSymbols
import FreelancersFunnel from '@/components/about/FreelancersFunnel'
import EmployersFunnel from '@/components/about/EmployersFunnel'

export default {
  name: 'AboutHr',
  components: {
    EmployersFunnel,
    FreelancersFunnel
  },
  computed: {
    isDark () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>

<style scoped>

</style>
