<template>
  <div>
    <div class="ct-about">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-10 offset-sm-1 col-xxl-8 offset-xxl-2">
            <h1 class="display-4 font-weight-bold mb-5">
              Expanding the potential of the freelancing market through blockchain-related advantages.
            </h1>
            <p>
              Our decentralized freelance market ecosystem lowers fees by directly connecting Clients and Freelancers
              peer to peer. Jobs are secured by escrow, disputes are resolved much faster and cheaper, and your
              reputation is stored on the blockchain. There is no arbitrary censorship or hidden tampering, such as
              hidden boosting - something that centralized platforms are infamous for.
            </p>
            <div class="about-items d-flex align-items-center flex-column flex-lg-row justify-content-center py-5">
              <about-item class="my-2 mx-lg-2" title="20,000+" subtitle="Professionals">
                From software engineers to marketing professionals
              </about-item>
              <about-item class="my-2 mx-lg-2" title="35,000+" subtitle="Platform users">
                CryptoTask is already turning the (market)place upside down
              </about-item>
              <about-item class="my-2 mx-lg-2" title="0% or 3%" subtitle="Task fees">
                Lowest fees across all freelance platforms, 0% for basic usage, 3% for escrow
              </about-item>
            </div>
            <h2 class="display-4 font-weight-bold">
              Freelancers
            </h2>
            <p>
              Work from home on freelance jobs and crypto gigs in IT, graphic design, marketing, and many other
              freelance job categories.
            </p>
            <div class="d-flex justify-content-center py-5">
              <freelancers-funnel />
            </div>
            <ol class="mb-4">
              <li>
                Fill out a
                <nuxt-link :to="localePath('/sign-up')">
                  Sign up form
                </nuxt-link>
                with <strong>basic info</strong> that will be publicly visible on your profile. More information
                contributes to your visibility and credibility. Don't forget to add your CV, links to the portfolio,
                keywords, and <strong>key skills</strong> by which Clients will find you while searching.
              </li>
              <li>
                Once you have created your profile, you can <strong>browse Jobs and apply</strong> for them. The
                procedure is very simple: when you see a Job you would like to apply for, send a message with your
                offer. Now you’re bidding for it, and the Client ultimately decides who will get the project. You can
                see all your bids and their statuses on your profile at any time.
              </li>
              <li>
                Once the Job is completed, don’t forget to <strong>leave a review</strong>. Both parties have the
                opportunity to evaluate their experience and thus contribute to a better and more credible environment.
              </li>
            </ol>
            <p>
              There are additional options you should consider:
            </p>
            <ul class="custom-arrows mb-4">
              <li>Earn more by joining the <strong>Affiliate program</strong> and referring us to other users</li>
              <li>
                By subscribing to our <strong>newsletter</strong>, you are the first to receive the latest Job ads
              </li>
            </ul>
            <h2 class="display-4 font-weight-bold pt-5">
              Clients
            </h2>
            <p>
              Post a Job ad for free and hire a Freelancer from our database of more than 20 000 proven experts.
            </p>
            <div class="d-flex justify-content-center py-5">
              <employers-funnel />
            </div>
            <ol class="mb-4">
              <li>
                After
                <nuxt-link :to="localePath('/sign-up')">
                  Signing up
                </nuxt-link>
                and filling in your profile, you can use the platform in a few ways.
              </li>
              <li>
                Click
                <nuxt-link :to="localePath('/create-task')">
                  "Post Job"
                </nuxt-link>
                and fill out the form. Once the Job is published, Freelancers can <strong>apply</strong>. When the
                deadline you’ve set has expired, or when you have found the right Freelancer, you can close the
                auction and start a business collaboration.
              </li>
              <li>
                Another option is to click on
                <nuxt-link :to="localePath('/freelancers')">
                  "Browse Freelancers"
                </nuxt-link>
                , view CVs from our database of pre-screened Freelancers, and choose a suitable candidate.
              </li>
              <li>
                Once the Job is completed and the collaboration is over, don’t forget to
                <strong>leave a review</strong>. Both parties have the opportunity to evaluate their experience and thus
                contribute to a better and more credible environment.
              </li>
            </ol>
            <p>
              There are additional options you should consider:
            </p>
            <ul class="custom-arrows mb-4">
              <li>Earn by joining the <strong>Affiliate program</strong> and referring us to other users</li>
              <li>Highlight your Job ads through <strong>Visibility package</strong></li>
              <li>
                By subscribing to our newsletter, you will be the first to receive the latest CVs from categories of
                your interest
              </li>
              <li>
                If you need help finding the right candidate,
                <nuxt-link :to="localePath('/contact-us')">
                  contact us
                </nuxt-link>
                - our recruiting agents can help
              </li>
            </ul>

            <h2 class="display-4 font-weight-bold pt-5">
              Pay with crypto
            </h2>
            <p>
              Post cryptocurrency jobs, use escrow and pay in Bitcoin, Tezos, ETH stables (USDT, USDC, DAI), BSC stables
              (USDT, USDC, DAI), Polygon stables (USDT, USDC, DAI) or other crypto – loans available from our partner
              <a href="https://www.smartcredit.com/">SmartCredit</a>. No browser plugins, 3rd party apps, or
              wallet-linking necessary. Fast, efficient & easy - the way blockchain is meant to be.
            </p>
            <b-button variant="outline-primary" :to="localePath('/about')">
              Read more...
            </b-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AboutItem from '@/components/about/AboutItem'
import FreelancersFunnel from '@/components/about/FreelancersFunnel'
import EmployersFunnel from '@/components/about/EmployersFunnel'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'AboutEn',
  components: {
    EmployersFunnel,
    FreelancersFunnel,
    AboutItem
  },
  computed: {
    isDark () {
      return this.$store.state.ui.isDarkThemeEnabled
    }
  }
}
</script>
