<template>
  <div class="employers-funnel d-flex flex-column flex-lg-row align-items-center">
    <div class="d-flex align-items-center align-items-lg-start justify-content-center flex-column flex-lg-row">
      <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
        <img
          v-if="!isDark"
          class="funnel-image mb-4"
          src="@/assets/img/About_Employers_LIGHT-01.svg"
          :alt="$t('aboutPage.employersFunnel.register')"
        >
        <img
          v-if="isDark"
          class="funnel-image mb-4"
          src="@/assets/img/About_Employers_DARK-01.svg"
          :alt="$t('aboutPage.employersFunnel.register')"
        >
        {{ $t('aboutPage.employersFunnel.register') }}
      </div>
      <img class="arrow mb-5 mb-lg-0 mr-lg-4 pt-lg-6" src="@/assets/img/arrow.svg" alt="Arrow">
      <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
        <img
          v-if="!isDark"
          class="funnel-image mb-4"
          src="@/assets/img/About_Employers_LIGHT-02.svg"
          :alt="$t('aboutPage.employersFunnel.basicInfo')"
        >
        <img
          v-if="isDark"
          class="funnel-image mb-4"
          src="@/assets/img/About_Employers_DARK-02.svg"
          :alt="$t('aboutPage.employersFunnel.basicInfo')"
        >
        {{ $t('aboutPage.employersFunnel.basicInfo') }}
      </div>
      <img class="arrow mb-5 mb-lg-0 mr-lg-4 pt-lg-6" src="@/assets/img/arrow.svg" alt="Arrow">
      <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
        <img
          v-if="!isDark"
          class="funnel-image mb-4"
          src="@/assets/img/About_Employers_LIGHT-03.svg"
          :alt="$t('aboutPage.employersFunnel.postJob')"
        >
        <img
          v-if="isDark"
          class="funnel-image mb-4"
          src="@/assets/img/About_Employers_DARK-03.svg"
          :alt="$t('aboutPage.employersFunnel.postJob')"
        >
        {{ $t('aboutPage.employersFunnel.postJob') }}
      </div>
      <img class="arrow mb-3 mb-lg-0 mr-lg-4" src="@/assets/img/branchArrow.svg" alt="Arrow">
    </div>
    <div class="branched d-flex flex-lg-column align-items-lg-start justify-content-lg-center">
      <div class="funnel-item d-flex flex-column align-items-center flex-lg-row align-items-lg-center p-4">
        <img
          v-if="!isDark"
          class="funnel-image mb-4 mb-lg-0 mr-lg-4"
          src="@/assets/img/About_Employers_LIGHT-04.svg"
          :alt="$t('aboutPage.employersFunnel.receiveApplications')"
        >
        <img
          v-if="isDark"
          class="funnel-image mb-4 mb-lg-0 mr-lg-4"
          src="@/assets/img/About_Employers_DARK-04.svg"
          :alt="$t('aboutPage.employersFunnel.receiveApplications')"
        >
        {{ $t('aboutPage.employersFunnel.receiveApplications') }}
      </div>
      <div class="funnel-item d-flex flex-column align-items-center flex-lg-row align-items-lg-center p-4">
        <img
          v-if="!isDark"
          class="funnel-image mb-4 mb-lg-0 mr-lg-4"
          src="@/assets/img/About_Employers_LIGHT-05.svg"
          :alt="$t('aboutPage.employersFunnel.browseFreelancers')"
        >
        <img
          v-if="isDark"
          class="funnel-image mb-4 mb-lg-0 mr-lg-4"
          src="@/assets/img/About_Employers_DARK-05.svg"
          :alt="$t('aboutPage.employersFunnel.browseFreelancers')"
        >
        {{ $t('aboutPage.employersFunnel.browseFreelancers') }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'EmployersFunnel',
  computed: {
    isDark () {
      return this.$store.state.ui.isDarkThemeEnabled
    },
    locale () {
      return this.$store.state.i18n.locale
    }
  }
}
</script>

<style scoped>

</style>
