<template>
  <div
    class="freelancers-funnel d-flex align-items-center align-items-lg-start justify-content-center flex-column flex-lg-row"
  >
    <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
      <img
        v-if="!isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_LIGHT-01.svg"
        :alt="$t('aboutPage.freelancersFunnel.register')"
      >
      <img
        v-if="isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_DARK-01.svg"
        :alt="$t('aboutPage.freelancersFunnel.register')"
      >
      {{ $t('aboutPage.freelancersFunnel.register') }}
    </div>
    <img class="arrow mb-5 mb-lg-0 mr-lg-4 pt-lg-6" src="@/assets/img/arrow.svg" alt="Arrow">
    <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
      <img
        v-if="!isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_LIGHT-02.svg"
        :alt="$t('aboutPage.freelancersFunnel.basicInfo')"
      >
      <img
        v-if="isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_DARK-02.svg"
        :alt="$t('aboutPage.freelancersFunnel.basicInfo')"
      >
      {{ $t('aboutPage.freelancersFunnel.basicInfo') }}
    </div>
    <img class="arrow mb-5 mb-lg-0 mr-lg-4 pt-lg-6" src="@/assets/img/arrow.svg" alt="Arrow">
    <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
      <img
        v-if="!isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_LIGHT-03.svg"
        :alt="$t('aboutPage.freelancersFunnel.skills')"
      >
      <img
        v-if="isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_DARK-03.svg"
        :alt="$t('aboutPage.freelancersFunnel.skills')"
      >
      {{ $t('aboutPage.freelancersFunnel.skills') }}
    </div>
    <img class="arrow mb-5 mb-lg-0 mr-lg-4 pt-lg-6" src="@/assets/img/arrow.svg" alt="Arrow">
    <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
      <img
        v-if="!isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_LIGHT-04.svg"
        :alt="$t('aboutPage.freelancersFunnel.browseJobs')"
      >
      <img
        v-if="isDark"
        class="funnel-image mb-4"
        src="@/assets/img/About_Freelancers_DARK-04.svg"
        :alt="$t('aboutPage.freelancersFunnel.browseJobs')"
      >
      {{ $t('aboutPage.freelancersFunnel.browseJobs') }}
    </div>
    <img class="arrow mb-5 mb-lg-0 mr-lg-4 pt-lg-6" src="@/assets/img/arrow.svg" alt="Arrow">
    <div class="funnel-item d-flex flex-column align-items-center mb-4 mb-lg-0 mr-lg-4">
      <img v-if="!isDark" class="funnel-image mb-4" src="@/assets/img/About_Freelancers_LIGHT-05.svg" alt="All">
      <img v-if="isDark" class="funnel-image mb-4" src="@/assets/img/About_Freelancers_DARK-05.svg" alt="All">
      <img v-if="locale === 'en'" src="@/assets/img/About_Freelancers_LIGHT-06.svg" alt="Earn">
      <img v-if="locale === 'hr'" src="@/assets/img/About_Freelanceri_Zaradi.svg" alt="Zaradi">
    </div>
  </div>
</template>

<script>
export default {
  name: 'FreelancersFunnel',
  computed: {
    isDark () {
      return this.$store.state.ui.isDarkThemeEnabled
    },
    locale () {
      return this.$store.state.i18n.locale
    }
  }
}
</script>

<style scoped>

</style>
