<template>
  <div class="why-block d-flex align-items-center">
    <div class="why-text w-50">
      {{ why }}
      <img src="@/assets/img/qrwq.png" alt="arrow">
    </div>

    <div class="why-solution w-50 h-100">
      {{ solution }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'WhyBlock',
  props: {
    why: {
      type: String,
      required: true
    },
    solution: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>

</style>
