<template>
  <div class="row">
    <div class="col-12 col-lg-8 offset-lg-2">
      <paper>
        <client-basic-info-form :client="client" :redirect-after-save="true" caller="create" />
      </paper>
    </div>
  </div>
</template>

<script>
import Paper from '@/components/ui/Paper'
import ClientBasicInfoForm from '@/components/client/ClientBasicInfoForm'
import Pageview from '@/mixins/Pageview'

export default {
  name: 'CreateClientPage',
  components: {
    Paper,
    ClientBasicInfoForm
  },
  mixins: [Pageview],
  layout: 'profile',
  middleware: ['isClient'],
  computed: {
    client () {
      return this.$store.getters['user/getActiveRoleData']
    }
  }
}
</script>
