<template>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <b-card title="Logging in">
        <div>Logging in as another user, please wait a moment</div>
      </b-card>
    </div>
  </div>
</template>

<script>
import AxiosErrorHandler from '@/mixins/AxiosErrorHandler'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'LoginAsPage',
  mixins: [AxiosErrorHandler, Pageview],
  async mounted () {
    try {
      const userId = this.$route.params.id
      const res = await this.$axios.post('/auth/login-as', { userId })
      const { user, token } = res.data.data
      this.$auth.setUser(user)
      await this.$auth.setUserToken(token)
      await this.$router.replace(this.localePath('/'))
    } catch (err) {
      await this.handleError(err)
    }
  }
}
</script>
