<template>
  <single-task />
</template>

<script>
import SingleTask from '@/components/tasks/SingleTask'
import Pageview from '@/mixins/Pageview'

// noinspection JSUnusedGlobalSymbols
export default {
  name: 'SingleTaskSlugPage',
  components: {
    SingleTask
  },
  mixins: [Pageview],
  auth: false
}
</script>
